Repository splunk/security_content, pull requests merged in 2020-11, with the labels that each got.

#895 Selecting only necessary fields to avoid serialization problem on DSP
  detections/endpoint/first_time_seen_cmd_line___ssa.yml
Labels: bug

#906 Update README.md
  README.md
Labels: needs-more-info

#900 SSA min coverage for CI
  .gitlab-ci.yml
  bin/testing_coverage.py
  bin/validate_ssa.py
  detections/experimental/application/.untested
  detections/experimental/application/detect_phishing_content___ssa.yml
  detections/experimental/cloud/.untested
  detections/experimental/endpoint/.untested
  detections/experimental/network/.untested
  detections/experimental/web/.untested
Labels: ssa

#892 SSA validate test timeout
  bin/validate_ssa.py
Labels: ssa

#920 Dowloads Humvee fat jar only if local checksum doesnt match repository latest
  bin/validate_ssa.py
Labels: needs-more-info

#922 Fixes for SSA 11/12/20
  detections/endpoint/system_process_running_unexpected_location___ssa.yml
  detections/endpoint/unusually_long_command_line___ssa.yml
Labels: ssa

#926 Find problems with declared SSA fields in detection file
  .gitlab-ci.yml
  bin/modules/__init__.py
  bin/modules/ssa_utils.py
  bin/ssa_test.py
  bin/ssa_validate.py
  detections/endpoint/attempted_credential_dump_from_registry_via_reg_exe___ssa.yml
  detections/endpoint/detect_dump_lsass_memory_using_comsvcs___ssa.yml
  detections/endpoint/first_time_seen_cmd_line___ssa.yml
  detections/endpoint/prohibited_apps_spawning_cmdprompt___ssa.yml
  detections/endpoint/rare_parent_process_relationship_lolbas___ssa.yaml
  detections/endpoint/ssa___applying_stolen_credentials_via_mimikatz_modules.yml
  detections/endpoint/ssa___applying_stolen_credentials_via_powersploit_modules.yml
  detections/endpoint/ssa___credential_extraction_dsinternals_conversion_modules.yml
  detections/endpoint/ssa___credential_extraction_dsinternals_modules.yml
  detections/endpoint/ssa___credential_extraction_fgdump_cachedump_s_option.yml
  detections/endpoint/ssa___credential_extraction_fgdump_cachedump_v_option.yml
  detections/endpoint/ssa___credential_extraction_getaddbaccount_from_dump.yml
  detections/endpoint/ssa___credential_extraction_lazagne_command_options.yml
  detections/endpoint/ssa___credential_extraction_mimikatz_modules.yml
  detections/endpoint/ssa___credential_extraction_ms_debuggers_kernel_peek.yml
  detections/endpoint/ssa___credential_extraction_ms_debuggers_z_option.yml
  detections/endpoint/ssa___credential_extraction_powersploit_modules.yml
  detections/endpoint/ssa___detect_kerberoasting.yml
  detections/endpoint/ssa___detect_pass_hash.yml
  detections/endpoint/ssa___illegal_access_user_content_via_powersploit_modules.yml
  detections/endpoint/ssa___illegal_account_creation_via_powersploit_modules.yml
  detections/endpoint/ssa___illegal_account_enable_disable_via_dsinternals_modules.yml
  detections/endpoint/ssa___illegal_log_deletion_via_mimikatz_modules.yml
  detections/endpoint/ssa___illegal_management_AD_elements_and_policies_via_dsinternals_modules.yml
  detections/endpoint/ssa___illegal_management_computers_and_AD_elements_via_powersploit_modules.yml
  detections/endpoint/ssa___illegal_privilege_elevation_and_persistence_via_powersploit_modules.yml
  detections/endpoint/ssa___illegal_privilege_elevation_via_mimikatz_modules.yml
  detections/endpoint/ssa___illegal_service_and_process_control_via_mimikatz_modules.yml
  detections/endpoint/ssa___illegal_service_and_process_control_via_powersploit_modules.yml
  detections/endpoint/ssa___setting_credentials_via_dsinternals_modules.yml
  detections/endpoint/ssa___setting_credentials_via_mimikatz_modules.yml
  detections/endpoint/ssa___setting_credentials_via_powersploit_modules.yml
  detections/endpoint/system_process_running_unexpected_location___ssa.yml
  detections/endpoint/unusual_lolbas_in_short_period_of_time___ssa.yml
  detections/endpoint/unusually_long_command_line___ssa.yml
Labels: ssa

#935 start time to be window start time
  detections/endpoint/unusual_lolbas_in_short_period_of_time___ssa.yml
Labels: ssa

#931 Mustang beta drop3
  baselines/previously_seen_aws_cross_account_activity_initial.yml
  baselines/previously_seen_aws_cross_account_activity_update.yml
  baselines/previously_seen_cloud_api_calls_per_user_role_initial.yml
  baselines/previously_seen_cloud_api_calls_per_user_role_update.yml
  baselines/previously_seen_cloud_compute_creations_by_user_initial.yml
  baselines/previously_seen_cloud_compute_creations_by_user_update.yml
  baselines/previously_seen_cloud_compute_images_initial.yml
  baselines/previously_seen_cloud_compute_images_update.yml
  baselines/previously_seen_cloud_compute_instance_types_initial.yml
  baselines/previously_seen_cloud_compute_instance_types_update.yml
  baselines/previously_seen_cloud_instance_modifications_by_user_initial.yml
  baselines/previously_seen_cloud_instance_modifications_by_user_update.yml
  baselines/previously_seen_cloud_regions_initial.yml
  baselines/previously_seen_cloud_regions_update.yml
  baselines/previously_seen_users_in_cloudtrail_initial.yml
  baselines/previously_seen_users_in_cloudtrail_update.yml
  detections/cloud/cloud_api_calls_from_previously_unseen_user_roles.yml
  detections/cloud/cloud_instance_modified_with_previously_unseen_user.yml
  lookups/previously_seen_cloud_instance_modifications_by_user.yml
Labels: mustang

#893 Data Exfil PR (fixed up)
  detections/network/detect_snicat_sni_exfiltration.yml
  macros/zeek_ssl.yml
  stories/data_exfiltration.yml
  tests/network/detect_snicat_sni_exfiltration.test.yml
Labels: needs-more-info

#890 Probing access with stolen credentials, assessing credential strength, recon of credential stores and use of CryptoAPI
  detections/endpoint/ssa___assess_credential_strength_via_dsinternals_modules.yml
  detections/endpoint/ssa___probing_access_with_stolen_credentials_via_powersploit_modules.yml
  detections/endpoint/ssa___recon_credential_stores_and_services_via_mimikatz_modules.yml
  tests/endpoint/ssa___assess_credential_strength_via_dsinternals_modules.test.yml
  tests/endpoint/ssa___probing_access_with_stolen_credentials_via_powersploit_modules.test.yml
  tests/endpoint/ssa___recon_credential_stores_and_services_via_mimikatz_modules.test.yml
Labels: needs-more-info

#942 updating risk object
  detections/cloud/cloud_instance_modified_with_previously_unseen_user.yml
Labels: needs-more-info

#905 Ryuktestsfiles
  detections/deprecated/windows_connhost_exe_force_flag.yml
  detections/deprecated/windows_disableantispyware_reg.yml
  detections/endpoint/ryuk_test_files_detected.yml
  detections/endpoint/windows_security_account_manager_stopped.yml
  tests/endpoint/ryuk_test_files_detected.test.yml
  tests/endpoint/windows_security_account_manager_stopped.test.yml
Labels: WIP, needs-more-info

#961 New format for detection testing
  automated_detection_testing/detection_service.py
  automated_detection_testing/requirements.txt
  automated_detection_testing/templates/PR_template.j2
  tests/endpoint/access_lsass_memory_for_dump_creation.test.yml
  tests/endpoint/attempt_to_add_certificate_to_untrusted_store.test.yml
  tests/endpoint/attempt_to_stop_security_service.test.yml
  tests/endpoint/attempted_credential_dump_from_registry_via_reg_exe.test.yml
  tests/endpoint/attempted_credential_dump_from_registry_via_reg_exe___ssa.test.yml
  tests/endpoint/batch_file_write_to_system32.test.yml
  tests/endpoint/common_ransomware_extensions.test.yml
  tests/endpoint/common_ransomware_notes.test.yml
  tests/endpoint/create_local_admin_accounts_using_net_exe.test.yml
  tests/endpoint/create_remote_thread_into_lsass.test.yml
  tests/endpoint/creation_of_shadow_copy.test.yml
  tests/endpoint/creation_of_shadow_copy_with_wmic_and_powershell.test.yml
  tests/endpoint/credential_dumping_via_copy_command_from_shadow_copy.test.yml
  tests/endpoint/credential_dumping_via_symlink_to_shadow_copy.test.yml
  tests/endpoint/deleting_shadow_copies.test.yml
  tests/endpoint/detect_activity_related_to_pass_the_hash_attacks.test.yml
  tests/endpoint/detect_credential_dumping_through_lsass_access.test.yml
  tests/endpoint/detect_excessive_account_lockouts_from_endpoint.test.yml
  tests/endpoint/detect_excessive_user_account_lockouts.test.yml
  tests/endpoint/detect_mshta_exe_running_scripts_in_command_line_arguments.test.yml
  tests/endpoint/detect_new_local_admin_account.test.yml
  tests/endpoint/detect_path_interception_by_creation_of_program_exe.test.yml
  tests/endpoint/detect_prohibited_applications_spawning_cmd_exe___ssa.test.yml
  tests/endpoint/dump_lsass_via_comsvcs_dll.test.yml
  tests/endpoint/kerberoasting_spn_request_with_rc4_encryption.test.yml
  tests/endpoint/malicious_powershell_process___encoded_command.test.yml
  tests/endpoint/process_execution_via_wmi.test.yml
  tests/endpoint/ryuk_test_files_detected.test.yml
  tests/endpoint/schtasks_scheduling_job_on_remote_system.test.yml
  tests/endpoint/short_lived_windows_accounts.test.yml
  tests/endpoint/suspicious_reg_exe_process.test.yml
  tests/endpoint/system_information_discovery_detection.test.yml
  tests/endpoint/unload_sysmon_filter_driver.test.yml
  tests/endpoint/windows_event_log_cleared.test.yml
  tests/endpoint/windows_security_account_manager_stopped.test.yml
  tests/network/detect_ipv6_network_infrastructure_threats.test.yml
  tests/network/detect_snicat_sni_exfiltration.test.yml
Labels: WIP
