Repository splunk/security_content, pull requests merged in 2020-10, with the labels that each got.

#707 Tr 209
  detections/attempted_credential_dump_from_registry_via_reg_exe___ssa.yml
  detections/detect_dump_lsass_memory_using_comsvcs___ssa.yml
  detections/detect_phishing_content___ssa.yml
  detections/first_time_seen_cmd_line___ssa.yml
  detections/prohibited_apps_spawning_cmdprompt___ssa.yml
  detections/rare_parent_process_relationship_lolbas___ssa.yaml
  detections/system_process_running_unexpected_location___ssa.yml
  detections/unusual_lolbas_in_short_period_of_time___ssa.yml
  detections/unusually_long_command_line___ssa.yml
Labels: ssa

#704 addding auth conf file
  package/default/authorize.conf
Labels: mustang

#714 Cloud auth spl bugs
  baselines/previously_seen_users_in_cloudtrail_update.yml
  detections/detect_aws_console_login_by_new_user.yml
  detections/detect_aws_console_login_by_user_from_new_city.yml
  detections/detect_aws_console_login_by_user_from_new_country.yml
  detections/detect_aws_console_login_by_user_from_new_region.yml
Labels: needs-more-info

#740 spl bugfixes for Mustang Beta
  baselines/previously_seen_cloud_compute_creations_by_user_initial.yml
  baselines/previously_seen_cloud_compute_creations_by_user_update.yml
  baselines/previously_seen_cloud_compute_images_initial.yml
  baselines/previously_seen_cloud_compute_images_update.yml
  baselines/previously_seen_cloud_compute_instance_types_initial.yml
  baselines/previously_seen_cloud_compute_instance_types_update.yml
  baselines/previously_seen_cloud_regions_initial.yml
  baselines/previously_seen_cloud_regions_update.yml
  detections/cloud_compute_instance_created_by_previously_unseen_user.yml
  detections/cloud_compute_instance_created_in_previously_unused_region.yml
  detections/cloud_compute_instance_created_with_previously_unseen_image.yml
  detections/cloud_compute_instance_created_with_previously_unseen_instance_type.yml
  lookups/previously_seen_cloud_compute_creations_by_user.csv
  lookups/previously_seen_cloud_compute_creations_by_user.yml
  lookups/previously_seen_cloud_compute_images.csv
  lookups/previously_seen_cloud_compute_images.yml
  lookups/previously_seen_cloud_compute_instance_types.csv
  lookups/previously_seen_cloud_compute_instance_types.yml
  lookups/previously_seen_cloud_regions.csv
  lookups/previously_seen_cloud_regions.yml
Labels: needs-more-info

#752 Suspcious cloud user activites spl bugs
  baselines/baseline_of_cloud_infrastructure_api_calls_per_user.yml
  baselines/baseline_of_cloud_security_group_api_calls_per_user.yml
  baselines/previously_seen_cloud_api_calls_per_user_role_initial.yml
  detections/abnormally_high_number_of_cloud_infrastructure_api_calls.yml
  detections/abnormally_high_number_of_cloud_security_group_api_calls.yml
  detections/cloud_api_calls_from_previously_unseen_user_roles.yml
Labels: needs-more-info

#770 Lolbas SSA fixes
  detections/endpoint/rare_parent_process_relationship_lolbas___ssa.yaml
  detections/endpoint/unusual_lolbas_in_short_period_of_time___ssa.yml
  notebooks/rare_parent_process_relationship_lolbas.ipynb
  notebooks/unusual_lolbas_in_short_period_of_time.ipynb
Labels: ssa

#734 WIP - SSA CI job
  .gitlab-ci.yml
Labels: WIP

#806 Fixing categories & text in Credential Extraction detections
  detections/endpoint/credential_extraction_fgdump_cachedump_s_option_ssa.yml
  detections/endpoint/credential_extraction_fgdump_cachedump_v_option_ssa.yml
  detections/endpoint/credential_extraction_getaddbaccount_from_dump_ssa.yml
  detections/endpoint/credential_extraction_lazagne_command_options_ssa.yml
  detections/endpoint/credential_extraction_ms_debuggers_kernel_peek.yml
  detections/endpoint/credential_extraction_ms_debuggers_z_option.yml
Labels: needs-more-info

#813 First test end to end
  .gitignore
  .gitlab-ci.yml
  bin/validate_ssa.py
  detections/endpoint/detect_dump_lsass_memory_using_comsvcs___ssa.yml
  tests/application/.gitkeep
  tests/application/detect_phishing_content___ssa.test.yml
  tests/endpoint/.gitkeep
  tests/endpoint/attempted_credential_dump_from_registry_via_reg_exe___ssa.test.yml
  tests/endpoint/detect_dump_lsass_memory_using_comsvcs___ssa.test.yml
  tests/endpoint/detect_prohibited_applications_spawning_cmd_exe.test.yml
  tests/endpoint/first_time_seen_cmd_line___ssa.test.yml
  tests/endpoint/prohibited_apps_spawning_cmdprompt___ssa.test.yml
  tests/endpoint/rare_parent_process_relationship_lolbas___ssa.test.yaml
  tests/endpoint/system_process_running_unexpected_location___ssa.test.yml
  tests/endpoint/unusual_lolbas_in_short_period_of_time___ssa.test.yml
  tests/endpoint/unusually_long_command_line___ssa.test.yml
Labels: ssa
