Repository splunk/security_content, pull requests merged in 2021-09, with the labels that each got.

#1621 adding names in batch
  automated_detection_testing/ci/python_ci_code/main.py
Labels: needs-more-info

#1626 Test branch protection
  .github/workflows/auto-update.yml
  README.md
Labels: needs-more-info

#1600 AD_Discovery_TR-789_4
  detections/endpoint/get_addefaultdomainpasswordpolicy_with_powershell.yml
  detections/endpoint/get_addefaultdomainpasswordpolicy_with_powershell_script_block.yml
  detections/endpoint/get_aduserresultantpasswordpolicy_with_powershell.yml
  detections/endpoint/get_aduserresultantpasswordpolicy_with_powershell_script_block.yml
  detections/endpoint/get_domainpolicy_with_powershell.yml
  detections/endpoint/get_domainpolicy_with_powershell_script_block.yml
  detections/endpoint/password_policy_discovery_with_net.yml
  tests/endpoint/get_addefaultdomainpasswordpolicy_with_powershell.test.yml
  tests/endpoint/get_addefaultdomainpasswordpolicy_with_powershell_script_block.test.yml
  tests/endpoint/get_aduserresultantpasswordpolicy_with_powershell_.test.yml
  tests/endpoint/get_aduserresultantpasswordpolicy_with_powershell_script_block.test.yml
  tests/endpoint/get_domainpolicy_with_powershell.test.yml
  tests/endpoint/get_domainpolicy_with_powershell_script_block.test.yml
  tests/endpoint/password_policy_discovery_with_net.test.yml
Labels: WIP

#1587 AD_Discovery_TR-789_2
  detections/endpoint/adsisearcher_account_discovery.yml
  detections/endpoint/domain_account_discovery_with_dsquery.yml
  detections/endpoint/domain_account_discovery_with_net_app.yml
  detections/endpoint/domain_account_discovery_with_wmic.yml
  detections/endpoint/get_aduser_with_powershell.yml
  detections/endpoint/get_aduser_with_powershell_script_block.yml
  detections/endpoint/get_domainuser_with_powershell.yml
  detections/endpoint/get_domainuser_with_powershell_script_block.yml
  detections/endpoint/getwmiobject_ds_user_with_powershell.yml
  detections/endpoint/getwmiobject_ds_user_with_powershell_script_block.yml
  tests/endpoint/adsisearcher_account_discovery.test.yml
  tests/endpoint/domain_account_discovery_with_dsquery.test.yml
  tests/endpoint/domain_account_discovery_with_net_app.test.yml
  tests/endpoint/domain_account_discovery_with_wmic.test.yml
  tests/endpoint/get_aduser_with_powershell.test.yml
  tests/endpoint/get_aduser_with_powershell_script_block.test.yml
  tests/endpoint/get_domainuser_with_powershell.test.yml
  tests/endpoint/get_domainuser_with_powershell_script_block.test.yml
  tests/endpoint/getwmiobject_ds_user_with_powershell.test.yml
  tests/endpoint/getwmiobject_ds_user_with_powershell_script_block.test.yml
Labels: needs-more-info, WIP

#1586 AD_Discovery_TR-789_1
  detections/endpoint/getlocaluser_with_powershell.yml
  detections/endpoint/getlocaluser_with_powershell_script_block.yml
  detections/endpoint/getwmiobject_user_account_with_powershell.yml
  detections/endpoint/getwmiobject_user_account_with_powershell_script_block.yml
  detections/endpoint/local_account_discovery_with_net.yml
  detections/endpoint/local_account_discovery_with_wmic.yml
  stories/active_directory_discovery.yml
  tests/endpoint/getlocaluser_with_powershell.test.yml
  tests/endpoint/getlocaluser_with_powershell_script_block.test.yml
  tests/endpoint/getwmiobject_user_account_with_powershell.test.yml
  tests/endpoint/getwmiobject_user_account_with_powershell_script_block.test.yml
  tests/endpoint/local_account_discovery_with_net.test.yml
  tests/endpoint/local_account_discovery_with_wmic.test.yml
Labels: needs-more-info

#1654 adding labels
  .github/workflows/auto-merge.yml
Labels: needs-more-info

#1655 Revert "adding labels"
  .github/workflows/auto-merge.yml
Labels: WIP

#1596 AD_Discovery_TR-789_6
  detections/endpoint/domain_group_discovery_with_adsisearcher.yml
  detections/endpoint/domain_group_discovery_with_dsquery.yml
  detections/endpoint/domain_group_discovery_with_net.yml
  detections/endpoint/domain_group_discovery_with_wmic.yml
  detections/endpoint/elevated_group_discovery_with_net.yml
  detections/endpoint/elevated_group_discovery_with_powerview.yml
  detections/endpoint/elevated_group_discovery_with_wmic.yml
  detections/endpoint/getadgroup_with_powershell.yml
  detections/endpoint/getadgroup_with_powershell_script_block.yml
  detections/endpoint/getdomaingroup_with_powershell.yml
  detections/endpoint/getdomaingroup_with_powershell_script_block.yml
  detections/endpoint/getwmiobject_ds_group_with_powershell.yml
  detections/endpoint/getwmiobject_ds_group_with_powershell_script_block.yml
  tests/endpoint/domain_group_discovery_with_adsisearcher.test.yml
  tests/endpoint/domain_group_discovery_with_dsquery.test.yml
  tests/endpoint/domain_group_discovery_with_net.test.yml
  tests/endpoint/domain_group_discovery_with_wmic.test.yml
  tests/endpoint/elevated_group_discovery_with_net.test.yml
  tests/endpoint/elevated_group_discovery_with_powerview.test.yml
  tests/endpoint/elevated_group_discovery_with_wmic.test.yml
  tests/endpoint/getadgroup_with_powershell.test.yml
  tests/endpoint/getadgroup_with_powershell_script_block.test.yml
  tests/endpoint/getdomaingroup_with_powershell.test.yml
  tests/endpoint/getdomaingroup_with_powershell_script_block.test.yml
  tests/endpoint/getwmiobject_ds_group_with_powershell.test.yml
  tests/endpoint/getwmiobject_ds_group_with_powershell_script_block.test.yml
Labels: WIP

#1660 AD_Discovery_TR-789_9
  detections/endpoint/getcurrent_user_with_powershell.yml
  detections/endpoint/getcurrent_user_with_powershell_script_block.yml
  detections/endpoint/system_user_discovery_with_query.yml
  detections/endpoint/system_user_discovery_with_whoami.yml
  detections/endpoint/user_discocvery_with_env_vars_powershell.yml
  detections/endpoint/user_discovery_with_env_vars_powershell_script_block.yml
  tests/endpoint/getcurrent_user_with_powershell.test.yml
  tests/endpoint/getcurrent_user_with_powershell_script_block.test.yml
  tests/endpoint/system_user_discovery_with_query.test.yml
  tests/endpoint/system_user_discovery_with_whoami.test.yml
  tests/endpoint/user_discocvery_with_env_vars_powershell.test.yml
  tests/endpoint/user_discovery_with_env_vars_powershell_script_block.test.yml
Labels: WIP

#1657 fixes permutations issue
  detections/experimental/network/dnstwist_domain_names.yml
  dist/escu/bin/dnstwist.py
Labels: bug

#1668 TR 852
  bin/generate.py
  dist/escu/default/analytic_stories.conf
  dist/escu/default/collections.conf
  dist/escu/default/es_investigations.conf
  dist/escu/default/macros.conf
  dist/escu/default/savedsearches.conf
  dist/escu/default/transforms.conf
  dist/escu/default/use_case_library.conf
  dist/escu/lookups/mitre_enrichment.csv
  playbooks/ransomware_investigate_and_contain.json
  playbooks/ransomware_investigate_and_contain.png
  playbooks/ransomware_investigate_and_contain.py
  playbooks/ransomware_investigate_and_contain.yml
Labels: enhancement
