Repository splunk/security_content, pull requests merged in 2021-01, with the labels that each got.

#1029 deprecated AWS searches that have been translated to DM
  detections/deprecated/abnormally_high_aws_instances_launched_by_user.yml
  detections/deprecated/abnormally_high_aws_instances_launched_by_user___mltk.yml
  detections/deprecated/abnormally_high_aws_instances_terminated_by_user.yml
  detections/deprecated/abnormally_high_aws_instances_terminated_by_user___mltk.yml
  detections/deprecated/aws_cloud_provisioning_from_previously_unseen_city.yml
  detections/deprecated/aws_cloud_provisioning_from_previously_unseen_country.yml
  detections/deprecated/aws_cloud_provisioning_from_previously_unseen_ip_address.yml
  detections/deprecated/aws_cloud_provisioning_from_previously_unseen_region.yml
  detections/deprecated/aws_cross_account_activity_from_previously_unseen_account.yml
  detections/deprecated/detect_spike_in_aws_api_activity.yml
  detections/deprecated/detect_spike_in_network_acl_activity.yml
  detections/deprecated/detect_spike_in_security_group_activity.yml
  detections/deprecated/ec2_instance_modified_with_previously_unseen_user.yml
  detections/deprecated/ec2_instance_started_in_previously_unseen_region.yml
  detections/deprecated/ec2_instance_started_with_previously_unseen_ami.yml
  detections/deprecated/ec2_instance_started_with_previously_unseen_instance_type.yml
  detections/deprecated/ec2_instance_started_with_previously_unseen_user.yml
Labels: needs-more-info

#1068 testing weaponization
  package/default/data/ui/views/escu_summary.xml
Labels: needs-more-info

#1082 Syntax change in first_time_event
  detections/endpoint/first_time_seen_cmd_line___ssa.yml
  detections/endpoint/ssa___detect_kerberoasting.yml
  detections/endpoint/ssa___detect_pass_hash.yml
  detections/endpoint/unusually_long_command_line___ssa.yml
Labels: ssa

#1129 renamed ssa detections
  detections/endpoint/ssa___attempted_credential_dump_from_registry_via_reg_exe.yml
  detections/endpoint/ssa___detect_dump_lsass_memory_using_comsvcs.yml
  detections/endpoint/ssa___first_time_seen_cmd_line.yml
  detections/endpoint/ssa___prohibited_apps_spawning_cmdprompt.yml
  detections/endpoint/ssa___rare_parent_process_relationship_lolbas.yml
  detections/endpoint/ssa___system_process_running_unexpected_location.yml
  detections/endpoint/ssa___unusual_lolbas_in_short_period_of_time.yml
  detections/endpoint/ssa___unusually_long_command_line.yml
  tests/endpoint/ssa___attempted_credential_dump_from_registry_via_reg_exe.test.yml
  tests/endpoint/ssa___detect_dump_lsass_memory_using_comsvcs.test.yml
  tests/endpoint/ssa___detect_prohibited_applications_spawning_cmd_exe.test.yml
  tests/endpoint/ssa___first_time_seen_cmd_line.test.yml
  tests/endpoint/ssa___prohibited_apps_spawning_cmdprompt.test.yml
  tests/endpoint/ssa___rare_parent_process_relationship_lolbas.test.yaml
  tests/endpoint/ssa___system_process_running_unexpected_location.test.yml
  tests/endpoint/ssa___unusual_lolbas_in_short_period_of_time.test.yml
  tests/endpoint/ssa___unusually_long_command_line.test.yml
Labels: ssa

#1119 Adding "product" to detections : Splunk Security Analytics for AWS
  bin/generate.py
  bin/jinja2_templates/savedsearches.j2
  deployments/16_splunk_security_analytics_for_aws.yml
  detections/cloud/abnormally_high_cloud_instances_destroyed.yml
  detections/cloud/abnormally_high_cloud_instances_launched.yml
  detections/cloud/abnormally_high_number_of_cloud_infrastructure_api_calls.yml
  detections/cloud/abnormally_high_number_of_cloud_security_group_api_calls.yml
  detections/cloud/aws_cross_account_activity_from_previously_unseen_account.yml
  detections/cloud/cloud_api_calls_from_previously_unseen_user_roles.yml
  detections/cloud/cloud_compute_instance_created_by_previously_unseen_user.yml
  detections/cloud/cloud_compute_instance_created_in_previously_unused_region.yml
  detections/cloud/cloud_compute_instance_created_with_previously_unseen_image.yml
  detections/cloud/cloud_compute_instance_created_with_previously_unseen_instance_type.yml
  detections/cloud/cloud_instance_modified_with_previously_unseen_user.yml
  detections/cloud/cloud_provisioning_from_previously_unseen_city.yml
  detections/cloud/cloud_provisioning_from_previously_unseen_country.yml
  detections/cloud/cloud_provisioning_from_previously_unseen_ip_address.yml
  detections/cloud/cloud_provisioning_from_previously_unseen_region.yml
  detections/cloud/detect_aws_console_login_by_new_user.yml
  detections/cloud/detect_aws_console_login_by_user_from_new_city.yml
  detections/cloud/detect_aws_console_login_by_user_from_new_country.yml
  detections/cloud/detect_aws_console_login_by_user_from_new_region.yml
Labels: mustang
