Repository splunk/security_content, pull requests merged in 2021-02, with the labels that each got.

#1171 bug fix detection First Time Seen Running Windows Service
  detections/experimental/endpoint/first_time_seen_running_windows_service.yml
  macros/previously_seen_windows_services_window.yml
  tests/endpoint/first_time_seen_running_windows_service.test.yml
Labels: WIP

#1136 Automated Detection Testing PR: Security Hub searches
  detections/cloud/detect_spike_in_aws_security_hub_alerts_for_ec2_instance.yml
  detections/cloud/detect_spike_in_aws_security_hub_alerts_for_user.yml
  macros/aws_securityhub_finding.yml
  tests/cloud/detect_spike_in_aws_security_hub_alerts_for_ec2_instance.test.yml
Labels: WIP

#1147 Cloud federation credential abuse
  detections/cloud/aws_saml_access_by_provider_user_and_principal.yml
  detections/cloud/aws_saml_update_identity_provider.yml
  detections/cloud/o365_add_app_role_assignment_grant_user.yml
  detections/cloud/o365_added_service_principal.yml
  detections/cloud/o365_excessive_sso_logon_errors.yml
  detections/cloud/o365_new_federated_domain_added.yml
  detections/deprecated/detect_mimikatz_using_loaded_images.yml
  detections/deprecated/detect_mimikatz_via_powershell_and_eventcode_4703.yml
  detections/deprecated/uncommon_processes_on_endpoint.yml
  detections/endpoint/certutil_exe_certificate_extraction.yml
  detections/endpoint/detect_rare_executables.yml
  detections/endpoint/registry_keys_used_for_privilege_escalation.yml
  stories/cloud_federated_credential_abuse.yml
  tests/cloud/aws_saml_access_by_provider_user_and_principal.test.yml
  tests/cloud/aws_saml_update_identity_provider.test.yml
  tests/cloud/o365_add_app_role_assignment_grant_user.test.yml
  tests/cloud/o365_added_service_principal.test.yml
  tests/cloud/o365_excessive_sso_logon_errors.test.yml
  tests/cloud/o365_new_federated_domain_added.test.yml
  tests/endpoint/certutil_exe_certificate_extraction.test.yml
Labels: WIP

#1152 WIP - rel1 02-2020
  detections/endpoint/creation_of_lsass_dump_with_taskmgr.yml
  detections/endpoint/creation_of_shadow_copy.yml
  detections/endpoint/detect_regsvr32_application_control_bypass.yml
  detections/endpoint/detect_rundll32_application_control_bypass___advpack.yml
  detections/endpoint/detect_rundll32_application_control_bypass___setupapi.yml
  detections/endpoint/detect_rundll32_application_control_bypass___syssetup.yml
  detections/endpoint/dump_lsass_via_comsvcs_dll.yml
  detections/endpoint/dump_lsass_via_procdump.yml
  detections/endpoint/dump_lsass_via_procdump_rename.yml
  detections/endpoint/ntdsutil_export_ntds.yml
  detections/endpoint/suspicious_regsvr32_register_suspicious_path.yml
  detections/endpoint/suspicious_rundll32_dllregisterserver.yml
  detections/endpoint/suspicious_rundll32_rename.yml
  detections/endpoint/suspicious_rundll32_startw.yml
  detections/endpoint/suspicious_rundll32_with_no_command_line_arguments.yml
  stories/suspicious_mshta_activity.yml
  stories/suspicious_regsvr32_activity.yml
  stories/suspicious_rundll32_activity.yml
  stories/trusted_developer_utilities_proxy_execution_msbuild.yml
  tests/endpoint/creation_of_lsass_dump_with_taskmgr.test.yml
  tests/endpoint/detect_regsvr32_application_control_bypass.test.yml
  tests/endpoint/detect_rundll32_application_control_bypass___advpack.test.yml
  tests/endpoint/detect_rundll32_application_control_bypass___setupapi.test.yml
  tests/endpoint/detect_rundll32_application_control_bypass___syssetup.test.yml
  tests/endpoint/dump_lsass_via_procdump.test.yml
  tests/endpoint/dump_lsass_via_procdump_rename.test.yml
  tests/endpoint/ntdsutil_export_ntds.test.yml
  tests/endpoint/suspicious_regsvr32_register_suspicious_path.test.yml
  tests/endpoint/suspicious_rundll32_dllregisterserver.test.yml
  tests/endpoint/suspicious_rundll32_rename.test.yml
  tests/endpoint/suspicious_rundll32_startw.test.yml
  tests/endpoint/suspicious_rundll32_with_no_command_line_arguments.test.yml
Labels: WIP

#1167 fix for detection
  detections/endpoint/detect_path_interception_by_creation_of_program_exe.yml
  tests/endpoint/detect_path_interception_by_creation_of_program_exe.test.yml
Labels: WIP, needs-more-info

#1186 WIP - rel2 02-2020
  detections/endpoint/detect_html_help_renamed.yml
  detections/endpoint/detect_html_help_spawn_child_process.yml
  detections/endpoint/detect_html_help_url_in_command_line.yml
  detections/endpoint/detect_html_help_using_infotech_storage_handlers.yml
  detections/endpoint/detect_regasm_spawning_a_process.yml
  detections/endpoint/detect_regasm_with_network_connection.yml
  detections/endpoint/detect_regasm_with_no_command_line_arguments.yml
  detections/endpoint/detect_regsvcs_spawning_a_process.yml
  detections/endpoint/detect_regsvcs_with_network_connection.yml
  detections/endpoint/detect_regsvcs_with_no_command_line_arguments.yml
  detections/endpoint/suspicious_rundll32_startw.yml
  detections/endpoint/suspicious_rundll32_with_no_command_line_arguments.yml
  stories/cobalt_strike.yml
  stories/suspicious_compiled_html_activity.yml
  stories/suspicious_regsvcs_regasm_activity.yml
  tests/endpoint/detect_html_help_renamed.test.yml
  tests/endpoint/detect_html_help_spawn_child_process.test.yml
  tests/endpoint/detect_html_help_url_in_command_line.test.yml
  tests/endpoint/detect_html_help_using_infotech_storage_handlers.test.yml
  tests/endpoint/detect_regasm_spawning_a_process.test.yml
  tests/endpoint/detect_regasm_with_network_connection.test.yml
  tests/endpoint/detect_regasm_with_no_command_line_arguments.test.yml
  tests/endpoint/detect_regsvcs_spawning_a_process.test.yml
  tests/endpoint/detect_regsvcs_with_network_connection.test.yml
  tests/endpoint/detect_regsvcs_with_no_command_line_arguments.test.yml
Labels: WIP

#1197 Add datamodel field to yml
  detections/endpoint/detect_html_help_renamed.yml
  detections/endpoint/detect_html_help_spawn_child_process.yml
  detections/endpoint/detect_html_help_url_in_command_line.yml
  detections/endpoint/detect_html_help_using_infotech_storage_handlers.yml
  detections/endpoint/detect_regasm_spawning_a_process.yml
  detections/endpoint/detect_regsvcs_spawning_a_process.yml
Labels: needs-more-info
