Repository splunk/security_content, pull requests merged in 2021-07, with the labels that each got.

#1456 ransom_ttp_p2
  detections/endpoint/allow_file_and_printing_sharing_in_firewall.yml
  detections/endpoint/allow_network_discovery_in_firewall.yml
  detections/endpoint/delete_shadowcopy_with_powershell.yml
  detections/endpoint/disable_amsi_through_registry.yml
  detections/endpoint/disable_etw_through_registry.yml
  detections/endpoint/disable_windows_behavior_monitoring.yml
  detections/endpoint/excessive_service_stop_attempt.yml
  detections/endpoint/excessive_usage_of_net_app.yml
  detections/endpoint/excessive_usage_of_nslookup_app.yml
  detections/endpoint/excessive_usage_of_sc_service_utility.yml
  detections/endpoint/execute_javascript_with_jscript_com_clsid.yml
  detections/endpoint/icacls_grant_command.yml
  detections/endpoint/msmpeng_application_dll_side_loading.yml
  detections/endpoint/powershell_disable_security_monitoring.yml
  detections/endpoint/powershell_enable_smb1protocol_feature.yml
  detections/endpoint/recursive_delete_of_directory_in_batch_cmd.yml
  detections/endpoint/revil_registry_entry.yml
  lookups/ransomware_extensions.csv
  tests/endpoint/allow_file_and_printing_sharing_in_firewall.test.yml
  tests/endpoint/allow_network_discovery_in_firewall.test.yml
  tests/endpoint/disable_amsi_through_registry.test.yml
  tests/endpoint/disable_etw_through_registry.test.yml
  tests/endpoint/excessive_usage_of_sc_service_utility.test.yml
  tests/endpoint/execute_javascript_with_jscript_com_clsid.test.yml
  tests/endpoint/msmpeng_application_dll_side_loading.test.yml
  tests/endpoint/powershell_disable_security_monitoring.test.yml
  tests/endpoint/powershell_enable_smb1protocol_feature.test.yml
  tests/endpoint/recursive_delete_of_directory_in_batch_cmd.test.yml
Labels: WIP

#1484 bug fix detection testing
  automated_detection_testing/ci/detection_testing_batch/detection_testing_execution.py
  automated_detection_testing/ci/detection_testing_batch/modules/aws_service.py
  automated_detection_testing/ci/python_ci_code/main.py
  detections/endpoint/attempted_credential_dump_from_registry_via_reg_exe.yml
Labels: needs-more-info

#1457 Ssa det
  detections/endpoint/ssa___attempt_to_delete_services.yml
  detections/endpoint/ssa___attempt_to_disable_services.yml
  detections/endpoint/ssa___delete_a_net_user.yml
  detections/endpoint/ssa___disable_net_user_account.yml
  detections/endpoint/ssa___resize_shadowstorage_volume.yml
  tests/endpoint/ssa___attempt_to_delete_services.test.yml
  tests/endpoint/ssa___attempt_to_disable_services.test.yml
  tests/endpoint/ssa___delete_a_net_user.test.yml
  tests/endpoint/ssa___disable_net_user_account.test.yml
  tests/endpoint/ssa___resize_shadowstorage_volume.test.yml
Labels: WIP, needs-more-info

#1500 improvements
  .circleci/config.yml
Labels: needs-more-info

#1513 fix ESCU stanza key error
  detections/endpoint/detect_wmi_event_subscription_persistence.yml
  detections/endpoint/wmi_permanent_event_subscription___sysmon.yml
Labels: needs-more-info

#1514 ci workflow update
  .circleci/config.yml
Labels: needs-more-info

#1531 RBA Tags: Bhavin Take over
  detections/endpoint/excessive_usage_of_net_app.yml
  detections/endpoint/excessive_usage_of_nslookup_app.yml
  detections/endpoint/excessive_usage_of_taskkill.yml
  detections/endpoint/executables_or_script_creation_in_suspicious_path.yml
  detections/endpoint/execute_javascript_with_jscript_com_clsid.yml
  detections/endpoint/execution_of_file_with_multiple_extensions.yml
  detections/endpoint/extract_sam_from_registry.yml
  detections/endpoint/file_with_samsam_extension.yml
  detections/endpoint/first_time_seen_child_process_of_zoom.yml
  detections/endpoint/fodhelper_uac_bypass.yml
  detections/endpoint/gpupdate_with_no_command_line_arguments_with_network.yml
  detections/endpoint/hide_user_account_from_sign_in_screen.yml
  detections/endpoint/hiding_files_and_directories_with_attrib_exe.yml
  detections/endpoint/high_file_deletion_frequency.yml
  detections/endpoint/high_process_termination_frequency.yml
  detections/endpoint/icacls_deny_command.yml
  detections/endpoint/icacls_grant_command.yml
  detections/endpoint/kerberoasting_spn_request_with_rc4_encryption.yml
  detections/endpoint/known_services_killed_by_ransomware.yml
  detections/endpoint/mailsniper_invoke_functions.yml
  detections/endpoint/malicious_powershell_executed_as_a_service.yml
  detections/endpoint/malicious_powershell_process___connect_to_internet_with_hidden_window.yml
Labels: needs-more-info

#1521 Cloud RBA - 3
  detections/cloud/o365_add_app_role_assignment_grant_user.yml
  detections/cloud/o365_added_service_principal.yml
  detections/cloud/o365_bypass_mfa_via_trusted_ip.yml
  detections/cloud/o365_disable_mfa.yml
  detections/cloud/o365_excessive_authentication_failures_alert.yml
  detections/cloud/o365_excessive_sso_logon_errors.yml
  detections/cloud/o365_new_federated_domain_added.yml
  detections/cloud/o365_pst_export_alert.yml
  detections/cloud/o365_suspicious_admin_email_forwarding.yml
  detections/cloud/o365_suspicious_rights_delegation.yml
  detections/cloud/o365_suspicious_user_email_forwarding.yml
Labels: needs-more-info

#1506 TR-772 - Rba support
  detections/endpoint/malicious_powershell_process___encoded_command.yml
  detections/endpoint/malicious_powershell_process___execution_policy_bypass.yml
  detections/endpoint/malicious_powershell_process_with_obfuscation_techniques.yml
  detections/endpoint/modification_of_wallpaper.yml
  detections/endpoint/modify_acl_permission_to_files_or_folder.yml
  detections/endpoint/monitor_registry_keys_for_print_monitors.yml
  detections/endpoint/multiple_disabled_users_failing_to_authenticate_from_host_using_kerberos.yml
  detections/endpoint/multiple_invalid_users_failing_to_authenticate_from_host_using_kerberos.yml
  detections/endpoint/multiple_invalid_users_failing_to_authenticate_from_host_using_ntlm.yml
  detections/endpoint/multiple_users_attempting_to_authenticate_using_explicit_credentials.yml
  detections/endpoint/multiple_users_failing_to_authenticate_from_host_using_kerberos.yml
  detections/endpoint/multiple_users_failing_to_authenticate_from_host_using_ntlm.yml
  detections/endpoint/multiple_users_failing_to_authenticate_from_process.yml
  detections/endpoint/multiple_users_remotely_failing_to_authenticate_from_host.yml
  detections/endpoint/nishang_powershelltcponeline.yml
  detections/endpoint/nltest_domain_trust_discovery.yml
  detections/endpoint/ntdsutil_export_ntds.yml
  detections/endpoint/office_application_spawn_rundll32_process.yml
  detections/endpoint/office_document_creating_schedule_task.yml
  detections/endpoint/office_document_executing_macro_code.yml
  detections/endpoint/office_document_spawned_child_process_to_download.yml
  detections/endpoint/start_up_during_safe_mode_boot.yml
  detections/endpoint/suspicious_dllhost_no_command_line_arguments.yml
  detections/endpoint/suspicious_driver_loaded_path.yml
  detections/endpoint/suspicious_event_log_service_behavior.yml
  detections/endpoint/suspicious_gpupdate_no_command_line_arguments.yml
  detections/endpoint/suspicious_microsoft_workflow_compiler_rename.yml
  detections/endpoint/suspicious_microsoft_workflow_compiler_usage.yml
  detections/endpoint/suspicious_msbuild_path.yml
  detections/endpoint/suspicious_msbuild_rename.yml
  detections/endpoint/suspicious_msbuild_spawn.yml
  detections/endpoint/suspicious_mshta_spawn.yml
  detections/endpoint/suspicious_process_file_path.yml
  detections/endpoint/suspicious_reg_exe_process.yml
  detections/endpoint/suspicious_regsvr32_register_suspicious_path.yml
  detections/endpoint/suspicious_rundll32_dllregisterserver.yml
  detections/endpoint/suspicious_rundll32_rename.yml
  detections/endpoint/suspicious_rundll32_startw.yml
  detections/endpoint/suspicious_rundll32_with_no_command_line_arguments.yml
  detections/endpoint/suspicious_scheduled_task_from_public_directory.yml
  detections/endpoint/suspicious_searchprotocolhost_no_command_line_arguments.yml
  detections/endpoint/suspicious_wevtutil_usage.yml
  detections/endpoint/suspicious_writes_to_windows_recycle_bin.yml
  detections/endpoint/system_information_discovery_detection.yml
  detections/endpoint/system_processes_run_from_unexpected_locations.yml
  detections/endpoint/trickbot_named_pipe.yml
  detections/endpoint/unified_messaging_service_spawning_a_process.yml
  detections/endpoint/unload_sysmon_filter_driver.yml
  detections/endpoint/unloading_amsi_via_reflection.yml
  detections/endpoint/unusually_long_command_line.yml
  detections/endpoint/usn_journal_deletion.yml
  detections/endpoint/w3wp_spawning_shell.yml
  detections/endpoint/wbadmin_delete_system_backups.yml
  detections/endpoint/wbemprox_com_object_execution.yml
  detections/endpoint/wermgr_process_connecting_to_ip_check_web_services.yml
  detections/endpoint/wermgr_process_create_executable_file.yml
  detections/endpoint/wermgr_process_spawned_cmd_or_powershell_process.yml
  detections/endpoint/windows_disableantispyware_reg.yml
Labels: needs-more-info

#1534 validate fix:
  detections/endpoint/office_application_spawn_rundll32_process.yml
Labels: needs-more-info
