Repository splunk/security_content, pull requests merged in 2022-05, with the labels that each got.

#2102 pwh_xml
  detections/endpoint/get_addefaultdomainpasswordpolicy_with_powershell_script_block.yml
  detections/endpoint/get_domainuser_with_powershell_script_block.yml
  detections/endpoint/get_foresttrust_with_powershell_script_block.yml
  detections/endpoint/get_wmiobject_group_discovery_with_script_block_logging.yml
  detections/endpoint/getadgroup_with_powershell_script_block.yml
  detections/endpoint/getcurrent_user_with_powershell_script_block.yml
  detections/endpoint/getlocaluser_with_powershell_script_block.yml
  detections/endpoint/interactive_session_on_remote_endpoint_with_powershell.yml
  tests/endpoint/get_addefaultdomainpasswordpolicy_with_powershell_script_block.test.yml
  tests/endpoint/get_domainuser_with_powershell_script_block.test.yml
  tests/endpoint/get_foresttrust_with_powershell_script_block.test.yml
  tests/endpoint/get_wmiobject_group_discovery_with_script_block_logging.test.yml
  tests/endpoint/getadgroup_with_powershell_script_block.test.yml
  tests/endpoint/getcurrent_user_with_powershell_script_block.test.yml
  tests/endpoint/getlocaluser_with_powershell_script_block.test.yml
  tests/endpoint/interactive_session_on_remote_endpoint_with_powershell.test.yml
Labels: WIP

#2136 pwh_xml_2
  detections/endpoint/kerberos_pre_authentication_flag_disabled_with_powershell.yml
  detections/endpoint/powershell_execute_com_object.yml
  detections/endpoint/powershell_using_memory_as_backing_store.yml
  detections/endpoint/recon_avproduct_through_pwh_or_wmi.yml
  detections/endpoint/remote_process_instantiation_via_dcom_and_powershell_script_block.yml
  detections/endpoint/remote_process_instantiation_via_winrm_and_powershell_script_block.yml
  detections/endpoint/unloading_amsi_via_reflection.yml
  detections/endpoint/user_discovery_with_env_vars_powershell_script_block.yml
  tests/endpoint/kerberos_pre_authentication_flag_disabled_with_powershell.test.yml
  tests/endpoint/powershell_execute_com_object.test.yml
  tests/endpoint/powershell_using_memory_as_backing_store.test.yml
  tests/endpoint/recon_avproduct_through_pwh_or_wmi.test.yml
  tests/endpoint/remote_process_instantiation_via_dcom_and_powershell_script_block.test.yml
  tests/endpoint/remote_process_instantiation_via_winrm_and_powershell_script_block.test.yml
  tests/endpoint/unloading_amsi_via_reflection.test.yml
  tests/endpoint/user_discovery_with_env_vars_powershell_script_block.test.yml
Labels: WIP

#2190 kvstore bugs
  bin/contentctl_project/contentctl_infrastructure/adapter/templates/transforms.j2
  detections/cloud/detect_aws_console_login_by_new_user.yml
Labels: WIP

#2209 update mitre id
  detections/endpoint/excessive_number_of_taskhost_processes.yml
Labels: needs-more-info

#2224 fix issue 2215
  .github/workflows/build-and-validate.yml
  bin/reporting/detection_count.svg
  docs/mitre-map/coverage.json
Labels: 3.41.0

#2223 path_traversal
  detections/endpoint/windows_command_and_scripting_interpreter_path_traversal_exec.yml
  tests/endpoint/windows_command_and_scripting_interpreter_path_traversal_exec.test.yml
Labels: 3.41.0

#2222 Falling for Follina
  detections/endpoint/windows_execute_arbitrary_commands_with_msdt.yml
  detections/endpoint/windows_office_product_spawning_msdt.yml
  stories/microsoft_support_diagnostic_tool_vulnerability_cve_2022_30190.yml
  stories/windows_drivers.yml
  tests/endpoint/windows_execute_arbitrary_commands_with_msdt.test.yml
  tests/endpoint/windows_office_product_spawning_msdt.test.yml
Labels: 3.41.0
