Repository splunk/security_content, pull requests merged in 2022-11, with the labels that each got.

#2412 Drop a Forti
  detections/web/fortinet_appliance_auth_bypass.yml
  stories/cve_2022_40684_fortinet_appliance_auth_bypass.yml
  tests/web/fortinet_appliance_auth_bypass.test.yml
Labels: Emerging, 3.52.0

#2410 Infinite Haag
  detections/endpoint/ssa___office_product_spawning_windows_script_host.yml
  detections/endpoint/ssa___windows_com_hijacking_inprocserver32_modification.yml
  detections/endpoint/ssa___windows_exchange_powershell_module_usage.yml
  tests/endpoint/ssa___office_product_spawning_windows_script_host.test.yml
  tests/endpoint/ssa___windows_com_hijacking_inprocserver32_modification.test.yml
  tests/endpoint/ssa___windows_exchange_powershell_module_usage.test.yml
Labels: BA, 3.52.0

#2406 adding data_schema tag
  bin/contentctl_project/contentctl_core/domain/entities/detection_tags.py
  bin/contentctl_project/contentctl_infrastructure/adapter/obj_to_yml_adapter.py
  bin/contentctl_project/contentctl_infrastructure/tests/adapter/obj_to_yml_data_ref/srs/ssa___anomalous_usage_of_archive_tools.yml
  dist/ssa/srs/ssa___anomalous_usage_of_archive_tools.yml
  dist/ssa/srs/ssa___attempt_to_delete_services.yml
  dist/ssa/srs/ssa___attempt_to_disable_services.yml
  dist/ssa/srs/ssa___attempted_credential_dump_from_registry_via_reg_exe.yml
  dist/ssa/srs/ssa___bcdedit_failure_recovery_modification.yml
  dist/ssa/srs/ssa___clear_unallocated_sector_using_cipher_app.yml
  dist/ssa/srs/ssa___delete_a_net_user.yml
  dist/ssa/srs/ssa___deny_permission_using_cacls_utility.yml
  dist/ssa/srs/ssa___detect_prohibited_applications_spawning_cmd_exe.yml
  dist/ssa/srs/ssa___detect_rclone_command_line_usage.yml
  dist/ssa/srs/ssa___disable_net_user_account.yml
  dist/ssa/srs/ssa___dns_exfiltration_using_nslookup_app.yml
  dist/ssa/srs/ssa___fsutil_zeroing_file.yml
  dist/ssa/srs/ssa___grant_permission_using_cacls_utility.yml
  dist/ssa/srs/ssa___hiding_files_and_directories_with_attrib_exe.yml
  dist/ssa/srs/ssa___modify_acls_permission_of_files_or_folders.yml
  dist/ssa/srs/ssa___resize_shadowstorage_volume.yml
  dist/ssa/srs/ssa___sdelete_application_execution.yml
  dist/ssa/srs/ssa___system_process_running_from_unexpected_location.yml
  dist/ssa/srs/ssa___wbadmin_delete_system_backups.yml
  dist/ssa/srs/ssa___wevtutil_usage_to_clear_logs.yml
  dist/ssa/srs/ssa___wevtutil_usage_to_disable_logs.yml
  dist/ssa/srs/ssa___windows_bits_job_persistence.yml
  dist/ssa/srs/ssa___windows_bitsadmin_download_file.yml
  dist/ssa/srs/ssa___windows_certutil_decode_file.yml
  dist/ssa/srs/ssa___windows_certutil_urlcache_download.yml
  dist/ssa/srs/ssa___windows_certutil_verifyctl_download.yml
  dist/ssa/srs/ssa___windows_curl_upload_to_remote_destination.yml
  dist/ssa/srs/ssa___windows_defender_tools_in_non_standard_path.yml
  dist/ssa/srs/ssa___windows_diskshadow_proxy_execution.yml
  dist/ssa/srs/ssa___windows_dotnet_binary_in_non_standard_path.yml
  dist/ssa/srs/ssa___windows_eventvwr_uac_bypass.yml
  dist/ssa/srs/ssa___windows_execute_arbitrary_commands_with_msdt.yml
  dist/ssa/srs/ssa___windows_ingress_tool_transfer_using_explorer.yml
  dist/ssa/srs/ssa___windows_lolbin_binary_in_non_standard_path.yml
  dist/ssa/srs/ssa___windows_mshta_child_process.yml
  dist/ssa/srs/ssa___windows_mshta_command_line_url.yml
  dist/ssa/srs/ssa___windows_mshta_inline_hta_execution.yml
  dist/ssa/srs/ssa___windows_odbcconf_load_response_file.yml
  dist/ssa/srs/ssa___windows_os_credential_dumping_with_ntdsutil_export_ntds.yml
  dist/ssa/srs/ssa___windows_os_credential_dumping_with_procdump.yml
  dist/ssa/srs/ssa___windows_powershell_connect_to_internet_with_hidden_window.yml
  dist/ssa/srs/ssa___windows_powershell_downloadfile.yml
  dist/ssa/srs/ssa___windows_powershell_start_bitstransfer.yml
  dist/ssa/srs/ssa___windows_rasautou_dll_execution.yml
  dist/ssa/srs/ssa___windows_rundll32_comsvcs_memory_dump.yml
  dist/ssa/srs/ssa___windows_rundll32_inline_hta_execution.yml
  dist/ssa/srs/ssa___windows_script_host_spawn_msbuild.yml
  dist/ssa/srs/ssa___windows_system_binary_proxy_execution_compiled_html_file_decompile.yml
  dist/ssa/srs/ssa___windows_system_binary_proxy_execution_compiled_html_file_url_in_command_line.yml
  dist/ssa/srs/ssa___windows_system_binary_proxy_execution_compiled_html_file_using_infotech_storage_handlers.yml
  dist/ssa/srs/ssa___windows_system_binary_proxy_execution_msiexec_dllregisterserver.yml
  dist/ssa/srs/ssa___windows_system_binary_proxy_execution_msiexec_remote_download.yml
  dist/ssa/srs/ssa___windows_system_binary_proxy_execution_msiexec_unregister_dll.yml
  dist/ssa/srs/ssa___windows_wmiprvse_spawn_msbuild.yml
Labels: BA, 3.52.0

#2421 cleaning up BA lolbas detection to remove duplicate exe
  detections/endpoint/ssa___windows_lolbin_binary_in_non_standard_path.yml
Labels: BA, 3.52.0

#2426 I've got a lot of issues with you people
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  README.md
Labels: enhancement

#2419 qakbot_2
  detections/endpoint/cmd_carry_out_string_command_parameter.yml
  detections/endpoint/cmdline_tool_not_executed_in_cmd_shell.yml
  detections/endpoint/create_remote_thread_in_shell_application.yml
  detections/endpoint/executables_or_script_creation_in_suspicious_path.yml
  detections/endpoint/process_creating_lnk_file_in_suspicious_location.yml
  detections/endpoint/suspicious_process_file_path.yml
  detections/endpoint/suspicious_regsvr32_register_suspicious_path.yml
  detections/endpoint/system_processes_run_from_unexpected_locations.yml
  detections/endpoint/system_user_discovery_with_whoami.yml
  detections/endpoint/wermgr_process_spawned_cmd_or_powershell_process.yml
  detections/endpoint/windows_app_layer_protocol_wermgr_connect_to_namedpipe.yml
  detections/endpoint/windows_command_shell_fetch_env_variables.yml
  detections/endpoint/windows_dll_side_loading_in_calc.yml
  detections/endpoint/windows_dll_side_loading_process_child_of_calc.yml
  detections/endpoint/windows_masquerading_explorer_as_child_process.yml
  detections/endpoint/windows_modify_registry_qakbot_binary_data_registry.yml
  detections/endpoint/windows_process_injection_of_wermgr_to_known_browser.yml
  detections/endpoint/windows_process_injection_remote_thread.yml
  detections/endpoint/windows_process_injection_wermgr_child_process.yml
  detections/endpoint/windows_regsvr32_renamed_binary.yml
  detections/endpoint/windows_system_discovery_using_ldap_nslookup.yml
  detections/endpoint/windows_system_discovery_using_qwinsta.yml
  detections/endpoint/windows_wmi_impersonate_token.yml
  macros/process_wermgr.yml
  tests/endpoint/windows_app_layer_protocol_wermgr_connect_to_namedpipe.test.yml
  tests/endpoint/windows_command_shell_fetch_env_variables.test.yml
  tests/endpoint/windows_dll_side_loading_in_calc.test.yml
  tests/endpoint/windows_dll_side_loading_process_child_of_calc.test.yml
  tests/endpoint/windows_masquerading_explorer_as_child_process.test.yml
  tests/endpoint/windows_modify_registry_qakbot_binary_data_registry.test.yml
  tests/endpoint/windows_process_injection_of_wermgr_to_known_browser.test.yml
  tests/endpoint/windows_process_injection_remote_thread.test.yml
  tests/endpoint/windows_process_injection_wermgr_child_process.test.yml
  tests/endpoint/windows_regsvr32_renamed_binary.test.yml
  tests/endpoint/windows_system_discovery_using_ldap_nslookup.test.yml
  tests/endpoint/windows_system_discovery_using_qwinsta.test.yml
  tests/endpoint/windows_wmi_impersonate_token.test.yml
Labels: 3.52.0

#2442 Updating Mitre IDs
  detections/cloud/aws_console_login_failed_during_mfa_challenge.yml
  detections/cloud/aws_credential_access_failed_login.yml
  detections/cloud/aws_credential_access_getpassworddata.yml
  detections/cloud/aws_credential_access_rds_password_reset.yml
  detections/cloud/aws_multi_factor_authentication_disabled.yml
  detections/cloud/aws_multiple_failed_mfa_requests_for_user.yml
  detections/cloud/aws_multiple_users_failing_to_authenticate_from_ip.yml
  detections/cloud/aws_successful_single_factor_authentication.yml
  detections/cloud/aws_unusual_number_of_failed_authentications_from_ip.yml
  detections/cloud/azure_active_directory_high_risk_sign_in.yml
  detections/cloud/azure_ad_authentication_failed_during_mfa_challenge.yml
  detections/cloud/azure_ad_multi_factor_authentication_disabled.yml
  detections/cloud/azure_ad_multiple_failed_mfa_requests_for_user.yml
  detections/cloud/azure_ad_multiple_users_failing_to_authenticate_from_ip.yml
  detections/cloud/azure_ad_successful_powershell_authentication.yml
  detections/cloud/azure_ad_successful_single_factor_authentication.yml
  detections/cloud/azure_ad_unusual_number_of_failed_authentications_from_ip.yml
  detections/cloud/detect_aws_console_login_by_user_from_new_city.yml
  detections/cloud/detect_aws_console_login_by_user_from_new_country.yml
  detections/cloud/detect_aws_console_login_by_user_from_new_region.yml
  detections/cloud/gcp_authentication_failed_during_mfa_challenge.yml
  detections/cloud/gcp_multi_factor_authentication_disabled.yml
  detections/cloud/gcp_multiple_failed_mfa_requests_for_user.yml
  detections/cloud/gcp_multiple_users_failing_to_authenticate_from_ip.yml
  detections/cloud/gcp_successful_single_factor_authentication.yml
  detections/cloud/gcp_unusual_number_of_failed_authentications_from_ip.yml
  detections/endpoint/rubeus_command_line_parameters.yml
  detections/experimental/cloud/detect_aws_console_login_by_new_user.yml
  tests/experimental/cloud/detect_aws_console_login_by_new_user.test.yml
Labels: WIP

#2453 issue 2422 - fix spl
  detections/cloud/aws_detect_users_with_kms_keys_performing_encryption_s3.yml
Labels: bug, 3.53.0

#2455 Fix test naming
  tests/cloud/aws_ecr_container_scanning_findings_low_informational_unknown.test.yml
  tests/endpoint/creation_of_lsass_dump_with_taskmgr.test.yml
  tests/endpoint/linux_ingress_tool_transfer_with_curl.test.yml
  tests/endpoint/suspicious_linux_discovery_commands.test.yml
  tests/endpoint/windows_disabled_users_failing_to_authenticate_kerberos.test.yml
  tests/endpoint/windows_diskshadow_proxy_execution.test.yml
  tests/endpoint/windows_indirect_command_execution_via_forfiles.test.yml
  tests/endpoint/windows_multi_hop_proxy_tor_website_query.test.yml
  tests/endpoint/windows_service_created_with_suspicious_service_path.test.yml
Labels: 3.53.0

#2443 Carried over changes from "Update o365_disable_mfa.yml #2441"
  detections/cloud/o365_disable_mfa.yml
Labels: 3.53.0

#2447 cisa_coverage
  detections/endpoint/executables_or_script_creation_in_suspicious_path.yml
  detections/endpoint/office_document_executing_macro_code.yml
  detections/endpoint/office_product_spawn_cmd_process.yml
  detections/endpoint/office_product_spawning_windows_script_host.yml
  detections/endpoint/process_creating_lnk_file_in_suspicious_location.yml
  detections/endpoint/rundll_loading_dll_by_ordinal.yml
  detections/endpoint/suspicious_process_file_path.yml
  detections/endpoint/windows_app_layer_protocol_qakbot_namedpipe.yml
  detections/endpoint/windows_iso_lnk_file_creation.yml
  detections/endpoint/windows_modify_registry_qakbot_binary_data_registry.yml
  detections/endpoint/windows_phishing_recent_iso_exec_registry.yml
  detections/endpoint/windows_process_injection_remote_thread.yml
  tests/endpoint/windows_app_layer_protocol_qakbot_namedpipe.test.yml
Labels: 3.53.0

#2449 Issue 2414
  detections/experimental/endpoint/detect_rare_executables.yml
Labels: bug, 3.53.0

#2299 add crowdstrike data to detection
  detections/endpoint/attempted_credential_dump_from_registry_via_reg_exe.yml
  detections/endpoint/bits_job_persistence.yml
  detections/endpoint/bitsadmin_download_file.yml
  detections/endpoint/creation_of_shadow_copy.yml
  detections/endpoint/dump_lsass_via_procdump.yml
  tests/endpoint/attempted_credential_dump_from_registry_via_reg_exe.test.yml
  tests/endpoint/bits_job_persistence.test.yml
  tests/endpoint/bitsadmin_download_file.test.yml
  tests/endpoint/creation_of_shadow_copy.test.yml
  tests/endpoint/dump_lsass_via_procdump.test.yml
Labels: 3.53.0

#2446 Update common_ransomware_extensions.yml
  detections/endpoint/common_ransomware_extensions.yml
  stories/qakbot.yml
  tests/endpoint/common_ransomware_extensions.test.yml
Labels: 3.53.0

#2450 openssl
  detections/experimental/network/ssl_certificates_with_punycode.yml
  detections/experimental/network/zeek_x509_certificate_with_punycode.yml
  macros/zeek_x509.yml
  stories/openssl_cve_2022_3602.yml
Labels: 3.53.0

#2456 Fix for issue: 2423
  detections/cloud/aws_ecr_container_upload_outside_business_hours.yml
Labels: 3.53.0

#2457 cisa_coverage2
  detections/endpoint/add_or_set_windows_defender_exclusion.yml
  detections/endpoint/disabling_remote_user_account_control.yml
  detections/endpoint/executables_or_script_creation_in_suspicious_path.yml
  detections/endpoint/office_application_spawn_regsvr32_process.yml
  detections/endpoint/office_product_spawn_cmd_process.yml
  detections/endpoint/office_product_spawning_certutil.yml
  detections/endpoint/office_product_spawning_mshta.yml
  detections/endpoint/powershell_windows_defender_exclusion_commands.yml
  detections/endpoint/scheduled_task_deleted_or_created_via_cmd.yml
  detections/endpoint/services_exe_lolbas_execution_process_spawn.yml
  detections/endpoint/suspicious_copy_on_system32.yml
  detections/endpoint/suspicious_driver_loaded_path.yml
  detections/endpoint/suspicious_process_file_path.yml
  detections/endpoint/windows_dll_search_order_hijacking_hunt_with_sysmon.yml
  detections/endpoint/windows_driver_load_non_standard_path.yml
  detections/endpoint/windows_drivers_loaded_by_signature.yml
  detections/endpoint/windows_service_created_with_suspicious_service_path.yml
Labels: 3.54.0

#2465 Blackbolt patch :BITS admin
  detections/endpoint/bitsadmin_download_file.yml
Labels: 3.54.0

#2462 The Great Haagration
  detections/deprecated/suspicious_powershell_command_line_arguments.yml
  detections/endpoint/add_or_set_windows_defender_exclusion.yml
  detections/endpoint/common_ransomware_extensions.yml
  detections/endpoint/detect_mimikatz_using_loaded_images.yml
  detections/endpoint/detect_mimikatz_with_powershell_script_block_logging.yml
  detections/endpoint/detect_psexec_with_accepteula_flag.yml
  detections/endpoint/detect_renamed_psexec.yml
  detections/endpoint/enable_wdigest_uselogoncredential_registry.yml
  detections/endpoint/exchange_powershell_module_usage.yml
  detections/endpoint/getadcomputer_with_powershell_script_block.yml
  detections/endpoint/hunting_for_log4shell.yml
  detections/endpoint/log4shell_cve_2021_44228_exploitation.yml
  detections/endpoint/malicious_powershell_process___encoded_command.yml
  detections/endpoint/mimikatz_passtheticket_commandline_parameters.yml
  detections/endpoint/powershell_load_module_in_meterpreter.yml
  detections/endpoint/powershell_windows_defender_exclusion_commands.yml
  detections/endpoint/ssa___windows_powershell_delete_shadowcopy.yml
  detections/endpoint/ssa___windows_powershell_disabled_kerberos_pre_authentication_discovery_get_aduser.yml
  detections/endpoint/ssa___windows_powershell_disabled_kerberos_pre_authentication_discovery_with_powerview.yml
  detections/endpoint/ssa___windows_powershell_empire_behavior.yml
  detections/endpoint/suspicious_driver_loaded_path.yml
  detections/endpoint/windows_apache_benchmark_binary.yml
  detections/endpoint/windows_driver_load_non_standard_path.yml
  detections/endpoint/windows_drivers_loaded_by_signature.yml
  detections/endpoint/windows_mimikatz_binary_execution.yml
  detections/endpoint/windows_msexchange_management_mailbox_cmdlet_usage.yml
  detections/endpoint/windows_ngrok_reverse_proxy_usage.yml
  detections/endpoint/windows_service_create_kernel_mode_driver.yml
  detections/endpoint/xmrig_driver_loaded.yml
  detections/network/ngrok_reverse_proxy_on_network.yml
  detections/web/log4shell_jndi_payload_injection_attempt.yml
  detections/web/log4shell_jndi_payload_injection_with_outbound_connection.yml
  macros/msexchange_management.yml
  stories/cisa_aa22_320a.yml
  stories/metasploit.yml
  stories/reverse_network_proxy.yml
  tests/endpoint/powershell_load_module_in_meterpreter.test.yml
  tests/endpoint/ssa___windows_exchange_powershell_module_usage.test.yml
  tests/endpoint/ssa___windows_powershell_delete_shadowcopy.test.yml
  tests/endpoint/ssa___windows_powershell_disabled_kerberos_pre_authentication_discovery_get_aduser.test.yml
  tests/endpoint/ssa___windows_powershell_disabled_kerberos_pre_authentication_discovery_with_powerview.test.yml
  tests/endpoint/ssa___windows_powershell_empire_behavior.test.yml
  tests/endpoint/windows_apache_benchmark_binary.test.yml
  tests/endpoint/windows_mimikatz_binary_execution.test.yml
  tests/endpoint/windows_msexchange_management_mailbox_cmdlet_usage.test.yml
  tests/endpoint/windows_ngrok_reverse_proxy_usage.test.yml
  tests/network/ngrok_reverse_proxy_on_network.test.yml
Labels: 3.54.0
