Repository splunk/security_content, pull requests merged in 2022-09, with the labels that each got.

#2339 Update Azure AD Account Takeover Analytic Story
  detections/cloud/azure_ad_authentication_failed_during_mfa_challenge.yml
  detections/cloud/azure_ad_multiple_failed_mfa_requests_for_user.yml
  tests/cloud/azure_ad_multiple_failed_mfa_requests_for_user.test.yml
Labels: 3.49.0

#2340 brute-ratel-1
  detections/endpoint/executables_or_script_creation_in_suspicious_path.yml
  detections/endpoint/modification_of_wallpaper.yml
  detections/endpoint/suspicious_process_file_path.yml
  detections/endpoint/windows_iso_lnk_file_creation.yml
  detections/endpoint/windows_service_created_with_suspicious_service_path.yml
  detections/endpoint/windows_service_creation_using_registry_entry.yml
  stories/brute_ratel.yml
Labels: WIP, 3.49.0

#2370 name changes
  stories/brute_ratel_c4.yml
Labels: 3.49.0

#2364 tagging ba detection for insider threat
  detections/endpoint/ssa___anomalous_usage_of_archive_tools.yml
  detections/endpoint/ssa___bcdedit_failure_recovery_modification.yml
  detections/endpoint/ssa___deny_permission_using_cacls_utility.yml
  detections/endpoint/ssa___detect_rclone_command_line_usage.yml
  detections/endpoint/ssa___fsutil_zeroing_file.yml
  detections/endpoint/ssa___grant_permission_using_cacls_utility.yml
  detections/endpoint/ssa___hiding_files_and_directories_with_attrib_exe.yml
  detections/endpoint/ssa___prohibited_apps_spawning_cmdprompt.yml
  detections/endpoint/ssa___wevtutil_usage_to_clear_logs.yml
  detections/endpoint/ssa___wevtutil_usage_to_disable_logs.yml
  detections/endpoint/ssa___windows_curl_upload_to_remote_destination.yml
  dist/ssa/srs/ssa___anomalous_usage_of_archive_tools.yml
  dist/ssa/srs/ssa___bcdedit_failure_recovery_modification.yml
  dist/ssa/srs/ssa___deny_permission_using_cacls_utility.yml
  dist/ssa/srs/ssa___detect_prohibited_applications_spawning_cmd_exe.yml
  dist/ssa/srs/ssa___detect_rclone_command_line_usage.yml
  dist/ssa/srs/ssa___fsutil_zeroing_file.yml
  dist/ssa/srs/ssa___grant_permission_using_cacls_utility.yml
  dist/ssa/srs/ssa___hiding_files_and_directories_with_attrib_exe.yml
  dist/ssa/srs/ssa___wevtutil_usage_to_clear_logs.yml
  dist/ssa/srs/ssa___wevtutil_usage_to_disable_logs.yml
  dist/ssa/srs/ssa___windows_curl_upload_to_remote_destination.yml
Labels: 3.49.0

#2367 [TR-2462] _Time after _Time
  detections/endpoint/high_process_termination_frequency.yml
Labels: 3.49.0

#2366 updates PRs from @TheLawsOfChaos
  detections/endpoint/adsisearcher_account_discovery.yml
  detections/endpoint/get_aduser_with_powershell_script_block.yml
  detections/endpoint/get_domainuser_with_powershell_script_block.yml
  detections/endpoint/recursive_delete_of_directory_in_batch_cmd.yml
  detections/endpoint/remote_process_instantiation_via_wmi_and_powershell_script_block.yml
  detections/endpoint/svchost_exe_lolbas_execution_process_spawn.yml
  tests/endpoint/adsisearcher_account_discovery.test.yml
  tests/endpoint/get_aduser_with_powershell_script_block.test.yml
  tests/endpoint/remote_process_instantiation_via_wmi_and_powershell_script_block.test.yml
Labels: 3.49.0

#2348 brute-ratel-2
  detections/endpoint/windows_gather_victim_identity_sam_info.yml
  detections/endpoint/windows_hijack_execution_flow_version_dll_side_load.yml
  detections/endpoint/windows_input_capture_using_credential_ui_dll.yml
  detections/endpoint/windows_phishing_recent_iso_exec_registry.yml
  detections/endpoint/windows_remote_access_software_brc4_loaded_dll.yml
  tests/endpoint/windows_gather_victim_identity_sam_info.test.yml
  tests/endpoint/windows_hijack_execution_flow_version_dll_side_load.test.yml
  tests/endpoint/windows_input_capture_using_credential_ui_dll.test.yml
  tests/endpoint/windows_phishing_recent_iso_exec_registry.test.yml
  tests/endpoint/windows_remote_access_software_brc4_loaded_dll.test.yml
Labels: WIP, 3.49.0

#2350 Update Correlations by Escalations
  detections/endpoint/linux_persistence_and_privilege_escalation_risk_behavior.yml
  detections/endpoint/log4shell_cve_2021_44228_exploitation.yml
Labels: 3.49.0

#2362 The Correlations are Filled with the Sound OF Music
  bin/contentctl_project/contentctl_infrastructure/adapter/templates/savedsearches_detections.j2
  detections/endpoint/living_off_the_land.yml
Labels: 3.49.0

#2333 Azure Active Directory Persistence Analytic Story
  detections/cloud/azure_ad_authentication_failed_during_mfa_challenge.yml
  detections/cloud/azure_ad_external_guest_user_invited.yml
  detections/cloud/azure_ad_global_administrator_role_assigned.yml
  detections/cloud/azure_ad_multiple_users_failing_to_authenticate_from_ip.yml
  detections/cloud/azure_ad_new_custom_domain_added.yml
  detections/cloud/azure_ad_new_federated_domain_added.yml
  detections/cloud/azure_ad_privileged_role_assigned.yml
  detections/cloud/azure_ad_service_principal_created.yml
  detections/cloud/azure_ad_service_principal_new_client_credentials.yml
  detections/cloud/azure_ad_service_principal_owner_added.yml
  detections/cloud/azure_ad_successful_powershell_authentication.yml
  detections/cloud/azure_ad_successful_single_factor_authentication.yml
  detections/cloud/azure_ad_unusual_number_of_failed_authentications_from_ip.yml
  detections/cloud/azure_ad_user_enabled_and_password_reset.yml
  detections/cloud/azure_ad_user_immutableid_attribute_updated.yml
  detections/cloud/azure_automation_account_created.yml
  detections/cloud/azure_automation_runbook_created.yml
  detections/cloud/azure_runbook_webhook_created.yml
  lookups/privileged_azure_ad_roles.csv
  lookups/privileged_azure_ad_roles.yml
  macros/azure_audit.yml
  stories/azure_active_directory_persistence.yml
  tests/cloud/azure_ad_external_guest_user_invited.test.yml
  tests/cloud/azure_ad_global_administrator_role_assigned.test.yml
  tests/cloud/azure_ad_new_custom_domain_added.test.yml
  tests/cloud/azure_ad_new_federated_domain_added.test.yml
  tests/cloud/azure_ad_privileged_role_assigned.test.yml
  tests/cloud/azure_ad_service_principal_created.test.yml
  tests/cloud/azure_ad_service_principal_new_client_credentials.test.yml
  tests/cloud/azure_ad_service_principal_owner_added.test.yml
  tests/cloud/azure_ad_user_enabled_and_password_reset.test.yml
  tests/cloud/azure_ad_user_immutableid_attribute_updated.test.yml
  tests/cloud/azure_automation_account_created.test.yml
  tests/cloud/azure_automation_runbook_created.test.yml
  tests/cloud/azure_runbook_webhook_created.test.yml
Labels: 3.49.0

#2356 Brute ratel 3
  detections/endpoint/windows_access_token_manipulation_sedebugprivilege.yml
  detections/endpoint/windows_access_token_manipulation_winlogon_duplicate_token_handle.yml
  detections/endpoint/windows_access_token_winlogon_duplicate_handle_in_uncommon_path.yml
  detections/endpoint/windows_defacement_modify_transcodedwallpaper_file.yml
  detections/endpoint/windows_process_injection_with_public_source_path.yml
  detections/endpoint/windows_service_deletion_in_registry.yml
  tests/endpoint/windows_access_token_manipulation_sedebugprivilege.test.yml
  tests/endpoint/windows_access_token_manipulation_winlogon_duplicate_token_handle.test.yml
  tests/endpoint/windows_access_token_winlogon_duplicate_handle_in_uncommon_path.test.yml
  tests/endpoint/windows_defacement_modify_transcodedwallpaper_file.test.yml
  tests/endpoint/windows_process_injection_with_public_source_path.test.yml
  tests/endpoint/windows_service_deletion_in_registry.test.yml
Labels: 3.49.0

#2382 Throw Some D's
  detections/endpoint/disable_defender_antivirus_registry.yml
  detections/endpoint/disable_defender_blockatfirstseen_feature.yml
  detections/endpoint/disable_defender_enhanced_notification.yml
  detections/endpoint/disable_defender_mpengine_registry.yml
  detections/endpoint/disable_defender_spynet_reporting.yml
  detections/endpoint/disable_defender_submit_samples_consent_feature.yml
  detections/endpoint/disable_schedule_task.yml
  detections/endpoint/disabling_defender_services.yml
  detections/endpoint/suspicious_regsvr32_register_suspicious_path.yml
  detections/endpoint/suspicious_rundll32_plugininit.yml
  detections/endpoint/windows_curl_download_to_suspicious_path.yml
  detections/endpoint/wmic_noninteractive_app_uninstallation.yml
  detections/experimental/endpoint/ssa___disable_defender_antivirus_registry.yml
Labels: bug, 3.50.0

#2386 fix ssa___windows_system_binary_proxy_execution_compiled_html_file test file
  tests/endpoint/ssa___windows_system_binary_proxy_execution_compiled_html_file_decompile.test.yml
Labels: bug, 3.49.1

#2376 Agent with tesla 1
  detections/endpoint/detect_html_help_spawn_child_process.yml
  detections/endpoint/excessive_usage_of_taskkill.yml
  detections/endpoint/executables_or_script_creation_in_suspicious_path.yml
  detections/endpoint/non_chrome_process_accessing_chrome_default_dir.yml
  detections/endpoint/non_firefox_process_access_firefox_profile_dir.yml
  detections/endpoint/office_application_drop_executable.yml
  detections/endpoint/office_application_spawn_rundll32_process.yml
  detections/endpoint/office_document_executing_macro_code.yml
  detections/endpoint/powershell___connect_to_internet_with_hidden_window.yml
  detections/endpoint/scheduled_task_deleted_or_created_via_cmd.yml
  detections/endpoint/suspicious_process_file_path.yml
  stories/agenttesla.yml
Labels: 3.50.0

#2377 agent-with-tesla-2
  detections/endpoint/powershell_loading_dotnet_into_memory_via_reflection.yml
  detections/endpoint/registry_keys_used_for_persistence.yml
  detections/endpoint/windows_file_transfer_protocol_in_non_common_process_path.yml
  detections/endpoint/windows_iso_lnk_file_creation.yml
  detections/endpoint/windows_mail_protocol_in_non_common_process_path.yml
  detections/endpoint/windows_multi_hop_proxy_tor_website_query.yml
  detections/endpoint/windows_phishing_recent_iso_exec_registry.yml
  tests/endpoint/windows_file_transfer_protocol_in_non_common_process_path.test.yml
  tests/endpoint/windows_mail_protocol_in_non_common_process_path.test.yml
  tests/endpoint/windows_multi_hop_proxy_tor_website_query.test.yml
Labels: 3.50.0

#2372 new-xml-src-data
  bin/contentctl_project/contentctl_core/application/factory/utils/new_content_questions.py
  bin/contentctl_project/contentctl_infrastructure/adapter/obj_to_attackdata_yml_adapter.py
Labels: enhancement, 3.50.0

#2374 Fix App Renaming in contentctl init/generate/build for custom apps
  bin/contentctl_project/contentctl_core/application/use_cases/initialize.py
  bin/contentctl_project/contentctl_infrastructure/builder/security_content_story_builder.py
  contentctl.py
Labels: 3.50.0

#2375 DGA Detection - DLTK
  detections/experimental/network/detect_dga_domains_using_pretrained_model_in_dsdl.yml
  lookups/__mlspl_pretrained_dga_model_dsdl.mlmodel
  lookups/__mlspl_pretrained_dga_model_dsdl.yml
  notebooks/pretrained_dga_detection.yml
  notebooks/pretrained_dga_model_dsdl.ipynb
  notebooks/pretrained_dga_model_dsdl.json
Labels: WIP, 3.50.0

#2357 Update validation error
  bin/contentctl_project/contentctl_core/application/factory/ba_factory.py
  bin/contentctl_project/contentctl_core/application/factory/factory.py
  bin/contentctl_project/contentctl_core/application/factory/object_factory.py
  bin/contentctl_project/contentctl_core/application/factory/utils/utils.py
  bin/contentctl_project/contentctl_core/domain/entities/detection_tags.py
Labels: 3.50.0
