Repository splunk/security_content, pull requests merged in 2022-01, with the labels that each got.

#1907 linux_persist_priv_batch_2
  detections/endpoint/linux_file_creation_in_init_boot_directory.yml
  detections/endpoint/linux_file_creation_in_profile_directory.yml
  detections/endpoint/linux_service_file_created_in_systemd_directory.yml
  detections/endpoint/linux_service_restarted.yml
  detections/endpoint/linux_service_started_or_enabled.yml
  detections/endpoint/linux_setuid_using_chmod_utility.yml
  detections/endpoint/linux_setuid_using_setcap_utility.yml
  tests/endpoint/linux_file_creation_in_init_boot_directory.test.yml
  tests/endpoint/linux_file_creation_in_profile_directory.test.yml
  tests/endpoint/linux_service_file_created_in_systemd_directory.test.yml
  tests/endpoint/linux_service_restarted.test.yml
  tests/endpoint/linux_service_started_or_enabled.test.yml
  tests/endpoint/linux_setuid_using_chmod_utility.test.yml
  tests/endpoint/linux_setuid_using_setcap_utility.test.yml
Labels: WIP

#1938 adding risk_severity to SSA ymls
  detections/endpoint/ssa___anomalous_usage_of_archive_tools.yml
  detections/endpoint/ssa___attempt_to_delete_services.yml
  detections/endpoint/ssa___attempt_to_disable_services.yml
  detections/endpoint/ssa___attempted_credential_dump_from_registry_via_reg_exe.yml
  detections/endpoint/ssa___delete_a_net_user.yml
  detections/endpoint/ssa___deny_permission_using_cacls_utility.yml
  detections/endpoint/ssa___detect_dump_lsass_memory_using_comsvcs.yml
  detections/endpoint/ssa___detect_rclone_command_line_usage.yml
  detections/endpoint/ssa___disable_net_user_account.yml
  detections/endpoint/ssa___dns_exfiltration_using_nslookup_app.yml
  detections/endpoint/ssa___excessive_number_of_office_files_copied.yml
  detections/endpoint/ssa___fsutil_zeroing_file.yml
  detections/endpoint/ssa___grant_permission_using_cacls_utility.yml
  detections/endpoint/ssa___high_file_deletion_frequency.yml
  detections/endpoint/ssa___modify_acls_permission_of_files_or_folders.yml
  detections/endpoint/ssa___potential_pass_the_token_or_hash_observed_at_the_destination_device.yml
  detections/endpoint/ssa___potential_pass_the_token_or_hash_observed_by_an_event_collecting_device.yml
  detections/endpoint/ssa___resize_shadowstorage_volume.yml
  detections/endpoint/ssa___sdelete_application_execution.yml
  detections/endpoint/ssa___system_process_running_from_unexpected_location.yml
  detections/endpoint/ssa___wbadmin_delete_system_backups.yml
  detections/endpoint/ssa___wevtutil_usage_to_disable_logs.yml
  detections/endpoint/ssa___windows_curl_upload_to_remote_destination.yml
Labels: BA

#1952 Update README.md
  README.md
Labels: needs-more-info

#1873 Nixpost
  detections/endpoint/detect_autosuid_post_exploitation_tool.yml
  detections/endpoint/detect_linenum_execution.yml
  detections/endpoint/detect_linpeas_execution.yml
  detections/endpoint/detect_linux_exploit_suggester_execution.yml
  detections/endpoint/detect_mimipenguin.yml
  macros/sysmon_linux.yml
  stories/linux_post_exploitation.yml
  tests/endpoint/detect_autosuid_post_exploitation_tool.test.yml
  tests/endpoint/detect_linenum_execution.test.yml
  tests/endpoint/detect_linpeas_execution.test.yml
  tests/endpoint/detect_linux_exploit_suggester_execution.test.yml
  tests/endpoint/detect_mimipenguin.test.yml
Labels: WIP

#1900 new_ssa_ifo_sabotage
  detections/endpoint/ssa___clear_unallocated_sector_using_cipher_app.yml
  detections/endpoint/ssa___hiding_files_and_directories_with_attrib_exe.yml
  tests/endpoint/ssa___clear_unallocated_sector_using_cipher_app.test.yml
  tests/endpoint/ssa___hiding_files_and_directories_with_attrib_exe.test.yml
Labels: BA

#1875 Anomalous usage of account credentials
  detections/experimental/endpoint/ssa___anomalous_usage_of_account_credentials.yml
  tests/endpoint/ssa___anomalous_usage_of_account_credentials.test.yml
Labels: BA
