Repository splunk/security_content, pull requests merged in 2022-02, with the labels that each got.

#1987 updated SSA detection
  dist/ssa/srs/ssa___hiding_files_and_directories_with_attrib_exe.yml
Labels: needs-more-info

#1991 revert_back_setuid
  detections/endpoint/linux_setuid_using_chmod_utility.yml
Labels: needs-more-info

#1996 TR-1677 fixing logic in detection to avoid null pointer exception errors
  detections/endpoint/ssa___detect_dump_lsass_memory_using_comsvcs.yml
  detections/endpoint/ssa___wbadmin_delete_system_backups.yml
Labels: BA

#2017 Log4Forge Log4Shell LogForceShell
  detections/endpoint/ssa___windows_powershell_connect_to_internet_with_hidden_window.yml
  detections/endpoint/ssa___windows_powershell_downloadfile.yml
  dist/ssa/srs/ssa___windows_powershell_connect_to_internet_with_hidden_window.yml
  dist/ssa/srs/ssa___windows_powershell_downloadfile.yml
  tests/endpoint/ssa___windows_powershell_connect_to_internet_with_hidden_window.test.yml
  tests/endpoint/ssa___windows_powershell_downloadfile.test.yml
Labels: WIP, BA

#2025 Latest splunkbase apps
  .github/workflows/detection-testing.yml
  bin/automated_detection_testing/ci/detection_testing_batch/detection_testing_execution.py
  bin/automated_detection_testing/ci/detection_testing_batch/modules/container_manager.py
  bin/automated_detection_testing/ci/detection_testing_batch/modules/splunk_container.py
  bin/automated_detection_testing/ci/detection_testing_batch/modules/test_driver.py
  bin/automated_detection_testing/ci/detection_testing_batch/modules/validate_args.py
  bin/automated_detection_testing/ci/detection_testing_batch/test_config_github_actions.json
Labels: WIP

#2020 Updating detections for latest apps
  detections/cloud/o365_excessive_authentication_failures_alert.yml
  detections/endpoint/detect_regasm_with_network_connection.yml
  detections/endpoint/detect_regsvcs_with_network_connection.yml
  detections/endpoint/interactive_session_on_remote_endpoint_with_powershell.yml
  detections/endpoint/net_profiler_uac_bypass.yml
  detections/endpoint/powershell_remove_windows_defender_directory.yml
  detections/endpoint/process_deleting_its_process_file_path.yml
  detections/endpoint/rundll32_dnsquery.yml
  detections/endpoint/set_default_powershell_execution_policy_to_unrestricted_or_bypass.yml
  tests/endpoint/process_execution_via_wmi.test.yml
Labels: WIP

#2012 linux_lolbin_stage1
  detections/endpoint/linux_at_application_execution.yml
  detections/endpoint/linux_common_process_for_elevation_control.yml
  detections/endpoint/linux_dd_file_overwrite.yml
  detections/endpoint/linux_system_network_discovery.yml
  stories/data_destruction.yml
  stories/network_discovery.yml
  tests/endpoint/linux_dd_file_overwrite.test.yml
  tests/endpoint/linux_system_network_discovery.test.yml
Labels: WIP

#2031 Streaming in the diskshadows
  detections/endpoint/ssa___windows_diskshadow_proxy_execution.yml
  tests/endpoint/ssa___windows_diskshadow_proxy_execution.test.yml
Labels: BA

#1957 Linux Exploitation Tools
  detections/endpoint/suspicious_linux_discovery_commands.yml
  lookups/linux_tool_discovery_process.csv
  lookups/linux_tool_discovery_process.yml
  stories/linux_post_exploitation.yml
  tests/endpoint/suspicious_linux_discovery_commands.test.yml
Labels: needs-more-info

#2041 UAC Bypass conversion
  detections/endpoint/eventvwr_uac_bypass.yml
  detections/endpoint/ssa___windows_eventvwr_uac_bypass.yml
  detections/endpoint/wsreset_uac_bypass.yml
  detections/experimental/endpoint/ssa___windows_wsreset_uac_bypass.yml
  tests/endpoint/ssa___windows_eventvwr_uac_bypass.test.yml
Labels: BA

#2045 Added playbook_type field
  playbooks/activedirectory_reset_password.yml
  playbooks/aws_disable_user_accounts.yml
  playbooks/aws_find_inactive_users.yml
  playbooks/block_indicators.yml
  playbooks/crowdstrike_malware_triage.yml
  playbooks/delete_detected_files.yml
  playbooks/email_notification_for_malware.yml
  playbooks/internal_host_splunk_investigate_log4j.yml
  playbooks/internal_host_ssh_investigate.yml
  playbooks/internal_host_ssh_log4j_investigate.yml
  playbooks/internal_host_ssh_log4j_respond.yml
  playbooks/internal_host_winrm_investigate.yml
  playbooks/internal_host_winrm_log4j_investigate.yml
  playbooks/internal_host_winrm_log4j_respond.yml
  playbooks/log4j_investigate.yml
  playbooks/log4j_respond.yml
  playbooks/malware_hunt_and_contain.yml
  playbooks/ransomware_investigate_and_contain.yml
  playbooks/risk_notable_block_indicators.yml
  playbooks/risk_notable_enrich.yml
  playbooks/risk_notable_import_data.yml
  playbooks/risk_notable_investigate.yml
  playbooks/risk_notable_merge_events.yml
  playbooks/risk_notable_mitigate.yml
  playbooks/risk_notable_preprocess.yml
  playbooks/risk_notable_protect_assets_and_users.yml
  playbooks/risk_notable_review_indicators.yml
  playbooks/risk_notable_verdict.yml
  playbooks/start_investigation.yml
  playbooks/threat_intel_investigate.yml
  playbooks/trustar_enrich_indicators.yml
Labels: enhancement
