Repository splunk/security_content, pull requests merged in 2022-08, with the labels that each got.

#2297 attack_data_helper
  bin/contentctl_project/contentctl_core/application/factory/new_content_factory.py
  bin/contentctl_project/contentctl_core/application/factory/utils/new_content_questions.py
  bin/contentctl_project/contentctl_core/application/use_cases/new_content.py
  bin/contentctl_project/contentctl_core/domain/entities/enums/enums.py
  bin/contentctl_project/contentctl_infrastructure/adapter/obj_to_attackdata_yml_adapter.py
  bin/contentctl_project/contentctl_infrastructure/tests/adapter/data/lookups/security_services.csv
  bin/contentctl_project/contentctl_infrastructure/tests/adapter/data/lookups/windows_protocol_handlers.csv
  bin/contentctl_project/contentctl_infrastructure/tests/adapter/obj_to_json_adapter_data/baselines.json
  bin/contentctl_project/contentctl_infrastructure/tests/adapter/obj_to_json_adapter_data/detections.json
  bin/contentctl_project/contentctl_infrastructure/tests/adapter/obj_to_json_adapter_data/response_tasks.json
  bin/contentctl_project/contentctl_infrastructure/tests/adapter/obj_to_json_adapter_data/stories.json
  contentctl.py
Labels: enhancement

#2320 fix-clean-obj-name
  detections/endpoint/executables_or_script_creation_in_suspicious_path.yml
Labels: 3.47.0

#2314 doing a fix to pass appcert
  detections/endpoint/potential_password_in_username.yml
Labels: 3.47.0

#2307 fixing base on feedback from users
  detections/deprecated/monitor_dns_for_brand_abuse.yml
  dist/escu/default/commands.conf
  dist/escu/default/searchbnf.conf
Labels: 3.47.0

#2313 Update active_directory_password_spraying.yml
  stories/active_directory_password_spraying.yml
Labels: 3.47.0

#2317 TR-2314 adding research site links to BA
  bin/contentctl_project/contentctl_core/domain/entities/detection_tags.py
  bin/contentctl_project/contentctl_infrastructure/adapter/obj_to_yml_adapter.py
  bin/contentctl_project/contentctl_infrastructure/tests/adapter/obj_to_yml_data/srs/ssa___anomalous_usage_of_archive_tools.yml
  bin/contentctl_project/contentctl_infrastructure/tests/adapter/obj_to_yml_data_ref/srs/ssa___anomalous_usage_of_archive_tools.yml
  dist/ssa/srs/ssa___anomalous_usage_of_archive_tools.yml
  dist/ssa/srs/ssa___attempt_to_delete_services.yml
  dist/ssa/srs/ssa___attempt_to_disable_services.yml
  dist/ssa/srs/ssa___attempted_credential_dump_from_registry_via_reg_exe.yml
  dist/ssa/srs/ssa___bcdedit_failure_recovery_modification.yml
  dist/ssa/srs/ssa___clear_unallocated_sector_using_cipher_app.yml
  dist/ssa/srs/ssa___delete_a_net_user.yml
  dist/ssa/srs/ssa___deny_permission_using_cacls_utility.yml
  dist/ssa/srs/ssa___detect_prohibited_applications_spawning_cmd_exe.yml
  dist/ssa/srs/ssa___detect_rclone_command_line_usage.yml
  dist/ssa/srs/ssa___disable_net_user_account.yml
  dist/ssa/srs/ssa___dns_exfiltration_using_nslookup_app.yml
  dist/ssa/srs/ssa___fsutil_zeroing_file.yml
  dist/ssa/srs/ssa___grant_permission_using_cacls_utility.yml
  dist/ssa/srs/ssa___hiding_files_and_directories_with_attrib_exe.yml
  dist/ssa/srs/ssa___modify_acls_permission_of_files_or_folders.yml
  dist/ssa/srs/ssa___resize_shadowstorage_volume.yml
  dist/ssa/srs/ssa___sdelete_application_execution.yml
  dist/ssa/srs/ssa___system_process_running_from_unexpected_location.yml
  dist/ssa/srs/ssa___wbadmin_delete_system_backups.yml
  dist/ssa/srs/ssa___wevtutil_usage_to_clear_logs.yml
  dist/ssa/srs/ssa___wevtutil_usage_to_disable_logs.yml
  dist/ssa/srs/ssa___windows_bits_job_persistence.yml
  dist/ssa/srs/ssa___windows_bitsadmin_download_file.yml
  dist/ssa/srs/ssa___windows_certutil_decode_file.yml
  dist/ssa/srs/ssa___windows_certutil_urlcache_download.yml
  dist/ssa/srs/ssa___windows_certutil_verifyctl_download.yml
  dist/ssa/srs/ssa___windows_curl_upload_to_remote_destination.yml
  dist/ssa/srs/ssa___windows_defender_tools_in_non_standard_path.yml
  dist/ssa/srs/ssa___windows_diskshadow_proxy_execution.yml
  dist/ssa/srs/ssa___windows_dotnet_binary_in_non_standard_path.yml
  dist/ssa/srs/ssa___windows_eventvwr_uac_bypass.yml
  dist/ssa/srs/ssa___windows_lolbin_binary_in_non_standard_path.yml
  dist/ssa/srs/ssa___windows_mshta_child_process.yml
  dist/ssa/srs/ssa___windows_mshta_command_line_url.yml
  dist/ssa/srs/ssa___windows_mshta_inline_hta_execution.yml
  dist/ssa/srs/ssa___windows_powershell_connect_to_internet_with_hidden_window.yml
  dist/ssa/srs/ssa___windows_powershell_downloadfile.yml
  dist/ssa/srs/ssa___windows_powershell_start_bitstransfer.yml
  dist/ssa/srs/ssa___windows_rasautou_dll_execution.yml
  dist/ssa/srs/ssa___windows_rundll32_comsvcs_memory_dump.yml
  dist/ssa/srs/ssa___windows_rundll32_inline_hta_execution.yml
  dist/ssa/srs/ssa___windows_script_host_spawn_msbuild.yml
  dist/ssa/srs/ssa___windows_wmiprvse_spawn_msbuild.yml
Labels: 3.47.0

#2308 dcrat-analytics3
  detections/endpoint/scheduled_task_deleted_or_created_via_cmd.yml
  detections/endpoint/suspicious_scheduled_task_from_public_directory.yml
  detections/endpoint/windows_command_shell_dcrat_forkbomb_payload.yml
  detections/endpoint/windows_gather_victim_host_information_camera.yml
  detections/endpoint/windows_ingress_tool_transfer_using_explorer.yml
  detections/endpoint/windows_system_logoff_commandline.yml
  detections/endpoint/windows_system_reboot_commandline.yml
  detections/endpoint/windows_system_shutdown_commandline.yml
  detections/endpoint/windows_system_time_discovery_w32tm_delay.yml
  detections/endpoint/winevent_windows_task_scheduler_event_action_started.yml
  tests/endpoint/windows_gather_victim_host_information_camera.test.yml
  tests/endpoint/windows_ingress_tool_transfer_using_explorer.test.yml
Labels: 3.47.0

#2309 Haag it!
  detections/endpoint/linux_curl_upload_file.yml
  detections/endpoint/linux_ingress_tool_transfer_hunting.yml
  detections/endpoint/linux_ingress_tool_transfer_with_curl.yml
  detections/endpoint/linux_proxy_socks_curl.yml
  detections/endpoint/windows_dll_search_order_hijacking_with_iscsicpl.yml
  detections/endpoint/windows_hunting_system_account_targeting_lsass.yml
  detections/endpoint/windows_non_system_account_targeting_lsass.yml
  tests/endpoint/linux_curl_upload_file.test.yml
  tests/endpoint/linux_ingress_tool_transfer_hunting.test.yml
  tests/endpoint/linux_ingress_tool_transfer_with_curl.test.yml
  tests/endpoint/linux_proxy_socks_curl.test.yml
  tests/endpoint/windows_dll_search_order_hijacking_with_iscsicpl.test.yml
Labels: 3.47.0

#2315 Add detections for Awk, Node, Docker Lotl
  detections/endpoint/linux_awk_privilege_escalation.yml
  detections/endpoint/linux_docker_privilege_escalation.yml
  detections/endpoint/linux_node_privilege_escalation.yml
  tests/endpoint/linux_awk_privilege_escalation.test.yml
  tests/endpoint/linux_docker_privilege_escalation.test.yml
  tests/endpoint/linux_node_privilege_escalation.test.yml
Labels: 3.47.0

#2318 Add AWS Credential Access detections
  detections/cloud/aws_credential_access_failed_login.yml
  detections/cloud/aws_credential_access_getpassworddata.yml
  detections/cloud/aws_credential_access_rds_password_reset.yml
  detections/cloud/detect_aws_console_login_by_new_user.yml
  detections/cloud/detect_aws_console_login_by_user_from_new_city.yml
  detections/cloud/detect_aws_console_login_by_user_from_new_country.yml
  detections/cloud/detect_aws_console_login_by_user_from_new_region.yml
  stories/aws_credential_access.yml
  tests/cloud/aws_credential_access_failed_login.test.yml
  tests/cloud/aws_credential_access_getpassworddata.test.yml
  tests/cloud/aws_credential_access_rds_password_reset.test.yml
Labels: 3.47.0

#2316 Clean and deploy
  README.md
  bin/contentctl_project/contentctl_core/application/use_cases/build.py
  bin/contentctl_project/contentctl_core/application/use_cases/deploy.py
  bin/contentctl_project/contentctl_core/application/use_cases/initialize.py
  bin/contentctl_project/contentctl_core/application/use_cases/inspect.py
  bin/contentctl_project/contentctl_core/domain/entities/enums/enums.py
  bin/contentctl_project/contentctl_infrastructure/adapter/templates/savedsearches_investigations.j2
  contentctl.py
  lookups/attacker_tools.csv
  requirements.txt
Labels: 3.47.0

#2328 Updating url
  tests/application/splunk_endpoint_denial_of_service_dos_zip_bomb.test.yml
Labels: 3.48.0

#2324 TR-2349 adding fillnull_value
  macros/security_content_summariesonly.yml
Labels: 3.48.0

#2335 Grammar correction in documentation template
  bin/contentctl_project/contentctl_infrastructure/adapter/templates/doc_detections.j2
Labels: 3.48.0

#2325 Update Azure AD Account Takeover Analytic Story
  detections/cloud/azure_ad_multi_factor_authentication_disabled.yml
  tests/cloud/azure_ad_multi_factor_authentication_disabled.test.yml
Labels: 3.48.0

#2337 100 percent pass rate
  .github/workflows/detection-testing.yml
  detections/cloud/aws_ecr_container_scanning_findings_low_informational_unknown.yml
  detections/cloud/detect_aws_console_login_by_user_from_new_city.yml
  detections/cloud/detect_aws_console_login_by_user_from_new_country.yml
  detections/cloud/detect_aws_console_login_by_user_from_new_region.yml
  detections/endpoint/detect_excessive_account_lockouts_from_endpoint.yml
  detections/endpoint/detect_excessive_user_account_lockouts.yml
  detections/endpoint/mshtml_module_load_in_office_product.yml
  detections/endpoint/office_document_creating_schedule_task.yml
  detections/endpoint/powershell_remote_thread_to_known_windows_process.yml
  detections/endpoint/windows_installutil_credential_theft.yml
Labels: 3.48.0

#2336 HijackThis
  detections/endpoint/linux_persistence_and_privilege_escalation_risk_behavior.yml
  detections/endpoint/living_off_the_land.yml
  detections/endpoint/log4shell_cve_2021_44228_exploitation.yml
  detections/endpoint/windows_autostart_execution_lsass_driver_registry_modification.yml
  detections/endpoint/windows_dll_search_order_hijacking_hunt.yml
  detections/endpoint/windows_dll_search_order_hijacking_hunt_with_sysmon.yml
  detections/endpoint/windows_possible_credential_dumping.yml
  detections/endpoint/windows_remote_access_software_hunt.yml
  lookups/hijacklibs.csv
  lookups/hijacklibs.yml
  lookups/remote_access_software.csv
  lookups/remote_access_software.yml
  tests/endpoint/windows_autostart_execution_lsass_driver_registry_modification.test.yml
  tests/endpoint/windows_dll_search_order_hijacking_hunt.test.yml
  tests/endpoint/windows_dll_search_order_hijacking_hunt_with_sysmon.test.yml
  tests/endpoint/windows_remote_access_software_hunt.test.yml
Labels: WIP, 3.48.0
