Repository splunk/security_content, pull requests merged in 2022-10, with the labels that each got.

#2403 Escalation fixes
  detections/experimental/application/splunk_account_discovery_drilldown_dashboard_disclosure.yml
  detections/experimental/network/remote_desktop_network_traffic.yml
Labels: 3.50.0

#2387 Haagatron
  detections/endpoint/attacker_tools_on_endpoint.yml
  detections/endpoint/deleting_shadow_copies.yml
  detections/endpoint/detect_mimikatz_using_loaded_images.yml
  detections/endpoint/detect_mimikatz_with_powershell_script_block_logging.yml
  detections/endpoint/dump_lsass_via_comsvcs_dll.yml
  detections/endpoint/excessive_usage_of_taskkill.yml
  detections/endpoint/office_product_spawning_windows_script_host.yml
  detections/endpoint/powershell_com_hijacking_inprocserver32_modification.yml
  detections/endpoint/rundll_loading_dll_by_ordinal.yml
  detections/endpoint/ssa___wevtutil_usage_to_clear_logs.yml
  detections/endpoint/w3wp_spawning_shell.yml
  detections/endpoint/windows_com_hijacking_inprocserver32_modification.yml
  detections/endpoint/windows_disableantispyware_reg.yml
  detections/endpoint/windows_event_log_cleared.yml
  detections/endpoint/windows_possible_credential_dumping.yml
  detections/endpoint/windows_raw_access_to_disk_volume_partition.yml
  detections/endpoint/windows_raw_access_to_master_boot_record_drive.yml
  detections/endpoint/windows_system_file_on_disk.yml
  detections/endpoint/windows_system_script_proxy_execution_syncappvpublishingserver.yml
  detections/experimental/endpoint/exchange_powershell_module_usage.yml
  lookups/attacker_tools.csv
  stories/cisa_aa22_264a.yml
  tests/endpoint/office_product_spawning_windows_script_host.test.yml
  tests/endpoint/powershell_com_hijacking_inprocserver32_modification.test.yml
  tests/endpoint/windows_com_hijacking_inprocserver32_modification.test.yml
  tests/endpoint/windows_system_script_proxy_execution_syncappvpublishingserver.test.yml
Labels: 3.50.0, Emerging

#2369 AWS Identity and Access Management Account Takeover
  bin/docker_detection_tester/detection_testing_execution.py
  detections/cloud/aws_credential_access_failed_login.yml
  detections/cloud/aws_credential_access_getpassworddata.yml
  detections/cloud/aws_credential_access_rds_password_reset.yml
  detections/cloud/aws_multiple_users_failing_to_authenticate_from_ip.yml
  detections/cloud/aws_unusual_number_of_failed_authentications_from_ip.yml
  detections/cloud/azure_ad_multi_factor_authentication_disabled.yml
  detections/cloud/azure_ad_multiple_users_failing_to_authenticate_from_ip.yml
  detections/cloud/azure_ad_unusual_number_of_failed_authentications_from_ip.yml
  detections/cloud/detect_aws_console_login_by_new_user.yml
  detections/cloud/detect_aws_console_login_by_user_from_new_city.yml
  detections/cloud/detect_aws_console_login_by_user_from_new_country.yml
  detections/cloud/detect_aws_console_login_by_user_from_new_region.yml
  stories/aws_credential_access.yml
  stories/aws_identity_and_access_management_account_takeover.yml
  tests/cloud/aws_multiple_users_failing_to_authenticate_from_ip.test.yml
  tests/cloud/aws_unusual_number_of_failed_authentications_from_ip.test.yml
Labels: 3.50.0

#2391 Oktahaagapus
  detections/application/okta_risk_threshold_exceeded.yml
  detections/experimental/application/multiple_okta_users_with_invalid_credentials_from_the_same_ip.yml
  detections/experimental/application/okta_account_locked_out.yml
  detections/experimental/application/okta_account_lockout_events.yml
  detections/experimental/application/okta_failed_sso_attempts.yml
  detections/experimental/application/okta_mfa_exhaustion_hunt.yml
  detections/experimental/application/okta_new_api_token_created.yml
  detections/experimental/application/okta_new_device_enrolled_on_account.yml
  detections/experimental/application/okta_suspicious_activity_reported.yml
  detections/experimental/application/okta_threatinsight_threat_detected.yml
  detections/experimental/application/okta_two_or_more_rejected_okta_pushes.yml
  stories/okta_mfa_exhaustion.yml
Labels: 3.50.0, Emerging

#2413 changing the wiki link in the dga detection
  detections/experimental/network/detect_dga_domains_using_pretrained_model_in_dsdl.yml
Labels: 3.51.0

#2409 mshta_reg
  detections/endpoint/windows_mshta_execution_in_registry.yml
  tests/endpoint/windows_mshta_execution_in_registry.test.yml
Labels: 3.51.0

#2394 ProxyNotShell - A Tale of CVE-2022-41040 and CVE-2022-41082
  bin/docker_detection_tester/test_config_github_actions.json
  detections/endpoint/certutil_download_with_urlcache_and_split_arguments.yml
  detections/endpoint/cmd_carry_out_string_command_parameter.yml
  detections/endpoint/cmdline_tool_not_executed_in_cmd_shell.yml
  detections/endpoint/create_or_delete_windows_shares_using_net_exe.yml
  detections/endpoint/detect_exchange_web_shell.yml
  detections/endpoint/detect_renamed_winrar.yml
  detections/endpoint/detect_sharphound_file_modifications.yml
  detections/endpoint/excessive_usage_of_taskkill.yml
  detections/endpoint/exchange_powershell_module_usage.yml
  detections/endpoint/impacket_lateral_movement_commandline_parameters.yml
  detections/endpoint/network_connection_discovery_netstat.yml
  detections/endpoint/network_discovery_using_route_windows_app.yml
  detections/endpoint/unified_messaging_service_spawning_a_process.yml
  detections/endpoint/w3wp_spawning_shell.yml
  detections/endpoint/windows_create_local_account.yml
  detections/experimental/endpoint/exchange_powershell_abuse_via_ssrf.yml
  detections/web/proxyshell_proxynotshell_behavior_detected.yml
  detections/web/windows_exchange_autodiscover_ssrf_abuse.yml
  lookups/attacker_tools.csv
  stories/cisa_aa22_277a.yml
  stories/proxynotshell.yml
  tests/endpoint/exchange_powershell_module_usage.test.yml
  tests/endpoint/windows_create_local_account.test.yml
  tests/web/proxyshell_proxynotshell_behavior_detected.test.yml
  tests/web/windows_exchange_autodiscover_ssrf_abuse.test.yml
Labels: 3.51.0, Emerging

#2404 AWS MFA Fatigue
  detections/cloud/aws_console_login_failed_during_mfa_challenge.yml
  detections/cloud/aws_multi_factor_authentication_disabled.yml
  detections/cloud/aws_multiple_failed_mfa_requests_for_user.yml
  detections/cloud/aws_successful_single_factor_authentication.yml
  tests/cloud/aws_console_login_failed_during_mfa_challenge.test.yml
  tests/cloud/aws_multi_factor_authentication_disabled.test.yml
  tests/cloud/aws_multiple_failed_mfa_requests_for_user.test.yml
  tests/cloud/aws_successful_single_factor_authentication.test.yml
Labels: 3.51.0

#2411 EverHaag Analytic Updates
  detections/endpoint/disabling_firewall_with_netsh.yml
  detections/endpoint/executables_or_script_creation_in_suspicious_path.yml
  detections/endpoint/powershell_using_memory_as_backing_store.yml
  detections/endpoint/processes_launching_netsh.yml
  detections/endpoint/suspicious_reg_exe_process.yml
  detections/endpoint/system_processes_run_from_unexpected_locations.yml
  detections/endpoint/wmi_recon_running_process_or_services.yml
Labels: WIP, 3.52.0

#2417 qakbot_1
  detections/endpoint/cmdline_tool_not_executed_in_cmd_shell.yml
  detections/endpoint/disable_defender_spynet_reporting.yml
  detections/endpoint/malicious_powershell_process___encoded_command.yml
  detections/endpoint/network_connection_discovery_arp.yml
  detections/endpoint/network_connection_discovery_netstat.yml
  detections/endpoint/network_discovery_using_route_windows_app.yml
  detections/endpoint/nltest_domain_trust_discovery.yml
  detections/endpoint/office_document_executing_macro_code.yml
  detections/endpoint/recon_avproduct_through_pwh_or_wmi.yml
  detections/endpoint/recon_using_wmi_class.yml
  detections/endpoint/registry_keys_used_for_persistence.yml
  detections/endpoint/regsvr32_with_known_silent_switch_cmdline.yml
  detections/endpoint/scheduled_task_deleted_or_created_via_cmd.yml
  detections/endpoint/schtasks_run_task_on_demand.yml
  detections/endpoint/windows_defender_exclusion_registry_entry.yml
  detections/endpoint/windows_schtasks_create_run_as_system.yml
  detections/endpoint/windows_wmi_process_call_create.yml
  detections/endpoint/winevent_windows_task_scheduler_event_action_started.yml
  stories/qakbot.yml
Labels: 3.52.0

#2408 GCP Account Takeover
  .gitignore
  bin/docker_detection_tester/modules/validate_args.py
  bin/docker_detection_tester/test_config_github_actions.json
  detections/cloud/aws_multiple_users_failing_to_authenticate_from_ip.yml
  detections/cloud/aws_unusual_number_of_failed_authentications_from_ip.yml
  detections/cloud/azure_ad_multiple_failed_mfa_requests_for_user.yml
  detections/cloud/azure_ad_successful_single_factor_authentication.yml
  detections/cloud/gcp_authentication_failed_during_mfa_challenge.yml
  detections/cloud/gcp_multi_factor_authentication_disabled.yml
  detections/cloud/gcp_multiple_failed_mfa_requests_for_user.yml
  detections/cloud/gcp_multiple_users_failing_to_authenticate_from_ip.yml
  detections/cloud/gcp_successful_single_factor_authentication.yml
  detections/cloud/gcp_unusual_number_of_failed_authentications_from_ip.yml
  macros/gws_login_mfa_methods.yml
  macros/gws_reports_admin.yml
  macros/gws_reports_login.yml
  stories/gcp_account_takeover.yml
  tests/cloud/gcp_authentication_failed_during_mfa_challenge.test.yml
  tests/cloud/gcp_multi_factor_authentication_disabled.test.yml
  tests/cloud/gcp_multiple_failed_mfa_requests_for_user.test.yml
  tests/cloud/gcp_multiple_users_failing_to_authenticate_from_ip.test.yml
  tests/cloud/gcp_successful_single_factor_authentication.test.yml
  tests/cloud/gcp_unusual_number_of_failed_authentications_from_ip.test.yml
Labels: 3.52.0

#2427 Text4Haags - CVE-2022-42889
  detections/web/exploit_public_facing_application_via_apache_commons_text.yml
  stories/text4shell_cve_2022_42889.yml
  tests/web/exploit_public_facing_application_via_apache_commons_text.test.yml
Labels: Emerging, 3.52.0
