Repository splunk/security_content, pull requests merged in 2022-07, with the labels that each got.

#2273 Update security_services.csv
  lookups/security_services.csv
Labels: 3.45.0

#2270 Edit windows_powerview_kerberos_service_ticket_request detection
  detections/endpoint/windows_powerview_kerberos_service_ticket_request.yml
  detections/endpoint/windows_powerview_spn_discovery.yml
  tests/endpoint/windows_powerview_kerberos_service_ticket_request.test.yml
Labels: WIP

#2284 Resolve local gha delta
  bin/docker_detection_tester/authorize.conf.tar
  bin/docker_detection_tester/modules/splunk_sdk.py
  bin/docker_detection_tester/modules/testing_service.py
Labels: bug, 3.45.0

#2275 fix-join-issue2
  detections/endpoint/office_product_writing_cab_or_inf.yml
  detections/endpoint/suspicious_wav_file_in_appdata_folder.yml
Labels: 3.45.0

#2294 fixing issue 2254 removing deprecated datamodel detections
  detections/deprecated/gcp_gcr_container_uploaded.yml
  detections/experimental/cloud/new_container_uploaded_to_aws_ecr.yml
Labels: 3.45.0

#2259 azorult-bomb
  detections/endpoint/windows_modify_registry_disable_toast_notifications.yml
  detections/endpoint/windows_modify_registry_disable_windows_security_center_notif.yml
  detections/endpoint/windows_modify_registry_suppress_win_defender_notif.yml
  detections/endpoint/windows_remote_services_allow_rdp_in_firewall.yml
  detections/endpoint/windows_remote_services_allow_remote_assistance.yml
  detections/endpoint/windows_remote_services_rdp_enable.yml
  detections/endpoint/windows_service_stop_by_deletion.yml
  tests/endpoint/windows_modify_registry_disable_toast_notifications.test.yml
  tests/endpoint/windows_modify_registry_disable_windows_security_center_notif.test.yml
  tests/endpoint/windows_modify_registry_suppress_win_defender_notif.test.yml
  tests/endpoint/windows_remote_services_allow_rdp_in_firewall.test.yml
  tests/endpoint/windows_remote_services_allow_remote_assistance.test.yml
  tests/endpoint/windows_remote_services_rdp_enable.test.yml
  tests/endpoint/windows_service_stop_by_deletion.test.yml
Labels: 3.45.0

#2255 Risky spl detector
  detections/application/detect_risky_spl_using_pretrained_ml_model.yml
  lookups/__mlspl_risky_spl_pre_trained_model.mlmodel
  lookups/__mlspl_risky_spl_pre_trained_model.yml
  tests/application/detect_risky_spl_using_pretrained_ml_model.test.yml
Labels: WIP, 3.45.0

#2268 Enter The Haag 🐉
  detections/endpoint/windows_execute_arbitrary_commands_with_msdt.yml
  detections/endpoint/windows_odbcconf_hunting.yml
  detections/endpoint/windows_odbcconf_load_dll.yml
  detections/endpoint/windows_odbcconf_load_response_file.yml
  tests/endpoint/windows_odbcconf_hunting.test.yml
  tests/endpoint/windows_odbcconf_load_dll.test.yml
  tests/endpoint/windows_odbcconf_load_response_file.test.yml
Labels: 3.45.0

#2286 Check and dedup ids
  bin/contentctl_project/contentctl_core/application/factory/ba_factory.py
  bin/contentctl_project/contentctl_core/application/factory/factory.py
  bin/contentctl_project/contentctl_core/application/factory/utils/utils.py
  detections/web/spring4shell_payload_url_request.yml
Labels: bug, enhancement, 3.45.0

#2269 MMC
  detections/endpoint/mmc_exe_lolbas_execution_process_spawn.yml
  detections/endpoint/possible_lateral_movement_powershell_spawn.yml
  detections/endpoint/uac_bypass_mmc_load_unsigned_dll.yml
Labels: 3.45.0

#2263 azorult-bomb2
  detections/endpoint/allow_inbound_traffic_by_firewall_rule_registry.yml
  detections/endpoint/windows_application_layer_protocol_rms_radmin_tool_namedpipe.yml
  detections/endpoint/windows_gather_victim_network_info_through_ip_check_web_services.yml
  detections/endpoint/windows_impair_defense_add_xml_applocker_rules.yml
  detections/endpoint/windows_impair_defense_deny_security_software_with_applocker.yml
  detections/endpoint/windows_powershell_import_applocker_policy.yml
  detections/endpoint/windows_remote_access_software_rms_registry.yml
  detections/endpoint/windows_valid_account_with_never_expires_password.yml
  detections/endpoint/wmic_noninteractive_app_uninstallation.yml
  tests/endpoint/windows_application_layer_protocol_rms_radmin_tool_namedpipe.test.yml
  tests/endpoint/windows_gather_victim_network_info_through_ip_check_web_services.test.yml
  tests/endpoint/windows_impair_defense_add_xml_applocker_rules.test.yml
  tests/endpoint/windows_impair_defense_deny_security_software_with_applocker.test.yml
  tests/endpoint/windows_powershell_import_applocker_policy.test.yml
  tests/endpoint/windows_remote_access_software_rms_registry.test.yml
  tests/endpoint/windows_valid_account_with_never_expires_password.test.yml
Labels: 3.45.0

#2276 mavinject - T1218.013
  detections/endpoint/windows_binary_proxy_execution_mavinject_dll_injection.yml
  tests/endpoint/windows_binary_proxy_execution_mavinject_dll_injection.test.yml
Labels: 3.45.0

#2292 TR-2235
  detections/endpoint/ssa___windows_defender_tools_in_non_standard_path.yml
  detections/endpoint/ssa___windows_lolbin_binary_in_non_standard_path.yml
  tests/endpoint/ssa___windows_defender_tools_in_non_standard_path.test.yml
Labels: 3.45.0

#2288 Fix contentctl input paths
  .github/workflows/code-testing.yml
  bin/contentctl_project/contentctl_core/application/use_cases/reporting.py
  bin/contentctl_project/contentctl_core/domain/entities/baseline.py
  bin/contentctl_project/contentctl_core/domain/entities/common_validators.py
  bin/contentctl_project/contentctl_core/domain/entities/detection.py
  bin/contentctl_project/contentctl_core/domain/entities/investigation.py
  bin/contentctl_project/contentctl_core/domain/entities/link_validator.py
  bin/contentctl_project/contentctl_core/domain/entities/playbook.py
  bin/contentctl_project/contentctl_core/domain/entities/story.py
  bin/contentctl_project/contentctl_core/tests/application/factory/test_factory.py
  bin/contentctl_project/contentctl_core/tests/application/use_cases/test_content_changer.py
  bin/contentctl_project/contentctl_infrastructure/adapter/obj_to_conf_adapter.py
  bin/contentctl_project/contentctl_infrastructure/adapter/obj_to_yml_adapter.py
  bin/contentctl_project/contentctl_infrastructure/builder/attack_enrichment.py
  bin/contentctl_project/contentctl_infrastructure/builder/security_content_playbook_builder.py
  bin/contentctl_project/contentctl_infrastructure/tests/adapter/data/default/analyticstories.conf
  bin/contentctl_project/contentctl_infrastructure/tests/adapter/data/default_reference/analyticstories.conf
  bin/contentctl_project/contentctl_infrastructure/tests/adapter/obj_to_json_adapter_data/baselines.json
  bin/contentctl_project/contentctl_infrastructure/tests/adapter/obj_to_json_adapter_data/detections.json
  bin/contentctl_project/contentctl_infrastructure/tests/adapter/obj_to_json_adapter_data/response_tasks.json
  bin/contentctl_project/contentctl_infrastructure/tests/adapter/obj_to_json_adapter_data/stories.json
  bin/contentctl_project/contentctl_infrastructure/tests/adapter/obj_to_json_adapter_data/stories_ref.json
  bin/contentctl_project/contentctl_infrastructure/tests/adapter/obj_to_md_data/_stories/darkside_ransomware.md
  bin/contentctl_project/contentctl_infrastructure/tests/adapter/obj_to_md_data_ref/_stories/darkside_ransomware.md
  bin/contentctl_project/contentctl_infrastructure/tests/adapter/test_obj_to_attack_nav_adapter.py
  bin/contentctl_project/contentctl_infrastructure/tests/adapter/test_obj_to_conf_adapter.py
  bin/contentctl_project/contentctl_infrastructure/tests/adapter/test_obj_to_json_adapter.py
  bin/contentctl_project/contentctl_infrastructure/tests/adapter/test_obj_to_md_adapter.py
  bin/contentctl_project/contentctl_infrastructure/tests/adapter/test_obj_to_svg_adapter.py
  bin/contentctl_project/contentctl_infrastructure/tests/adapter/test_obj_to_yml_adapter.py
  bin/contentctl_project/contentctl_infrastructure/tests/builder/test_attack_enrichment.py
  bin/contentctl_project/contentctl_infrastructure/tests/builder/test_security_content_detection_builder.py
  bin/contentctl_project/contentctl_infrastructure/tests/builder/test_security_content_director.py
  bin/contentctl_project/contentctl_infrastructure/tests/builder/test_security_content_playbook_builder.py
  bin/contentctl_project/contentctl_infrastructure/tests/builder/test_security_content_story_builder.py
  bin/contentctl_project/contentctl_infrastructure/tests/test_constants.py
  contentctl.py
  dist/api/detections.json
  dist/api/stories.json
  dist/escu/default/analyticstories.conf
  docs/_posts/2021-02-22-cobalt_strike_named_pipes.md
  docs/_posts/2021-12-03-detect_rclone_command-line_usage.md
  docs/_stories/darkside_ransomware.md
  docs/detections.wiki
  docs/stories.wiki
  stories/disabling_security_tools.yml
  stories/hidden_cobra_malware.yml
  stories/ransomware_darkside.yml
Labels: bug, 3.45.0

#2271 azorult-bomb3
  detections/endpoint/windows_modify_registry_disable_win_defender_raw_write_notif.yml
  detections/endpoint/windows_modify_registry_disabling_wer_settings.yml
  detections/endpoint/windows_modify_registry_disallow_windows_app.yml
  detections/endpoint/windows_modify_registry_regedit_silent_reg_import.yml
  detections/endpoint/windows_remote_service_rdpwinst_tool_execution.yml
  tests/endpoint/windows_modify_registry_disable_win_defender_raw_write_notif.test.yml
  tests/endpoint/windows_modify_registry_disabling_wer_settings.test.yml
  tests/endpoint/windows_modify_registry_disallow_windows_app.test.yml
  tests/endpoint/windows_modify_registry_regedit_silent_reg_import.test.yml
  tests/endpoint/windows_remote_service_rdpwinst_tool_execution.test.yml
Labels: 3.45.0

#2289 20220715 app baseline
  bin/docker_detection_tester/modules/validate_args.py
  bin/docker_detection_tester/test_config_github_actions.json
Labels: 3.45.0

#2290 CosmoHaag
  bin/contentctl_project/contentctl_core/tests/application/use_cases/test_data_output/detections/cobalt_strike_named_pipes.yml
  detections/endpoint/certutil_exe_certificate_extraction.yml
  detections/endpoint/powershell_disable_security_monitoring.yml
  detections/endpoint/windows_mof_event_triggered_execution_via_wmi.yml
  tests/endpoint/windows_mof_event_triggered_execution_via_wmi.test.yml
Labels: 3.45.0

#2300 moving to deprecated
  stories/deprecated/container_implantation_monitoring_and_investigation.yml
Labels: 3.46.0

#2287 AWS Defense Evasion Stop Logging Cloudtrail
  detections/cloud/aws_defense_evasion_delete_cloudtrail.yml
  detections/cloud/aws_defense_evasion_stop_logging_cloudtrail.yml
  tests/cloud/aws_defense_evasion_delete_cloudtrail.test.yml
  tests/cloud/aws_defense_evasion_stop_logging_cloudtrail.test.yml
Labels: WIP, 3.46.0

#2304 dcrat-analytics
  detections/endpoint/any_powershell_downloadfile.yml
  detections/endpoint/executables_or_script_creation_in_suspicious_path.yml
  detections/endpoint/malicious_powershell_process___encoded_command.yml
  detections/endpoint/malicious_powershell_process___execution_policy_bypass.yml
  detections/endpoint/office_document_executing_macro_code.yml
  detections/endpoint/office_product_spawn_cmd_process.yml
  detections/endpoint/suspicious_process_file_path.yml
  detections/endpoint/winword_spawning_cmd.yml
  detections/endpoint/winword_spawning_powershell.yml
  stories/darkcrystal_rat.yml
Labels: 3.46.0

#2298 fix-git-issue-req
  detections/endpoint/registry_keys_used_for_persistence.yml
Labels: bug, 3.46.0

#2293 Tr 2222 aws defense evasion story
  detections/cloud/aws_defense_evasion_delete_cloudtrail.yml
  detections/cloud/aws_defense_evasion_delete_cloudwatch_log_group.yml
  detections/cloud/aws_defense_evasion_impair_security_services.yml
  detections/cloud/aws_defense_evasion_putbucketlifecycle.yml
  detections/cloud/aws_defense_evasion_stop_logging_cloudtrail.yml
  detections/cloud/aws_defense_evasion_update_cloudtrail.yml
  stories/aws_defense_evasion.yml
  tests/cloud/aws_defense_evasion_delete_cloudtrail.test.yml
  tests/cloud/aws_defense_evasion_delete_cloudwatch_log_group.test.yml
  tests/cloud/aws_defense_evasion_impair_security_services.test.yml
  tests/cloud/aws_defense_evasion_putbucketlifecycle.test.yml
  tests/cloud/aws_defense_evasion_stop_logging_cloudtrail.test.yml
  tests/cloud/aws_defense_evasion_update_cloudtrail.test.yml
Labels: 3.46.0

#2301 Haagnux
  detections/endpoint/curl_download_and_bash_execution.yml
  detections/endpoint/linux_add_files_in_known_crontab_directories.yml
  detections/endpoint/linux_adding_crontab_using_list_parameter.yml
  detections/endpoint/linux_at_allow_config_file_creation.yml
  detections/endpoint/linux_at_application_execution.yml
  detections/endpoint/linux_change_file_owner_to_root.yml
  detections/endpoint/linux_clipboard_data_copy.yml
  detections/endpoint/linux_common_process_for_elevation_control.yml
  detections/endpoint/linux_decode_base64_to_shell.yml
  detections/endpoint/linux_edit_cron_table_parameter.yml
  detections/endpoint/linux_file_created_in_kernel_driver_directory.yml
  detections/endpoint/linux_insert_kernel_module_using_insmod_utility.yml
  detections/endpoint/linux_install_kernel_module_using_modprobe_utility.yml
  detections/endpoint/linux_kernel_module_enumeration.yml
  detections/endpoint/linux_obfuscated_files_or_information_base64_decode.yml
  detections/endpoint/linux_persistence_and_privilege_escalation_risk_behavior.yml
  detections/endpoint/linux_pkexec_privilege_escalation.yml
  detections/endpoint/linux_possible_access_or_modification_of_sshd_config_file.yml
  detections/endpoint/linux_possible_append_cronjob_entry_on_existing_cronjob_file.yml
  detections/endpoint/linux_possible_cronjob_modification_with_editor.yml
  detections/endpoint/linux_possible_ssh_key_file_creation.yml
  detections/endpoint/linux_service_file_created_in_systemd_directory.yml
  detections/endpoint/linux_service_restarted.yml
  detections/endpoint/linux_service_started_or_enabled.yml
  detections/endpoint/linux_setuid_using_chmod_utility.yml
  detections/endpoint/linux_ssh_authorized_keys_modification.yml
  detections/endpoint/linux_ssh_remote_services_script_execute.yml
  detections/experimental/endpoint/suspicious_curl_network_connection.yml
  stories/linux_living_off_the_land.yml
  stories/linux_rootkit.yml
  tests/endpoint/linux_clipboard_data_copy.test.yml
  tests/endpoint/linux_decode_base64_to_shell.test.yml
  tests/endpoint/linux_kernel_module_enumeration.test.yml
  tests/endpoint/linux_obfuscated_files_or_information_base64_decode.test.yml
  tests/endpoint/linux_persistence_and_privilege_escalation_risk_behavior.test.yml
  tests/endpoint/linux_ssh_authorized_keys_modification.test.yml
  tests/endpoint/linux_ssh_remote_services_script_execute.test.yml
Labels: 3.46.0

#2305 dcrat-analytics2
  detections/endpoint/cmd_carry_out_string_command_parameter.yml
  detections/endpoint/windows_command_shell_dcrat_forkbomb_payload.yml
  detections/endpoint/windows_gather_victim_network_info_through_ip_check_web_services.yml
  detections/endpoint/windows_high_file_deletion_frequency.yml
  detections/endpoint/windows_system_logoff_commandline.yml
  detections/endpoint/windows_system_reboot_commandline.yml
  detections/endpoint/windows_system_shutdown_commandline.yml
  detections/endpoint/windows_system_time_discovery_w32tm_delay.yml
  tests/endpoint/windows_command_shell_dcrat_forkbomb_payload.test.yml
  tests/endpoint/windows_system_logoff_commandline.test.yml
  tests/endpoint/windows_system_reboot_commandline.test.yml
  tests/endpoint/windows_system_shutdown_commandline.test.yml
  tests/endpoint/windows_system_time_discovery_w32tm_delay.test.yml
Labels: WIP, 3.46.0

#2278 Azure Active Directory Account Takeover Analytic Story
  detections/cloud/azure_active_directory_high_risk_sign_in.yml
  detections/cloud/azure_ad_authentication_failed_during_mfa_challenge.yml
  detections/cloud/azure_ad_multiple_users_failing_to_authenticate_from_ip.yml
  detections/cloud/azure_ad_successful_powershell_authentication.yml
  detections/cloud/azure_ad_successful_single_factor_authentication.yml
  detections/cloud/azure_ad_unusual_number_of_failed_authentications_from_ip.yml
  macros/azuread.yml
  stories/azure_active_directory_account_takeover.yml
  tests/cloud/azure_active_directory_high_risk_sign_in.test.yml
  tests/cloud/azure_ad_authentication_failed_during_mfa_challenge.test.yml
  tests/cloud/azure_ad_multiple_users_failing_to_authenticate_from_ip.test.yml
  tests/cloud/azure_ad_successful_powershell_authentication.test.yml
  tests/cloud/azure_ad_successful_single_factor_authentication.test.yml
  tests/cloud/azure_ad_unusual_number_of_failed_authentications_from_ip.test.yml
Labels: 3.46.0
