Repository splunk/security_content, pull requests merged in 2023-09, with the labels that each got.

#2831 Website improvements
  playbooks/AD_LDAP_Account_Locking.yml
  playbooks/AD_LDAP_Entity_Attribute_Lookup.yml
  playbooks/AWS_IAM_Account_Locking.yml
  playbooks/Active_Directory_Disable_Account_Dispatch.yml
  playbooks/Attribute_Lookup_Dispatch.yml
  playbooks/Azure_AD_Account_Locking.yml
  playbooks/Azure_AD_Graph_User_Attribute_Lookup.yml
  playbooks/Cisco_Umbrella_DNS_Denylisting.yml
  playbooks/CrowdStrike_OAuth_API_Device_Attribute_Lookup.yml
  playbooks/CrowdStrike_OAuth_API_Dynamic_Analysis.yml
  playbooks/CrowdStrike_OAuth_API_Identifier_Activity_Analysis.yml
  playbooks/DNS_Denylisting_Dispatch.yml
  playbooks/Dynamic_Analysis_Dispatch.yml
  playbooks/G_Suite_for_GMail_Message_Identifier_Activity_Analysis.yml
  playbooks/Identifier_Activity_Analysis_Dispatch.yml
  playbooks/Identifier_Reputation_Analysis_Dispatch.yml
  playbooks/Panorama_Outbound_Traffic_Filtering.yml
  playbooks/PhishTank_URL_Reputation_Analysis.yml
  playbooks/Related_Tickets_Search_Dispatch.yml
  playbooks/ServiceNow_Related_Tickets_Search.yml
  playbooks/Splunk_Attack_Analyzer_Dynamic_Analysis.yml
  playbooks/Splunk_Identifier_Activity_Analysis.yml
  playbooks/Splunk_Message_Identifier_Activity_Analysis.yml
  playbooks/Splunk_Notable_Related_Tickets_Search.yml
  playbooks/URL_Outbound_Traffic_Filtering_Dispatch.yml
  playbooks/UrlScan_IO_Dynamic_Analysis.yml
  playbooks/VirusTotal_v3_Dynamic_Analysis.yml
  playbooks/VirusTotal_v3_Identifier_Reputation_Analysis.yml
  playbooks/Windows_Defender_ATP_Identifier_Activity_Analysis.yml
  playbooks/Zscaler_Outbound_Traffic_Filtering.yml
  playbooks/activedirectory_reset_password.yml
  playbooks/aws_disable_user_accounts.yml
  playbooks/aws_find_inactive_users.yml
  playbooks/block_indicators.yml
  playbooks/crowdstrike_malware_triage.yml
  playbooks/email_notification_for_malware.yml
  playbooks/hunting.yml
  playbooks/malware_hunt_and_contain.yml
  playbooks/risk_notable_block_indicators.yml
  playbooks/risk_notable_enrich.yml
  playbooks/risk_notable_import_data.yml
  playbooks/risk_notable_investigate.yml
  playbooks/risk_notable_merge_events.yml
  playbooks/risk_notable_mitigate.yml
  playbooks/risk_notable_preprocess.yml
  playbooks/risk_notable_protect_assets_and_users.yml
  playbooks/risk_notable_review_indicators.yml
  playbooks/risk_notable_verdict.yml
  spec/playbooks.spec.json
Labels: 4.12.0

#2845 update baseline time and text
  baselines/baseline_of_smb_traffic___mltk.yml
  detections/network/smb_traffic_spike___mltk.yml
Labels: 4.12.0

#2803 Add playbook Jira_Related_Tickets_Search
  playbooks/Jira_Related_Tickets_Search.json
  playbooks/Jira_Related_Tickets_Search.png
  playbooks/Jira_Related_Tickets_Search.py
  playbooks/Jira_Related_Tickets_Search.yml
Labels: 4.12.0

#2756 Splunk_Attack_Analyzer_Dynamic_Analysis_Fix_Bug
  playbooks/Splunk_Attack_Analyzer_Dynamic_Analysis.json
  playbooks/Splunk_Attack_Analyzer_Dynamic_Analysis.py
Labels: 4.12.0

#2804 Fix typos in ServiceNow_Related_Tickets_Search.yml
  playbooks/ServiceNow_Related_Tickets_Search.yml
Labels: 4.12.0

#2847 The Haagless Horseman 🐴
  detections/endpoint/certutil_download_with_urlcache_and_split_arguments.yml
  detections/endpoint/certutil_with_decode_argument.yml
  detections/endpoint/chcp_command_execution.yml
  detections/endpoint/headless_browser_mockbin_or_mocky_request.yml
  detections/endpoint/headless_browser_usage.yml
  detections/endpoint/windows_curl_download_to_suspicious_path.yml
  dev/endpoint/certutil_download_with_urlcache_and_split_arguments.yml
  dev/endpoint/certutil_with_decode_argument.yml
  dev/endpoint/windows_curl_download_to_suspicious_path.yml
  dev_ssa/endpoint/ssa___windows_certutil_decode_file.yml
  dev_ssa/endpoint/ssa___windows_certutil_urlcache_download.yml
  stories/forest_blizzard.yml
Labels: 4.12.0

#2810 Ad Enum - Duplicate
  detections/endpoint/windows_ad_abnormal_object_access_activity.yml
  detections/endpoint/windows_ad_privileged_object_access_activity.yml
Labels: 4.12.0

#2836 Add New AD detections
  detections/endpoint/windows_find_domain_organizational_units_with_getdomainou.yml
  detections/endpoint/windows_find_interesting_acl_with_findinterestingdomainacl.yml
  detections/endpoint/windows_forest_discovery_with_getforestdomain.yml
  detections/endpoint/windows_get_local_admin_with_findlocaladminaccess.yml
Labels: 4.12.0

#2854 fix incorrect observable type
  detections/cloud/azure_ad_user_enabled_and_password_reset.yml
  detections/endpoint/detect_certify_with_powershell_script_block_logging.yml
  detections/endpoint/windows_steal_authentication_certificates___esc1_auth.yml
  detections/endpoint/windows_suspect_process_with_authentication_traffic.yml
Labels: needs-more-info, WIP

#2849 njrat
  detections/endpoint/allow_inbound_traffic_by_firewall_rule_registry.yml
  detections/endpoint/allow_network_discovery_in_firewall.yml
  detections/endpoint/cmd_carry_out_string_command_parameter.yml
  detections/endpoint/excessive_usage_of_taskkill.yml
  detections/endpoint/executables_or_script_creation_in_suspicious_path.yml
  detections/endpoint/firewall_allowed_program_enable.yml
  detections/endpoint/non_chrome_process_accessing_chrome_default_dir.yml
  detections/endpoint/non_firefox_process_access_firefox_profile_dir.yml
  detections/endpoint/powershell_fileless_script_contains_base64_encoded_content.yml
  detections/endpoint/registry_keys_used_for_persistence.yml
  detections/endpoint/scheduled_task_deleted_or_created_via_cmd.yml
  detections/endpoint/windows_boot_or_logon_autostart_execution_in_startup_folder.yml
  detections/endpoint/windows_credentials_from_password_stores_chrome_localstate_access.yml
  detections/endpoint/windows_credentials_from_password_stores_chrome_login_data_access.yml
  detections/endpoint/windows_raw_access_to_disk_volume_partition.yml
  detections/endpoint/windows_raw_access_to_master_boot_record_drive.yml
  detections/endpoint/windows_replication_through_removable_media.yml
  detections/endpoint/windows_system_logoff_commandline.yml
  detections/endpoint/windows_system_reboot_commandline.yml
  detections/endpoint/windows_system_shutdown_commandline.yml
  detections/endpoint/windows_unsigned_dll_side_loading.yml
  detections/endpoint/wscript_or_cscript_suspicious_child_process.yml
  stories/njrat.yml
Labels: 4.13.0

#2853 njrat2
  detections/endpoint/disable_registry_tool.yml
  detections/endpoint/disabling_cmd_application.yml
  detections/endpoint/disabling_systemrestore_in_registry.yml
  detections/endpoint/disabling_task_manager.yml
  detections/endpoint/windows_abused_web_services.yml
  detections/endpoint/windows_admin_permission_discovery.yml
  detections/endpoint/windows_delete_or_modify_system_firewall.yml
  detections/endpoint/windows_disable_or_modify_tools_via_taskkill.yml
  detections/endpoint/windows_executable_in_loaded_modules.yml
  detections/endpoint/windows_fileless_storage_via_registry.yml
  detections/endpoint/windows_modify_registry_with_md5_reg_key_name.yml
  detections/endpoint/windows_time_based_evasion.yml
  detections/endpoint/windows_user_execution_malicious_url_shortcut_file.yml
Labels: WIP, 4.13.0

#2858 Observable fixes
  detections/application/okta_risk_threshold_exceeded.yml
  detections/application/splunk_csrf_in_the_ssg_kvstore_client_endpoint.yml
  detections/cloud/aws_excessive_security_scanning.yml
  detections/cloud/aws_network_access_control_list_created_with_all_open_ports.yml
  detections/cloud/aws_setdefaultpolicyversion.yml
  detections/cloud/aws_updateloginprofile.yml
  detections/cloud/cloud_provisioning_activity_from_previously_unseen_city.yml
  detections/cloud/gcp_multiple_users_failing_to_authenticate_from_ip.yml
  detections/cloud/gcp_unusual_number_of_failed_authentications_from_ip.yml
  detections/cloud/o365_add_app_role_assignment_grant_user.yml
  detections/cloud/o365_disable_mfa.yml
  detections/cloud/o365_excessive_sso_logon_errors.yml
  detections/deprecated/detect_mimikatz_using_loaded_images.yml
  detections/endpoint/adsisearcher_account_discovery.yml
  detections/endpoint/cmd_carry_out_string_command_parameter.yml
  detections/endpoint/creation_of_shadow_copy.yml
  detections/endpoint/detect_credential_dumping_through_lsass_access.yml
  detections/endpoint/detect_excessive_user_account_lockouts.yml
  detections/endpoint/detect_html_help_renamed.yml
  detections/endpoint/detect_mshta_renamed.yml
  detections/endpoint/detect_prohibited_applications_spawning_cmd_exe.yml
  detections/endpoint/drop_icedid_license_dat.yml
  detections/endpoint/elevated_group_discovery_with_powerview.yml
  detections/endpoint/get_addefaultdomainpasswordpolicy_with_powershell_script_block.yml
  detections/endpoint/get_aduser_with_powershell_script_block.yml
  detections/endpoint/get_domainuser_with_powershell_script_block.yml
  detections/endpoint/get_wmiobject_group_discovery_with_script_block_logging.yml
  detections/endpoint/getadgroup_with_powershell_script_block.yml
  detections/endpoint/getcurrent_user_with_powershell_script_block.yml
  detections/endpoint/icedid_exfiltrated_archived_file_creation.yml
  detections/endpoint/kerberos_service_ticket_request_using_rc4_encryption.yml
  detections/endpoint/linux_account_manipulation_of_ssh_config_and_keys.yml
  detections/endpoint/linux_deletion_of_cron_jobs.yml
  detections/endpoint/linux_deletion_of_init_daemon_script.yml
  detections/endpoint/linux_deletion_of_services.yml
  detections/endpoint/linux_deletion_of_ssl_certificate.yml
  detections/endpoint/linux_high_frequency_of_file_deletion_in_boot_folder.yml
  detections/endpoint/linux_high_frequency_of_file_deletion_in_etc_folder.yml
Labels: 4.13.0

#2859 Fix issues with observables
  detections/endpoint/net_profiler_uac_bypass.yml
  detections/endpoint/network_share_discovery_via_dir_command.yml
  detections/endpoint/powershell_4104_hunting.yml
  detections/endpoint/powershell_get_localgroup_discovery_with_script_block_logging.yml
  detections/endpoint/process_deleting_its_process_file_path.yml
  detections/endpoint/spoolsv_spawning_rundll32.yml
  detections/endpoint/user_discovery_with_env_vars_powershell_script_block.yml
  detections/endpoint/windows_application_layer_protocol_rms_radmin_tool_namedpipe.yml
  detections/endpoint/windows_command_and_scripting_interpreter_hunting_path_traversal.yml
  detections/endpoint/windows_command_and_scripting_interpreter_path_traversal_exec.yml
  detections/endpoint/windows_identify_protocol_handlers.yml
  detections/endpoint/windows_linked_policies_in_adsi_discovery.yml
  detections/endpoint/windows_nirsoft_utilities.yml
  detections/endpoint/windows_non_system_account_targeting_lsass.yml
  detections/endpoint/windows_raw_access_to_master_boot_record_drive.yml
  detections/endpoint/windows_replication_through_removable_media.yml
  detections/endpoint/windows_root_domain_linked_policies_discovery.yml
  detections/endpoint/windows_security_account_manager_stopped.yml
  detections/endpoint/windows_service_stop_by_deletion.yml
  detections/endpoint/windows_service_stop_win_updates.yml
  detections/endpoint/windows_unusual_count_of_invalid_users_failed_to_auth_using_ntlm.yml
  detections/endpoint/windows_valid_account_with_never_expires_password.yml
  detections/endpoint/windows_wmi_impersonate_token.yml
  detections/network/splunk_identified_ssl_tls_certificates.yml
Labels: 4.13.0
