Repository splunk/security_content, pull requests merged in 2023-07, with the labels that each got.

#2760 security_content_improvement_data_src
  detections/endpoint/detect_new_local_admin_account.yml
  detections/endpoint/download_files_using_telegram.yml
  detections/endpoint/drop_icedid_license_dat.yml
  detections/endpoint/excessive_usage_of_nslookup_app.yml
  detections/endpoint/excessive_usage_of_sc_service_utility.yml
  detections/endpoint/icedid_exfiltrated_archived_file_creation.yml
  detections/endpoint/modification_of_wallpaper.yml
  detections/endpoint/ms_scripting_process_loading_ldap_module.yml
  detections/endpoint/ms_scripting_process_loading_wmi_module.yml
  detections/endpoint/powershell_remote_thread_to_known_windows_process.yml
  detections/endpoint/wermgr_process_connecting_to_ip_check_web_services.yml
  detections/endpoint/windows_administrative_shares_accessed_on_multiple_hosts.yml
  detections/endpoint/windows_default_group_policy_object_modified.yml
  detections/endpoint/windows_group_policy_object_created.yml
  detections/endpoint/windows_special_privileged_logon_on_multiple_hosts.yml
  detections/endpoint/windows_steal_authentication_certificates_certificate_issued.yml
  detections/endpoint/windows_steal_authentication_certificates_certificate_request.yml
  detections/endpoint/windows_steal_authentication_certificates_cs_backup.yml
Labels: 4.7.0

#2759 o365_fix
  detections/cloud/o365_add_app_role_assignment_grant_user.yml
Labels: 4.7.0

#2743 new line check in description
  bin/contentctl_project/contentctl_core/domain/entities/detection.py
Labels: 4.7.0

#2763 blackbyte_campaign
  detections/endpoint/allow_file_and_printing_sharing_in_firewall.yml
  detections/endpoint/allow_network_discovery_in_firewall.yml
  detections/endpoint/anomalous_usage_of_7zip.yml
  detections/endpoint/cmd_echo_pipe___escalation.yml
  detections/endpoint/cobalt_strike_named_pipes.yml
  detections/endpoint/detect_exchange_web_shell.yml
  detections/endpoint/detect_psexec_with_accepteula_flag.yml
  detections/endpoint/detect_regsvr32_application_control_bypass.yml
  detections/endpoint/detect_renamed_psexec.yml
  detections/endpoint/detect_webshell_exploit_behavior.yml
  detections/endpoint/disabling_firewall_with_netsh.yml
  detections/endpoint/dllhost_with_no_command_line_arguments_with_network.yml
  detections/endpoint/excessive_file_deletion_in_windefender_folder.yml
  detections/endpoint/excessive_service_stop_attempt.yml
  detections/endpoint/exchange_powershell_abuse_via_ssrf.yml
  detections/endpoint/exchange_powershell_module_usage.yml
  detections/endpoint/executables_or_script_creation_in_suspicious_path.yml
  detections/endpoint/firewall_allowed_program_enable.yml
  detections/endpoint/gpupdate_with_no_command_line_arguments_with_network.yml
  detections/endpoint/high_process_termination_frequency.yml
  detections/endpoint/ms_exchange_mailbox_replication_service_writing_active_server_pages.yml
  detections/endpoint/ping_sleep_batch_command.yml
  detections/endpoint/registry_keys_used_for_persistence.yml
  detections/endpoint/resize_shadowstorage_volume.yml
  detections/endpoint/rundll32_with_no_command_line_arguments_with_network.yml
  detections/endpoint/searchprotocolhost_with_no_command_line_with_network.yml
  detections/endpoint/services_escalate_exe.yml
  detections/endpoint/suspicious_dllhost_no_command_line_arguments.yml
  detections/endpoint/suspicious_driver_loaded_path.yml
  detections/endpoint/suspicious_gpupdate_no_command_line_arguments.yml
  detections/endpoint/suspicious_microsoft_workflow_compiler_rename.yml
  detections/endpoint/suspicious_msbuild_path.yml
  detections/endpoint/suspicious_msbuild_rename.yml
  detections/endpoint/suspicious_process_file_path.yml
  detections/endpoint/suspicious_rundll32_no_command_line_arguments.yml
  detections/endpoint/suspicious_rundll32_startw.yml
  detections/endpoint/suspicious_searchprotocolhost_no_command_line_arguments.yml
  detections/endpoint/w3wp_spawning_shell.yml
  detections/endpoint/windows_driver_load_non_standard_path.yml
  detections/endpoint/windows_drivers_loaded_by_signature.yml
  detections/endpoint/windows_modify_registry_enablelinkedconnections.yml
  detections/endpoint/windows_modify_registry_longpathsenabled.yml
  detections/endpoint/windows_msexchange_management_mailbox_cmdlet_usage.yml
  detections/endpoint/windows_raw_access_to_disk_volume_partition.yml
  detections/endpoint/windows_raw_access_to_master_boot_record_drive.yml
  detections/endpoint/windows_rdp_connection_successful.yml
  detections/endpoint/windows_vulnerable_driver_loaded.yml
  detections/web/proxyshell_proxynotshell_behavior_detected.yml
  detections/web/windows_exchange_autodiscover_ssrf_abuse.yml
  stories/blackbyte_ransomware.yml
Labels: 4.7.0

#2726 win_modify_reg_correlation
  detections/endpoint/disable_registry_tool.yml
  detections/endpoint/disable_show_hidden_files.yml
  detections/endpoint/disable_windows_app_hotkeys.yml
  detections/endpoint/disabling_cmd_application.yml
  detections/endpoint/disabling_controlpanel.yml
  detections/endpoint/disabling_norun_windows_app.yml
  detections/endpoint/windows_modify_registry_risk_behavior.yml
Labels: 4.7.0

#2721 post_expoitation_correlation
  detections/endpoint/windows_indirect_command_execution_via_forfiles.yml
  detections/endpoint/windows_information_discovery_fsutil.yml
  detections/endpoint/windows_password_managers_discovery.yml
  detections/endpoint/windows_post_exploitation_risk_behavior.yml
Labels: 4.7.0

#2768 20 description and how to implement
  detections/endpoint/allow_file_and_printing_sharing_in_firewall.yml
  detections/endpoint/allow_network_discovery_in_firewall.yml
  detections/endpoint/attacker_tools_on_endpoint.yml
  detections/endpoint/attempt_to_add_certificate_to_untrusted_store.yml
  detections/endpoint/attempt_to_stop_security_service.yml
  detections/endpoint/attempted_credential_dump_from_registry_via_reg_exe.yml
  detections/endpoint/bcdedit_command_back_to_normal_mode_boot.yml
  detections/endpoint/bcdedit_failure_recovery_modification.yml
  detections/endpoint/certutil_exe_certificate_extraction.yml
  detections/endpoint/child_processes_of_spoolsv_exe.yml
  detections/endpoint/common_ransomware_extensions.yml
  detections/endpoint/create_local_admin_accounts_using_net_exe.yml
  detections/endpoint/create_or_delete_windows_shares_using_net_exe.yml
  detections/endpoint/creation_of_shadow_copy_with_wmic_and_powershell.yml
  detections/endpoint/credential_dumping_via_copy_command_from_shadow_copy.yml
  detections/endpoint/credential_dumping_via_symlink_to_shadow_copy.yml
  detections/endpoint/curl_download_and_bash_execution.yml
  detections/endpoint/detect_outlook_exe_writing_a_zip_file.yml
  detections/endpoint/detect_prohibited_applications_spawning_cmd_exe.yml
  detections/endpoint/detect_rare_executables.yml
Labels: 4.7.0

#2774 Risk objects require fields be present
  detections/endpoint/windows_modify_registry_enablelinkedconnections.yml
  detections/endpoint/windows_modify_registry_longpathsenabled.yml
Labels: 4.7.0

#2776 Citrix Netscaler ADC CVE-2023-3519
  detections/web/citrix_adc_exploitation_cve_2023_3519.yml
  stories/citrix_netscaler_adc_cve_2023_3519.yml
Labels: 4.7.0

#2779 Version bump
  detections/cloud/o365_add_app_role_assignment_grant_user.yml
Labels: 4.7.0

#2778 Revert "20 description and how to implement"
  detections/endpoint/allow_file_and_printing_sharing_in_firewall.yml
  detections/endpoint/allow_network_discovery_in_firewall.yml
  detections/endpoint/attacker_tools_on_endpoint.yml
  detections/endpoint/attempt_to_add_certificate_to_untrusted_store.yml
  detections/endpoint/attempt_to_stop_security_service.yml
  detections/endpoint/attempted_credential_dump_from_registry_via_reg_exe.yml
  detections/endpoint/bcdedit_command_back_to_normal_mode_boot.yml
  detections/endpoint/bcdedit_failure_recovery_modification.yml
  detections/endpoint/certutil_exe_certificate_extraction.yml
  detections/endpoint/child_processes_of_spoolsv_exe.yml
  detections/endpoint/common_ransomware_extensions.yml
  detections/endpoint/create_local_admin_accounts_using_net_exe.yml
  detections/endpoint/create_or_delete_windows_shares_using_net_exe.yml
  detections/endpoint/creation_of_shadow_copy_with_wmic_and_powershell.yml
  detections/endpoint/credential_dumping_via_copy_command_from_shadow_copy.yml
  detections/endpoint/credential_dumping_via_symlink_to_shadow_copy.yml
  detections/endpoint/curl_download_and_bash_execution.yml
  detections/endpoint/detect_outlook_exe_writing_a_zip_file.yml
  detections/endpoint/detect_prohibited_applications_spawning_cmd_exe.yml
  detections/endpoint/detect_rare_executables.yml
Labels: 4.7.0

#2788 Rodbh
  detections/application/splunk_unauthenticated_log_injection_web_service_log.yml
Labels: 4.8.0

#2789 Ivanti - CVE-2023-35078
  detections/web/ivanti_epmm_remote_unauthenticated_api_access.yml
  stories/ivanti_epmm_remote_unauthenticated_access.yml
Labels: Emerging, 4.9.0
