Repository splunk/security_content, pull requests merged in 2023-05, with the labels that each got.

#2636 Create active_directory_lateral_movement_identified.yml
  detections/endpoint/active_directory_lateral_movement_identified.yml
Labels: 4.1.0

#2635 fix MLTK scheduling
  baselines/baseline_of_command_line_length___mltk.yml
  baselines/baseline_of_dns_query_length___mltk.yml
  baselines/previously_seen_cloud_compute_creations_by_user___initial.yml
Labels: 4.1.0

#2618 splunk_attack_analyzer_playbook
  playbooks/SAA_Dynamic_Analysis.png
  playbooks/SAA_Dynamic_Analysis.py
  playbooks/Splunk_Attack_Analyzer_Dynamic_Analysis.json
  playbooks/Splunk_Attack_Analyzer_Dynamic_Analysis.png
  playbooks/Splunk_Attack_Analyzer_Dynamic_Analysis.py
  playbooks/Splunk_Attack_Analyzer_Dynamic_Analysis.yml
Labels: 4.1.0

#2615 Rename dynamic to dispatch
  playbooks/Attribute_Lookup_Dispatch.json
  playbooks/Attribute_Lookup_Dispatch.png
  playbooks/Attribute_Lookup_Dispatch.py
  playbooks/Attribute_Lookup_Dispatch.yml
  playbooks/Identifier_Reputation_Analysis_Dispatch.json
  playbooks/Identifier_Reputation_Analysis_Dispatch.png
  playbooks/Identifier_Reputation_Analysis_Dispatch.py
  playbooks/Identifier_Reputation_Analysis_Dispatch.yml
  playbooks/Related_Tickets_Search_Dispatch.json
  playbooks/Related_Tickets_Search_Dispatch.png
  playbooks/Related_Tickets_Search_Dispatch.py
  playbooks/Related_Tickets_Search_Dispatch.yml
Labels: 4.1.0

#2591 dispatch_dynamic_analysis
  playbooks/Dynamic_Analysis_Dispatch.json
  playbooks/Dynamic_Analysis_Dispatch.png
  playbooks/Dynamic_Analysis_Dispatch.py
  playbooks/Dynamic_Analysis_Dispatch.yml
Labels: 4.1.0

#2639 Deprecate : Detect Mimikatz Using Loaded Images
  detections/deprecated/detect_mimikatz_using_loaded_images.yml
Labels: 4.1.0

#2650 awesome community contributions! 🥇
  detections/endpoint/batch_file_write_to_system32.yml
  detections/endpoint/powershell_disable_security_monitoring.yml
  detections/endpoint/powershell_enable_smb1protocol_feature.yml
  detections/endpoint/powershell_execute_com_object.yml
  detections/endpoint/powershell_fileless_process_injection_via_getprocaddress.yml
  detections/endpoint/recursive_delete_of_directory_in_batch_cmd.yml
  detections/endpoint/remote_process_instantiation_via_dcom_and_powershell_script_block.yml
  detections/endpoint/remote_process_instantiation_via_wmi_and_powershell_script_block.yml
  detections/endpoint/rundll32_process_creating_exe_dll_files.yml
  detections/network/remote_desktop_network_bruteforce.yml
Labels: 4.1.0

#2649 Haag to the Future
  detections/endpoint/steal_or_forge_authentication_certificates_behavior_identified.yml
Labels: 4.1.0

#2612 Smoketest all detections
  .github/workflows/detection-smoketesting.yml
  bin/docker_detection_tester/modules/github_service.py
  bin/docker_detection_tester/modules/splunk_container.py
  bin/docker_detection_tester/modules/testing_service.py
  bin/docker_detection_tester/modules/validate_args.py
  bin/docker_detection_tester/summarize_json.py
  detections/deprecated/prohibited_software_on_endpoint.yml
  detections/endpoint/detect_suspicious_processnames_using_pretrained_model_in_dsdl.yml
  detections/endpoint/windows_ad_domain_replication_acl_addition.yml
  lookups/prohibited_softwares.csv
  lookups/prohibited_softwares.yml
Labels: 4.1.0

#2645 do_not_step_on_the_redline2
  detections/endpoint/windows_modify_registry_auto_minor_updates.yml
  detections/endpoint/windows_modify_registry_auto_update_notif.yml
  detections/endpoint/windows_modify_registry_disable_windefender_notifications.yml
  detections/endpoint/windows_modify_registry_do_not_connect_to_win_update.yml
  detections/endpoint/windows_modify_registry_no_auto_reboot_with_logon_user.yml
  detections/endpoint/windows_modify_registry_no_auto_update.yml
  detections/endpoint/windows_modify_registry_tamper_protection.yml
  detections/endpoint/windows_modify_registry_updateserviceurlalternate.yml
  detections/endpoint/windows_modify_registry_usewuserver.yml
  detections/endpoint/windows_modify_registry_wuserver.yml
  detections/endpoint/windows_modify_registry_wustatusserver.yml
Labels: 4.1.0

#2658 do_not_step_on_redline3
  detections/endpoint/disabling_defender_services.yml
  detections/endpoint/windows_credentials_from_password_stores_chrome_extension_access.yml
  detections/endpoint/windows_credentials_from_password_stores_chrome_localstate_access.yml
  detections/endpoint/windows_credentials_from_password_stores_chrome_login_data_access.yml
  detections/endpoint/windows_query_registry_browser_list_application.yml
  detections/endpoint/windows_query_registry_uninstall_program_list.yml
  detections/endpoint/windows_service_stop_win_updates.yml
Labels: 4.1.0

#2661 SmokeTest part 2
  .github/workflows/detection-smoketesting.yml
  bin/docker_detection_tester/modules/github_service.py
  bin/docker_detection_tester/modules/splunk_container.py
  bin/docker_detection_tester/modules/testing_service.py
  bin/docker_detection_tester/modules/validate_args.py
  bin/docker_detection_tester/summarize_json.py
  detections/deprecated/prohibited_software_on_endpoint.yml
  detections/endpoint/detect_suspicious_processnames_using_pretrained_model_in_dsdl.yml
  lookups/prohibited_softwares.csv
  lookups/prohibited_softwares.yml
Labels: 4.1.0

#2587 HaagJoinopolis
  .vscode/security-content.code-snippets
  detections/endpoint/active_setup_registry_autostart.yml
  detections/endpoint/add_defaultuser_and_password_in_registry.yml
  detections/endpoint/allow_inbound_traffic_by_firewall_rule_registry.yml
  detections/endpoint/allow_operation_with_consent_admin.yml
  detections/endpoint/auto_admin_logon_registry_entry.yml
  detections/endpoint/disable_amsi_through_registry.yml
  detections/endpoint/disable_defender_antivirus_registry.yml
  detections/endpoint/disable_defender_blockatfirstseen_feature.yml
  detections/endpoint/disable_defender_mpengine_registry.yml
  detections/endpoint/disable_defender_spynet_reporting.yml
  detections/endpoint/disable_defender_submit_samples_consent_feature.yml
  detections/endpoint/disable_etw_through_registry.yml
  detections/endpoint/disable_registry_tool.yml
  detections/endpoint/disable_security_logs_using_minint_registry.yml
  detections/endpoint/disable_show_hidden_files.yml
  detections/endpoint/disable_uac_remote_restriction.yml
  detections/endpoint/disable_windows_app_hotkeys.yml
  detections/endpoint/disable_windows_behavior_monitoring.yml
  detections/endpoint/disable_windows_smartscreen_protection.yml
  detections/endpoint/disabling_cmd_application.yml
  detections/endpoint/disabling_controlpanel.yml
  detections/endpoint/disabling_defender_services.yml
  detections/endpoint/disabling_folderoptions_windows_feature.yml
  detections/endpoint/disabling_norun_windows_app.yml
  detections/endpoint/disabling_systemrestore_in_registry.yml
  detections/endpoint/disabling_task_manager.yml
  detections/endpoint/enable_rdp_in_other_port_number.yml
  detections/endpoint/enable_wdigest_uselogoncredential_registry.yml
  detections/endpoint/etw_registry_disabled.yml
  detections/endpoint/hide_user_account_from_sign_in_screen.yml
  detections/endpoint/linux_account_manipulation_of_ssh_config_and_keys.yml
  detections/endpoint/linux_deletion_of_cron_jobs.yml
  detections/endpoint/linux_deletion_of_init_daemon_script.yml
  detections/endpoint/linux_deletion_of_services.yml
  detections/endpoint/linux_deletion_of_ssl_certificate.yml
  detections/endpoint/linux_high_frequency_of_file_deletion_in_boot_folder.yml
  detections/endpoint/linux_high_frequency_of_file_deletion_in_etc_folder.yml
  detections/endpoint/monitor_registry_keys_for_print_monitors.yml
  detections/endpoint/registry_keys_for_creating_shim_databases.yml
  detections/endpoint/registry_keys_used_for_privilege_escalation.yml
  detections/endpoint/time_provider_persistence_registry.yml
  detections/endpoint/windows_defender_exclusion_registry_entry.yml
  detections/endpoint/windows_disable_change_password_through_registry.yml
  detections/endpoint/windows_disable_lock_workstation_feature_through_registry.yml
  detections/endpoint/windows_disable_logoff_button_through_registry.yml
  detections/endpoint/windows_disable_memory_crash_dump.yml
  detections/endpoint/windows_disable_notification_center.yml
  detections/endpoint/windows_disable_shutdown_button_through_registry.yml
  detections/endpoint/windows_disable_windows_group_policy_features_through_registry.yml
  detections/endpoint/windows_hide_notification_features_through_registry.yml
  detections/endpoint/windows_modify_show_compress_color_and_info_tip_registry.yml
  detections/endpoint/windows_registry_certificate_added.yml
  detections/endpoint/windows_registry_modification_for_safe_mode_persistence.yml
  detections/endpoint/windows_service_creation_using_registry_entry.yml
Labels: 4.2.0

#2621 Aws Exfil Detections
  detections/cloud/aws_ami_atttribute_modification_for_exfiltration.yml
  detections/cloud/aws_disable_bucket_versioning.yml
  detections/cloud/aws_ec2_snapshot_shared_externally.yml
  detections/cloud/aws_exfiltration_via_anomalous_getobject_api_activity.yml
  detections/cloud/aws_exfiltration_via_batch_service.yml
  detections/cloud/aws_exfiltration_via_bucket_replication.yml
  detections/cloud/aws_exfiltration_via_datasync_task.yml
  detections/cloud/aws_exfiltration_via_ec2_snapshot.yml
  detections/cloud/aws_s3_exfiltration_behavior_identified.yml
  stories/suspicious_aws_s3_activities.yml
Labels: 4.2.0

#2640 Azure Active Directory Privilege Escalation
  detections/cloud/azure_ad_application_administrator_role_assigned.yml
  detections/cloud/azure_ad_global_administrator_role_assigned.yml
  detections/cloud/azure_ad_pim_role_assigned.yml
  detections/cloud/azure_ad_pim_role_assignment_activated.yml
  detections/cloud/azure_ad_privileged_authentication_administrator_role_assigned.yml
  detections/cloud/azure_ad_privileged_role_assigned.yml
  detections/cloud/azure_ad_privileged_role_assigned_to_service_principal.yml
  detections/cloud/azure_ad_service_principal_new_client_credentials.yml
  detections/cloud/azure_ad_service_principal_owner_added.yml
  lookups/privileged_azure_ad_roles.csv
  stories/azure_active_directory_privilege_escalation.yml
Labels: 4.2.0

#2670 Guardians of the Haag: A Cosmic Adventure
  detections/endpoint/windows_bootloader_inventory.yml
  detections/endpoint/windows_registry_bootexecute_modification.yml
  detections/endpoint/windows_service_created_with_suspicious_service_path.yml
  detections/endpoint/windows_service_created_within_public_path.yml
  detections/endpoint/windows_snake_malware_file_modification_crmlog.yml
  detections/endpoint/windows_snake_malware_kernel_driver_comadmin.yml
  detections/endpoint/windows_snake_malware_registry_modification_wav_openwithprogids.yml
  detections/endpoint/windows_snake_malware_service_create.yml
  detections/endpoint/windows_winlogon_with_public_network_connection.yml
  stories/snake_malware.yml
  stories/windows_bootkits.yml
Labels: 4.2.0

#2673 atomic_tag_redline
  detections/endpoint/windows_modify_registry_auto_update_notif.yml
  detections/endpoint/windows_modify_registry_disable_windefender_notifications.yml
  detections/endpoint/windows_modify_registry_do_not_connect_to_win_update.yml
  detections/endpoint/windows_modify_registry_no_auto_reboot_with_logon_user.yml
  detections/endpoint/windows_modify_registry_no_auto_update.yml
  detections/endpoint/windows_modify_registry_tamper_protection.yml
Labels: 4.3.0

#2689 iceid_dfir_coverage
  detections/endpoint/any_powershell_downloadstring.yml
  detections/endpoint/chcp_command_execution.yml
  detections/endpoint/detect_psexec_with_accepteula_flag.yml
  detections/endpoint/executable_file_written_in_administrative_smb_share.yml
  detections/endpoint/net_localgroup_discovery.yml
  detections/endpoint/network_connection_discovery_with_arp.yml
  detections/endpoint/network_share_discovery_via_dir_command.yml
  detections/endpoint/powershell_fileless_script_contains_base64_encoded_content.yml
  detections/endpoint/powershell_processing_stream_of_data.yml
  detections/endpoint/powershell_using_memory_as_backing_store.yml
  detections/endpoint/remote_system_discovery_with_net.yml
  detections/endpoint/remote_wmi_command_attempt.yml
  detections/endpoint/suspicious_rundll32_dllregisterserver.yml
  detections/endpoint/windows_adfind_exe.yml
  detections/endpoint/windows_wmi_process_call_create.yml
Labels: 4.3.0

#2690 Correlation rule for Priv Esc
  detections/endpoint/active_directory_privilege_escalation_identified.yml
Labels: 4.3.0

#2680 Data exfil update
  detections/cloud/aws_disable_bucket_versioning.yml
  detections/cloud/aws_exfiltration_via_batch_service.yml
  detections/cloud/aws_exfiltration_via_datasync_task.yml
  detections/cloud/aws_exfiltration_via_ec2_snapshot.yml
  stories/data_exfiltration.yml
Labels: 4.3.0

#2691 Missing condition in BA detection
  dev_ssa/endpoint/ssa___detect_prohibited_applications_spawning_cmd_exe.yml
  dist/ssa/srs/ssa___detect_prohibited_applications_spawning_cmd_exe.yml
  ssa_detections/endpoint/ssa___detect_prohibited_applications_spawning_cmd_exe.yml
Labels: 4.3.0

#2693 volt_typhoon
  detections/endpoint/cmdline_tool_not_executed_in_cmd_shell.yml
  detections/endpoint/creation_of_shadow_copy.yml
  detections/endpoint/creation_of_shadow_copy_with_wmic_and_powershell.yml
  detections/endpoint/detect_psexec_with_accepteula_flag.yml
  detections/endpoint/dump_lsass_via_comsvcs_dll.yml
  detections/endpoint/elevated_group_discovery_with_net.yml
  detections/endpoint/executables_or_script_creation_in_suspicious_path.yml
  detections/endpoint/extraction_of_registry_hives.yml
  detections/endpoint/impacket_lateral_movement_commandline_parameters.yml
  detections/endpoint/impacket_lateral_movement_smbexec_commandline_parameters.yml
  detections/endpoint/impacket_lateral_movement_wmiexec_commandline_parameters.yml
  detections/endpoint/malicious_powershell_process___encoded_command.yml
  detections/endpoint/malicious_powershell_process___execution_policy_bypass.yml
  detections/endpoint/net_localgroup_discovery.yml
  detections/endpoint/network_connection_discovery_with_arp.yml
  detections/endpoint/network_connection_discovery_with_netstat.yml
  detections/endpoint/ntdsutil_export_ntds.yml
  detections/endpoint/processes_launching_netsh.yml
  detections/endpoint/remote_wmi_command_attempt.yml
  detections/endpoint/suspicious_copy_on_system32.yml
  detections/endpoint/suspicious_process_file_path.yml
  detections/endpoint/windows_dns_gather_network_info.yml
  detections/endpoint/windows_ldifde_directory_object_behavior.yml
  detections/endpoint/windows_mimikatz_binary_execution.yml
  detections/endpoint/windows_multiple_disabled_users_failed_to_authenticate_wth_kerberos.yml
  detections/endpoint/windows_multiple_invalid_users_fail_to_authenticate_using_kerberos.yml
  detections/endpoint/windows_multiple_invalid_users_failed_to_authenticate_using_ntlm.yml
  detections/endpoint/windows_multiple_users_fail_to_authenticate_wth_explicitcredentials.yml
  detections/endpoint/windows_multiple_users_failed_to_authenticate_from_host_using_ntlm.yml
  detections/endpoint/windows_multiple_users_failed_to_authenticate_from_process.yml
  detections/endpoint/windows_multiple_users_failed_to_authenticate_using_kerberos.yml
  detections/endpoint/windows_multiple_users_remotely_failed_to_authenticate_from_host.yml
  detections/endpoint/windows_unusual_count_of_disabled_users_failed_to_auth_using_kerberos.yml
  detections/endpoint/windows_unusual_count_of_invalid_users_fail_to_auth_using_kerberos.yml
  detections/endpoint/windows_unusual_count_of_invalid_users_failed_to_auth_using_ntlm.yml
  detections/endpoint/windows_unusual_count_of_users_fail_to_auth_wth_explicitcredentials.yml
  detections/endpoint/windows_unusual_count_of_users_failed_to_auth_using_kerberos.yml
  detections/endpoint/windows_unusual_count_of_users_failed_to_authenticate_from_process.yml
  detections/endpoint/windows_unusual_count_of_users_failed_to_authenticate_using_ntlm.yml
  detections/endpoint/windows_unusual_count_of_users_remotely_failed_to_auth_from_host.yml
  detections/endpoint/windows_wmi_process_call_create.yml
  dev/endpoint/creation_of_shadow_copy_with_wmic_and_powershell.yml
  dev/endpoint/elevated_group_discovery_with_net.yml
  dev/endpoint/extraction_of_registry_hives.yml
  dev/endpoint/impacket_lateral_movement_commandline_parameters.yml
  dev/endpoint/net_localgroup_discovery.yml
  dev/endpoint/ntdsutil_export_ntds.yml
  dev/endpoint/windows_mimikatz_binary_execution.yml
  dev_ssa/endpoint/ssa___windows_os_credential_dumping_with_ntdsutil_export_ntds.yml
  stories/volt_typhoon.yml
Labels: 4.3.0

#2694 volt_typhoon_2
  detections/endpoint/windows_proxy_via_netsh.yml
  detections/endpoint/windows_proxy_via_registry.yml
Labels: 4.3.0

#2664 Adding AD Privilege Escalation SRS Detections
  dev_ssa/endpoint/ssa___windows_default_group_policy_object_modified_with_gpme.yml
  dev_ssa/endpoint/ssa___windows_file_share_discovery_with_powerview.yml
  dev_ssa/endpoint/ssa___windows_findstr_gpp_discovery.yml
  dev_ssa/endpoint/ssa___windows_powersploit_gpp_discovery.yml
  dev_ssa/endpoint/ssa___windows_powerview_ad_access_control_list_enumeration.yml
  dist/ssa/srs/ssa___windows_default_group_policy_object_modified_with_gpme.yml
  dist/ssa/srs/ssa___windows_file_share_discovery_with_powerview.yml
  dist/ssa/srs/ssa___windows_findstr_gpp_discovery.yml
  dist/ssa/srs/ssa___windows_powersploit_gpp_discovery.yml
  dist/ssa/srs/ssa___windows_powerview_ad_access_control_list_enumeration.yml
  ssa_detections/endpoint/ssa___windows_default_group_policy_object_modified_with_gpme.yml
  ssa_detections/endpoint/ssa___windows_file_share_discovery_with_powerview.yml
  ssa_detections/endpoint/ssa___windows_findstr_gpp_discovery.yml
  ssa_detections/endpoint/ssa___windows_powersploit_gpp_discovery.yml
  ssa_detections/endpoint/ssa___windows_powerview_ad_access_control_list_enumeration.yml
Labels: 4.3.0

#2669 AWS_IAM_Account_Locking_Playbook
  playbooks/AWS_IAM_Account_Locking.json
  playbooks/AWS_IAM_Account_Locking.png
  playbooks/AWS_IAM_Account_Locking.py
  playbooks/AWS_IAM_Account_Locking.yml
Labels: WIP

#2688 Active_Directory_Disable_Account_Dispatch_playbook
  playbooks/Active_Directory_Disable_Account_Dispatch.json
  playbooks/Active_Directory_Disable_Account_Dispatch.png
  playbooks/Active_Directory_Disable_Account_Dispatch.py
  playbooks/Active_Directory_Disable_Account_Dispatch.yml
Labels: WIP
