Repository splunk/security_content, pull requests merged in 2023-10, with the labels that each got.

#2865 JetBrains TeamCity RCE
  detections/web/jetbrains_teamcity_rce_attempt.yml
  stories/jetbrains_teamcity_unauthenticated_rce.yml
Labels: 4.13.0

#2864 WS_FTP
  detections/endpoint/detect_webshell_exploit_behavior.yml
  detections/endpoint/w3wp_spawning_shell.yml
  detections/endpoint/windows_iis_components_get_webglobalmodule_module_query.yml
  detections/web/ws_ftp_remote_code_execution.yml
  stories/ws_ftp_server_critical_vulnerabilities.yml
Labels: 4.13.0

#2870 New BA detection with status : validation
  bin/contentctl_project/contentctl_core/application/factory/ba_factory.py
  bin/contentctl_project/contentctl_core/domain/entities/detection.py
  bin/contentctl_project/contentctl_core/domain/entities/enums/enums.py
  dev_ssa/endpoint/ssa___deleting_shadow_copies.yml
  dev_ssa/endpoint/ssa___services_lolbas_execution_process_spawn.yml
  dist/ssa/srs/ssa___deleting_shadow_copies.yml
  dist/ssa/srs/ssa___services_lolbas_execution_process_spawn.yml
  ssa_detections/endpoint/ssa___deleting_shadow_copies.yml
  ssa_detections/endpoint/ssa___services_lolbas_execution_process_spawn.yml
Labels: 4.13.0

#2876 NjRAT spell error
  stories/njrat.yml
Labels: needs-more-info

#2874 CVE-2023-22515
  detections/web/confluence_data_center_and_server_privilege_escalation.yml
  stories/cve_2023_22515_privilege_escalation_vulnerability_confluence_data_center_and_server.yml
Labels: Emerging

#2881 Fixes for contentctl migration
  playbooks/G_Suite_for_GMail_Message_Identifier_Activity_Analysis.yml
  playbooks/Splunk_Attack_Analyzer_Dynamic_Analysis.yml
  playbooks/log4j_investigate.yml
  playbooks/log4j_respond.yml
  playbooks/risk_notable_block_indicators.yml
  playbooks/risk_notable_enrich.yml
  playbooks/risk_notable_import_data.yml
  playbooks/risk_notable_investigate.yml
  playbooks/risk_notable_merge_events.yml
  playbooks/risk_notable_mitigate.yml
  playbooks/risk_notable_preprocess.yml
  playbooks/risk_notable_protect_assets_and_users.yml
  playbooks/risk_notable_review_indicators.yml
  playbooks/risk_notable_verdict.yml
Labels: 4.14.0

#2878 StevenD PR is certified!
  detections/endpoint/detect_certipy_file_modifications.yml
  detections/endpoint/windows_steal_authentication_certificates___esc1_authentication.yml
  detections/endpoint/windows_steal_authentication_certificates_esc1_abuse.yml
Labels: 4.14.0

#2879 Diamond Ticket
  detections/endpoint/windows_domain_admin_impersonation_indicator.yml
  lookups/domain_admins.csv
  lookups/domain_admins.yml
Labels: 4.14.0

#2884 Update citrix_adc_exploitation_cve_2023_3519.yml
  detections/web/citrix_adc_exploitation_cve_2023_3519.yml
  detections/web/confluence_data_center_and_server_privilege_escalation.yml
Labels: 4.14.0

#2886 Microsoft SharePoint Server Elevation of Privilege
  detections/web/microsoft_sharepoint_server_elevation_of_privilege.yml
  detections/web/ws_ftp_remote_code_execution.yml
  stories/microsoft_sharepoint_server_elevation_of_privilege_cve_2023_29357.yml
Labels: 4.14.0

#2882 SIP Happens: Stirring Up the Crypto with a New Module
  detections/endpoint/windows_registry_sip_provider_modification.yml
  detections/endpoint/windows_sip_provider_inventory.yml
  detections/endpoint/windows_sip_winverifytrust_failed_trust_validation.yml
  macros/subjectinterfacepackage.yml
  stories/subvert_trust_controls_sip_and_trust_provider_hijacking.yml
Labels: 4.14.0

#2885 Create confluence_cve_2023_22515_trigger_vulnerability.yml
  detections/web/confluence_cve_2023_22515_trigger_vulnerability.yml
  requirements.txt
Labels: 4.14.0
