Repository splunk/security_content, pull requests merged in 2023-03, with the labels that each got.

#2551 Update suspicious_process_file_path.yml
  detections/endpoint/suspicious_process_file_path.yml
Labels: 3.61.0

#2553 remove it from 3.61.0
  detections/deprecated/ssa___credential_extraction_fgdump_cachedump_v_option.yml
  detections/deprecated/ssa___potential_pass_the_token_or_hash_observed_at_the_destination_device.yml
  detections/deprecated/ssa___potential_pass_the_token_or_hash_observed_by_an_event_collecting_device.yml
  detections/deprecated/ssa___unusual_lolbas_in_short_period_of_time.yml
  detections/deprecated/ssa___unusually_long_command_line.yml
  detections/experimental/endpoint/ssa___anomalous_usage_of_account_credentials.yml
  detections/experimental/endpoint/ssa___detect_kerberoasting.yml
  detections/experimental/endpoint/ssa___disable_defender_antivirus_registry.yml
  detections/experimental/endpoint/ssa___excessive_number_of_office_files_copied.yml
  detections/experimental/endpoint/ssa___first_time_seen_cmd_line.yml
  detections/experimental/endpoint/ssa___high_file_deletion_frequency.yml
  detections/experimental/endpoint/ssa___rare_parent_process_relationship_lolbas.yml
  detections/experimental/endpoint/ssa___windows_wsreset_uac_bypass.yml
  detections/experimental/network/ssa___tcp_command_and_scripting_interpreter_outbound_ldap_traffic.yml
  detections/experimental/network/ssa___unusual_volume_download_from_internal_server.yml
  detections/experimental/network/ssl_certificates_with_punycode.yml
Labels: 3.61.0

#2365 Migrating Password Spraying to XML
  bin/docker_detection_tester/modules/validate_args.py
  bin/docker_detection_tester/test_config_github_actions.json
  detections/endpoint/windows_multiple_disabled_users_failed_to_authenticate_w_kerberos.yml
  detections/endpoint/windows_multiple_invalid_users_fail_to_authenticate_using_kerberos.yml
  detections/endpoint/windows_multiple_invalid_users_failed_to_authenticate_using_ntlm.yml
  detections/endpoint/windows_multiple_users_fail_to_authenticate_wth_explicitcredentials.yml
  detections/endpoint/windows_multiple_users_failed_to_authenticate_from_host_using_ntlm.yml
  detections/endpoint/windows_multiple_users_failed_to_authenticate_from_process.yml
  detections/endpoint/windows_multiple_users_failed_to_authenticate_using_kerberos.yml
  detections/endpoint/windows_multiple_users_remotely_failed_to_authenticate_from_host.yml
  detections/endpoint/windows_unusual_count_of_disabled_users_failed_to_auth_using_kerberos.yml
  detections/endpoint/windows_unusual_count_of_invalid_users_fail_to_auth_using_kerberos.yml
  detections/endpoint/windows_unusual_count_of_invalid_users_failed_to_auth_using_ntlm.yml
  detections/endpoint/windows_unusual_count_of_users_fail_to_auth_wth_explicitcredentials.yml
  detections/endpoint/windows_unusual_count_of_users_failed_to_auth_using_kerberos.yml
  detections/endpoint/windows_unusual_count_of_users_failed_to_authenticate_from_process.yml
  detections/endpoint/windows_unusual_count_of_users_failed_to_authenticate_using_ntlm.yml
  detections/endpoint/windows_unusual_count_of_users_remotely_failed_to_auth_from_host.yml
  macros/wineventlog_security.yml
  stories/active_directory_password_spraying.yml
  tests/endpoint/multiple_invalid_users_failing_to_authenticate_from_host_using_ntlm.test.yml
  tests/endpoint/multiple_users_failing_to_authenticate_from_host_using_kerberos.test.yml
  tests/endpoint/multiple_users_failing_to_authenticate_from_host_using_ntlm.test.yml
  tests/endpoint/multiple_users_failing_to_authenticate_from_process.test.yml
  tests/endpoint/multiple_users_remotely_failing_to_authenticate_from_host.test.yml
  tests/endpoint/windows_disabled_users_failing_to_authenticate_kerberos.test.yml
  tests/endpoint/windows_invalid_users_failed_authentication_via_kerberos.test.yml
  tests/endpoint/windows_multiple_disabled_users_failed_to_authenticate_w_kerberos.test.yml
  tests/endpoint/windows_multiple_invalid_users_fail_to_authenticate_using_kerberos.test.yml
  tests/endpoint/windows_multiple_invalid_users_failed_to_authenticate_using_ntlm.test.yml
  tests/endpoint/windows_multiple_users_fail_to_authenticate_wth_explicitcredentials.test.yml
  tests/endpoint/windows_multiple_users_failed_to_authenticate_from_host_using_ntlm.test.yml
  tests/endpoint/windows_multiple_users_failed_to_authenticate_from_process.test.yml
  tests/endpoint/windows_multiple_users_failed_to_authenticate_using_kerberos.test.yml
  tests/endpoint/windows_multiple_users_remotely_failed_to_authenticate_from_host.test.yml
  tests/endpoint/windows_unusual_count_of_disabled_users_failed_to_auth_using_kerberos.test.yml
  tests/endpoint/windows_unusual_count_of_invalid_users_fail_to_auth_using_kerberos.test.yml
  tests/endpoint/windows_unusual_count_of_invalid_users_failed_to_auth_using_ntlm.test.yml
  tests/endpoint/windows_unusual_count_of_users_fail_to_auth_wth_explicitcredentials.test.yml
  tests/endpoint/windows_unusual_count_of_users_failed_to_auth_using_kerberos.test.yml
  tests/endpoint/windows_unusual_count_of_users_failed_to_authenticate_from_process.test.yml
  tests/endpoint/windows_unusual_count_of_users_failed_to_authenticate_using_ntlm.test.yml
  tests/endpoint/windows_unusual_count_of_users_remotely_failed_to_auth_from_host.test.yml
  tests/endpoint/windows_users_authenticate_using_explicit_credentials.test.yml
Labels: 3.61.0

#2559 SPL Update
  detections/endpoint/linux_ssh_remote_services_script_execute.yml
Labels: 3.61.0

#2548 The Planet of The Haag
  detections/endpoint/impacket_lateral_movement_commandline_parameters.yml
  detections/endpoint/notepad_with_no_command_line_arguments.yml
  detections/endpoint/suspicious_reg_exe_process.yml
  detections/endpoint/suspicious_regsvr32_register_suspicious_path.yml
  detections/endpoint/suspicious_rundll32_dllregisterserver.yml
  detections/endpoint/windows_driver_load_non_standard_path.yml
  detections/endpoint/windows_mimikatz_crypto_export_file_extensions.yml
  detections/endpoint/windows_process_injection_into_notepad.yml
  detections/endpoint/windows_service_create_sliverc2.yml
  stories/bishopfox_sliver_adversary_emulation_framework.yml
  tests/endpoint/notepad_with_no_command_line_arguments.test.yml
  tests/endpoint/windows_driver_load_non_standard_path.test.yml
  tests/endpoint/windows_process_injection_into_notepad.test.yml
  tests/endpoint/windows_service_create_sliverc2.test.yml
Labels: 3.61.0

#2550 Dynamic Related Tickets and Where To Find Them
  playbooks/Dynamic_Related_Tickets_Search.json
  playbooks/Dynamic_Related_Tickets_Search.png
  playbooks/Dynamic_Related_Tickets_Search.py
  playbooks/Dynamic_Related_Tickets_Search.yml
  playbooks/ServiceNow_Related_Tickets_Search.json
  playbooks/ServiceNow_Related_Tickets_Search.png
  playbooks/ServiceNow_Related_Tickets_Search.py
  playbooks/ServiceNow_Related_Tickets_Search.yml
  playbooks/Splunk_Notable_Related_Tickets_Search.json
  playbooks/Splunk_Notable_Related_Tickets_Search.png
  playbooks/Splunk_Notable_Related_Tickets_Search.py
  playbooks/Splunk_Notable_Related_Tickets_Search.yml
Labels: 3.61.0

#2562 Adding Automated Enrichment playbook
  playbooks/Automated_Enrichment.json
  playbooks/Automated_Enrichment.png
  playbooks/Automated_Enrichment.py
  playbooks/Automated_Enrichment.yml
Labels: 3.61.0

#2561 Dynamic Attribute Lookup
  playbooks/AD_LDAP_Entity_Attribute_Lookup.json
  playbooks/AD_LDAP_Entity_Attribute_Lookup.png
  playbooks/AD_LDAP_Entity_Attribute_Lookup.py
  playbooks/AD_LDAP_Entity_Attribute_Lookup.yml
  playbooks/Azure_AD_Graph_User_Attribute_Lookup.json
  playbooks/Azure_AD_Graph_User_Attribute_Lookup.png
  playbooks/Azure_AD_Graph_User_Attribute_Lookup.py
  playbooks/Azure_AD_Graph_User_Attribute_Lookup.yml
  playbooks/CrowdStrike_OAuth_API_Device_Attribute_Lookup.json
  playbooks/CrowdStrike_OAuth_API_Device_Attribute_Lookup.png
  playbooks/CrowdStrike_OAuth_API_Device_Attribute_Lookup.py
  playbooks/CrowdStrike_OAuth_API_Device_Attribute_Lookup.yml
  playbooks/Dynamic_Attribute_Lookup.json
  playbooks/Dynamic_Attribute_Lookup.png
  playbooks/Dynamic_Attribute_Lookup.py
  playbooks/Dynamic_Attribute_Lookup.yml
Labels: 3.61.0

#2567 Haag is Back :fireworks:
  detections/deprecated/windows_connhost_exe_force_flag.yml
  detections/endpoint/allow_inbound_traffic_by_firewall_rule_registry.yml
  detections/endpoint/modification_of_wallpaper.yml
  detections/endpoint/msmpeng_application_dll_side_loading.yml
  detections/endpoint/office_application_drop_executable.yml
  detections/endpoint/office_product_spawn_cmd_process.yml
  detections/endpoint/possible_lateral_movement_powershell_spawn.yml
  detections/endpoint/process_execution_via_wmi.yml
  detections/endpoint/ssa___prohibited_apps_spawning_cmdprompt.yml
  detections/endpoint/suspicious_dllhost_no_command_line_arguments.yml
  detections/endpoint/suspicious_process_file_path.yml
  detections/endpoint/suspicious_rundll32_with_no_command_line_arguments.yml
  detections/endpoint/svchost_exe_lolbas_execution_process_spawn.yml
  detections/endpoint/unknown_process_using_the_kerberos_protocol.yml
  detections/endpoint/windows_boot_or_logon_autostart_execution_in_startup_folder.yml
  detections/endpoint/windows_dll_side_loading_process_child_of_calc.yml
  detections/endpoint/windows_registry_delete_task_sd.yml
  detections/endpoint/windows_rundll32_webdav_request.yml
  detections/endpoint/winword_spawning_cmd.yml
  detections/endpoint/winword_spawning_powershell.yml
  detections/endpoint/winword_spawning_windows_script_host.yml
  detections/endpoint/wmiprsve_exe_lolbas_execution_process_spawn.yml
  detections/experimental/application/okta_phishing_detection_with_fastpass_origin_check.yml
  detections/experimental/application/okta_threatinsight_login_failure_with_high_unknown_users.yml
  detections/experimental/application/okta_threatinsight_suspected_passwordspray_attack.yml
  detections/experimental/endpoint/windows_java_spawning_shells.yml
  detections/experimental/endpoint/windows_rundll32_webdav_with_network_connection.yml
  stories/cve_2023_21716_word_rtf_heap_corruption.yml
  stories/cve_2023_23397_pidlidreminder_privilege_escalation.yml
  tests/endpoint/windows_rundll32_webdav_request.test.yml
Labels: 3.62.0

#2569 Added medusa ransomware file extension and note file names.
  lookups/ransomware_extensions.csv
  lookups/ransomware_notes.csv
Labels: 3.62.0

#2577 Okta 2023
  detections/experimental/application/okta_mismatch_between_source_and_response_for_verify_push_request.yml
  detections/experimental/application/okta_multiple_failed_requests_to_access_applications.yml
  detections/experimental/application/okta_phishing_detection_with_fastpass_origin_check.yml
  detections/experimental/application/okta_suspicious_use_of_a_session_cookie.yml
  detections/experimental/application/okta_threatinsight_login_failure_with_high_unknown_users.yml
  detections/experimental/application/okta_threatinsight_suspected_passwordspray_attack.yml
Labels: 3.62.0

#2585 crowdstrike_oauth_api_dynamic_analysis_playbooks
  playbooks/CrowdStrike_OAuth_API_Dynamic_Analysis.json
  playbooks/CrowdStrike_OAuth_API_Dynamic_Analysis.png
  playbooks/CrowdStrike_OAuth_API_Dynamic_Analysis.py
  playbooks/CrowdStrike_OAuth_API_Dynamic_Analysis.yml
Labels: 3.63.0

#2593 3CX Supply Chain
  detections/endpoint/hunting_3cxdesktopapp_software.yml
  detections/endpoint/windows_vulnerable_3cx_software.yml
  detections/experimental/network/3cx_supply_chain_attack_network_indicators.yml
  lookups/3cx_ioc_domains.csv
  lookups/3cx_ioc_domains.yml
  stories/3cx_supply_chain_attack.yml
  tests/endpoint/hunting_3cxdesktopapp_software.test.yml
  tests/endpoint/windows_vulnerable_3cx_software.test.yml
  tests/experimental/network/3cx_supply_chain_attack_network_indicators.test.yml
Labels: Emerging
