Repository splunk/security_content, pull requests merged in 2023-04, with the labels that each got.

#2599 3CX - CVE-2023-29059
  detections/endpoint/hunting_3cxdesktopapp_software.yml
  detections/endpoint/windows_vulnerable_3cx_software.yml
  detections/experimental/network/3cx_supply_chain_attack_network_indicators.yml
  stories/3cx_supply_chain_attack.yml
Labels: Emerging

#2598 more_3cx
  detections/endpoint/non_chrome_process_accessing_chrome_default_dir.yml
  detections/endpoint/non_firefox_process_access_firefox_profile_dir.yml
Labels: Emerging

#2576 Every Haag Everywhere All at Once
  .vscode/security-content.code-snippets
  detections/endpoint/powershell_enable_powershell_remoting.yml
  detections/endpoint/powershell_invoke_cimmethod_cimsession.yml
  detections/endpoint/powershell_invoke_wmiexec_usage.yml
  detections/endpoint/powershell_start_or_stop_service.yml
  detections/endpoint/windows_enable_win32_scheduledjob_via_registry.yml
  detections/endpoint/windows_powershell_get_ciminstance_remote_computer.yml
  detections/endpoint/windows_powershell_wmi_win32_scheduledjob.yml
  detections/endpoint/windows_remote_create_service.yml
  detections/endpoint/windows_service_create_with_tscon.yml
  tests/endpoint/powershell_enable_powershell_remoting.test.yml
  tests/endpoint/powershell_invoke_cimmethod_cimsession.test.yml
  tests/endpoint/powershell_invoke_wmiexec_usage.test.yml
  tests/endpoint/powershell_start_or_stop_service.test.yml
  tests/endpoint/windows_enable_win32_scheduledjob_via_registry.test.yml
  tests/endpoint/windows_powershell_get_ciminstance_remote_computer.test.yml
  tests/endpoint/windows_powershell_wmi_win32_scheduledjob.test.yml
  tests/endpoint/windows_remote_create_service.test.yml
  tests/endpoint/windows_service_create_with_tscon.test.yml
Labels: 3.64.0

#2574 Update permissions when committing
  .github/workflows/build-and-validate.yml
Labels: 3.64.0

#2604 Adding one spot where perms were missed
  .github/workflows/build-and-validate.yml
Labels: 3.64.0

#2616 Fixing some syntactic errors with a number of detections.
  detections/application/okta_multiple_failed_requests_to_access_applications.yml
  detections/application/okta_risk_threshold_exceeded.yml
  detections/endpoint/3cx_supply_chain_attack_network_indicators.yml
  detections/endpoint/windows_ad_domain_replication_acl_addition.yml
  detections/endpoint/windows_ad_privileged_account_sid_history_addition.yml
  detections/endpoint/windows_vulnerable_driver_loaded.yml
  detections/network/windows_ad_replication_service_traffic.yml
  detections/network/windows_ad_rogue_domain_controller_network_activity.yml
Labels: 4.0.0

#2606 winter_vivern_analytics
  detections/endpoint/any_powershell_downloadstring.yml
  detections/endpoint/cmd_carry_out_string_command_parameter.yml
  detections/endpoint/getwmiobject_user_account_with_powershell.yml
  detections/endpoint/getwmiobject_user_account_with_powershell_script_block.yml
  detections/endpoint/powershell_fileless_script_contains_base64_encoded_content.yml
  detections/endpoint/powershell_loading_dotnet_into_memory_via_reflection.yml
  detections/endpoint/schedule_task_with_http_command_arguments.yml
  detections/endpoint/scheduled_task_deleted_or_created_via_cmd.yml
  detections/endpoint/system_user_discovery_with_whoami.yml
  detections/endpoint/windows_exfiltration_over_c2_via_invoke_restmethod.yml
  detections/endpoint/windows_exfiltration_over_c2_via_powershell_uploadstring.yml
  detections/endpoint/windows_scheduled_task_created_via_xml.yml
  detections/endpoint/windows_screen_capture_via_powershell.yml
  detections/endpoint/winevent_scheduled_task_created_to_spawn_shell.yml
  detections/endpoint/winevent_scheduled_task_created_within_public_path.yml
  detections/endpoint/winevent_windows_task_scheduler_event_action_started.yml
  stories/winter_vivern.yml
Labels: 4.0.0

#2625 Macro name change in one detection
  detections/endpoint/detect_suspicious_processnames_using_pretrained_model_in_dsdl.yml
Labels: 4.0.0

#2584 virustotal_v3_dynamic_analysis_playbooks
  playbooks/VirusTotal_v3_Dynamic_Analysis.json
  playbooks/VirusTotal_v3_Dynamic_Analysis.png
  playbooks/VirusTotal_v3_Dynamic_Analysis.py
  playbooks/VirusTotal_v3_Dynamic_Analysis.yml
Labels: 4.0.0

#2613 sandworm_data_destruction
  detections/endpoint/detect_mimikatz_using_loaded_images.yml
  detections/endpoint/detect_mimikatz_with_powershell_script_block_logging.yml
  detections/endpoint/detect_psexec_with_accepteula_flag.yml
  detections/endpoint/detect_renamed_psexec.yml
  detections/endpoint/icacls_deny_command.yml
  detections/endpoint/linux_iptables_firewall_modification.yml
  detections/endpoint/linux_kworker_process_in_writable_process_path.yml
  detections/endpoint/local_account_discovery_with_net.yml
  detections/endpoint/malicious_powershell_process___encoded_command.yml
  detections/endpoint/mimikatz_passtheticket_commandline_parameters.yml
  detections/endpoint/permission_modification_using_takeown_app.yml
  detections/endpoint/scheduled_task_deleted_or_created_via_cmd.yml
  detections/endpoint/suspicious_copy_on_system32.yml
  detections/endpoint/windows_dns_gather_network_info.yml
  detections/endpoint/windows_mimikatz_binary_execution.yml
  detections/endpoint/windows_mimikatz_crypto_export_file_extensions.yml
  detections/endpoint/winevent_windows_task_scheduler_event_action_started.yml
  stories/sandworm_tools.yml
Labels: 4.0.0

#2632 adding risk=other to all configs
  bin/contentctl_project/contentctl_infrastructure/builder/security_content_detection_builder.py
  detections/application/okta_threatinsight_login_failure_with_high_unknown_users.yml
  detections/application/okta_threatinsight_suspected_passwordspray_attack.yml
  detections/cloud/aws_cross_account_activity_from_previously_unseen_account.yml
  detections/network/dns_query_length_with_high_standard_deviation.yml
  detections/network/multiple_archive_files_http_post_traffic.yml
  detections/network/plain_http_post_exfiltrated_data.yml
Labels: 4.0.0

#2620 BlackLotus Campaign
  detections/endpoint/windows_bootloader_inventory.yml
  detections/endpoint/windows_impair_defenses_disable_hvci.yml
  detections/endpoint/windows_rdp_connection_successful.yml
  macros/bootloader_inventory.yml
  macros/remoteconnectionmanager.yml
  stories/blacklotus_campaign.yml
Labels: 4.0.0

#2638 [TR-3094] Removed sfc.exe, which has frequent collisions with AMP for Endpoints
  ssa_detections/endpoint/ssa___system_process_running_from_unexpected_location.yml
Labels: 4.0.1

#2641 do_not_step_on_the_redline
  detections/endpoint/disable_windows_behavior_monitoring.yml
  detections/endpoint/executables_or_script_creation_in_suspicious_path.yml
  detections/endpoint/non_chrome_process_accessing_chrome_default_dir.yml
  detections/endpoint/non_firefox_process_access_firefox_profile_dir.yml
  detections/endpoint/suspicious_process_file_path.yml
  detections/endpoint/windows_disableantispyware_registry.yml
  detections/endpoint/windows_event_for_service_disabled.yml
  stories/redline.yml
Labels: 4.1.0

#2646 removed sfc to normalize with 4.0.1
  dev_ssa/endpoint/ssa___system_process_running_from_unexpected_location.yml
Labels: 4.1.0

#2643 adding required fields
  bin/contentctl_project/contentctl_core/application/factory/new_content_factory.py
Labels: needs-more-info
