Repository splunk/security_content, pull requests merged in 2023-06, with the labels that each got.

#2696 Add support for apple silicon
  bin/docker_detection_tester/modules/container_manager.py
  bin/docker_detection_tester/modules/splunk_container.py
Labels: 4.5.0

#2712 improve specificity of detection
  detections/application/splunk_http_response_splitting_via_rest_spl_command.yml
Labels: 4.5.0

#2684 ASL detections
  detections/cloud/asl_aws_concurrent_sessions_from_different_ips.yml
  detections/cloud/asl_aws_createaccesskey.yml
  detections/cloud/asl_aws_defense_evasion_delete_cloudtrail.yml
  detections/cloud/asl_aws_defense_evasion_delete_cloudwatch_log_group.yml
  detections/cloud/asl_aws_defense_evasion_impair_security_services.yml
  detections/cloud/asl_aws_excessive_security_scanning.yml
  detections/cloud/asl_aws_iam_delete_policy.yml
  detections/cloud/asl_aws_multi_factor_authentication_disabled.yml
  detections/cloud/asl_aws_new_mfa_method_registered_for_user.yml
  detections/cloud/asl_aws_password_policy_changes.yml
  macros/amazon_security_lake.yml
Labels: 4.5.0

#2695 The Order of The Haag
  detections/endpoint/papercut_ng_suspicious_behavior_debug_log.yml
  detections/endpoint/windows_remote_create_service.yml
  dev_ssa/endpoint/ssa___windows_lateral_tool_transfer_remcom.yml
  dev_ssa/endpoint/ssa___windows_powershell_export_certificate.yml
  dev_ssa/endpoint/ssa___windows_powershell_export_pfxcertificate.yml
  dev_ssa/endpoint/ssa___windows_remote_create_service.yml
  dev_ssa/endpoint/ssa___windows_service_create_with_tscon.yml
  ssa_detections/endpoint/ssa___windows_lateral_tool_transfer_remcom.yml
  ssa_detections/endpoint/ssa___windows_powershell_export_certificate.yml
  ssa_detections/endpoint/ssa___windows_powershell_export_pfxcertificate.yml
  ssa_detections/endpoint/ssa___windows_remote_create_service.yml
  ssa_detections/endpoint/ssa___windows_service_create_with_tscon.yml
Labels: 4.5.0

#2686 KVstore update
  baselines/deprecated/previously_seen_aws_provisioning_activity_sources.yml
  baselines/deprecated/previously_seen_ec2_amis.yml
  baselines/deprecated/previously_seen_ec2_instance_types.yml
  baselines/deprecated/previously_seen_ec2_launches_by_user.yml
  baselines/previously_seen_aws_cross_account_activity___update.yml
  baselines/previously_seen_aws_regions.yml
  bin/contentctl_project/contentctl_core/application/factory/factory.py
  bin/contentctl_project/contentctl_core/application/factory/utils/utils.py
  bin/contentctl_project/contentctl_core/domain/entities/lookup.py
  bin/contentctl_project/contentctl_infrastructure/adapter/obj_to_conf_adapter.py
  bin/contentctl_project/contentctl_infrastructure/adapter/templates/collections.j2
  detections/cloud/detect_s3_access_from_a_new_ip.yml
  dist/escu/lookups/baseline_blocked_outbound_connections.csv
  dist/escu/lookups/escu_search_id.csv
  dist/escu/lookups/network_acl_activity_baseline.csv
  dist/escu/lookups/previously_seen_S3_access_from_remote_ip.csv
  dist/escu/lookups/previously_seen_api_calls_from_user_roles.csv
  dist/escu/lookups/previously_seen_aws_cross_account_activity.csv
  dist/escu/lookups/previously_seen_aws_regions.csv
  dist/escu/lookups/previously_seen_cmd_line_arguments.csv
  dist/escu/lookups/previously_seen_ec2_modifications_by_user.csv
  dist/escu/lookups/previously_seen_gcp_storage_access_from_remote_ip.csv
  dist/escu/lookups/s3_deletion_baseline.csv
  dist/escu/lookups/security_group_activity_baseline.csv
  lookups/csc_lookup.csv
  lookups/csc_lookup.yml
  lookups/escu_search_id.csv
  lookups/escu_search_id_lookup.yml
  lookups/previously_seen_S3_access_from_remote_ip.csv
  lookups/previously_seen_S3_access_from_remote_ip.yml
  lookups/previously_seen_api_calls_from_user_roles.csv
  lookups/previously_seen_api_calls_from_user_roles.yml
  lookups/previously_seen_aws_cross_account_activity.csv
  lookups/previously_seen_aws_cross_account_activity.yml
  lookups/previously_seen_aws_regions.csv
  lookups/previously_seen_aws_regions.yml
  lookups/previously_seen_gcp_storage_access_from_remote_ip.csv
  lookups/previously_seen_gcp_storage_access_from_remote_ip.yml
  lookups/s3_deletion_baseline.csv
  lookups/s3_deletion_baseline.yml
  lookups/security_group_activity_baseline.csv
  lookups/security_group_activity_baseline.yml
  lookups/uncommon_processes_default.csv
  lookups/uncommon_processes_local.csv
Labels: 4.5.0

#2672 Azure_AD_Locking_Playbook
  playbooks/Azure_AD_Account_Locking.json
  playbooks/Azure_AD_Account_Locking.png
  playbooks/Azure_AD_Account_Locking.py
  playbooks/Azure_AD_Account_Locking.yml
Labels: 4.5.0

#2678 ad_ldap_account_locking_playbook
  playbooks/AD_LDAP_Account_Locking.json
  playbooks/AD_LDAP_Account_Locking.png
  playbooks/AD_LDAP_Account_Locking.py
  playbooks/AD_LDAP_Account_Locking.yml
Labels: 4.5.0

#2671 [TR-2965] G Suite for GMail Message Identifier Activity Analysis
  playbooks/G_Suite_for_GMail_Message_Identifier_Activity_Analysis.json
  playbooks/G_Suite_for_GMail_Message_Identifier_Activity_Analysis.png
  playbooks/G_Suite_for_GMail_Message_Identifier_Activity_Analysis.py
  playbooks/G_Suite_for_GMail_Message_Identifier_Activity_Analysis.yml
Labels: 4.6.0

#2681 Palo Alto Firewall Outbound Traffic Filtering
  playbooks/Panorama_Outbound_Traffic_Filtering.json
  playbooks/Panorama_Outbound_Traffic_Filtering.png
  playbooks/Panorama_Outbound_Traffic_Filtering.py
  playbooks/Panorama_Outbound_Traffic_Filtering.yml
Labels: 4.6.0

#2683 URL Outbound Traffic Filtering Dispatch Playbook
  playbooks/URL_Outbound_Traffic_Filtering_Dispatch.json
  playbooks/URL_Outbound_Traffic_Filtering_Dispatch.png
  playbooks/URL_Outbound_Traffic_Filtering_Dispatch.py
  playbooks/URL_Outbound_Traffic_Filtering_Dispatch.yml
Labels: 4.6.0

#2704 Fixed inconsistent playbook categories
  playbooks/Related_Tickets_Search_Dispatch.json
  playbooks/ServiceNow_Related_Tickets_Search.json
  playbooks/Splunk_Notable_Related_Tickets_Search.json
Labels: 4.6.0

#2708 VirusTotal Scoring Algo Fixes
  playbooks/VirusTotal_v3_Dynamic_Analysis.json
  playbooks/VirusTotal_v3_Dynamic_Analysis.py
  playbooks/VirusTotal_v3_Identifier_Reputation_Analysis.json
  playbooks/VirusTotal_v3_Identifier_Reputation_Analysis.py
Labels: 4.6.0

#2733 VMware - CVE-2023-20887
  detections/web/vmware_aria_operations_exploit_attempt.yml
  stories/vmware_aria_operations_vrealize_cve_2023_20887.yml
Labels: Emerging, 4.6.0

#2730 Add Default Reviewer
  .github/CODEOWNERS
Labels: 4.6.0

#2722 Update powershell_4104_hunting.yml
  detections/endpoint/powershell_4104_hunting.yml
Labels: 4.6.0

#2732 Delete deprecated detection
  detections/deprecated/kubernetes_aws_detect_rbac_authorization_by_account.yml
Labels: 4.6.0

#2736 Improve description AWS CreateAccessKey
  detections/cloud/asl_aws_createaccesskey.yml
  detections/cloud/aws_createaccesskey.yml
Labels: 4.6.0

#2723 Adding Filter macros for SSE
  bin/contentctl_project/contentctl_infrastructure/adapter/obj_to_json_adapter.py
Labels: 4.6.0

#2705 Tags, Descriptions and Haags - Oh my 🙀
  detections/cloud/azure_ad_privileged_role_assigned_to_service_principal.yml
  detections/endpoint/access_lsass_memory_for_dump_creation.yml
  detections/endpoint/attacker_tools_on_endpoint.yml
  detections/endpoint/attempt_to_add_certificate_to_untrusted_store.yml
  detections/endpoint/create_remote_thread_into_lsass.yml
  detections/endpoint/detect_exchange_web_shell.yml
  detections/endpoint/dump_lsass_via_comsvcs_dll.yml
  detections/endpoint/exchange_powershell_abuse_via_ssrf.yml
  detections/endpoint/java_writing_jsp_file.yml
  detections/endpoint/linux_java_spawning_shell.yml
  detections/endpoint/living_off_the_land.yml
  detections/endpoint/log4shell_cve_2021_44228_exploitation.yml
  detections/endpoint/ms_exchange_mailbox_replication_service_writing_active_server_pages.yml
  detections/endpoint/outbound_network_connection_from_java_using_default_ports.yml
  detections/endpoint/papercut_ng_suspicious_behavior_debug_log.yml
  detections/endpoint/script_execution_via_wmi.yml
  detections/endpoint/windows_java_spawning_shells.yml
  detections/endpoint/windows_papercut_ng_spawn_shell.yml
  detections/endpoint/wmi_permanent_event_subscription.yml
  detections/network/detect_windows_dns_sigred_via_splunk_stream.yml
  detections/network/f5_big_ip_icontrol_rest_vulnerability_cve_2022_1388.yml
  detections/web/confluence_unauthenticated_remote_code_execution_cve_2022_26134.yml
  detections/web/detect_attackers_scanning_for_vulnerable_jboss_servers.yml
  detections/web/exploit_public_facing_application_via_apache_commons_text.yml
  detections/web/exploit_public_facing_fortinet_fortinac_cve_2022_39952.yml
  detections/web/fortinet_appliance_auth_bypass.yml
  detections/web/hunting_for_log4shell.yml
  detections/web/log4shell_jndi_payload_injection_attempt.yml
  detections/web/log4shell_jndi_payload_injection_with_outbound_connection.yml
  detections/web/papercut_ng_remote_web_access_attempt.yml
  detections/web/proxyshell_proxynotshell_behavior_detected.yml
  detections/web/spring4shell_payload_url_request.yml
  detections/web/supernova_webshell.yml
  detections/web/vmware_server_side_template_injection_hunt.yml
  detections/web/vmware_workspace_one_freemarker_server_side_template_injection.yml
  detections/web/web_jsp_request_via_url.yml
  detections/web/web_spring4shell_http_request_class_module.yml
  detections/web/web_spring_cloud_function_functionrouter.yml
  detections/web/windows_exchange_autodiscover_ssrf_abuse.yml
  dev/endpoint/java_writing_jsp_file.yml
  dev/endpoint/linux_java_spawning_shell.yml
  dev/endpoint/outbound_network_connection_from_java_using_default_ports.yml
  dev/endpoint/windows_java_spawning_shells.yml
Labels: 4.6.0

#2713 Haags are Forever
  detections/endpoint/linux_add_files_in_known_crontab_directories.yml
  detections/endpoint/linux_adding_crontab_using_list_parameter.yml
  detections/endpoint/linux_at_allow_config_file_creation.yml
  detections/endpoint/linux_at_application_execution.yml
  detections/endpoint/linux_edit_cron_table_parameter.yml
  detections/endpoint/linux_possible_append_command_to_at_allow_config_file.yml
  detections/endpoint/linux_possible_append_cronjob_entry_on_existing_cronjob_file.yml
  detections/endpoint/linux_possible_cronjob_modification_with_editor.yml
  detections/endpoint/linux_service_file_created_in_systemd_directory.yml
  detections/endpoint/linux_service_restarted.yml
  detections/endpoint/linux_service_started_or_enabled.yml
  detections/endpoint/possible_lateral_movement_powershell_spawn.yml
  detections/endpoint/randomly_generated_scheduled_task_name.yml
  detections/endpoint/schedule_task_with_http_command_arguments.yml
  detections/endpoint/schedule_task_with_rundll32_command_trigger.yml
  detections/endpoint/scheduled_task_creation_on_remote_endpoint_using_at.yml
  detections/endpoint/scheduled_task_deleted_or_created_via_cmd.yml
  detections/endpoint/scheduled_task_initiation_on_remote_endpoint.yml
  detections/endpoint/schtasks_run_task_on_demand.yml
  detections/endpoint/schtasks_scheduling_job_on_remote_system.yml
  detections/endpoint/schtasks_used_for_forcing_a_reboot.yml
  detections/endpoint/short_lived_scheduled_task.yml
  detections/endpoint/suspicious_scheduled_task_from_public_directory.yml
  detections/endpoint/svchost_lolbas_execution_process_spawn.yml
  detections/endpoint/windows_enable_win32_scheduledjob_via_registry.yml
  detections/endpoint/windows_hidden_schedule_task_settings.yml
  detections/endpoint/windows_powershell_scheduletask.yml
  detections/endpoint/windows_registry_delete_task_sd.yml
  detections/endpoint/windows_scheduled_task_created_via_xml.yml
  detections/endpoint/windows_scheduled_task_with_highest_privileges.yml
  detections/endpoint/windows_schtasks_create_run_as_system.yml
  detections/endpoint/winevent_scheduled_task_created_to_spawn_shell.yml
  detections/endpoint/winevent_scheduled_task_created_within_public_path.yml
  detections/endpoint/winevent_windows_task_scheduler_event_action_started.yml
  dev/endpoint/linux_possible_append_command_to_at_allow_config_file.yml
  stories/scheduled_tasks.yml
Labels: 4.6.0

#2725 tag_analytics_for_sandoworm_tool
  detections/endpoint/windows_high_file_deletion_frequency.yml
  detections/endpoint/windows_system_shutdown_commandline.yml
Labels: 4.6.0

#2717 graceful_wipe_out
  detections/endpoint/anomalous_usage_of_7zip.yml
  detections/endpoint/attempt_to_stop_security_service.yml
  detections/endpoint/cmd_echo_pipe___escalation.yml
  detections/endpoint/cobalt_strike_named_pipes.yml
  detections/endpoint/deleting_of_net_users.yml
  detections/endpoint/detect_regsvr32_application_control_bypass.yml
  detections/endpoint/dllhost_with_no_command_line_arguments_with_network.yml
  detections/endpoint/domain_account_discovery_with_net_app.yml
  detections/endpoint/domain_group_discovery_with_net.yml
  detections/endpoint/excessive_usage_of_net_app.yml
  detections/endpoint/executable_file_written_in_administrative_smb_share.yml
  detections/endpoint/executables_or_script_creation_in_suspicious_path.yml
  detections/endpoint/gpupdate_with_no_command_line_arguments_with_network.yml
  detections/endpoint/impacket_lateral_movement_commandline_parameters.yml
  detections/endpoint/impacket_lateral_movement_smbexec_commandline_parameters.yml
  detections/endpoint/impacket_lateral_movement_wmiexec_commandline_parameters.yml
  detections/endpoint/net_localgroup_discovery.yml
  detections/endpoint/remote_wmi_command_attempt.yml
  detections/endpoint/rundll32_with_no_command_line_arguments_with_network.yml
  detections/endpoint/sam_database_file_access_attempt.yml
  detections/endpoint/searchprotocolhost_with_no_command_line_with_network.yml
  detections/endpoint/secretdumps_offline_ntds_dumping_tool.yml
  detections/endpoint/services_escalate_exe.yml
  detections/endpoint/suspicious_dllhost_no_command_line_arguments.yml
  detections/endpoint/suspicious_gpupdate_no_command_line_arguments.yml
  detections/endpoint/suspicious_microsoft_workflow_compiler_rename.yml
  detections/endpoint/suspicious_msbuild_path.yml
  detections/endpoint/suspicious_msbuild_rename.yml
  detections/endpoint/suspicious_process_file_path.yml
  detections/endpoint/suspicious_rundll32_no_command_line_arguments.yml
  detections/endpoint/suspicious_rundll32_startw.yml
  detections/endpoint/suspicious_searchprotocolhost_no_command_line_arguments.yml
  detections/endpoint/windows_adfind_exe.yml
  detections/endpoint/windows_process_injection_remote_thread.yml
  detections/endpoint/windows_raw_access_to_disk_volume_partition.yml
  detections/endpoint/windows_raw_access_to_master_boot_record_drive.yml
  detections/endpoint/windows_service_stop_by_deletion.yml
  detections/endpoint/windows_service_stop_via_net__and_sc_application.yml
  stories/graceful_wipe_out_attack.yml
Labels: 4.6.0

#2715 Amadey
  detections/endpoint/executables_or_script_creation_in_suspicious_path.yml
  detections/endpoint/icacls_deny_command.yml
  detections/endpoint/icacls_grant_command.yml
  detections/endpoint/registry_keys_used_for_persistence.yml
  detections/endpoint/scheduled_task_deleted_or_created_via_cmd.yml
  detections/endpoint/suspicious_process_file_path.yml
  detections/endpoint/windows_credentials_from_password_stores_chrome_extension_access.yml
  detections/endpoint/windows_credentials_from_password_stores_chrome_localstate_access.yml
  detections/endpoint/windows_credentials_from_password_stores_chrome_login_data_access.yml
  detections/endpoint/windows_files_and_dirs_access_rights_modification_via_icacls.yml
  detections/endpoint/winevent_windows_task_scheduler_event_action_started.yml
  stories/amadey.yml
Labels: 4.6.0

#2731 Add content changer
  README.md
  bin/contentctl_project/contentctl_core/application/use_cases/content_changer.py
  contentctl.py
Labels: 4.6.0

#2745 Update risk message
  detections/endpoint/windows_powershell_scheduletask.yml
Labels: 4.6.0
