Repository splunk/security_content, pull requests merged in 2023-08, with the labels that each got.

#2770 Playbook Cisco Umbrella DNS Denylisting
  playbooks/Cisco_Umbrella_DNS_Denylisting.json
  playbooks/Cisco_Umbrella_DNS_Denylisting.png
  playbooks/Cisco_Umbrella_DNS_Denylisting.py
  playbooks/Cisco_Umbrella_DNS_Denylisting.yml
Labels: 4.9.0

#2784 spl update by Dipsy
  detections/endpoint/clop_common_exec_parameter.yml
Labels: 4.9.0

#2659 Fixed ymls
  playbooks/Identifier_Reputation_Analysis_Dispatch.yml
Labels: 4.9.0

#2782 Citrix ShareFile RCE CVE-2023-24489
  detections/endpoint/detect_webshell_exploit_behavior.yml
  detections/web/citrix_sharefile_exploitation_cve_2023_24489.yml
  stories/citrix_sharefile_rce_cve_2023_24489.yml
Labels: Emerging, 4.9.0

#2790 Add missing tests to detections.
  detections/application/splunk_risky_command_abuse_disclosed_february_2023.yml
  detections/application/splunk_xss_via_view.yml
  detections/endpoint/windows_powershell_export_certificate.yml
  detections/endpoint/windows_rundll32_webdav_request.yml
Labels: 4.9.0

#2797 Fixing 'null' name field to src_ip
  detections/cloud/gcp_multiple_failed_mfa_requests_for_user.yml
Labels: 4.9.0

#2786 Endpoint Observables (A- C)
  detections/endpoint/7zip_commandline_to_smb_share_path.yml
  detections/endpoint/active_setup_registry_autostart.yml
  detections/endpoint/add_defaultuser_and_password_in_registry.yml
  detections/endpoint/allow_inbound_traffic_by_firewall_rule_registry.yml
  detections/endpoint/allow_inbound_traffic_in_firewall_rule.yml
  detections/endpoint/allow_operation_with_consent_admin.yml
  detections/endpoint/any_powershell_downloadfile.yml
  detections/endpoint/any_powershell_downloadstring.yml
  detections/endpoint/attempt_to_add_certificate_to_untrusted_store.yml
  detections/endpoint/attempt_to_stop_security_service.yml
  detections/endpoint/attempted_credential_dump_from_registry_via_reg_exe.yml
  detections/endpoint/auto_admin_logon_registry_entry.yml
  detections/endpoint/bits_job_persistence.yml
  detections/endpoint/bitsadmin_download_file.yml
  detections/endpoint/certutil_download_with_urlcache_and_split_arguments.yml
  detections/endpoint/certutil_download_with_verifyctl_and_split_arguments.yml
  detections/endpoint/certutil_exe_certificate_extraction.yml
  detections/endpoint/certutil_with_decode_argument.yml
  detections/endpoint/clop_ransomware_known_service_name.yml
  detections/endpoint/cmd_echo_pipe___escalation.yml
  detections/endpoint/cmlua_or_cmstplua_uac_bypass.yml
  detections/endpoint/cobalt_strike_named_pipes.yml
  detections/endpoint/common_ransomware_extensions.yml
  detections/endpoint/create_or_delete_windows_shares_using_net_exe.yml
  detections/endpoint/creation_of_lsass_dump_with_taskmgr.yml
  detections/endpoint/creation_of_shadow_copy_with_wmic_and_powershell.yml
  detections/endpoint/credential_dumping_via_copy_command_from_shadow_copy.yml
  detections/endpoint/credential_dumping_via_symlink_to_shadow_copy.yml
Labels: 4.9.0

#2766 G00t Duplicate for testing by Steven Dick
  detections/endpoint/powershell_script_block_with_url_chain.yml
  detections/endpoint/powershell_webrequest_using_memory_stream.yml
  detections/endpoint/suspicious_process_executed_from_container_file_filter.yml
  detections/endpoint/windows_registry_payload_injection.yml
  detections/endpoint/windows_scheduled_task_service_spawned_shell.yml
Labels: 4.9.0

#2796 Update description
  playbooks/AWS_IAM_Account_Locking.json
  playbooks/AWS_IAM_Account_Locking.yml
Labels: 4.9.0

#2801 Ivanti CVE-2023-35082
  detections/web/ivanti_epmm_remote_unauthenticated_api_access_cve_2023_35082.yml
  stories/ivanti_epmm_remote_unauthenticated_access.yml
Labels: Emerging, 4.9.0

#2809 SSA Regex Bugfixes
  bin/contentctl_project/contentctl_infrastructure/builder/backend_splunk_ba.py
  dev_ssa/endpoint/ssa___attempted_credential_dump_from_registry_via_reg_exe.yml
  dev_ssa/endpoint/ssa___windows_powershell_connect_to_internet_with_hidden_window.yml
  dist/ssa/srs/ssa___attempted_credential_dump_from_registry_via_reg_exe.yml
  dist/ssa/srs/ssa___windows_os_credential_dumping_with_ntdsutil_export_ntds.yml
  dist/ssa/srs/ssa___windows_powershell_connect_to_internet_with_hidden_window.yml
  ssa_detections/endpoint/ssa___attempted_credential_dump_from_registry_via_reg_exe.yml
  ssa_detections/endpoint/ssa___windows_os_credential_dumping_with_ntdsutil_export_ntds.yml
  ssa_detections/endpoint/ssa___windows_powershell_connect_to_internet_with_hidden_window.yml
  ssa_detections/endpoint/ssa___windows_remote_create_service.yml
  ssa_detections/endpoint/ssa___windows_service_create_with_tscon.yml
Labels: 4.9.1

#2808 fix_susp_copy_from_system32
  detections/endpoint/suspicious_copy_on_system32.yml
Labels: 4.10.0

#2780 warzone_rat
  detections/endpoint/cmd_carry_out_string_command_parameter.yml
  detections/endpoint/create_remote_thread_in_shell_application.yml
  detections/endpoint/executables_or_script_creation_in_suspicious_path.yml
  detections/endpoint/hide_user_account_from_sign_in_screen.yml
  detections/endpoint/non_chrome_process_accessing_chrome_default_dir.yml
  detections/endpoint/office_application_drop_executable.yml
  detections/endpoint/office_product_spawn_cmd_process.yml
  detections/endpoint/ping_sleep_batch_command.yml
  detections/endpoint/powershell_windows_defender_exclusion_commands.yml
  detections/endpoint/registry_keys_used_for_persistence.yml
  detections/endpoint/suspicious_process_file_path.yml
  detections/endpoint/windows_credentials_from_password_stores_chrome_localstate_access.yml
  detections/endpoint/windows_credentials_from_password_stores_chrome_login_data_access.yml
  detections/endpoint/windows_defender_exclusion_registry_entry.yml
  detections/endpoint/windows_iso_lnk_file_creation.yml
  detections/endpoint/windows_phishing_recent_iso_exec_registry.yml
  detections/endpoint/windows_process_injection_remote_thread.yml
  stories/warzone_rat.yml
Labels: 4.10.0

#2737 [TR-2955] AD LDAP Account Restoration
  playbooks/AD_LDAP_Account_Unlocking.json
  playbooks/AD_LDAP_Account_Unlocking.png
  playbooks/AD_LDAP_Account_Unlocking.py
  playbooks/AD_LDAP_Account_Unlocking.yml
Labels: 4.10.0

#2738 [TR-2958] AWS IAM Account Unlocking
  playbooks/AWS_IAM_Account_Unlocking.json
  playbooks/AWS_IAM_Account_Unlocking.png
  playbooks/AWS_IAM_Account_Unlocking.py
  playbooks/AWS_IAM_Account_Unlocking.yml
Labels: 4.10.0

#2781 Active Directory Disable Account Dispatch updates
  playbooks/AD_LDAP_Account_Locking.json
  playbooks/AD_LDAP_Account_Locking.py
  playbooks/Active_Directory_Disable_Account_Dispatch.json
  playbooks/Active_Directory_Disable_Account_Dispatch.png
  playbooks/Active_Directory_Disable_Account_Dispatch.py
  playbooks/Azure_AD_Account_Locking.json
  playbooks/Azure_AD_Account_Locking.py
Labels: 4.10.0

#2739 [TR-2953] Azure AD Account Unlocking
  playbooks/Azure_AD_Account_Unlocking.json
  playbooks/Azure_AD_Account_Unlocking.png
  playbooks/Azure_AD_Account_Unlocking.py
  playbooks/Azure_AD_Account_Unlocking.yml
Labels: 4.10.0

#2740 [TR-2947] Active Directory Enable Account Dispatch
  playbooks/Active_Directory_Enable_Account_Dispatch.json
  playbooks/Active_Directory_Enable_Account_Dispatch.png
  playbooks/Active_Directory_Enable_Account_Dispatch.py
  playbooks/Active_Directory_Enable_Account_Dispatch.yml
Labels: 4.10.0

#2783 warzone_rat2
  detections/endpoint/windows_bypass_uac_via_pkgmgr_tool.yml
  detections/endpoint/windows_mark_of_the_web_bypass.yml
  detections/endpoint/windows_modify_registry_maxconnectionperserver.yml
  detections/endpoint/windows_unsigned_dll_side_loading.yml
Labels: 4.10.0

#2707 Updates at least one story category
  stories/active_directory_privilege_escalation.yml
Labels: WIP

#2787 Duplicate of certifiable by Steven Dick
  detections/endpoint/detect_certify_command_line_arguments.yml
  detections/endpoint/detect_certify_with_powershell_script_block_logging.yml
  detections/endpoint/windows_steal_authentication_certificates___esc1_auth.yml
  detections/endpoint/windows_suspect_process_with_authentication_traffic.yml
  lookups/attacker_tools.csv
Labels: 4.10.0

#2729 AzureAD Updated Detections
  detections/cloud/aws_new_mfa_method_registered_for_user.yml
  detections/cloud/azure_active_directory_high_risk_sign_in.yml
  detections/cloud/azure_ad_application_administrator_role_assigned.yml
  detections/cloud/azure_ad_authentication_failed_during_mfa_challenge.yml
  detections/cloud/azure_ad_concurrent_sessions_from_different_ips.yml
  detections/cloud/azure_ad_external_guest_user_invited.yml
  detections/cloud/azure_ad_global_administrator_role_assigned.yml
  detections/cloud/azure_ad_high_number_of_failed_authentications_for_user.yml
  detections/cloud/azure_ad_high_number_of_failed_authentications_from_ip.yml
  detections/cloud/azure_ad_multi_factor_authentication_disabled.yml
  detections/cloud/azure_ad_multiple_failed_mfa_requests_for_user.yml
  detections/cloud/azure_ad_multiple_users_failing_to_authenticate_from_ip.yml
  detections/cloud/azure_ad_new_custom_domain_added.yml
  detections/cloud/azure_ad_new_federated_domain_added.yml
  detections/cloud/azure_ad_new_mfa_method_registered_for_user.yml
  detections/cloud/azure_ad_privileged_authentication_administrator_role_assigned.yml
  detections/cloud/azure_ad_privileged_role_assigned.yml
  detections/cloud/azure_ad_service_principal_created.yml
  detections/cloud/azure_ad_service_principal_new_client_credentials.yml
  detections/cloud/azure_ad_service_principal_owner_added.yml
  detections/cloud/azure_ad_successful_authentication_from_different_ips.yml
  detections/cloud/azure_ad_successful_powershell_authentication.yml
  detections/cloud/azure_ad_successful_single_factor_authentication.yml
  detections/cloud/azure_ad_unusual_number_of_failed_authentications_from_ip.yml
  detections/cloud/azure_ad_user_enabled_and_password_reset.yml
  detections/cloud/azure_ad_user_immutableid_attribute_updated.yml
Labels: 4.10.0

#2785 Cloud/Application/Endpoint Observables
  detections/application/okta_mfa_exhaustion_hunt.yml
  detections/application/okta_two_or_more_rejected_okta_pushes.yml
  detections/application/splunk_persistent_xss_in_rapiddiag_through_user_interface_views.yml
  detections/application/splunk_protocol_impersonation_weak_encryption_selfsigned.yml
  detections/application/splunk_protocol_impersonation_weak_encryption_simplerequest.yml
  detections/cloud/aws_exfiltration_via_batch_service.yml
  detections/cloud/aws_exfiltration_via_ec2_snapshot.yml
  detections/cloud/aws_high_number_of_failed_authentications_for_user.yml
  detections/cloud/aws_iam_delete_policy.yml
  detections/cloud/aws_network_access_control_list_deleted.yml
  detections/cloud/azure_ad_multiple_failed_mfa_requests_for_user.yml
  detections/cloud/azure_ad_user_enabled_and_password_reset.yml
  detections/cloud/cloud_instance_modified_by_previously_unseen_user.yml
  detections/cloud/cloud_provisioning_activity_from_previously_unseen_city.yml
  detections/cloud/detect_gcp_storage_access_from_a_new_ip.yml
  detections/cloud/detect_s3_access_from_a_new_ip.yml
  detections/cloud/gcp_multiple_failed_mfa_requests_for_user.yml
  detections/cloud/gsuite_outbound_email_with_attachment_to_external_domain.yml
  detections/cloud/gsuite_suspicious_calendar_invite.yml
  detections/cloud/o365_add_app_role_assignment_grant_user.yml
  detections/cloud/o365_disable_mfa.yml
  detections/endpoint/active_setup_registry_autostart.yml
Labels: 4.10.0

#2826 Flax Typhoon
  bin/contentctl_project/contentctl_infrastructure/tests/builder/test_data/detection/attacker_tools_on_endpoint.yml
  detections/endpoint/bitsadmin_download_file.yml
  detections/endpoint/certutil_download_with_urlcache_and_split_arguments.yml
  detections/endpoint/detect_webshell_exploit_behavior.yml
  detections/endpoint/dump_lsass_via_comsvcs_dll.yml
  detections/endpoint/overwriting_accessibility_binaries.yml
  detections/endpoint/powershell_4104_hunting.yml
  detections/endpoint/w3wp_spawning_shell.yml
  detections/endpoint/windows_mimikatz_binary_execution.yml
  detections/endpoint/windows_service_created_with_suspicious_service_path.yml
  detections/endpoint/windows_sql_spawning_certutil.yml
  stories/flax_typhoon.yml
Labels: Emerging, 4.11.0

#2822 Coldfusion
  detections/web/adobe_coldfusion_access_control_bypass.yml
  detections/web/adobe_coldfusion_unauthenticated_arbitrary_file_read.yml
  stories/adobe_coldfusion_arbitrary_code_execution_cve_2023_29298_cve_2023_26360.yml
Labels: Emerging, 4.11.0

#2823 Ivanti Sentry
  detections/web/ivanti_sentry_authentication_bypass.yml
  stories/ivanti_sentry_authentication_bypass_cve_2023_38035.yml
Labels: Emerging, 4.11.0

#2824 Windows Error Reporting Service Elevation of Privilege Vulnerability
  detections/endpoint/system_processes_run_from_unexpected_locations.yml
  detections/endpoint/windows_process_injection_wermgr_child_process.yml
  detections/endpoint/winevent_scheduled_task_created_to_spawn_shell.yml
  stories/windows_error_reporting_service_elevation_of_privilege_vulnerability.yml
Labels: Emerging, 4.11.0

#2829 Juniper JunOS Remote Code Execution
  .gitignore
  detections/web/juniper_networks_remote_code_execution_exploit_detection.yml
  stories/juniper_junos_remote_code_execution.yml
Labels: Emerging, 4.11.0

#2830 Winrar
  detections/endpoint/winrar_spawning_shell_application.yml
  stories/winrar_spoofing_attack_cve_2023_38831.yml
Labels: Emerging, 4.11.0
