Repository splunk/security_content, pull requests merged in 2023-02, with the labels that each got.

#2516 Ported all changes from interlock
  detections/endpoint/active_setup_registry_autostart.yml
  detections/endpoint/add_defaultuser_and_password_in_registry.yml
  detections/endpoint/allow_inbound_traffic_by_firewall_rule_registry.yml
  detections/endpoint/allow_operation_with_consent_admin.yml
  detections/endpoint/auto_admin_logon_registry_entry.yml
  detections/endpoint/disable_amsi_through_registry.yml
  detections/endpoint/disable_defender_antivirus_registry.yml
  detections/endpoint/disable_defender_blockatfirstseen_feature.yml
  detections/endpoint/disable_defender_enhanced_notification.yml
  detections/endpoint/disable_defender_mpengine_registry.yml
  detections/endpoint/disable_defender_spynet_reporting.yml
  detections/endpoint/disable_defender_submit_samples_consent_feature.yml
  detections/endpoint/disable_etw_through_registry.yml
  detections/endpoint/disable_registry_tool.yml
  detections/endpoint/disable_security_logs_using_minint_registry.yml
  detections/endpoint/disable_show_hidden_files.yml
  detections/endpoint/disable_uac_remote_restriction.yml
  detections/endpoint/disable_windows_app_hotkeys.yml
  detections/endpoint/disable_windows_behavior_monitoring.yml
  detections/endpoint/disable_windows_smartscreen_protection.yml
  detections/endpoint/disabling_cmd_application.yml
  detections/endpoint/disabling_controlpanel.yml
  detections/endpoint/disabling_defender_services.yml
  detections/endpoint/disabling_folderoptions_windows_feature.yml
  detections/endpoint/disabling_norun_windows_app.yml
  detections/endpoint/disabling_systemrestore_in_registry.yml
  detections/endpoint/disabling_task_manager.yml
  detections/endpoint/enable_rdp_in_other_port_number.yml
  detections/endpoint/enable_wdigest_uselogoncredential_registry.yml
  detections/endpoint/etw_registry_disabled.yml
  detections/endpoint/eventvwr_uac_bypass.yml
  detections/endpoint/hide_user_account_from_sign_in_screen.yml
  detections/endpoint/monitor_registry_keys_for_print_monitors.yml
  detections/endpoint/registry_keys_for_creating_shim_databases.yml
  detections/endpoint/registry_keys_used_for_privilege_escalation.yml
  detections/endpoint/remcos_client_registry_install_entry.yml
  detections/endpoint/revil_registry_entry.yml
  detections/endpoint/sdclt_uac_bypass.yml
  detections/endpoint/set_default_powershell_execution_policy_to_unrestricted_or_bypass.yml
  detections/endpoint/silentcleanup_uac_bypass.yml
  detections/endpoint/time_provider_persistence_registry.yml
  detections/endpoint/windows_defender_exclusion_registry_entry.yml
  detections/endpoint/windows_deleted_registry_by_a_non_critical_process_file_path.yml
  detections/endpoint/windows_disable_change_password_through_registry.yml
  detections/endpoint/windows_disable_lock_workstation_feature_through_registry.yml
  detections/endpoint/windows_disable_logoff_button_through_registry.yml
  detections/endpoint/windows_disable_notification_center.yml
  detections/endpoint/windows_disable_shutdown_button_through_registry.yml
  detections/endpoint/windows_disable_windows_group_policy_features_through_registry.yml
  detections/endpoint/windows_hide_notification_features_through_registry.yml
  detections/endpoint/windows_modify_show_compress_color_and_info_tip_registry.yml
  detections/endpoint/windows_service_creation_using_registry_entry.yml
  detections/endpoint/wsreset_uac_bypass.yml
Labels: 3.58.0

#2531 Update how we ge the release tag
  .github/workflows/build-and-validate.yml
Labels: 3.58.0

#2526 Fix Macro and Sourcetypes in Test Files
  detections/application/splunk_rce_via_splunk_secure_gateway__splunk_mobile_alerts_feature.yml
  detections/application/splunk_xss_in_save_table_dialog_header_in_search_page.yml
  macros/splunkd_webx.yml
  tests/application/splunk_rce_via_splunk_secure_gateway__splunk_mobile_alerts_feature.test.yml
  tests/application/splunk_reflected_xss_in_the_templates_lists_radio.test.yml
  tests/application/splunk_stored_xss_via_data_model_objectname_field.test.yml
  tests/application/splunk_xss_in_save_table_dialog_header_in_search_page.test.yml
Labels: 3.58.0

#2532 swiftslicer
  detections/endpoint/windows_data_destruction_recursive_exec_files_deletion.yml
  detections/endpoint/windows_high_file_deletion_frequency.yml
  stories/swiftslicer.yml
  tests/endpoint/windows_data_destruction_recursive_exec_files_deletion.test.yml
Labels: 3.58.0

#2517 minor-update-lnx
  detections/endpoint/linux_service_restarted.yml
  detections/endpoint/windows_replication_through_removable_media.yml
Labels: 3.58.0

#2529 Moving failing tests to experimental
  detections/experimental/application/detect_risky_spl_using_pretrained_ml_model.yml
  detections/experimental/application/splunk_xss_in_monitoring_console.yml
  detections/experimental/cloud/abnormally_high_number_of_cloud_security_group_api_calls.yml
  detections/experimental/cloud/aws_cross_account_activity_from_previously_unseen_account.yml
  detections/experimental/cloud/circle_ci_disable_security_step.yml
  detections/experimental/cloud/cloud_api_calls_from_previously_unseen_user_roles.yml
  detections/experimental/cloud/cloud_compute_instance_created_by_previously_unseen_user.yml
  detections/experimental/cloud/cloud_instance_modified_with_previously_unseen_user.yml
  detections/experimental/cloud/gsuite_drive_share_in_external_email.yml
  detections/experimental/endpoint/dllhost_with_no_command_line_arguments_with_network.yml
  detections/experimental/endpoint/windows_vulnerable_driver_loaded.yml
  tests/experimental/application/detect_risky_spl_using_pretrained_ml_model.test.yml
  tests/experimental/application/splunk_xss_in_monitoring_console.test.yml
  tests/experimental/cloud/abnormally_high_number_of_cloud_security_group_api_calls.test.yml
  tests/experimental/cloud/aws_cross_account_activity_from_previously_unseen_account.test.yml
  tests/experimental/cloud/circle_ci_disable_security_step.test.yml
  tests/experimental/cloud/cloud_api_calls_from_previously_unseen_user_roles.test.yml
  tests/experimental/cloud/cloud_compute_instance_created_by_previously_unseen_user.test.yml
  tests/experimental/cloud/cloud_instance_modified_with_previously_unseen_user.test.yml
  tests/experimental/cloud/gsuite_drive_share_in_external_email.test.yml
  tests/experimental/endpoint/dllhost_with_no_command_line_arguments_with_network.test.yml
  tests/experimental/endpoint/windows_vulnerable_driver_loaded.test.yml
Labels: 3.58.0

#2515 asyncrat-onenote-chain2
  detections/endpoint/cmd_carry_out_string_command_parameter.yml
  detections/endpoint/executables_or_script_creation_in_suspicious_path.yml
  detections/endpoint/execution_of_file_with_multiple_extensions.yml
  detections/endpoint/loading_of_dynwrapx_module.yml
  detections/endpoint/malicious_powershell_process___execution_policy_bypass.yml
  detections/endpoint/powershell_fileless_script_contains_base64_encoded_content.yml
  detections/endpoint/powershell_loading_dotnet_into_memory_via_reflection.yml
  detections/endpoint/powershell_processing_stream_of_data.yml
  detections/endpoint/recon_using_wmi_class.yml
  detections/endpoint/registry_keys_used_for_persistence.yml
  detections/endpoint/regsvr32_silent_and_install_param_dll_loading.yml
  detections/endpoint/regsvr32_with_known_silent_switch_cmdline.yml
  detections/endpoint/scheduled_task_deleted_or_created_via_cmd.yml
  detections/endpoint/suspicious_copy_on_system32.yml
  detections/endpoint/suspicious_process_file_path.yml
  detections/endpoint/vbscript_execution_using_wscript_app.yml
  detections/endpoint/windows_access_token_manipulation_sedebugprivilege.yml
  detections/endpoint/windows_powershell_cryptography_namespace.yml
  detections/endpoint/windows_scheduled_task_with_highest_privileges.yml
  detections/endpoint/windows_spearphishing_attachment_connect_to_none_ms_office_domain.yml
  detections/endpoint/winevent_scheduled_task_created_within_public_path.yml
  detections/endpoint/winevent_windows_task_scheduler_event_action_started.yml
  tests/endpoint/windows_powershell_cryptography_namespace.test.yml
  tests/endpoint/windows_scheduled_task_with_highest_privileges.test.yml
  tests/endpoint/windows_spearphishing_attachment_connect_to_none_ms_office_domain.test.yml
Labels: 3.58.0

#2528 Duplicate of 2518,2519, 2527
  detections/endpoint/lolbas_with_network_traffic.yml
  detections/endpoint/office_application_drop_executable.yml
  detections/endpoint/rundll32_with_no_command_line_arguments_with_network.yml
  detections/experimental/endpoint/dllhost_with_no_command_line_arguments_with_network.yml
  tests/endpoint/lolbas_with_network_traffic.test.yml
Labels: 3.58.0

#2533 security_content_commonalities_notebook
  notebooks/cisa_commonalities_notebook.ipynb
  notebooks/cisa_commonalities_notebook.yml
Labels: WIP, 3.58.0

#2511 Detect Suspicious Processname
  detections/experimental/endpoint/detect_suspicious_processnames_using_pretrained_model_in_dsdl.yml
  detections/experimental/network/detect_suspicious_dns_txt_records_using_pretrained_model_in_dsdl.yml
  lookups/__mlspl_detect_suspicious_processnames_using_pretrained_model_in_dsdl.mlmodel
  lookups/__mlspl_detect_suspicious_processnames_using_pretrained_model_in_dsdl.yml
  notebooks/detect_suspicious_processnames_using_pretrained_model_in_dsdl.ipynb
  notebooks/detect_suspicious_processnames_using_pretrained_model_in_dsdl.json
  notebooks/detect_suspicious_processnames_using_pretrained_model_in_dsdl.yml
Labels: 3.58.0

#2544 Added "Lateral Movement" story back package
  stories/deprecated/lateral_movement.yml
Labels: 3.60.0

#2540 Remove "observables" from ss.conf annotations
  bin/contentctl_project/contentctl_infrastructure/builder/security_content_detection_builder.py
  bin/contentctl_project/contentctl_infrastructure/tests/adapter/data/conf/savedsearches.conf
  bin/contentctl_project/contentctl_infrastructure/tests/adapter/data/default/savedsearches.conf
  bin/contentctl_project/contentctl_infrastructure/tests/adapter/data/default_reference/savedsearches.conf
  bin/contentctl_project/contentctl_infrastructure/tests/adapter/obj_to_json_adapter_data/detections_ref.json
  bin/contentctl_project/contentctl_infrastructure/tests/builder/test_security_content_detection_builder.py
  bin/contentctl_project/contentctl_infrastructure/tests/builder/test_security_content_director.py
Labels: needs-more-info, 3.60.0

#2538 awfulshred
  detections/endpoint/linux_data_destruction_command.yml
  detections/endpoint/linux_deleting_critical_directory_using_rm_command.yml
  detections/endpoint/linux_deletion_of_services.yml
  detections/endpoint/linux_disable_services.yml
  detections/endpoint/linux_hardware_addition_swapoff.yml
  detections/endpoint/linux_impair_defenses_process_kill.yml
  detections/endpoint/linux_indicator_removal_clear_cache.yml
  detections/endpoint/linux_indicator_removal_service_file_deletion.yml
  detections/endpoint/linux_service_restarted.yml
  detections/endpoint/linux_shred_overwrite_command.yml
  detections/endpoint/linux_stop_services.yml
  detections/endpoint/linux_system_reboot_via_system_request_key.yml
  detections/endpoint/linux_unix_shell_enable_all_sysrq_functions.yml
  detections/endpoint/wbemprox_com_object_execution.yml
  stories/awfulshred.yml
  tests/endpoint/linux_data_destruction_command.test.yml
  tests/endpoint/linux_hardware_addition_swapoff.test.yml
  tests/endpoint/linux_impair_defenses_process_kill.test.yml
  tests/endpoint/linux_indicator_removal_clear_cache.test.yml
  tests/endpoint/linux_indicator_removal_service_file_deletion.test.yml
  tests/endpoint/linux_system_reboot_via_system_request_key.test.yml
  tests/endpoint/linux_unix_shell_enable_all_sysrq_functions.test.yml
Labels: 3.60.0

#2539 Haageddon
  detections/endpoint/mshtml_module_load_in_office_product.yml
  detections/endpoint/office_application_drop_executable.yml
  detections/endpoint/office_application_spawn_regsvr32_process.yml
  detections/endpoint/office_application_spawn_rundll32_process.yml
  detections/endpoint/office_document_creating_schedule_task.yml
  detections/endpoint/office_document_executing_macro_code.yml
  detections/endpoint/office_document_spawned_child_process_to_download.yml
  detections/endpoint/office_product_spawn_cmd_process.yml
  detections/endpoint/office_product_spawning_bitsadmin.yml
  detections/endpoint/office_product_spawning_certutil.yml
  detections/endpoint/office_product_spawning_mshta.yml
  detections/endpoint/office_product_spawning_rundll32_with_no_dll.yml
  detections/endpoint/office_product_spawning_windows_script_host.yml
  detections/endpoint/office_product_spawning_wmic.yml
  detections/endpoint/office_product_writing_cab_or_inf.yml
  detections/endpoint/office_spawning_control.yml
  detections/endpoint/ssa___office_product_spawning_windows_script_host.yml
  detections/endpoint/ssa___prohibited_apps_spawning_cmdprompt.yml
  detections/endpoint/windows_export_certificate.yml
  detections/endpoint/windows_mimikatz_crypto_export_file_extensions.yml
  detections/endpoint/windows_office_product_spawning_msdt.yml
  detections/endpoint/windows_remote_assistance_spawning_process.yml
  detections/endpoint/windows_spearphishing_attachment_connect_to_none_ms_office_domain.yml
  detections/endpoint/windows_steal_authentication_certificates_cryptoapi.yml
  detections/experimental/endpoint/detect_outlook_exe_writing_a_zip_file.yml
  macros/capi2_operational.yml
  tests/endpoint/windows_mimikatz_crypto_export_file_extensions.test.yml
  tests/endpoint/windows_steal_authentication_certificates_cryptoapi.test.yml
Labels: 3.60.0

#2545 CVE-2022-39952
  detections/web/exploit_public_facing_fortinet_fortinac_cve_2022_39952.yml
  stories/fortinet_fortinac_cve_2022_39952.yml
  tests/web/exploit_public_facing_fortinet_fortinac_cve_2022_39952.test.yml
Labels: Emerging, 3.60.0
