Repository splunk/security_content, pull requests merged in 2024-12, with the labels that each got.

#3220 Automated Splunk TA Update 102
  contentctl.yml
  data_sources/aws_cloudfront.yml
  data_sources/aws_cloudtrail.yml
  data_sources/aws_cloudtrail_assumerolewithsaml.yml
  data_sources/aws_cloudtrail_consolelogin.yml
  data_sources/aws_cloudtrail_copyobject.yml
  data_sources/aws_cloudtrail_createaccesskey.yml
  data_sources/aws_cloudtrail_createkey.yml
  data_sources/aws_cloudtrail_createloginprofile.yml
  data_sources/aws_cloudtrail_createnetworkaclentry.yml
  data_sources/aws_cloudtrail_createpolicyversion.yml
  data_sources/aws_cloudtrail_createsnapshot.yml
  data_sources/aws_cloudtrail_createtask.yml
  data_sources/aws_cloudtrail_createvirtualmfadevice.yml
  data_sources/aws_cloudtrail_deactivatemfadevice.yml
  data_sources/aws_cloudtrail_deleteaccountpasswordpolicy.yml
  data_sources/aws_cloudtrail_deletealarms.yml
  data_sources/aws_cloudtrail_deletedetector.yml
  data_sources/aws_cloudtrail_deletegroup.yml
  data_sources/aws_cloudtrail_deleteipset.yml
  data_sources/aws_cloudtrail_deleteloggroup.yml
  data_sources/aws_cloudtrail_deletelogstream.yml
  data_sources/aws_cloudtrail_deletenetworkaclentry.yml
  data_sources/aws_cloudtrail_deletepolicy.yml
  data_sources/aws_cloudtrail_deleterule.yml
  data_sources/aws_cloudtrail_deletesnapshot.yml
  data_sources/aws_cloudtrail_deletetrail.yml
  data_sources/aws_cloudtrail_deletevirtualmfadevice.yml
  data_sources/aws_cloudtrail_deletewebacl.yml
  data_sources/aws_cloudtrail_describeeventaggregates.yml
  data_sources/aws_cloudtrail_describeimagescanfindings.yml
  data_sources/aws_cloudtrail_getaccountpasswordpolicy.yml
  data_sources/aws_cloudtrail_getobject.yml
  data_sources/aws_cloudtrail_getpassworddata.yml
  data_sources/aws_cloudtrail_jobcreated.yml
  data_sources/aws_cloudtrail_modifydbinstance.yml
  data_sources/aws_cloudtrail_modifyimageattribute.yml
  data_sources/aws_cloudtrail_modifysnapshotattribute.yml
  data_sources/aws_cloudtrail_putbucketacl.yml
  data_sources/aws_cloudtrail_putbucketlifecycle.yml
  data_sources/aws_cloudtrail_putbucketreplication.yml
  data_sources/aws_cloudtrail_putbucketversioning.yml
  data_sources/aws_cloudtrail_putimage.yml
  data_sources/aws_cloudtrail_putkeypolicy.yml
  data_sources/aws_cloudtrail_replacenetworkaclentry.yml
  data_sources/aws_cloudtrail_setdefaultpolicyversion.yml
  data_sources/aws_cloudtrail_stoplogging.yml
  data_sources/aws_cloudtrail_updateaccountpasswordpolicy.yml
  data_sources/aws_cloudtrail_updateloginprofile.yml
  data_sources/aws_cloudtrail_updatesamlprovider.yml
  data_sources/aws_cloudtrail_updatetrail.yml
  data_sources/aws_cloudwatchlogs_vpcflow.yml
  data_sources/aws_security_hub.yml
  data_sources/ms365_defender_incident_alerts.yml
  data_sources/ms_defender_atp_alerts.yml
Labels: Datasource

#3211 Raiders of the Lost RDP: The Haag Crusade
  data_sources/windows_event_log_microsoft_windows_terminalservices_rdpclient_1024.yml
  detections/endpoint/windows_rdp_file_execution.yml
  detections/endpoint/windows_rdpclient_connection_sequence_events.yml
  macros/wineventlog_rdp.yml
Labels: Detections, Macros, Datasource

#3222 Update linux_auditd_file_permission_modification_via_chmod.yml
  detections/endpoint/linux_auditd_file_permission_modification_via_chmod.yml
Labels: Detections

#3223 Update wget_download_and_bash_execution.yml
  detections/endpoint/wget_download_and_bash_execution.yml
Labels: Detections

#3221 meduza
  detections/endpoint/detect_outlook_exe_writing_a_zip_file.yml
  detections/endpoint/executables_or_script_creation_in_suspicious_path.yml
  detections/endpoint/ping_sleep_batch_command.yml
  detections/endpoint/suspicious_process_dns_query_known_abuse_web_services.yml
  detections/endpoint/suspicious_process_file_path.yml
  detections/endpoint/windows_access_token_manipulation_sedebugprivilege.yml
  detections/endpoint/windows_credential_access_from_browser_password_store.yml
  detections/endpoint/windows_credentials_access_via_vaultcli_module.yml
  detections/endpoint/windows_credentials_from_password_stores_chrome_extension_access.yml
  detections/endpoint/windows_credentials_from_password_stores_chrome_localstate_access.yml
  detections/endpoint/windows_credentials_from_password_stores_chrome_login_data_access.yml
  detections/endpoint/windows_gather_victim_network_info_through_ip_check_web_services.yml
  detections/endpoint/windows_query_registry_uninstall_program_list.yml
  detections/endpoint/windows_unsecured_outlook_credentials_access_in_registry.yml
  stories/meduza_stealer.yml
Labels: Detections, Stories

#3233 fix #2996
  detections/endpoint/known_services_killed_by_ransomware.yml
Labels: Detections

#3227 linux_datasource_update
  data_sources/linux_auditd_add_user.yml
  data_sources/linux_auditd_execve.yml
  data_sources/linux_auditd_path.yml
  data_sources/linux_auditd_proctitle.yml
  data_sources/linux_auditd_service_stop.yml
  data_sources/linux_auditd_syscall.yml
Labels: Datasource

#3244 Automated Splunk TA Update 116
  contentctl.yml
  data_sources/g_suite_drive.yml
  data_sources/g_suite_gmail.yml
  data_sources/google_workspace_login_failure.yml
  data_sources/google_workspace_login_success.yml
Labels: Datasource

#3236 The Haag Papyrus: Secrets of Cleo 𓀽
  detections/endpoint/domain_group_discovery_with_net.yml
  detections/endpoint/nishang_powershelltcponeline.yml
  detections/endpoint/nltest_domain_trust_discovery.yml
  detections/endpoint/powershell_4104_hunting.yml
  detections/endpoint/system_information_discovery_detection.yml
  detections/endpoint/windows_java_spawning_shells.yml
  stories/cleo_file_transfer_software.yml
Labels: Detections, Stories

#3228 Sid-dul Missteps
  detections/endpoint/excessive_usage_of_cacls_app.yml
  detections/endpoint/icacls_deny_command.yml
  detections/endpoint/icacls_grant_command.yml
  detections/endpoint/modify_acl_permission_to_files_or_folder.yml
  detections/endpoint/windows_files_and_dirs_access_rights_modification_via_icacls.yml
  detections/endpoint/windows_new_custom_security_descriptor_set_on_eventlog_channel.yml
  detections/endpoint/windows_new_deny_permission_set_on_service_sd_via_sc_exe.yml
  detections/endpoint/windows_new_eventlog_channelaccess_registry_value_set.yml
  detections/endpoint/windows_new_service_security_descriptor_set_via_sc_exe.yml
  detections/endpoint/windows_scmanager_security_descriptor_tampering_via_sc_exe.yml
  detections/endpoint/windows_subinacl_execution.yml
  stories/defense_evasion_or_unauthorized_access_via_sddl_tampering.yml
Labels: Detections, Stories

#3242 Add baseline search information to "ESCU - Unusually Long Command Line - MLTK" how_to_implement
  detections/endpoint/unusually_long_command_line___mltk.yml
Labels: Detections

#3238 Update Ransomware Extensions Lookup
  detections/endpoint/common_ransomware_extensions.yml
  lookups/ransomware_extensions_20231219.csv
  lookups/ransomware_extensions_20241212.csv
  lookups/ransomware_extensions_lookup.yml
  macros/ransomware_extensions.yml
Labels: Detections, Lookups, Macros

#3246 xorddos
  detections/endpoint/linux_add_files_in_known_crontab_directories.yml
  detections/endpoint/linux_auditd_file_permission_modification_via_chmod.yml
  detections/endpoint/linux_auditd_insert_kernel_module_using_insmod_utility.yml
  detections/endpoint/linux_auditd_kernel_module_enumeration.yml
  detections/endpoint/linux_auditd_possible_append_cronjob_entry_on_existing_cronjob_file.yml
  detections/endpoint/linux_file_creation_in_init_boot_directory.yml
  detections/endpoint/linux_ingress_tool_transfer_hunting.yml
  detections/endpoint/linux_ingress_tool_transfer_with_curl.yml
  detections/endpoint/linux_insert_kernel_module_using_insmod_utility.yml
  detections/endpoint/linux_kernel_module_enumeration.yml
  detections/endpoint/linux_possible_access_to_credential_files.yml
  detections/endpoint/linux_possible_append_cronjob_entry_on_existing_cronjob_file.yml
  detections/endpoint/linux_possible_cronjob_modification_with_editor.yml
  stories/xorddos.yml
Labels: Detections, Stories

#3248 Automated Splunk TA Update 121
  contentctl.yml
  data_sources/okta.yml
Labels: Datasource
