Repository splunk/security_content, pull requests merged in 2024-10, with the labels that each got.

#3150 Automated Splunk TA Update 43
  data_sources/crowdstrike_processrollup2.yml
Labels: Datasource

#3155 Automated Splunk TA Update 47
  data_sources/aws_cloudfront.yml
  data_sources/aws_cloudtrail.yml
  data_sources/aws_cloudtrail_assumerolewithsaml.yml
  data_sources/aws_cloudtrail_consolelogin.yml
  data_sources/aws_cloudtrail_copyobject.yml
  data_sources/aws_cloudtrail_createaccesskey.yml
  data_sources/aws_cloudtrail_createkey.yml
  data_sources/aws_cloudtrail_createloginprofile.yml
  data_sources/aws_cloudtrail_createnetworkaclentry.yml
  data_sources/aws_cloudtrail_createpolicyversion.yml
  data_sources/aws_cloudtrail_createsnapshot.yml
  data_sources/aws_cloudtrail_createtask.yml
  data_sources/aws_cloudtrail_createvirtualmfadevice.yml
  data_sources/aws_cloudtrail_deactivatemfadevice.yml
  data_sources/aws_cloudtrail_deleteaccountpasswordpolicy.yml
  data_sources/aws_cloudtrail_deletealarms.yml
  data_sources/aws_cloudtrail_deletedetector.yml
  data_sources/aws_cloudtrail_deletegroup.yml
  data_sources/aws_cloudtrail_deleteipset.yml
  data_sources/aws_cloudtrail_deleteloggroup.yml
  data_sources/aws_cloudtrail_deletelogstream.yml
  data_sources/aws_cloudtrail_deletenetworkaclentry.yml
  data_sources/aws_cloudtrail_deletepolicy.yml
  data_sources/aws_cloudtrail_deleterule.yml
  data_sources/aws_cloudtrail_deletesnapshot.yml
  data_sources/aws_cloudtrail_deletetrail.yml
  data_sources/aws_cloudtrail_deletevirtualmfadevice.yml
  data_sources/aws_cloudtrail_deletewebacl.yml
  data_sources/aws_cloudtrail_describeeventaggregates.yml
  data_sources/aws_cloudtrail_describeimagescanfindings.yml
  data_sources/aws_cloudtrail_getaccountpasswordpolicy.yml
  data_sources/aws_cloudtrail_getobject.yml
  data_sources/aws_cloudtrail_getpassworddata.yml
  data_sources/aws_cloudtrail_jobcreated.yml
  data_sources/aws_cloudtrail_modifydbinstance.yml
  data_sources/aws_cloudtrail_modifyimageattribute.yml
  data_sources/aws_cloudtrail_modifysnapshotattribute.yml
  data_sources/aws_cloudtrail_putbucketacl.yml
  data_sources/aws_cloudtrail_putbucketlifecycle.yml
  data_sources/aws_cloudtrail_putbucketreplication.yml
  data_sources/aws_cloudtrail_putbucketversioning.yml
  data_sources/aws_cloudtrail_putimage.yml
  data_sources/aws_cloudtrail_putkeypolicy.yml
  data_sources/aws_cloudtrail_replacenetworkaclentry.yml
  data_sources/aws_cloudtrail_setdefaultpolicyversion.yml
  data_sources/aws_cloudtrail_stoplogging.yml
  data_sources/aws_cloudtrail_updateaccountpasswordpolicy.yml
  data_sources/aws_cloudtrail_updateloginprofile.yml
  data_sources/aws_cloudtrail_updatesamlprovider.yml
  data_sources/aws_cloudtrail_updatetrail.yml
  data_sources/aws_cloudwatchlogs_vpcflow.yml
  data_sources/aws_security_hub.yml
Labels: Datasource

#3147 PSWA Updates
  detections/endpoint/possible_lateral_movement_powershell_spawn.yml
  detections/endpoint/windows_identify_powershell_web_access_iis_pool.yml
  detections/web/windows_iis_server_pswa_console_access.yml
  stories/cisa_aa24_241a.yml
Labels: Detections, Stories

#3157 fix_change_file_owner_to_root
  detections/endpoint/linux_auditd_change_file_owner_to_root.yml
Labels: Detections

#3158 Ad find detection update
  detections/endpoint/windows_adfind_exe.yml
Labels: Detections

#3058 Critical Alerts detection - Microsoft Defender
  contentctl.yml
  data_sources/windows_defender_alerts.yml
  detections/cloud/detect_spike_in_aws_security_hub_alerts_for_ec2_instance.yml
  detections/cloud/detect_spike_in_aws_security_hub_alerts_for_user.yml
  detections/endpoint/detect_critical_alerts_from_security_tools.yml
  stories/critical_alerts.yml
Labels: Detections, Stories, Datasource

#3162 fix misisng version for one analytic story
  stories/critical_alerts.yml
Labels: Stories

#3172 Update erroneous cloud security_domain
  detections/cloud/abnormally_high_number_of_cloud_instances_destroyed.yml
  detections/cloud/abnormally_high_number_of_cloud_instances_launched.yml
  detections/cloud/asl_aws_iam_failure_group_deletion.yml
  detections/cloud/asl_aws_iam_successful_group_deletion.yml
  detections/cloud/aws_iam_failure_group_deletion.yml
  detections/cloud/aws_iam_successful_group_deletion.yml
  detections/cloud/aws_lambda_updatefunctioncode.yml
  detections/cloud/risk_rule_for_dev_sec_ops_by_repository.yml
Labels: Detections

#3170 Add missing wildcard to -type parameter for detection 2452e632-9e0d-11eb-bacd-acde48001122
  detections/endpoint/dns_exfiltration_using_nslookup_app.yml
Labels: Detections

#3174 Automated Splunk TA Update 63
  data_sources/sysmon_eventid_1.yml
  data_sources/sysmon_eventid_10.yml
  data_sources/sysmon_eventid_11.yml
  data_sources/sysmon_eventid_12.yml
  data_sources/sysmon_eventid_13.yml
  data_sources/sysmon_eventid_15.yml
  data_sources/sysmon_eventid_17.yml
  data_sources/sysmon_eventid_18.yml
  data_sources/sysmon_eventid_20.yml
  data_sources/sysmon_eventid_21.yml
  data_sources/sysmon_eventid_22.yml
  data_sources/sysmon_eventid_23.yml
  data_sources/sysmon_eventid_3.yml
  data_sources/sysmon_eventid_5.yml
  data_sources/sysmon_eventid_6.yml
  data_sources/sysmon_eventid_7.yml
  data_sources/sysmon_eventid_8.yml
  data_sources/sysmon_eventid_9.yml
Labels: Datasource

#3175 Alerts detection update
  contentctl.yml
  data_sources/ms365_defender_incident_alerts.yml
  detections/endpoint/detect_critical_alerts_from_security_tools.yml
Labels: Detections, Datasource

#3168 add missing summariesonly macro
  detections/network/detect_outbound_ldap_traffic.yml
Labels: Detections
