Repository splunk/security_content, pull requests merged in 2024-08, with the labels that each got.

#3073 handala_wiper
  detections/endpoint/detect_regasm_spawning_a_process.yml
  detections/endpoint/detect_regasm_with_network_connection.yml
  detections/endpoint/detect_regasm_with_no_command_line_arguments.yml
  detections/endpoint/executables_or_script_creation_in_suspicious_path.yml
  detections/endpoint/suspicious_process_file_path.yml
  detections/endpoint/windows_autoit3_execution.yml
  detections/endpoint/windows_data_destruction_recursive_exec_files_deletion.yml
  detections/endpoint/windows_gather_victim_network_info_through_ip_check_web_services.yml
  detections/endpoint/windows_high_file_deletion_frequency.yml
  stories/handala_wiper.yml
Labels: Detections, Stories

#3076 Fixing TA for CS data
  data_sources/crowdstrike_processrollup2.yml
Labels: Datasource

#3074 crowstrikes_analytics
  contentctl.yml
  detections/endpoint/crowdstrike_admin_weak_password_policy.yml
  detections/endpoint/crowdstrike_admin_with_duplicate_password.yml
  detections/endpoint/crowdstrike_high_identity_risk_severity.yml
  detections/endpoint/crowdstrike_medium_identity_risk_severity.yml
  detections/endpoint/crowdstrike_medium_severity_alert.yml
  detections/endpoint/crowdstrike_multiple_low_severity_alerts.yml
  detections/endpoint/crowdstrike_privilege_escalation_for_non_admin_user.yml
  detections/endpoint/crowdstrike_user_weak_password_policy.yml
  detections/endpoint/crowdstrike_user_with_duplicate_password.yml
  macros/crowdstrike_identities.yml
  macros/crowdstrike_stream.yml
  stories/compromised_windows_host.yml
Labels: Detections, Stories, Macros

#2979 Nterl0k - T1110.003 NTLM Bruteforce
  detections/endpoint/windows_multiple_ntlm_null_domain_authentications.yml
  detections/endpoint/windows_unusual_ntlm_authentication_destinations_by_source.yml
  detections/endpoint/windows_unusual_ntlm_authentication_destinations_by_user.yml
  detections/endpoint/windows_unusual_ntlm_authentication_users_by_destination.yml
  detections/endpoint/windows_unusual_ntlm_authentication_users_by_source.yml
  macros/ntlm_audit.yml
Labels: Detections, Macros

#2999 Nterl0k [T1098] - O365 Azure Workload things
  detections/cloud/o365_application_available_to_other_tenants.yml
  detections/cloud/o365_cross_tenant_access_change.yml
  detections/cloud/o365_external_guest_user_invited.yml
  detections/cloud/o365_external_identity_policy_changed.yml
  detections/cloud/o365_privileged_role_assigned.yml
  detections/cloud/o365_privileged_role_assigned_to_service_principal.yml
  lookups/privileged_azure_ad_roles.yml
  lookups/privileged_azure_ad_roles20240729.csv
  lookups/privileged_azure_ad_roles20240807.csv
Labels: Detections, Lookups

#3084 Data Source Bug Fix
  data_sources/powershell_script_block_logging_4104.yml
Labels: Datasource

#3085 Updating risk_message
  contentctl.yml
  detections/endpoint/powershell_windows_defender_exclusion_commands.yml
  detections/endpoint/windows_vulnerable_driver_installed.yml
  detections/network/internal_horizontal_port_scan.yml
Labels: Detections

#3087 auditd_data_source
  data_sources/linux_auditd_add_user.yml
  data_sources/linux_auditd_execve.yml
  data_sources/linux_auditd_path.yml
  data_sources/linux_auditd_proctitle.yml
  data_sources/linux_auditd_service_stop.yml
  data_sources/linux_auditd_syscall.yml
Labels: Datasource

#3088 add missing version and id fields to story
  stories/cisa_aa23_347a.yml
Labels: Stories

#3090 Update linux_hosts.yml
  macros/linux_hosts.yml
Labels: Macros

#3091 Marked two detections as manual_test
  detections/endpoint/crowdstrike_medium_severity_alert.yml
  detections/endpoint/crowdstrike_privilege_escalation_for_non_admin_user.yml
Labels: Detections

#3026 Dlux 3 - New & Updated AD / GPO / ACL Detections
  contentctl.yml
  detections/application/windows_ad_dangerous_deny_acl_modification.yml
  detections/application/windows_ad_dangerous_group_acl_modification.yml
  detections/application/windows_ad_dangerous_user_acl_modification.yml
  detections/application/windows_ad_dcshadow_privileges_acl_addition.yml
  detections/application/windows_ad_domain_root_acl_deletion.yml
  detections/application/windows_ad_domain_root_acl_modification.yml
  detections/application/windows_ad_gpo_deleted.yml
  detections/application/windows_ad_gpo_disabled.yml
  detections/application/windows_ad_gpo_new_cse_addition.yml
  detections/application/windows_ad_hidden_ou_creation.yml
  detections/application/windows_ad_object_owner_updated.yml
  detections/application/windows_ad_privileged_group_modification.yml
  detections/application/windows_ad_self_dacl_assignment.yml
  detections/application/windows_ad_suspicious_attribute_modification.yml
  detections/application/windows_ad_suspicious_gpo_modification.yml
  detections/cloud/azure_ad_global_administrator_role_assigned.yml
  detections/cloud/azure_ad_privileged_role_assigned.yml
  detections/cloud/azure_ad_service_principal_new_client_credentials.yml
  detections/endpoint/detect_new_local_admin_account.yml
  detections/endpoint/kerberos_pre_authentication_flag_disabled_in_useraccountcontrol.yml
  detections/endpoint/windows_ad_adminsdholder_acl_modified.yml
  detections/endpoint/windows_ad_domain_replication_acl_addition.yml
  detections/endpoint/windows_ad_replication_request_initiated_by_user_account.yml
  detections/endpoint/windows_ad_replication_request_initiated_from_unsanctioned_location.yml
  detections/endpoint/windows_network_share_interaction_with_net.yml
  lookups/ace_access_rights_lookup.csv
  lookups/ace_access_rights_lookup.yml
  lookups/ace_flag_lookup.csv
  lookups/ace_flag_lookup.yml
  lookups/ace_type_lookup.csv
  lookups/ace_type_lookup.yml
  lookups/builtin_groups_lookup.csv
  lookups/builtin_groups_lookup.yml
  lookups/msad_guid_lookup.csv
  lookups/msad_guid_lookup.yml
Labels: Detections, Lookups

#3095 moon_peak_coverage
  detections/endpoint/allow_operation_with_consent_admin.yml
  detections/endpoint/executables_or_script_creation_in_suspicious_path.yml
  detections/endpoint/powershell_processing_stream_of_data.yml
  detections/endpoint/powershell_using_memory_as_backing_store.yml
  detections/endpoint/powershell_webrequest_using_memory_stream.yml
  detections/endpoint/recon_avproduct_through_pwh_or_wmi.yml
  detections/endpoint/recon_using_wmi_class.yml
  detections/endpoint/registry_keys_used_for_persistence.yml
  detections/endpoint/scheduled_task_deleted_or_created_via_cmd.yml
  detections/endpoint/silentcleanup_uac_bypass.yml
  detections/endpoint/suspicious_process_file_path.yml
  detections/endpoint/suspicious_scheduled_task_from_public_directory.yml
  detections/endpoint/windows_credential_access_from_browser_password_store.yml
  detections/endpoint/windows_credentials_from_password_stores_chrome_extension_access.yml
  detections/endpoint/windows_credentials_from_password_stores_chrome_localstate_access.yml
  detections/endpoint/windows_credentials_from_password_stores_chrome_login_data_access.yml
  detections/endpoint/windows_scheduled_task_created_via_xml.yml
  detections/endpoint/windows_system_reboot_commandline.yml
  detections/endpoint/windows_system_shutdown_commandline.yml
  detections/endpoint/wsreset_uac_bypass.yml
  stories/moonpeak.yml
Labels: Detections, Stories

#2915 Nterl0k - T1110.003 [Spray and Pray] or [Boring but Works]
  detections/endpoint/detect_password_spray_attack_behavior_from_source.yml
  detections/endpoint/detect_password_spray_attack_behavior_on_user.yml
Labels: Detections

#3083 Azure AD updates
  detections/cloud/azure_ad_concurrent_sessions_from_different_ips.yml
  detections/cloud/azure_ad_high_number_of_failed_authentications_from_ip.yml
Labels: Detections

#3093 Guardians of the Haaglaxy
  data_sources/ivanti_vtm_audit.yml
  detections/application/ivanti_vtm_new_account_creation.yml
  macros/ivanti_vtm_audit.yml
  stories/ivanti_virtual_traffic_manager_cve_2024_7593.yml
Labels: Detections, Stories, Macros, Datasource

#2995 Nterl0k - [T1566++] - A bunch of O365 built-in / premium security content
  detections/cloud/o365_dlp_rule_triggered.yml
  detections/cloud/o365_email_access_by_security_administrator.yml
  detections/cloud/o365_email_reported_by_admin_found_malicious.yml
  detections/cloud/o365_email_reported_by_user_found_malicious.yml
  detections/cloud/o365_email_security_feature_changed.yml
  detections/cloud/o365_email_suspicious_behavior_alert.yml
  detections/cloud/o365_safe_links_detection.yml
  detections/cloud/o365_sharepoint_allowed_domains_policy_changed.yml
  detections/cloud/o365_sharepoint_malware_detection.yml
  detections/cloud/o365_threat_intelligence_suspicious_email_delivered.yml
  detections/cloud/o365_threat_intelligence_suspicious_file_detected.yml
  detections/cloud/o365_zap_activity_detection.yml
Labels: Detections

#3099 Weird formatting
  detections/cloud/o365_sharepoint_malware_detection.yml
  detections/cloud/o365_zap_activity_detection.yml
Labels: Detections

#3100 wrong keys in the yaml
  detections/web/ivanti_epm_sql_injection_remote_code_execution.yml
Labels: Detections

#3097 Adding Aws Datasources
  data_sources/aws_cloudtrail_deletealarms.yml
  data_sources/aws_cloudtrail_deletesnapshot.yml
Labels: needs-more-info, Datasource

#3101 remove tab
  detections/cloud/o365_email_access_by_security_administrator.yml
Labels: Detections

#3104 4.39.0 integration fixes
  detections/application/windows_ad_gpo_disabled.yml
Labels: Detections
