Repository splunk/security_content, pull requests merged in 2024-07, with the labels that each got.

#3024 DLUX 1 - Adding Misc New Detections
  data_sources/cloud/AWS_CloudWatchLogs_VPCflow.yml
  data_sources/endpoint/Windows_Event_Log_Security.yml
  data_sources/endpoint/event_sources/Windows_Event_Log_System_4728.yml
  detections/application/detect_distributed_password_spray_attempts.yml
  detections/application/detect_password_spray_attempts.yml
  detections/application/windows_ad_add_self_to_group.yml
  detections/application/windows_increase_in_group_or_object_modification_activity.yml
  detections/application/windows_increase_in_user_modification_activity.yml
  detections/endpoint/windows_network_share_interaction_with_net.yml
  detections/endpoint/windows_vulnerable_driver_installed.yml
  detections/network/internal_horizontal_port_scan.yml
  detections/network/internal_vertical_port_scan.yml
  detections/network/internal_vulnerability_scan.yml
Labels: 4.36.0

#3042 remove unused lookup files
  lookups/ransomware_extensions.csv
  lookups/ransomware_notes.csv
Labels: needs-more-info

#3051 The Haag Returns
  detections/endpoint/moveit_certificate_store_access_failure.yml
  detections/endpoint/moveit_empty_key_fingerprint_authentication_attempt.yml
  macros/moveit_sftp_logs.yml
  stories/moveit_transfer_authentication_bypass.yml
Labels: Detections, Stories, Macros

#3056 Acid Pour!
  detections/endpoint/executables_or_script_creation_in_suspicious_path.yml
  detections/endpoint/linux_deletion_of_cron_jobs.yml
  detections/endpoint/linux_deletion_of_init_daemon_script.yml
  detections/endpoint/linux_deletion_of_services.yml
  detections/endpoint/linux_deletion_of_ssl_certificate.yml
  detections/endpoint/linux_high_frequency_of_file_deletion_in_boot_folder.yml
  stories/acidpour.yml
Labels: Detections, Stories

#3025 Dlux 2 - Misc updates to existing detections
  detections/cloud/azure_ad_admin_consent_bypassed_by_service_principal.yml
  detections/cloud/azure_ad_global_administrator_role_assigned.yml
  detections/cloud/azure_ad_privileged_role_assigned.yml
  detections/cloud/azure_ad_service_principal_new_client_credentials.yml
  detections/endpoint/detect_new_local_admin_account.yml
  detections/endpoint/kerberos_pre_authentication_flag_disabled_in_useraccountcontrol.yml
  detections/endpoint/windows_ad_replication_request_initiated_by_user_account.yml
  detections/endpoint/windows_ad_replication_request_initiated_from_unsanctioned_location.yml
  detections/endpoint/windows_admon_default_group_policy_object_modified.yml
  detections/endpoint/windows_admon_group_policy_object_created.yml
  lookups/privileged_azure_ad_roles.csv
Labels: Detections, Lookups

#3005 Nterl0k - T1036 LOLBASh Your Face
  detections/endpoint/windows_lolbas_executed_as_renamed_file.yml
  detections/endpoint/windows_lolbas_executed_outside_expected_path.yml
  lookups/lolbas_file_path.csv
  lookups/lolbas_file_path.yml
  lookups/lolbas_file_path20240725.csv
Labels: Detections, Lookups

#3050 Edit Windows Event Log Cleared
  detections/endpoint/windows_event_log_cleared.yml
Labels: Detections

#3052 Haag's Hunt for Gozi Gremlins
  detections/endpoint/bitsadmin_download_file.yml
  detections/endpoint/cmdline_tool_not_executed_in_cmd_shell.yml
  detections/endpoint/cobalt_strike_named_pipes.yml
  detections/endpoint/detect_mshta_inline_hta_execution.yml
  detections/endpoint/detect_remote_access_software_usage_file.yml
  detections/endpoint/detect_remote_access_software_usage_fileinfo.yml
  detections/endpoint/detect_remote_access_software_usage_process.yml
  detections/endpoint/getadcomputer_with_powershell_script_block.yml
  detections/endpoint/impacket_lateral_movement_commandline_parameters.yml
  detections/endpoint/impacket_lateral_movement_wmiexec_commandline_parameters.yml
  detections/endpoint/powershell_start_bitstransfer.yml
  detections/endpoint/process_creating_lnk_file_in_suspicious_location.yml
  detections/endpoint/system_information_discovery_detection.yml
  detections/endpoint/windows_boot_or_logon_autostart_execution_in_startup_folder.yml
  detections/endpoint/windows_domain_admin_impersonation_indicator.yml
  detections/endpoint/windows_iso_lnk_file_creation.yml
  detections/endpoint/windows_phishing_recent_iso_exec_registry.yml
  stories/gozi_malware.yml
Labels: Detections, Stories

#3057 Shrink Locker
  detections/endpoint/processes_launching_netsh.yml
  detections/endpoint/scheduled_task_deleted_or_created_via_cmd.yml
  detections/endpoint/suspicious_wevtutil_usage.yml
  detections/endpoint/windows_delete_or_modify_system_firewall.yml
  detections/endpoint/windows_event_log_cleared.yml
  detections/endpoint/windows_modify_registry_configure_bitlocker.yml
  detections/endpoint/windows_modify_registry_delete_firewall_rules.yml
  detections/endpoint/windows_modify_registry_disable_rdp.yml
  detections/endpoint/windows_modify_registry_on_smart_card_group_policy.yml
  detections/endpoint/windows_modify_registry_to_add_or_modify_firewall_rule.yml
  detections/endpoint/wscript_or_cscript_suspicious_child_process.yml
  stories/shrinklocker.yml
Labels: Detections, Stories

#3059 Haag's Guided Adventures
  detections/endpoint/linux_decode_base64_to_shell.yml
  detections/endpoint/linux_obfuscated_files_or_information_base64_decode.yml
  detections/endpoint/malicious_powershell_process___encoded_command.yml
  detections/endpoint/possible_lateral_movement_powershell_spawn.yml
  detections/endpoint/windows_protocol_tunneling_with_plink.yml
  detections/network/detect_remote_access_software_usage_dns.yml
  detections/web/detections/web/ivanti_epm_sql_injection_remote_code_execution.yml
  stories/ivanti_epm_vulnerabilities.yml
Labels: Detections, Stories

#3060 Accidentally an extra risk object
  detections/endpoint/windows_known_abused_dll_loaded_suspiciously.yml
Labels: Detections

#3030 Nterl0k - RMM Must Die - Update
  detections/endpoint/detect_remote_access_software_usage_file.yml
  detections/endpoint/detect_remote_access_software_usage_fileinfo.yml
  detections/endpoint/detect_remote_access_software_usage_process.yml
  detections/network/detect_remote_access_software_usage_dns.yml
  detections/network/detect_remote_access_software_usage_traffic.yml
  detections/web/detect_remote_access_software_usage_url.yml
  lookups/remote_access_software.yml
  lookups/remote_access_software20240726.csv
  lookups/remote_access_software_exceptions.yml
  macros/remote_access_software_usage_exceptions.yml
Labels: Detections, Lookups, Macros

#3063 Datestamped Azure lookup
  lookups/privileged_azure_ad_roles.yml
  lookups/privileged_azure_ad_roles20240729.csv
Labels: Lookups

#3064 minor sysmon datasource update
  detections/endpoint/windows_lolbas_executed_as_renamed_file.yml
Labels: Detections

#3065 Re adding 2 detections:
  detections/endpoint/windows_admon_default_group_policy_object_modified.yml
  detections/endpoint/windows_admon_group_policy_object_created.yml
Labels: Detections

#3066 A Haag of Your Own
  detections/endpoint/windows_net_creating_of_esx_admins_group.yml
  detections/endpoint/windows_outlook_webview_registry_modification.yml
  detections/endpoint/windows_powershell_create_esx_admins_group.yml
  detections/endpoint/windows_security_esx_admins_group_event.yml
  stories/vmware_esxi_ad_integration_authentication_bypass_cve_2024_37085.yml
Labels: Detections, Stories

#3068 fix some names and data sources
  detections/endpoint/windows_esx_admins_group_creation_security_event.yml
  detections/endpoint/windows_esx_admins_group_creation_via_net.yml
  detections/endpoint/windows_esx_admins_group_creation_via_powershell.yml
  detections/endpoint/windows_known_abused_dll_loaded_suspiciously.yml
  detections/endpoint/windows_lolbas_executed_outside_expected_path.yml
  detections/endpoint/windows_outlook_webview_registry_modification.yml
Labels: Detections

#3069 Create windows_privileged_group_modification.yml
  detections/endpoint/windows_privileged_group_modification.yml
Labels: Detections
