Repository splunk/security_content, pull requests merged in 2024-09, with the labels that each got.

#3108 More Observable cleanup
  detections/deprecated/aws_cloud_provisioning_from_previously_unseen_region.yml
  detections/deprecated/detect_aws_api_activities_from_unapproved_accounts.yml
  detections/endpoint/excessive_usage_of_taskkill.yml
  detections/endpoint/kerberos_pre_authentication_flag_disabled_in_useraccountcontrol.yml
  detections/endpoint/windows_alternate_datastream___base64_content.yml
  detections/endpoint/windows_alternate_datastream___executable_content.yml
  detections/endpoint/windows_alternate_datastream___process_execution.yml
  detections/endpoint/windows_disable_or_modify_tools_via_taskkill.yml
  detections/endpoint/windows_uac_bypass_suspicious_child_process.yml
  detections/endpoint/windows_uac_bypass_suspicious_escalation_behavior.yml
Labels: Detections

#3107 Improvements AWS ASL detection
  data_sources/aws_cloudfront.yml
  data_sources/aws_cloudtrail.yml
  data_sources/aws_cloudtrail_assumerolewithsaml.yml
  data_sources/aws_cloudtrail_consolelogin.yml
  data_sources/aws_cloudtrail_copyobject.yml
  data_sources/aws_cloudtrail_createaccesskey.yml
  data_sources/aws_cloudtrail_createkey.yml
  data_sources/aws_cloudtrail_createloginprofile.yml
  data_sources/aws_cloudtrail_createnetworkaclentry.yml
  data_sources/aws_cloudtrail_createpolicyversion.yml
  data_sources/aws_cloudtrail_createsnapshot.yml
  data_sources/aws_cloudtrail_createtask.yml
  data_sources/aws_cloudtrail_createvirtualmfadevice.yml
  data_sources/aws_cloudtrail_deactivatemfadevice.yml
  data_sources/aws_cloudtrail_deleteaccountpasswordpolicy.yml
  data_sources/aws_cloudtrail_deletealarms.yml
  data_sources/aws_cloudtrail_deletedetector.yml
  data_sources/aws_cloudtrail_deletegroup.yml
  data_sources/aws_cloudtrail_deleteipset.yml
  data_sources/aws_cloudtrail_deleteloggroup.yml
  data_sources/aws_cloudtrail_deletelogstream.yml
  data_sources/aws_cloudtrail_deletenetworkaclentry.yml
  data_sources/aws_cloudtrail_deletepolicy.yml
  data_sources/aws_cloudtrail_deleterule.yml
  data_sources/aws_cloudtrail_deletesnapshot.yml
  data_sources/aws_cloudtrail_deletetrail.yml
  data_sources/aws_cloudtrail_deletevirtualmfadevice.yml
  data_sources/aws_cloudtrail_deletewebacl.yml
  data_sources/aws_cloudtrail_describeeventaggregates.yml
  data_sources/aws_cloudtrail_describeimagescanfindings.yml
  data_sources/aws_cloudtrail_getaccountpasswordpolicy.yml
  data_sources/aws_cloudtrail_getobject.yml
  data_sources/aws_cloudtrail_getpassworddata.yml
  data_sources/aws_cloudtrail_jobcreated.yml
  data_sources/aws_cloudtrail_modifydbinstance.yml
  data_sources/aws_cloudtrail_modifyimageattribute.yml
  data_sources/aws_cloudtrail_modifysnapshotattribute.yml
  data_sources/aws_cloudtrail_putbucketacl.yml
  data_sources/aws_cloudtrail_putbucketlifecycle.yml
  data_sources/aws_cloudtrail_putbucketreplication.yml
  data_sources/aws_cloudtrail_putbucketversioning.yml
  data_sources/aws_cloudtrail_putimage.yml
  data_sources/aws_cloudtrail_putkeypolicy.yml
  data_sources/aws_cloudtrail_replacenetworkaclentry.yml
  data_sources/aws_cloudtrail_setdefaultpolicyversion.yml
  data_sources/aws_cloudtrail_stoplogging.yml
  data_sources/aws_cloudtrail_updateaccountpasswordpolicy.yml
  data_sources/aws_cloudtrail_updateloginprofile.yml
  data_sources/aws_cloudtrail_updatesamlprovider.yml
  data_sources/aws_cloudtrail_updatetrail.yml
  data_sources/aws_cloudwatchlogs_vpcflow.yml
  data_sources/aws_security_hub.yml
  detections/cloud/asl_aws_concurrent_sessions_from_different_ips.yml
Labels: Detections, Datasource

#3105 No More Haag-gling with BlackSuit: A Tailored Analytic Story
  detections/deprecated/detect_activity_related_to_pass_the_hash_attacks.yml
  detections/endpoint/anomalous_usage_of_7zip.yml
  detections/endpoint/create_remote_thread_into_lsass.yml
  detections/endpoint/detect_credential_dumping_through_lsass_access.yml
  detections/endpoint/detect_sharphound_command_line_arguments.yml
  detections/endpoint/detect_sharphound_file_modifications.yml
  detections/endpoint/disabled_kerberos_pre_authentication_discovery_with_get_aduser.yml
  detections/endpoint/domain_controller_discovery_with_nltest.yml
  detections/endpoint/elevated_group_discovery_with_net.yml
  detections/endpoint/executable_file_written_in_administrative_smb_share.yml
  detections/endpoint/kerberos_pre_authentication_flag_disabled_in_useraccountcontrol.yml
  detections/endpoint/randomly_generated_windows_service_name.yml
  detections/endpoint/registry_keys_used_for_persistence.yml
  detections/endpoint/rubeus_command_line_parameters.yml
  detections/endpoint/rubeus_kerberos_ticket_exports_through_winlogon_access.yml
  detections/endpoint/rundll32_with_no_command_line_arguments_with_network.yml
  detections/endpoint/system_information_discovery_detection.yml
  detections/endpoint/unknown_process_using_the_kerberos_protocol.yml
  detections/endpoint/windows_ad_abnormal_object_access_activity.yml
  detections/endpoint/windows_ad_privileged_object_access_activity.yml
  detections/endpoint/windows_adfind_exe.yml
  detections/endpoint/windows_driver_load_non_standard_path.yml
  detections/endpoint/windows_privilege_escalation_suspicious_process_elevation.yml
  detections/endpoint/windows_privilege_escalation_system_process_without_system_parent.yml
  detections/endpoint/windows_privilege_escalation_user_process_spawn_system_process.yml
  detections/endpoint/windows_remote_create_service.yml
  detections/endpoint/windows_remote_services_rdp_enable.yml
  detections/endpoint/winevent_windows_task_scheduler_event_action_started.yml
  stories/blacksuit_ransomware.yml
Labels: Detections, Stories

#3106 Improved how_to_implement for k8s detections
  detections/cloud/kubernetes_abuse_of_secret_by_unusual_location.yml
  detections/cloud/kubernetes_abuse_of_secret_by_unusual_user_agent.yml
  detections/cloud/kubernetes_abuse_of_secret_by_unusual_user_group.yml
  detections/cloud/kubernetes_abuse_of_secret_by_unusual_user_name.yml
  detections/cloud/kubernetes_access_scanning.yml
  detections/cloud/kubernetes_aws_detect_suspicious_kubectl_calls.yml
  detections/cloud/kubernetes_create_or_update_privileged_pod.yml
  detections/cloud/kubernetes_cron_job_creation.yml
  detections/cloud/kubernetes_daemonset_deployed.yml
  detections/cloud/kubernetes_falco_shell_spawned.yml
  detections/cloud/kubernetes_node_port_creation.yml
  detections/cloud/kubernetes_pod_created_in_default_namespace.yml
  detections/cloud/kubernetes_pod_with_host_network_attachment.yml
  detections/cloud/kubernetes_scanning_by_unauthenticated_ip_address.yml
  detections/cloud/kubernetes_suspicious_image_pulling.yml
  detections/cloud/kubernetes_unauthorized_access.yml
Labels: Detections

#3115 The Haag Element: Breaking Down AA24-241A
  detections/endpoint/create_local_admin_accounts_using_net_exe.yml
  detections/endpoint/detect_new_local_admin_account.yml
  detections/endpoint/detect_remote_access_software_usage_file.yml
  detections/endpoint/detect_remote_access_software_usage_process.yml
  detections/endpoint/disable_defender_antivirus_registry.yml
  detections/endpoint/powershell_4104_hunting.yml
  detections/endpoint/powershell_disable_security_monitoring.yml
  detections/endpoint/scheduled_task_deleted_or_created_via_cmd.yml
  detections/endpoint/suspicious_scheduled_task_from_public_directory.yml
  detections/endpoint/windows_abused_web_services.yml
  detections/endpoint/windows_create_local_account.yml
  detections/endpoint/windows_dism_install_powershell_web_access.yml
  detections/endpoint/windows_enable_powershell_web_access.yml
  detections/endpoint/windows_modify_registry_delete_firewall_rules.yml
  detections/endpoint/windows_modify_registry_to_add_or_modify_firewall_rule.yml
  detections/endpoint/windows_ngrok_reverse_proxy_usage.yml
  detections/endpoint/winevent_windows_task_scheduler_event_action_started.yml
  detections/endpoint/wsmprovhost_lolbas_execution_process_spawn.yml
  detections/network/detect_remote_access_software_usage_dns.yml
  detections/network/f5_big_ip_icontrol_rest_vulnerability_cve_2022_1388.yml
  detections/network/ngrok_reverse_proxy_on_network.yml
  detections/web/access_to_vulnerable_ivanti_connect_secure_bookmark_endpoint.yml
  detections/web/citrix_adc_exploitation_cve_2023_3519.yml
  detections/web/detect_remote_access_software_usage_url.yml
  detections/web/ivanti_connect_secure_command_injection_attempts.yml
  detections/web/ivanti_connect_secure_system_information_access_via_auth_bypass.yml
  stories/cisa_aa24_241a.yml
Labels: Detections, Stories

#3089 linux_auditd_detection
  detections/endpoint/linux_auditd_add_user_account.yml
  detections/endpoint/linux_auditd_add_user_account_type.yml
  detections/endpoint/linux_auditd_at_application_execution.yml
  detections/endpoint/linux_auditd_auditd_service_stop.yml
  detections/endpoint/linux_auditd_base64_decode_files.yml
  detections/endpoint/linux_auditd_change_file_owner_to_root.yml
  detections/endpoint/linux_auditd_clipboard_data_copy.yml
  detections/endpoint/linux_auditd_data_destruction_command.yml
  detections/endpoint/linux_auditd_data_transfer_size_limits_via_split.yml
  detections/endpoint/linux_auditd_data_transfer_size_limits_via_split_syscall.yml
  detections/endpoint/linux_auditd_database_file_and_directory_discovery.yml
  detections/endpoint/linux_auditd_dd_file_overwrite.yml
  detections/endpoint/linux_auditd_disable_or_modify_system_firewall.yml
  detections/endpoint/linux_auditd_doas_conf_file_creation.yml
  detections/endpoint/linux_auditd_doas_tool_execution.yml
  detections/endpoint/linux_auditd_edit_cron_table_parameter.yml
  detections/endpoint/linux_auditd_file_and_directory_discovery.yml
  detections/endpoint/linux_auditd_file_permission_modification_via_chmod.yml
  detections/endpoint/linux_auditd_file_permissions_modification_via_chattr.yml
  detections/endpoint/linux_auditd_find_credentials_from_password_managers.yml
  detections/endpoint/linux_auditd_find_credentials_from_password_stores.yml
  detections/endpoint/linux_auditd_find_private_keys.yml
  detections/endpoint/linux_auditd_find_ssh_private_keys.yml
  detections/endpoint/linux_auditd_hardware_addition_swapoff.yml
  detections/endpoint/linux_auditd_hidden_files_and_directories_creation.yml
  detections/endpoint/linux_auditd_insert_kernel_module_using_insmod_utility.yml
  detections/endpoint/linux_auditd_install_kernel_module_using_modprobe_utility.yml
  detections/endpoint/linux_auditd_kernel_module_enumeration.yml
  detections/endpoint/linux_auditd_kernel_module_using_rmmod_utility.yml
  detections/endpoint/linux_auditd_nopasswd_entry_in_sudoers_file.yml
  detections/endpoint/linux_auditd_osquery_service_stop.yml
  detections/endpoint/linux_auditd_possible_access_or_modification_of_sshd_config_file.yml
  detections/endpoint/linux_auditd_possible_access_to_credential_files.yml
  detections/endpoint/linux_auditd_possible_access_to_sudoers_file.yml
  detections/endpoint/linux_auditd_possible_append_cronjob_entry_on_existing_cronjob_file.yml
  detections/endpoint/linux_auditd_preload_hijack_library_calls.yml
  detections/endpoint/linux_auditd_preload_hijack_via_preload_file.yml
  detections/endpoint/linux_auditd_service_restarted.yml
  detections/endpoint/linux_auditd_service_started.yml
  detections/endpoint/linux_auditd_setuid_using_chmod_utility.yml
  detections/endpoint/linux_auditd_setuid_using_setcap_utility.yml
  detections/endpoint/linux_auditd_shred_overwrite_command.yml
  detections/endpoint/linux_auditd_stop_services.yml
  detections/endpoint/linux_auditd_sudo_or_su_execution.yml
  detections/endpoint/linux_auditd_sysmon_service_stop.yml
  detections/endpoint/linux_auditd_system_network_configuration_discovery.yml
  detections/endpoint/linux_auditd_unix_shell_configuration_modification.yml
  detections/endpoint/linux_auditd_unload_module_via_modprobe.yml
  detections/endpoint/linux_auditd_virtual_disk_file_and_directory_discovery.yml
  detections/endpoint/linux_auditd_whoami_user_discovery.yml
  macros/linux_auditd.yml
  macros/linux_auditd_normalized_execve_process.yml
  macros/linux_auditd_normalized_proctitle_process.yml
  stories/compromised_linux_host.yml
Labels: Detections, Stories, Macros

#3118 Automated Splunk TA Update 14
  data_sources/okta.yml
Labels: Datasource

#3119 Linux Auditd Fix
  detections/endpoint/linux_auditd_doas_conf_file_creation.yml
  detections/endpoint/linux_auditd_possible_access_to_sudoers_file.yml
  detections/endpoint/linux_auditd_preload_hijack_via_preload_file.yml
  detections/endpoint/linux_auditd_unix_shell_configuration_modification.yml
Labels: Detections

#3127 Automated Splunk TA Update 24
  data_sources/azure_active_directory.yml
  data_sources/azure_active_directory_add_app_role_assignment_to_service_principal.yml
  data_sources/azure_active_directory_add_member_to_role.yml
  data_sources/azure_active_directory_add_owner_to_application.yml
  data_sources/azure_active_directory_add_service_principal.yml
  data_sources/azure_active_directory_add_unverified_domain.yml
  data_sources/azure_active_directory_consent_to_application.yml
  data_sources/azure_active_directory_disable_strong_authentication.yml
  data_sources/azure_active_directory_enable_account.yml
  data_sources/azure_active_directory_invite_external_user.yml
  data_sources/azure_active_directory_reset_password_(by_admin).yml
  data_sources/azure_active_directory_set_domain_authentication.yml
  data_sources/azure_active_directory_sign_in_activity.yml
  data_sources/azure_active_directory_update_application.yml
  data_sources/azure_active_directory_update_authorization_policy.yml
  data_sources/azure_active_directory_update_user.yml
  data_sources/azure_active_directory_user_registered_security_info.yml
  data_sources/azure_audit_create_or_update_an_azure_automation_account.yml
  data_sources/azure_audit_create_or_update_an_azure_automation_runbook.yml
  data_sources/azure_audit_create_or_update_an_azure_automation_webhook.yml
Labels: Datasource

#3132 Automated Splunk TA Update 27
  data_sources/o365.yml
  data_sources/o365_add_app_role_assignment_grant_to_user_.yml
  data_sources/o365_add_app_role_assignment_to_service_principal_.yml
  data_sources/o365_add_mailboxpermission.yml
  data_sources/o365_add_member_to_role_.yml
  data_sources/o365_add_owner_to_application_.yml
  data_sources/o365_add_service_principal_.yml
  data_sources/o365_change_user_license_.yml
  data_sources/o365_consent_to_application_.yml
  data_sources/o365_disable_strong_authentication_.yml
  data_sources/o365_mailitemsaccessed.yml
  data_sources/o365_modifyfolderpermissions.yml
  data_sources/o365_set_company_information_.yml
  data_sources/o365_set_mailbox.yml
  data_sources/o365_update_application_.yml
  data_sources/o365_update_authorization_policy_.yml
  data_sources/o365_update_user_.yml
  data_sources/o365_userloggedin.yml
  data_sources/o365_userloginfailed.yml
Labels: Datasource

#3129 valleyrat
  detections/endpoint/add_or_set_windows_defender_exclusion.yml
  detections/endpoint/cmlua_or_cmstplua_uac_bypass.yml
  detections/endpoint/eventvwr_uac_bypass.yml
  detections/endpoint/executables_or_script_creation_in_suspicious_path.yml
  detections/endpoint/fodhelper_uac_bypass.yml
  detections/endpoint/suspicious_process_file_path.yml
  detections/endpoint/windows_access_token_manipulation_sedebugprivilege.yml
  detections/endpoint/windows_defender_exclusion_registry_entry.yml
  detections/endpoint/windows_impair_defenses_disable_av_autostart_via_registry.yml
  detections/endpoint/windows_modify_registry_utilize_progids.yml
  detections/endpoint/windows_modify_registry_valleyrat_c2_config.yml
  detections/endpoint/windows_modify_registry_valleyrat_pwn_reg_entry.yml
  detections/endpoint/windows_schedule_task_dll_module_loaded.yml
  detections/endpoint/windows_schedule_tasks_for_compmgmtlauncher_or_eventvwr.yml
  detections/endpoint/winevent_windows_task_scheduler_event_action_started.yml
  stories/valleyrat.yml
Labels: Detections, Stories

#3137 Valleyrat fixes!
  detections/endpoint/windows_impair_defenses_disable_av_autostart_via_registry.yml
  detections/endpoint/windows_modify_registry_utilize_progids.yml
  detections/endpoint/windows_modify_registry_valleyrat_c2_config.yml
  detections/endpoint/windows_scheduled_task_dll_module_loaded.yml
  detections/endpoint/windows_scheduled_tasks_for_compmgmtlauncher_or_eventvwr.yml
Labels: Detections

#3144 Update misnamed eventid
  data_sources/windows_event_log_security_4688.yml
  detections/application/windows_ad_privileged_group_modification.yml
  detections/endpoint/create_remote_thread_into_lsass.yml
  detections/endpoint/detect_regsvcs_with_network_connection.yml
  detections/endpoint/suspicious_process_dns_query_known_abuse_web_services.yml
  detections/endpoint/windows_dism_install_powershell_web_access.yml
  detections/endpoint/windows_enable_powershell_web_access.yml
  detections/endpoint/windows_impair_defenses_disable_av_autostart_via_registry.yml
  detections/endpoint/windows_modify_registry_utilize_progids.yml
  detections/endpoint/windows_modify_registry_valleyrat_c2_config.yml
  detections/endpoint/windows_modify_registry_valleyrat_pwn_reg_entry.yml
  detections/endpoint/windows_privileged_group_modification.yml
  detections/endpoint/windows_scheduled_task_dll_module_loaded.yml
  detections/endpoint/windows_scheduled_tasks_for_compmgmtlauncher_or_eventvwr.yml
  detections/endpoint/wmi_permanent_event_subscription.yml
Labels: Detections, Datasource
