Repository splunk/security_content, pull requests merged in 2024-11, with the labels that each got.

#3188 Update MITRE aws_defense_evasion_putbucketlifecycle.yml
  detections/cloud/aws_defense_evasion_putbucketlifecycle.yml
Labels: Detections

#3187 Alerts- update risk_score
  detections/endpoint/detect_critical_alerts_from_security_tools.yml
  detections/endpoint/windows_ad_dsrm_password_reset.yml
Labels: Detections

#3190 update score
  detections/endpoint/detect_critical_alerts_from_security_tools.yml
Labels: Detections

#3192 Automated Splunk TA Update 75
  data_sources/crowdstrike_processrollup2.yml
  data_sources/g_suite_drive.yml
  data_sources/g_suite_gmail.yml
  data_sources/google_workspace_login_failure.yml
  data_sources/google_workspace_login_success.yml
  data_sources/o365.yml
  data_sources/o365_add_app_role_assignment_grant_to_user_.yml
  data_sources/o365_add_app_role_assignment_to_service_principal_.yml
  data_sources/o365_add_mailboxpermission.yml
  data_sources/o365_add_member_to_role_.yml
  data_sources/o365_add_owner_to_application_.yml
  data_sources/o365_add_service_principal_.yml
  data_sources/o365_change_user_license_.yml
  data_sources/o365_consent_to_application_.yml
  data_sources/o365_disable_strong_authentication_.yml
  data_sources/o365_mailitemsaccessed.yml
  data_sources/o365_modifyfolderpermissions.yml
  data_sources/o365_set_company_information_.yml
  data_sources/o365_set_mailbox.yml
  data_sources/o365_update_application_.yml
  data_sources/o365_update_authorization_policy_.yml
  data_sources/o365_update_user_.yml
  data_sources/o365_userloggedin.yml
  data_sources/o365_userloginfailed.yml
Labels: Datasource

#3196 Standardize data_source fieldname
  detections/endpoint/windows_identify_powershell_web_access_iis_pool.yml
  detections/web/windows_iis_server_pswa_console_access.yml
Labels: Detections

#3181 Azure AD Authentication Failed During MFA Challenge
  detections/cloud/azure_ad_authentication_failed_during_mfa_challenge.yml
Labels: Detections

#3161 braodo_stealer
  detections/deprecated/detect_mimikatz_using_loaded_images.yml
  detections/deprecated/windows_dll_search_order_hijacking_hunt.yml
  detections/endpoint/any_powershell_downloadfile.yml
  detections/endpoint/powershell_4104_hunting.yml
  detections/endpoint/powershell_processing_stream_of_data.yml
  detections/endpoint/registry_keys_used_for_persistence.yml
  detections/endpoint/windows_archived_collected_data_in_temp_folder.yml
  detections/endpoint/windows_credential_access_from_browser_password_store.yml
  detections/endpoint/windows_credentials_from_password_stores_chrome_copied_in_temp_dir.yml
  detections/endpoint/windows_credentials_from_password_stores_chrome_extension_access.yml
  detections/endpoint/windows_credentials_from_password_stores_chrome_localstate_access.yml
  detections/endpoint/windows_credentials_from_password_stores_chrome_login_data_access.yml
  detections/endpoint/windows_credentials_from_web_browsers_saved_in_temp_folder.yml
  detections/endpoint/windows_disable_or_stop_browser_process.yml
  detections/endpoint/windows_screen_capture_in_temp_folder.yml
  stories/braodo_stealer.yml
Labels: Detections, Stories

#3140 DLUX_4 - Updating detections and adding a new one
  contentctl.yml
  detections/application/detect_distributed_password_spray_attempts.yml
  detections/application/detect_password_spray_attempts.yml
  detections/cloud/aws_multiple_users_failing_to_authenticate_from_ip.yml
  detections/endpoint/kerberoasting_spn_request_with_rc4_encryption.yml
  detections/endpoint/unusual_number_of_kerberos_service_tickets_requested.yml
  detections/endpoint/windows_ad_serviceprincipalname_added_to_domain_account.yml
  detections/endpoint/windows_driver_load_non_standard_path.yml
  detections/endpoint/winevent_windows_task_scheduler_event_action_started.yml
  detections/network/detect_large_outbound_icmp_packets.yml
  detections/network/detect_outbound_smb_traffic.yml
  detections/network/internal_horizontal_port_scan_nmap_top_20.yml
  detections/network/remote_desktop_network_bruteforce.yml
  detections/network/remote_desktop_network_traffic.yml
  detections/network/smb_traffic_spike.yml
  detections/web/high_volume_of_bytes_out_to_url.yml
  detections/web/java_class_file_download_by_java_user_agent.yml
  detections/web/multiple_archive_files_http_post_traffic.yml
  detections/web/plain_http_post_exfiltrated_data.yml
  detections/web/unusually_long_content_type_length.yml
  macros/wineventlog_task_scheduler.yml
Labels: Detections, Macros

#3198 Minor fixes
  detections/endpoint/windows_credentials_from_password_stores_chrome_copied_in_temp_dir.yml
  detections/network/detect_large_outbound_icmp_packets.yml
Labels: Detections

#2997 Wget/Curl Download and Bash Execution: Changing logic for search terms, to make searches comply with title and intention
  detections/endpoint/curl_download_and_bash_execution.yml
  detections/endpoint/wget_download_and_bash_execution.yml
Labels: Detections

#3201 CIM to 6.0.0
  contentctl.yml
Labels: needs-more-info

#3205 Fix date so its not in the future
  stories/braodo_stealer.yml
Labels: Stories

#3151 Remove _time span
  detections/endpoint/active_setup_registry_autostart.yml
  detections/endpoint/add_defaultuser_and_password_in_registry.yml
  detections/endpoint/allow_inbound_traffic_by_firewall_rule_registry.yml
  detections/endpoint/allow_operation_with_consent_admin.yml
  detections/endpoint/auto_admin_logon_registry_entry.yml
  detections/endpoint/disable_amsi_through_registry.yml
  detections/endpoint/disable_defender_antivirus_registry.yml
  detections/endpoint/disable_defender_blockatfirstseen_feature.yml
  detections/endpoint/disable_defender_enhanced_notification.yml
  detections/endpoint/disable_defender_mpengine_registry.yml
  detections/endpoint/disable_defender_spynet_reporting.yml
  detections/endpoint/disable_defender_submit_samples_consent_feature.yml
  detections/endpoint/disable_etw_through_registry.yml
  detections/endpoint/disable_registry_tool.yml
  detections/endpoint/disable_security_logs_using_minint_registry.yml
  detections/endpoint/disable_show_hidden_files.yml
  detections/endpoint/disable_uac_remote_restriction.yml
  detections/endpoint/disable_windows_app_hotkeys.yml
  detections/endpoint/disable_windows_behavior_monitoring.yml
  detections/endpoint/disable_windows_smartscreen_protection.yml
  detections/endpoint/disabling_cmd_application.yml
  detections/endpoint/disabling_controlpanel.yml
  detections/endpoint/disabling_defender_services.yml
  detections/endpoint/disabling_folderoptions_windows_feature.yml
  detections/endpoint/disabling_norun_windows_app.yml
  detections/endpoint/disabling_systemrestore_in_registry.yml
  detections/endpoint/disabling_task_manager.yml
  detections/endpoint/enable_rdp_in_other_port_number.yml
  detections/endpoint/enable_wdigest_uselogoncredential_registry.yml
  detections/endpoint/etw_registry_disabled.yml
  detections/endpoint/hide_user_account_from_sign_in_screen.yml
  detections/endpoint/monitor_registry_keys_for_print_monitors.yml
  detections/endpoint/registry_keys_for_creating_shim_databases.yml
  detections/endpoint/registry_keys_used_for_privilege_escalation.yml
  detections/endpoint/time_provider_persistence_registry.yml
  detections/endpoint/windows_defender_exclusion_registry_entry.yml
  detections/endpoint/windows_disable_change_password_through_registry.yml
  detections/endpoint/windows_disable_lock_workstation_feature_through_registry.yml
  detections/endpoint/windows_disable_logoff_button_through_registry.yml
  detections/endpoint/windows_disable_notification_center.yml
  detections/endpoint/windows_disable_shutdown_button_through_registry.yml
  detections/endpoint/windows_hide_notification_features_through_registry.yml
  detections/endpoint/windows_impair_defense_configure_app_install_control.yml
  detections/endpoint/windows_impair_defense_disable_web_evaluation.yml
  detections/endpoint/windows_impair_defense_override_smartscreen_prompt.yml
  detections/endpoint/windows_lsa_secrets_nolmhash_registry.yml
  detections/endpoint/windows_modify_registry_disable_restricted_admin.yml
  detections/endpoint/windows_modify_registry_enablelinkedconnections.yml
  detections/endpoint/windows_modify_registry_longpathsenabled.yml
  detections/endpoint/windows_modify_registry_nochangingwallpaper.yml
  detections/endpoint/windows_modify_registry_to_add_or_modify_firewall_rule.yml
  detections/endpoint/windows_modify_show_compress_color_and_info_tip_registry.yml
  detections/endpoint/windows_registry_bootexecute_modification.yml
  detections/endpoint/windows_registry_certificate_added.yml
  detections/endpoint/windows_registry_delete_task_sd.yml
  detections/endpoint/windows_registry_modification_for_safe_mode_persistence.yml
  detections/endpoint/windows_service_creation_using_registry_entry.yml
Labels: Detections

#3207 update version and date
  detections/endpoint/active_setup_registry_autostart.yml
  detections/endpoint/add_defaultuser_and_password_in_registry.yml
  detections/endpoint/allow_inbound_traffic_by_firewall_rule_registry.yml
  detections/endpoint/allow_operation_with_consent_admin.yml
  detections/endpoint/auto_admin_logon_registry_entry.yml
  detections/endpoint/disable_amsi_through_registry.yml
  detections/endpoint/disable_defender_antivirus_registry.yml
  detections/endpoint/disable_defender_blockatfirstseen_feature.yml
  detections/endpoint/disable_defender_enhanced_notification.yml
  detections/endpoint/disable_defender_spynet_reporting.yml
  detections/endpoint/disable_defender_submit_samples_consent_feature.yml
  detections/endpoint/disable_etw_through_registry.yml
  detections/endpoint/disable_registry_tool.yml
  detections/endpoint/disable_security_logs_using_minint_registry.yml
  detections/endpoint/disable_show_hidden_files.yml
  detections/endpoint/disable_uac_remote_restriction.yml
  detections/endpoint/disable_windows_app_hotkeys.yml
  detections/endpoint/disable_windows_behavior_monitoring.yml
  detections/endpoint/disable_windows_smartscreen_protection.yml
  detections/endpoint/disabling_cmd_application.yml
  detections/endpoint/disabling_controlpanel.yml
  detections/endpoint/disabling_defender_services.yml
  detections/endpoint/disabling_folderoptions_windows_feature.yml
  detections/endpoint/disabling_norun_windows_app.yml
  detections/endpoint/disabling_systemrestore_in_registry.yml
  detections/endpoint/disabling_task_manager.yml
  detections/endpoint/enable_rdp_in_other_port_number.yml
  detections/endpoint/enable_wdigest_uselogoncredential_registry.yml
  detections/endpoint/etw_registry_disabled.yml
  detections/endpoint/hide_user_account_from_sign_in_screen.yml
  detections/endpoint/monitor_registry_keys_for_print_monitors.yml
  detections/endpoint/registry_keys_for_creating_shim_databases.yml
  detections/endpoint/registry_keys_used_for_privilege_escalation.yml
  detections/endpoint/time_provider_persistence_registry.yml
  detections/endpoint/windows_defender_exclusion_registry_entry.yml
  detections/endpoint/windows_disable_change_password_through_registry.yml
  detections/endpoint/windows_disable_lock_workstation_feature_through_registry.yml
  detections/endpoint/windows_disable_logoff_button_through_registry.yml
  detections/endpoint/windows_disable_notification_center.yml
  detections/endpoint/windows_disable_shutdown_button_through_registry.yml
  detections/endpoint/windows_hide_notification_features_through_registry.yml
  detections/endpoint/windows_impair_defense_configure_app_install_control.yml
  detections/endpoint/windows_impair_defense_disable_web_evaluation.yml
  detections/endpoint/windows_impair_defense_override_smartscreen_prompt.yml
  detections/endpoint/windows_lsa_secrets_nolmhash_registry.yml
  detections/endpoint/windows_modify_registry_disable_restricted_admin.yml
  detections/endpoint/windows_modify_registry_enablelinkedconnections.yml
  detections/endpoint/windows_modify_registry_longpathsenabled.yml
  detections/endpoint/windows_modify_registry_nochangingwallpaper.yml
  detections/endpoint/windows_modify_registry_to_add_or_modify_firewall_rule.yml
  detections/endpoint/windows_modify_show_compress_color_and_info_tip_registry.yml
  detections/endpoint/windows_registry_bootexecute_modification.yml
  detections/endpoint/windows_registry_certificate_added.yml
  detections/endpoint/windows_registry_delete_task_sd.yml
  detections/endpoint/windows_registry_modification_for_safe_mode_persistence.yml
  detections/endpoint/windows_service_creation_using_registry_entry.yml
Labels: Detections

#3210 Updating SPL - Okta Mismatch
  detections/application/okta_mismatch_between_source_and_response_for_verify_push_request.yml
Labels: Detections

#3208 Update- Short Lived Windows Accounts
  detections/endpoint/short_lived_windows_accounts.yml
Labels: Detections

#3185 Defender alerts
  contentctl.yml
  data_sources/ms_defender_atp_alerts.yml
  detections/endpoint/microsoft_defender_atp_alerts.yml
  detections/endpoint/microsoft_defender_incident_alerts.yml
  macros/ms365_defender_incident_alerts.yml
  macros/ms_defender_atp_alerts.yml
Labels: Detections, Macros, Datasource

#3209 pxa_stealer
  detections/endpoint/any_powershell_downloadfile.yml
  detections/endpoint/detect_outlook_exe_writing_a_zip_file.yml
  detections/endpoint/powershell_processing_stream_of_data.yml
  detections/endpoint/suspicious_process_dns_query_known_abuse_web_services.yml
  detections/endpoint/suspicious_process_with_discord_dns_query.yml
  detections/endpoint/windows_credential_access_from_browser_password_store.yml
  detections/endpoint/windows_credentials_from_password_stores_chrome_localstate_access.yml
  detections/endpoint/windows_credentials_from_password_stores_chrome_login_data_access.yml
  detections/endpoint/windows_disable_or_modify_tools_via_taskkill.yml
  detections/endpoint/windows_gather_victim_network_info_through_ip_check_web_services.yml
  detections/endpoint/windows_non_discord_app_access_discord_leveldb.yml
  stories/pxa_stealer.yml
Labels: Detections, Stories

#3203 Haaglumination
  detections/application/detect_distributed_password_spray_attempts.yml
  detections/application/detect_password_spray_attempts.yml
  detections/endpoint/detect_mshta_url_in_command_line.yml
  detections/endpoint/malicious_powershell_process___encoded_command.yml
  detections/endpoint/powershell_4104_hunting.yml
  detections/endpoint/suspicious_mshta_child_process.yml
  detections/endpoint/windows_bitlockertogo_process_execution.yml
  detections/endpoint/windows_bitlockertogo_with_network_activity.yml
  detections/endpoint/windows_runmru_command_execution.yml
  stories/lumma_stealer.yml
Labels: Detections, Stories
