Repository splunk/security_content, pull requests merged in 2025-06, with the labels that each got.

#3535 Update Network CIM Analytics With FTD Data
  data_sources/cisco_secure_firewall_threat_defense_connection_event.yml
  detections/network/cisco_secure_firewall___remote_access_software_usage_traffic.yml
  detections/network/detect_outbound_ldap_traffic.yml
  detections/network/detect_outbound_smb_traffic.yml
  detections/network/internal_horizontal_port_scan.yml
  detections/network/internal_horizontal_port_scan_nmap_top_20.yml
  detections/network/internal_vertical_port_scan.yml
  detections/network/prohibited_network_traffic_allowed.yml
  detections/network/protocol_or_port_mismatch.yml
  detections/network/protocols_passing_authentication_in_cleartext.yml
  detections/network/tor_traffic.yml
  lookups/cisco_secure_firewall_appid_remote_mgmt_and_desktop_tools.csv
  lookups/cisco_secure_firewall_appid_remote_mgmt_and_desktop_tools.yml
  lookups/cisco_secure_firewall_filetype_lookup.yml
  lookups/cisco_snort_ids_to_threat_mapping.yml
Labels: Detections, Lookups, Datasource

#3545 Fix Issues For v5.7
  detections/cloud/o365_concurrent_sessions_from_different_ips.yml
  detections/endpoint/windows_sensitive_registry_hive_dump_via_commandline.yml
Labels: Detections

#3536 Update AWS Defense Evasion Impair Security Services to TTP
  detections/cloud/aws_defense_evasion_impair_security_services.yml
Labels: Detections

#3546 Update windows_event_log_security_5145.yml
  data_sources/windows_event_log_security_5145.yml
Labels: Datasource

#3554 Automated Splunk TA Update 293
  data_sources/splunk_common_information_model_(cim).yml
Labels: Datasource

#3557 Automated Splunk TA Update 295
  contentctl.yml
  data_sources/crowdstrike_processrollup2.yml
Labels: Datasource

#3558 Initial remote employment fraud detections.
  detections/application/zoom_high_video_latency.yml
  detections/application/zoom_rare_audio_devices.yml
  detections/application/zoom_rare_input_devices.yml
  detections/application/zoom_rare_video_devices.yml
  detections/cloud/geographic_improbable_location.yml
  detections/cloud/okta_non_standard_vpn_usage.yml
  macros/zoom_index.yml
  stories/remote_employment_fraud.yml
Labels: Detections, Stories, Macros

#3553 Analytics Promotion & Updates
  detections/cloud/abnormally_high_number_of_cloud_infrastructure_api_calls.yml
  detections/cloud/abnormally_high_number_of_cloud_security_group_api_calls.yml
  detections/cloud/asl_aws_new_mfa_method_registered_for_user.yml
  detections/cloud/cloud_api_calls_from_previously_unseen_user_roles.yml
  detections/cloud/cloud_compute_instance_created_by_previously_unseen_user.yml
  detections/cloud/cloud_compute_instance_created_in_previously_unused_region.yml
  detections/cloud/cloud_compute_instance_created_with_previously_unseen_image.yml
  detections/cloud/cloud_compute_instance_created_with_previously_unseen_instance_type.yml
  detections/cloud/cloud_instance_modified_by_previously_unseen_user.yml
  detections/cloud/detect_aws_console_login_by_new_user.yml
  detections/cloud/gsuite_drive_share_in_external_email.yml
  detections/cloud/gsuite_suspicious_shared_file_name.yml
  detections/cloud/microsoft_intune_mobile_apps.yml
  detections/deprecated/windows_ad_suspicious_gpo_modification.yml
  detections/endpoint/detect_remote_access_software_usage_registry.yml
  detections/endpoint/disable_defender_enhanced_notification.yml
  detections/endpoint/dllhost_with_no_command_line_arguments_with_network.yml
  detections/endpoint/linux_stdout_redirection_to_dev_null_file.yml
  detections/endpoint/papercut_ng_suspicious_behavior_debug_log.yml
  detections/endpoint/print_processor_registry_autostart.yml
  detections/endpoint/set_default_powershell_execution_policy_to_unrestricted_or_bypass.yml
  detections/endpoint/silentcleanup_uac_bypass.yml
  detections/endpoint/windows_ad_dsrm_account_changes.yml
  detections/endpoint/windows_ad_privileged_group_modification.yml
  detections/endpoint/windows_driver_inventory.yml
  detections/endpoint/windows_modify_registry_qakbot_binary_data_registry.yml
  detections/endpoint/windows_moveit_transfer_writing_aspx.yml
  detections/endpoint/windows_process_executed_from_removable_media.yml
  detections/endpoint/windows_rundll32_webdav_with_network_connection.yml
  detections/endpoint/windows_runmru_command_execution.yml
  detections/endpoint/windows_vulnerable_driver_loaded.yml
  detections/endpoint/windows_winlogon_with_public_network_connection.yml
  detections/network/3cx_supply_chain_attack_network_indicators.yml
  detections/network/detect_outbound_smb_traffic.yml
  detections/network/prohibited_network_traffic_allowed.yml
  macros/gsuite_drive.yml
  removed/deprecation_mapping.YML
Labels: Detections, Macros

#3571 Update print_processor_registry_autostart.yml
  detections/endpoint/print_processor_registry_autostart.yml
Labels: Detections

#3570 Updated typo in zeek_conn.yml
  data_sources/zeek_conn.yml
Labels: Datasource

#3582 Manual Test - Potential password in username
  detections/endpoint/potential_password_in_username.yml
  requirements.txt
Labels: Detections

#3584 diskwiper
  detections/endpoint/windows_data_destruction_recursive_exec_files_deletion.yml
  detections/endpoint/windows_raw_access_to_disk_volume_partition.yml
  detections/endpoint/windows_raw_access_to_master_boot_record_drive.yml
  stories/disk_wiper.yml
Labels: Detections, Stories
