Repository splunk/security_content, pull requests merged in 2025-07, with the labels that each got.

#3590 updating search description
  detections/network/cisco_secure_firewall___intrusion_events_by_threat_activity.yml
Labels: Detections

#3589 refactor: attacker_tools_on_endpoint performance
  detections/endpoint/attacker_tools_on_endpoint.yml
Labels: Detections

#3544 Cs events
  data_sources/crowdstrike_falcon_stream_alert.yml
  detections/endpoint/crowdstrike_falcon_stream_alerts.yml
Labels: Detections, Datasource

#3594 Updating eval
  detections/endpoint/crowdstrike_falcon_stream_alerts.yml
Labels: Detections

#3595 Updating the app_name
  contentctl.yml
  data_sources/cisco_network_visibility_module_flow_data.yml
  data_sources/cisco_network_visibility_module_osquery.yml
Labels: Datasource

#3596 integration failures -for 5.9.0
  detections/endpoint/cisco_nvm___installation_of_typosquatted_python_package.yml
  detections/endpoint/cisco_nvm___susp_script_from_archive_triggering_network_activity.yml
  detections/endpoint/cisco_nvm___suspicious_file_download_via_headless_browser.yml
Labels: Detections

#3598 NVM updates
  detections/endpoint/cisco_nvm___installation_of_typosquatted_python_package.yml
  detections/endpoint/cisco_nvm___suspicious_file_download_via_headless_browser.yml
Labels: Detections

#3601 Automated Splunk TA Update 322
  contentctl.yml
  data_sources/cisco_ai_defense_alerts.yml
  data_sources/cisco_secure_firewall_threat_defense_connection_event.yml
  data_sources/cisco_secure_firewall_threat_defense_file_event.yml
  data_sources/cisco_secure_firewall_threat_defense_intrusion_event.yml
  detections/network/cisco_secure_firewall___bits_network_activity.yml
  detections/network/cisco_secure_firewall___blocked_connection.yml
  detections/network/cisco_secure_firewall___connection_to_file_sharing_domain.yml
  detections/network/cisco_secure_firewall___repeated_blocked_connections.yml
  detections/network/cisco_secure_firewall___wget_or_curl_download.yml
Labels: Detections, Datasource

#3614 Add Missing DS
  detections/endpoint/cisco_nvm___suspicious_network_connection_to_ip_lookup_service_api.yml
Labels: Detections

#3602 Cisco Duo Detections
  data_sources/cisco_duo_activity.yml
  data_sources/cisco_duo_administrator.yml
  detections/application/cisco_duo_admin_login_unusual_browser.yml
  detections/application/cisco_duo_admin_login_unusual_country.yml
  detections/application/cisco_duo_admin_login_unusual_os.yml
  detections/application/cisco_duo_bulk_policy_deletion.yml
  detections/application/cisco_duo_bypass_code_generation.yml
  detections/application/cisco_duo_policy_allow_devices_without_screen_lock.yml
  detections/application/cisco_duo_policy_allow_network_bypass_2fa.yml
  detections/application/cisco_duo_policy_allow_old_flash.yml
  detections/application/cisco_duo_policy_allow_old_java.yml
  detections/application/cisco_duo_policy_allow_tampered_devices.yml
  detections/application/cisco_duo_policy_bypass_2fa.yml
  detections/application/cisco_duo_policy_deny_access.yml
  detections/application/cisco_duo_policy_skip_2fa_for_other_countries.yml
  detections/application/cisco_duo_set_user_status_to_bypass_2fa.yml
  macros/cisco_duo_activity.yml
  macros/cisco_duo_administrator.yml
  stories/cisco_duo_suspicious_activity.yml
Labels: Detections, Stories, Macros, Datasource

#3615 minor fix to data source
  data_sources/vmware_esxi_syslog.yml
Labels: Datasource

#3616 Automated Splunk TA Update 334
  data_sources/cisco_duo_activity.yml
  data_sources/cisco_duo_administrator.yml
Labels: Datasource

#3619 version bump for 5.11.0
  contentctl.yml
Labels: needs-more-info

#3622 Automated Splunk TA Update 341
  contentctl.yml
  data_sources/o365.yml
  data_sources/o365_add_app_role_assignment_grant_to_user_.yml
  data_sources/o365_add_app_role_assignment_to_service_principal_.yml
  data_sources/o365_add_mailboxpermission.yml
  data_sources/o365_add_member_to_role_.yml
  data_sources/o365_add_owner_to_application_.yml
  data_sources/o365_add_service_principal_.yml
  data_sources/o365_change_user_license_.yml
  data_sources/o365_consent_to_application_.yml
  data_sources/o365_disable_strong_authentication_.yml
  data_sources/o365_mailitemsaccessed.yml
  data_sources/o365_modifyfolderpermissions.yml
  data_sources/o365_set_company_information_.yml
  data_sources/o365_set_mailbox.yml
  data_sources/o365_update_application_.yml
  data_sources/o365_update_authorization_policy_.yml
  data_sources/o365_update_user_.yml
  data_sources/o365_userloggedin.yml
  data_sources/o365_userloginfailed.yml
  data_sources/office_365_reporting_message_trace.yml
  data_sources/office_365_universal_audit_log.yml
Labels: Datasource
