Repository splunk/security_content, pull requests merged in 2025-04, with the labels that each got.

#3439 Integration Testing bug fixes
  detections/endpoint/common_ransomware_extensions.yml
  detections/endpoint/creation_of_lsass_dump_with_taskmgr.yml
  detections/endpoint/domain_group_discovery_with_adsisearcher.yml
  detections/endpoint/getwmiobject_ds_group_with_powershell_script_block.yml
  detections/endpoint/mailsniper_invoke_functions.yml
  detections/endpoint/powershell_domain_enumeration.yml
  detections/endpoint/powershell_loading_dotnet_into_memory_via_reflection.yml
  detections/endpoint/process_deleting_its_process_file_path.yml
  detections/endpoint/schcache_change_by_app_connect_and_create_adsi_object.yml
  detections/endpoint/spoolsv_suspicious_loaded_modules.yml
  detections/endpoint/windows_event_log_cleared.yml
  detections/endpoint/windows_forest_discovery_with_getforestdomain.yml
  detections/endpoint/windows_linked_policies_in_adsi_discovery.yml
  detections/endpoint/windows_powershell_import_applocker_policy.yml
  detections/endpoint/wmi_recon_running_process_or_services.yml
Labels: Detections

#3417 Clear and Present Haag-er: ZDI-CAN-25373
  detections/endpoint/windows_explorer_exe_spawning_powershell_or_cmd.yml
  detections/endpoint/windows_explorer_lnk_exploit_process_launch_with_padding.yml
  detections/endpoint/windows_ssh_proxy_command.yml
  stories/zdi_can_25373_windows_shortcut_exploit_abused_as_zero_day.yml
Labels: Detections, Stories

#3400 PHP-CGI RCE Attack on Japanese Organizations
  detections/endpoint/any_powershell_downloadfile.yml
  detections/endpoint/any_powershell_downloadstring.yml
  detections/endpoint/attacker_tools_on_endpoint.yml
  detections/endpoint/detect_regsvr32_application_control_bypass.yml
  detections/endpoint/powershell_4104_hunting.yml
  detections/endpoint/powershell_webrequest_using_memory_stream.yml
  detections/endpoint/registry_keys_used_for_persistence.yml
  detections/endpoint/system_user_discovery_with_whoami.yml
  detections/endpoint/w3wp_spawning_shell.yml
  detections/endpoint/windows_process_writing_file_to_world_writable_path.yml
  lookups/attacker_tools.csv
  lookups/attacker_tools.yml
  stories/php_cgi_rce_attack_on_japanese_organizations.yml
Labels: Detections, Lookups, Stories

#3407 renamed_earth_erties
  detections/endpoint/any_powershell_downloadfile.yml
  detections/endpoint/detect_rare_executables.yml
  detections/endpoint/detect_renamed_psexec.yml
  detections/endpoint/detect_renamed_winrar.yml
  detections/endpoint/executables_or_script_creation_in_suspicious_path.yml
  detections/endpoint/executables_or_script_creation_in_temp_path.yml
  detections/endpoint/linux_auditd_file_permission_modification_via_chmod.yml
  detections/endpoint/linux_auditd_nopasswd_entry_in_sudoers_file.yml
  detections/endpoint/linux_auditd_possible_access_to_credential_files.yml
  detections/endpoint/linux_auditd_possible_access_to_sudoers_file.yml
  detections/endpoint/linux_auditd_preload_hijack_library_calls.yml
  detections/endpoint/linux_common_process_for_elevation_control.yml
  detections/endpoint/linux_nopasswd_entry_in_sudoers_file.yml
  detections/endpoint/linux_possible_access_to_credential_files.yml
  detections/endpoint/linux_possible_access_to_sudoers_file.yml
  detections/endpoint/linux_preload_hijack_library_calls.yml
  detections/endpoint/linux_sudoers_tmp_file_creation.yml
  detections/endpoint/malicious_powershell_process___execution_policy_bypass.yml
  detections/endpoint/non_chrome_process_accessing_chrome_default_dir.yml
  detections/endpoint/non_firefox_process_access_firefox_profile_dir.yml
  detections/endpoint/powershell_4104_hunting.yml
  detections/endpoint/registry_keys_used_for_persistence.yml
  detections/endpoint/remote_process_instantiation_via_wmi.yml
  detections/endpoint/scheduled_task_deleted_or_created_via_cmd.yml
  detections/endpoint/suspicious_regsvr32_register_suspicious_path.yml
  detections/endpoint/suspicious_scheduled_task_from_public_directory.yml
  detections/endpoint/windows_access_token_manipulation_sedebugprivilege.yml
  detections/endpoint/windows_anonymous_pipe_activity.yml
  detections/endpoint/windows_archive_collected_data_via_rar.yml
  detections/endpoint/windows_credential_access_from_browser_password_store.yml
  detections/endpoint/windows_credentials_from_password_stores_chrome_localstate_access.yml
  detections/endpoint/windows_credentials_from_password_stores_chrome_login_data_access.yml
  detections/endpoint/windows_curl_download_to_suspicious_path.yml
  detections/endpoint/windows_process_execution_from_programdata.yml
  detections/endpoint/windows_query_registry_browser_list_application.yml
  detections/endpoint/windows_replication_through_removable_media.yml
  detections/endpoint/windows_service_created_with_suspicious_service_path.yml
  detections/endpoint/windows_service_creation_on_remote_endpoint.yml
  detections/endpoint/windows_service_creation_using_registry_entry.yml
  detections/endpoint/windows_snappybee_create_test_registry.yml
  detections/endpoint/windows_suspicious_process_file_path.yml
  detections/endpoint/windows_unsigned_dll_side_loading.yml
  detections/endpoint/windows_unsigned_dll_side_loading_in_same_process_path.yml
  detections/endpoint/windows_unsigned_ms_dll_side_loading.yml
  detections/endpoint/windows_unusual_syswow64_process_run_system32_executable.yml
  detections/endpoint/winevent_scheduled_task_created_to_spawn_shell.yml
  detections/endpoint/winevent_scheduled_task_created_within_public_path.yml
  stories/deprecated/earth_estries.yml
  stories/salt_typhoon.yml
Labels: Detections, Stories, Deprecated

#3411 firewall_win_events
  data_sources/windows_event_log_security_4946.yml
  data_sources/windows_event_log_security_4947.yml
  data_sources/windows_event_log_security_4948.yml
  detections/endpoint/windows_firewall_rule_added.yml
  detections/endpoint/windows_firewall_rule_deletion.yml
  detections/endpoint/windows_firewall_rule_modification.yml
  stories/medusa_ransomware.yml
Labels: Detections, Stories, Datasource

#3427 Deprecate duplicate detection
  detections/deprecated/windows_service_created_within_public_path.yml
Labels: Detections, Deprecated

#3445 fix: remote_utility typo in remote_access_software.csv
  lookups/remote_access_software.csv
  lookups/remote_access_software.yml
Labels: Lookups

#3456 Add output fields, tighten up outputs
  detections/endpoint/windows_runmru_command_execution.yml
Labels: Detections

#3464 bug fix detection Windows Registry Payload Injection
  detections/endpoint/windows_registry_payload_injection.yml
Labels: Detections

#3443 Cisco Secure Firewall Detections - Connection Event Based
  data_sources/cisco_secure_firewall_threat_defense_connection_event.yml
  detections/network/cisco_secure_firewall___bits_network_activity.yml
  detections/network/cisco_secure_firewall___blacklisted_ssl_certificate_fingerprint.yml
  detections/network/cisco_secure_firewall___blocked_connection.yml
  detections/network/cisco_secure_firewall___communication_over_suspicious_ports.yml
  detections/network/cisco_secure_firewall___connection_to_file_sharing_domain.yml
  detections/network/cisco_secure_firewall___high_eve_threat_confidence.yml
  detections/network/cisco_secure_firewall___potential_data_exfiltration.yml
  detections/network/cisco_secure_firewall___repeated_blocked_connections.yml
  detections/network/cisco_secure_firewall___wget_or_curl_download.yml
  lookups/sslbl_ssl_certificate_blacklist.csv
  lookups/sslbl_ssl_certificate_blacklist.yml
  macros/cisco_secure_firewall.yml
  macros/cisco_secure_firewall_inside_to_outside.yml
  stories/cisco_secure_firewall_threat_defense_analytics.yml
Labels: Detections, Lookups, Stories, Macros, Datasource

#3470 Ground Control to Major Haag: Earth Alux
  detections/endpoint/dllhost_with_no_command_line_arguments_with_network.yml
  detections/endpoint/executables_or_script_creation_in_suspicious_path.yml
  detections/endpoint/windows_credential_access_from_browser_password_store.yml
  detections/endpoint/windows_credentials_from_password_stores_chrome_localstate_access.yml
  detections/endpoint/windows_credentials_from_password_stores_chrome_login_data_access.yml
  detections/endpoint/windows_dll_side_loading_in_calc.yml
  detections/endpoint/windows_dll_side_loading_process_child_of_calc.yml
  detections/endpoint/windows_process_injection_into_commonly_abused_processes.yml
  detections/endpoint/windows_process_injection_into_notepad.yml
  detections/endpoint/windows_process_injection_remote_thread.yml
  detections/endpoint/windows_process_injection_with_public_source_path.yml
  detections/endpoint/windows_suspicious_process_file_path.yml
  detections/endpoint/windows_unsigned_dll_side_loading.yml
  detections/endpoint/windows_unsigned_ms_dll_side_loading.yml
  detections/web/supernova_webshell.yml
  detections/web/web_jsp_request_via_url.yml
  stories/earth_alux.yml
Labels: Detections, Stories

#3471 Automated Splunk TA Update 238
  contentctl.yml
  data_sources/azure_active_directory.yml
  data_sources/azure_active_directory_add_app_role_assignment_to_service_principal.yml
  data_sources/azure_active_directory_add_member_to_role.yml
  data_sources/azure_active_directory_add_owner_to_application.yml
  data_sources/azure_active_directory_add_service_principal.yml
  data_sources/azure_active_directory_add_unverified_domain.yml
  data_sources/azure_active_directory_consent_to_application.yml
  data_sources/azure_active_directory_disable_strong_authentication.yml
  data_sources/azure_active_directory_enable_account.yml
  data_sources/azure_active_directory_invite_external_user.yml
  data_sources/azure_active_directory_microsoftgraphactivitylogs.yml
  data_sources/azure_active_directory_noninteractiveusersigninlogs.yml
  data_sources/azure_active_directory_reset_password_(by_admin).yml
  data_sources/azure_active_directory_set_domain_authentication.yml
  data_sources/azure_active_directory_sign_in_activity.yml
  data_sources/azure_active_directory_update_application.yml
  data_sources/azure_active_directory_update_authorization_policy.yml
  data_sources/azure_active_directory_update_user.yml
  data_sources/azure_active_directory_user_registered_security_info.yml
  data_sources/azure_audit_create_or_update_an_azure_automation_account.yml
  data_sources/azure_audit_create_or_update_an_azure_automation_runbook.yml
  data_sources/azure_audit_create_or_update_an_azure_automation_webhook.yml
  data_sources/azure_monitor_activity.yml
Labels: Datasource

#3469 The Haag Identity: Storm-2460 CLFS Zero Day
  detections/endpoint/bcdedit_failure_recovery_modification.yml
  detections/endpoint/certutil_download_with_urlcache_and_split_arguments.yml
  detections/endpoint/certutil_download_with_verifyctl_and_split_arguments.yml
  detections/endpoint/certutil_exe_certificate_extraction.yml
  detections/endpoint/certutil_with_decode_argument.yml
  detections/endpoint/deleting_shadow_copies.yml
  detections/endpoint/dllhost_with_no_command_line_arguments_with_network.yml
  detections/endpoint/dump_lsass_via_procdump.yml
  detections/endpoint/msbuild_suspicious_spawned_by_script_process.yml
  detections/endpoint/suspicious_msbuild_path.yml
  detections/endpoint/suspicious_msbuild_rename.yml
  detections/endpoint/suspicious_msbuild_spawn.yml
  detections/endpoint/suspicious_wevtutil_usage.yml
  detections/endpoint/wbadmin_delete_system_backups.yml
  detections/endpoint/windows_certutil_download_with_url_argument.yml
  detections/endpoint/windows_sql_spawning_certutil.yml
  detections/endpoint/windows_steal_authentication_certificates_certutil_backup.yml
  stories/storm_2460_clfs_zero_day_exploitation.yml
Labels: Detections, Stories

#3451 Cisco Secure Firewall Detections - File Event Based
  data_sources/cisco_secure_firewall_threat_defense_file_event.yml
  detections/network/cisco_secure_firewall___binary_file_type_download.yml
  detections/network/cisco_secure_firewall___file_download_over_uncommon_port.yml
  detections/network/cisco_secure_firewall___malware_file_downloaded.yml
  detections/network/cisco_secure_firewall___repeated_malware_downloads.yml
  lookups/cisco_secure_firewall_filetype_lookup.csv
  lookups/cisco_secure_firewall_filetype_lookup.yml
Labels: Detections, Lookups, Datasource

#3468 Cisco Secure Firewall Detections - Intrusion Event Based
  data_sources/cisco_secure_firewall_threat_defense_intrusion_event.yml
  detections/network/cisco_secure_firewall___high_volume_of_intrusion_events_per_host.yml
  detections/network/cisco_secure_firewall___possibly_compromised_host.yml
  detections/network/cisco_secure_firewall___rare_snort_rule_triggered.yml
  detections/network/cisco_secure_firewall___snort_rule_triggered_across_multiple_hosts.yml
Labels: Detections, Datasource

#3453 AWS Bedrock detections
  data_sources/aws_cloudtrail_deleteguardrail.yml
  data_sources/aws_cloudtrail_deleteknowledgebase.yml
  data_sources/aws_cloudtrail_deletemodelinvocationloggingconfiguration.yml
  data_sources/aws_cloudtrail_invokemodel.yml
  data_sources/aws_cloudtrail_listfoundationmodels.yml
  detections/cloud/aws_bedrock_delete_guardrails.yml
  detections/cloud/aws_bedrock_delete_knowledge_base.yml
  detections/cloud/aws_bedrock_delete_model_invocation_logging_configuration.yml
  detections/cloud/aws_bedrock_high_number_list_foundation_model_failures.yml
  detections/cloud/aws_bedrock_invoke_model_access_denied.yml
  stories/aws_bedrock_security.yml
Labels: Detections, Stories, Datasource

#3404 Haag's Last Shadow: The Cactus Ransomware Chronicles
  detections/endpoint/access_lsass_memory_for_dump_creation.yml
  detections/endpoint/creation_of_lsass_dump_with_taskmgr.yml
  detections/endpoint/delete_shadowcopy_with_powershell.yml
  detections/endpoint/deleting_shadow_copies.yml
  detections/endpoint/detect_psexec_with_accepteula_flag.yml
  detections/endpoint/detect_rclone_command_line_usage.yml
  detections/endpoint/detect_remote_access_software_usage_file.yml
  detections/endpoint/detect_remote_access_software_usage_fileinfo.yml
  detections/endpoint/detect_remote_access_software_usage_process.yml
  detections/endpoint/detect_remote_access_software_usage_registry.yml
  detections/endpoint/detect_renamed_psexec.yml
  detections/endpoint/detect_renamed_rclone.yml
  detections/endpoint/disable_defender_antivirus_registry.yml
  detections/endpoint/disable_windows_behavior_monitoring.yml
  detections/endpoint/dllhost_with_no_command_line_arguments_with_network.yml
  detections/endpoint/download_files_using_telegram.yml
  detections/endpoint/enumerate_users_local_group_using_telegram.yml
  detections/endpoint/executables_or_script_creation_in_suspicious_path.yml
  detections/endpoint/getwmiobject_user_account_with_powershell.yml
  detections/endpoint/lolbas_with_network_traffic.yml
  detections/endpoint/mmc_lolbas_execution_process_spawn.yml
  detections/endpoint/potential_telegram_api_request_via_commandline.yml
  detections/endpoint/powershell_4104_hunting.yml
  detections/endpoint/powershell_creating_thread_mutex.yml
  detections/endpoint/ransomware_notes_bulk_creation.yml
  detections/endpoint/registry_keys_used_for_persistence.yml
  detections/endpoint/rundll32_with_no_command_line_arguments_with_network.yml
  detections/endpoint/searchprotocolhost_with_no_command_line_with_network.yml
  detections/endpoint/suspicious_copy_on_system32.yml
  detections/endpoint/suspicious_dllhost_no_command_line_arguments.yml
  detections/endpoint/suspicious_process_executed_from_container_file.yml
  detections/endpoint/suspicious_searchprotocolhost_no_command_line_arguments.yml
  detections/endpoint/windows_cmdline_tool_execution_from_non_shell_process.yml
  detections/endpoint/windows_exfiltration_over_c2_via_invoke_restmethod.yml
  detections/endpoint/windows_hidden_schedule_task_settings.yml
  detections/endpoint/windows_http_network_communication_from_msiexec.yml
  detections/endpoint/windows_known_graphicalproton_loaded_modules.yml
  detections/endpoint/windows_lolbas_executed_as_renamed_file.yml
  detections/endpoint/windows_masquerading_explorer_as_child_process.yml
  detections/endpoint/windows_msiexec_dllregisterserver.yml
  detections/endpoint/windows_msiexec_hidewindow_rundll32_execution.yml
  detections/endpoint/windows_msiexec_remote_download.yml
  detections/endpoint/windows_msiexec_spawn_discovery_command.yml
  detections/endpoint/windows_powershell_export_pfxcertificate.yml
  detections/endpoint/windows_process_injection_remote_thread.yml
  detections/endpoint/windows_remote_access_software_hunt.yml
  detections/endpoint/windows_scheduled_tasks_for_compmgmtlauncher_or_eventvwr.yml
  detections/endpoint/windows_screen_capture_via_powershell.yml
  detections/endpoint/windows_suspicious_process_file_path.yml
  detections/endpoint/windows_system_network_config_discovery_display_dns.yml
  detections/endpoint/windows_wmi_impersonate_token.yml
  detections/endpoint/windows_wmi_process_call_create.yml
  detections/endpoint/windows_wmic_shadowcopy_delete.yml
  detections/network/suspicious_process_dns_query_known_abuse_web_services.yml
  detections/network/suspicious_process_with_discord_dns_query.yml
  lookups/ransomware_extensions_lookup.csv
  lookups/ransomware_extensions_lookup.yml
  stories/cactus_ransomware.yml
Labels: Detections, Lookups, Stories

#3465 Removed/ Deprecated content update for v5.4.0
  contentctl.yml
  detections/application/okta_risk_threshold_exceeded.yml
  detections/cloud/aws_s3_exfiltration_behavior_identified.yml
  detections/cloud/risk_rule_for_dev_sec_ops_by_repository.yml
  detections/endpoint/active_directory_lateral_movement_identified.yml
  detections/endpoint/active_directory_privilege_escalation_identified.yml
  detections/endpoint/detect_renamed_psexec.yml
  detections/endpoint/linux_persistence_and_privilege_escalation_risk_behavior.yml
  detections/endpoint/living_off_the_land_detection.yml
  detections/endpoint/log4shell_cve_2021_44228_exploitation.yml
  detections/endpoint/powershell_4104_hunting.yml
  detections/endpoint/scheduled_task_deleted_or_created_via_cmd.yml
  detections/endpoint/steal_or_forge_authentication_certificates_behavior_identified.yml
  detections/endpoint/suspicious_scheduled_task_from_public_directory.yml
  detections/endpoint/windows_common_abused_cmd_shell_risk_behavior.yml
  detections/endpoint/windows_modify_registry_risk_behavior.yml
  detections/endpoint/windows_post_exploitation_risk_behavior.yml
  detections/endpoint/windows_svchost_exe_parent_process_anomaly.yml
  detections/endpoint/winevent_scheduled_task_created_to_spawn_shell.yml
  detections/endpoint/winevent_scheduled_task_created_within_public_path.yml
  detections/web/proxyshell_proxynotshell_behavior_detected.yml
  lookups/deprecation_info.csv
  lookups/deprecation_info.yml
  removed/baselines/previously_seen_aws_cross_account_activity___initial.yml
  removed/baselines/previously_seen_aws_cross_account_activity___update.yml
  removed/deprecation_mapping.YML
  removed/detections/aws_cross_account_activity_from_previously_unseen_account.yml
  removed/detections/aws_detect_attach_to_role_policy.yml
  removed/detections/aws_detect_permanent_key_creation.yml
  removed/detections/aws_detect_role_creation.yml
  removed/detections/aws_detect_sts_assume_role_abuse.yml
  removed/detections/aws_detect_sts_get_session_token_abuse.yml
  removed/detections/aws_saml_access_by_provider_user_and_principal.yml
  removed/detections/github_actions_disable_security_workflow.yml
  removed/detections/github_commit_changes_in_master.yml
  removed/detections/github_commit_in_develop.yml
  removed/detections/github_dependabot_alert.yml
  removed/detections/github_pull_request_from_unknown_user.yml
  removed/detections/known_services_killed_by_ransomware.yml
  removed/detections/remote_desktop_network_bruteforce.yml
  removed/detections/suspicious_driver_loaded_path.yml
  removed/detections/suspicious_event_log_service_behavior.yml
  removed/detections/suspicious_process_file_path.yml
  removed/stories/earth_estries.yml
  removed/stories/nexus_apt_threat_activity.yml
Labels: Detections, Lookups, Deprecated

#3462 Haag's Crushed Shell: A Tale of CrushFTP Exploitation
  detections/endpoint/windows_shell_process_from_crushftp.yml
  detections/web/crushftp_authentication_bypass_exploitation.yml
  detections/web/crushftp_max_simultaneous_users_from_ip.yml
  stories/crushftp_vulnerabilities.yml
Labels: Detections, Stories

#3472 Haag's Ruse: The MSC EvilTwin Detector - Unmasking Path Manipulators & Digital Spies
  detections/endpoint/download_files_using_telegram.yml
  detections/endpoint/enumerate_users_local_group_using_telegram.yml
  detections/endpoint/getwmiobject_user_account_with_powershell.yml
  detections/endpoint/lolbas_with_network_traffic.yml
  detections/endpoint/mmc_lolbas_execution_process_spawn.yml
  detections/endpoint/potential_telegram_api_request_via_commandline.yml
  detections/endpoint/powershell_4104_hunting.yml
  detections/endpoint/powershell_creating_thread_mutex.yml
  detections/endpoint/suspicious_copy_on_system32.yml
  detections/endpoint/suspicious_process_executed_from_container_file.yml
  detections/endpoint/windows_cmdline_tool_execution_from_non_shell_process.yml
  detections/endpoint/windows_exfiltration_over_c2_via_invoke_restmethod.yml
  detections/endpoint/windows_http_network_communication_from_msiexec.yml
  detections/endpoint/windows_known_graphicalproton_loaded_modules.yml
  detections/endpoint/windows_lolbas_executed_as_renamed_file.yml
  detections/endpoint/windows_masquerading_explorer_as_child_process.yml
  detections/endpoint/windows_msc_eviltwin_directory_path_manipulation.yml
  detections/endpoint/windows_msiexec_dllregisterserver.yml
  detections/endpoint/windows_msiexec_hidewindow_rundll32_execution.yml
  detections/endpoint/windows_msiexec_remote_download.yml
  detections/endpoint/windows_msiexec_spawn_discovery_command.yml
  detections/endpoint/windows_powershell_export_pfxcertificate.yml
  detections/endpoint/windows_powershell_invoke_restmethod_ip_information_collection.yml
  detections/endpoint/windows_process_injection_remote_thread.yml
  detections/endpoint/windows_scheduled_tasks_for_compmgmtlauncher_or_eventvwr.yml
  detections/endpoint/windows_screen_capture_via_powershell.yml
  detections/endpoint/windows_suspicious_process_file_path.yml
  detections/endpoint/windows_system_network_config_discovery_display_dns.yml
  detections/endpoint/windows_wmi_impersonate_token.yml
  detections/network/windows_gather_victim_network_info_through_ip_check_web_services.yml
  stories/water_gamayun.yml
Labels: Detections, Stories

#3479 Integration fixes - v5.4.0
  detections/endpoint/detect_psexec_with_accepteula_flag.yml
  detections/endpoint/executables_or_script_creation_in_suspicious_path.yml
  detections/network/cisco_secure_firewall___blacklisted_ssl_certificate_fingerprint.yml
  detections/network/cisco_secure_firewall___rare_snort_rule_triggered.yml
Labels: Detections

#3484 Cisco slashn
  detections/network/cisco_secure_firewall___blacklisted_ssl_certificate_fingerprint.yml
Labels: Detections

#3486 Update attack data - Delete ShadowCopy With PowerShell
  detections/endpoint/delete_shadowcopy_with_powershell.yml
Labels: Detections

#3490 Remove duplicate filter macro
  detections/endpoint/windows_adfind_exe.yml
Labels: Detections

#3493 Taskhost counting
  detections/endpoint/excessive_number_of_taskhost_processes.yml
Labels: Detections

#3499 🕸️ BasketNetWeaving with Haag: No Shell Left Behind!
  detections/endpoint/java_writing_jsp_file.yml
  detections/endpoint/windows_java_spawning_shells.yml
  detections/endpoint/windows_process_injection_into_commonly_abused_processes.yml
  detections/web/sap_netweaver_visual_composer_exploitation_attempt.yml
  stories/sap_netweaver_exploitation.yml
Labels: Detections, Stories
