Repository splunk/security_content, pull requests merged in 2025-02, with the labels that each got.

#3308 linux secure data source
  data_sources/linux_secure.yml
Labels: Datasource

#3307 Automated Splunk TA Update 167
  contentctl.yml
  data_sources/linux_auditd_add_user.yml
  data_sources/linux_auditd_execve.yml
  data_sources/linux_auditd_path.yml
  data_sources/linux_auditd_proctitle.yml
  data_sources/linux_auditd_service_stop.yml
  data_sources/linux_auditd_syscall.yml
Labels: Datasource

#3267 Nterl0k - T1033 Query.exe usage on remote devices.
  detections/endpoint/system_user_discovery_with_query.yml
  detections/endpoint/windows_system_remote_discovery_with_query.yml
Labels: Detections

#3268 Nterl0k - T1110 MFA Sweep / Excessive OS indicators from a user.
  detections/cloud/o365_multiple_os_vendors_authenticating_from_user.yml
Labels: Detections

#3312 Nterl0k - RMM Story and Detection Update, Again
  detections/endpoint/detect_remote_access_software_usage_file.yml
  detections/endpoint/detect_remote_access_software_usage_fileinfo.yml
  detections/endpoint/detect_remote_access_software_usage_process.yml
  detections/endpoint/detect_remote_access_software_usage_registry.yml
  detections/network/detect_remote_access_software_usage_dns.yml
  detections/network/detect_remote_access_software_usage_traffic.yml
  detections/web/detect_remote_access_software_usage_url.yml
  stories/remote_monitoring_and_management_software.yml
Labels: Detections, Stories

#3272 Nterl0k - T1213.002 Sus SharePoint Search
  detections/cloud/o365_sharepoint_suspicious_search_behavior.yml
Labels: Detections

#3280 Nterl0k - T1114.003 O365 Transport Rule Changed
  detections/cloud/o365_email_transport_rule_changed.yml
Labels: Detections

#3275 RDP bruteforce - production!
  data_sources/aws_cloudtrail_consolelogin.yml
  data_sources/aws_cloudtrail_createvirtualmfadevice.yml
  data_sources/aws_cloudtrail_describeeventaggregates.yml
  data_sources/aws_cloudtrail_modifyimageattribute.yml
  data_sources/kubernetes_audit.yml
  detections/deprecated/remote_desktop_network_bruteforce.yml
  detections/endpoint/windows_bitlockertogo_process_execution.yml
  detections/endpoint/windows_disable_or_stop_browser_process.yml
  detections/endpoint/windows_new_custom_security_descriptor_set_on_eventlog_channel.yml
  detections/endpoint/windows_process_with_netexec_command_line_parameters.yml
  detections/network/remote_desktop_network_bruteforce.yml
  detections/network/windows_remote_desktop_network_bruteforce_attempt.yml
Labels: Detections, Datasource

#3322 Nterl0k - RMM Lookup Update 20250210
  lookups/remote_access_software.csv
  lookups/remote_access_software.yml
Labels: Lookups

#3283 Nterl0k - T1200 - Are you down with USB ?
  detections/endpoint/windows_process_executed_from_removable_media.yml
  detections/endpoint/windows_usbstor_registry_key_modification.yml
  detections/endpoint/windows_wpdbusenum_registry_key_modification.yml
Labels: Detections

#3306 Cisco Secure Application Alerts
  contentctl.yml
  data_sources/cisco_secure_application_appdynamics_alerts.yml
  detections/application/cisco_secure_application_alerts.yml
  macros/appdynamics_security.yml
Labels: Detections, Macros, Datasource

#3303 Update Lookups & Windows EventLog Macros
  lookups/asr_rules.csv
  lookups/asr_rules.yml
  lookups/builtin_groups_lookup.csv
  lookups/builtin_groups_lookup.yml
  lookups/dynamic_dns_providers_default.csv
  lookups/dynamic_dns_providers_default.yml
  lookups/security_services_lookup.csv
  lookups/security_services_lookup.yml
  macros/ms_defender.yml
  macros/powershell.yml
  macros/printservice.yml
  macros/remoteconnectionmanager.yml
  macros/sysmon.yml
  macros/wineventlog_application.yml
  macros/wineventlog_rdp.yml
  macros/wineventlog_security.yml
  macros/wineventlog_system.yml
  macros/wineventlog_task_scheduler.yml
  macros/wmi.yml
Labels: Lookups, Macros

#3276 Nterl0k - T1059 - Generic Malicious Powershell Strings + Lookup
  detections/endpoint/windows_powershell_process_with_malicious_string.yml
  detections/endpoint/windows_powershell_script_block_with_malicious_string.yml
  lookups/malicious_powershell_strings.csv
  lookups/malicious_powershell_strings.yml
Labels: Detections, Lookups

#3341 Fix data_source fields on some content
  detections/application/windows_ad_dangerous_deny_acl_modification.yml
  detections/application/windows_ad_dangerous_group_acl_modification.yml
  detections/application/windows_ad_dangerous_user_acl_modification.yml
  detections/application/windows_ad_dcshadow_privileges_acl_addition.yml
  detections/application/windows_ad_domain_root_acl_deletion.yml
  detections/application/windows_ad_domain_root_acl_modification.yml
  detections/application/windows_ad_gpo_deleted.yml
  detections/application/windows_ad_gpo_disabled.yml
  detections/application/windows_ad_gpo_new_cse_addition.yml
  detections/application/windows_ad_hidden_ou_creation.yml
  detections/application/windows_ad_object_owner_updated.yml
  detections/application/windows_ad_self_dacl_assignment.yml
  detections/application/windows_ad_suspicious_attribute_modification.yml
  detections/application/windows_ad_suspicious_gpo_modification.yml
  detections/cloud/o365_service_principal_privilege_escalation.yml
  detections/endpoint/windows_ad_domain_replication_acl_addition.yml
  detections/endpoint/windows_archived_collected_data_in_temp_folder.yml
  detections/endpoint/windows_bitlockertogo_with_network_activity.yml
  detections/endpoint/windows_credentials_access_via_vaultcli_module.yml
  detections/endpoint/windows_credentials_from_password_stores_chrome_copied_in_temp_dir.yml
  detections/endpoint/windows_credentials_from_web_browsers_saved_in_temp_folder.yml
  detections/endpoint/windows_obfuscated_files_or_information_via_rar_sfx.yml
  detections/endpoint/windows_process_executed_from_removable_media.yml
  detections/endpoint/windows_runmru_command_execution.yml
  detections/endpoint/windows_scheduled_tasks_for_compmgmtlauncher_or_eventvwr.yml
  detections/endpoint/windows_screen_capture_in_temp_folder.yml
  detections/endpoint/windows_system_remote_discovery_with_query.yml
  detections/endpoint/windows_usbstor_registry_key_modification.yml
  detections/endpoint/windows_wpdbusenum_registry_key_modification.yml
Labels: Detections

#3321 Nterl0k - T1486 BitLocker Suspicious Commands
  detections/endpoint/windows_bitlocker_suspicious_command_usage.yml
Labels: Detections

#3299 TR-3997 - New Content - auditpol and audit policy tampering analytics
  detections/deprecated/suspicious_event_log_service_behavior.yml
  detections/endpoint/windows_ad_domain_controller_audit_policy_disabled.yml
  detections/endpoint/windows_audit_policy_auditing_option_disabled_via_auditpol.yml
  detections/endpoint/windows_audit_policy_auditing_option_modified___registry.yml
  detections/endpoint/windows_audit_policy_cleared_via_auditpol.yml
  detections/endpoint/windows_audit_policy_disabled_via_auditpol.yml
  detections/endpoint/windows_audit_policy_disabled_via_legacy_auditpol.yml
  detections/endpoint/windows_audit_policy_excluded_category_via_auditpol.yml
  detections/endpoint/windows_audit_policy_restored_via_auditpol.yml
  detections/endpoint/windows_audit_policy_security_descriptor_tampering_via_auditpol.yml
  detections/endpoint/windows_event_logging_service_has_shutdown.yml
  detections/endpoint/windows_global_object_access_audit_list_cleared_via_auditpol.yml
  detections/endpoint/windows_important_audit_policy_disabled.yml
  macros/important_audit_policy_subcategory_guids.yml
  macros/process_auditpol.yml
  stories/windows_audit_policy_tampering.yml
Labels: Detections, Stories, Macros

#3263 New Analytic - Telegram API Request Via CommandLine
  detections/endpoint/potential_telegram_api_request_via_commandline.yml
Labels: Detections

#3298 Nterl0k - T1567 - Suspect File Exfiltration Behaviors
  detections/cloud/o365_exfiltration_via_file_access.yml
  detections/cloud/o365_exfiltration_via_file_download.yml
  detections/cloud/o365_exfiltration_via_file_sync_download.yml
Labels: Detections

#3347 Remove Incompatible 4688 Data Sources
  detections/endpoint/chcp_command_execution.yml
  detections/endpoint/jscript_execution_using_cscript_app.yml
  detections/endpoint/ping_sleep_batch_command.yml
  detections/endpoint/vbscript_execution_using_wscript_app.yml
  detections/endpoint/windows_command_shell_dcrat_forkbomb_payload.yml
  detections/endpoint/windows_indirect_command_execution_via_forfiles.yml
  detections/endpoint/windows_indirect_command_execution_via_pcalua.yml
  detections/endpoint/windows_scheduled_task_service_spawned_shell.yml
  detections/endpoint/windows_time_based_evasion.yml
Labels: Detections

#3277 TR-3994 - Add Secure Endpoint Analytics
  detections/endpoint/windows_cisco_secure_endpoint_related_service_stopped.yml
  detections/endpoint/windows_cisco_secure_endpoint_stop_immunet_service_via_sfc.yml
  detections/endpoint/windows_cisco_secure_endpoint_unblock_file_via_sfc.yml
  detections/endpoint/windows_cisco_secure_endpoint_uninstall_immunet_service_via_sfc.yml
  stories/security_solution_tampering.yml
Labels: Detections, Stories

#3348 Update Exchange Macro
  detections/endpoint/exchange_powershell_abuse_via_ssrf.yml
  macros/exchange.yml
  macros/windows_exchange_iis.yml
Labels: Detections, Macros

#3333 Nterl0k - T1546 The curious case of CompatTelRunner and some sneaky persistence.
  detections/endpoint/windows_compatibility_telemetry_suspicious_child_process.yml
  detections/endpoint/windows_compatibility_telemetry_tampering_through_registry.yml
Labels: Detections

#3317 Nterl0k - T1569 Windows Suspicious Services Lookup
  detections/endpoint/windows_service_created_with_suspicious_service_name.yml
  lookups/windows_suspicious_services.csv
  lookups/windows_suspicious_services.yml
Labels: Detections, Lookups

#3328 the day after 8 million requests
  baselines/baseline_of_open_s3_bucket_decommissioning.yml
  detections/network/detect_dns_query_to_decommissioned_s3_bucket.yml
  detections/web/detect_web_access_to_decommissioned_s3_bucket.yml
  lookups/decommissioned_buckets.yml
  stories/aws_s3_bucket_security_monitoring.yml
Labels: Detections, Lookups, Stories, Baselines

#3337 Cisco AI Defense Alerts
  contentctl.yml
  data_sources/cisco_ai_defense_alerts.yml
  detections/application/cisco_ai_defense_security_alerts_by_application_name.yml
  macros/cisco_ai_defense.yml
Labels: Detections, Macros, Datasource

#3358 remove field that does not exist from search
  detections/endpoint/suspicious_copy_on_system32.yml
Labels: Detections

#3353 Manual Splunk TA Updated 182
  contentctl.yml
  data_sources/azure_active_directory.yml
  data_sources/azure_active_directory_add_app_role_assignment_to_service_principal.yml
  data_sources/azure_active_directory_add_member_to_role.yml
  data_sources/azure_active_directory_add_owner_to_application.yml
  data_sources/azure_active_directory_add_service_principal.yml
  data_sources/azure_active_directory_add_unverified_domain.yml
  data_sources/azure_active_directory_consent_to_application.yml
  data_sources/azure_active_directory_disable_strong_authentication.yml
  data_sources/azure_active_directory_enable_account.yml
  data_sources/azure_active_directory_invite_external_user.yml
  data_sources/azure_active_directory_reset_password_(by_admin).yml
  data_sources/azure_active_directory_set_domain_authentication.yml
  data_sources/azure_active_directory_sign_in_activity.yml
  data_sources/azure_active_directory_update_application.yml
  data_sources/azure_active_directory_update_authorization_policy.yml
  data_sources/azure_active_directory_update_user.yml
  data_sources/azure_active_directory_user_registered_security_info.yml
  data_sources/azure_audit_create_or_update_an_azure_automation_account.yml
  data_sources/azure_audit_create_or_update_an_azure_automation_runbook.yml
  data_sources/azure_audit_create_or_update_an_azure_automation_webhook.yml
  data_sources/azure_monitor_activity.yml
Labels: Datasource

#3362 [chore] update AWS TA -> 7.9.1
  contentctl.yml
  data_sources/asl_aws_cloudtrail.yml
  data_sources/aws_cloudfront.yml
  data_sources/aws_cloudtrail.yml
  data_sources/aws_cloudtrail_assumerolewithsaml.yml
  data_sources/aws_cloudtrail_consolelogin.yml
  data_sources/aws_cloudtrail_copyobject.yml
  data_sources/aws_cloudtrail_createaccesskey.yml
  data_sources/aws_cloudtrail_createkey.yml
  data_sources/aws_cloudtrail_createloginprofile.yml
  data_sources/aws_cloudtrail_createnetworkaclentry.yml
  data_sources/aws_cloudtrail_createpolicyversion.yml
  data_sources/aws_cloudtrail_createsnapshot.yml
  data_sources/aws_cloudtrail_createtask.yml
  data_sources/aws_cloudtrail_createvirtualmfadevice.yml
  data_sources/aws_cloudtrail_deactivatemfadevice.yml
  data_sources/aws_cloudtrail_deleteaccountpasswordpolicy.yml
  data_sources/aws_cloudtrail_deletealarms.yml
  data_sources/aws_cloudtrail_deletedetector.yml
  data_sources/aws_cloudtrail_deletegroup.yml
  data_sources/aws_cloudtrail_deleteipset.yml
  data_sources/aws_cloudtrail_deleteloggroup.yml
  data_sources/aws_cloudtrail_deletelogstream.yml
  data_sources/aws_cloudtrail_deletenetworkaclentry.yml
  data_sources/aws_cloudtrail_deletepolicy.yml
  data_sources/aws_cloudtrail_deleterule.yml
  data_sources/aws_cloudtrail_deletesnapshot.yml
  data_sources/aws_cloudtrail_deletetrail.yml
  data_sources/aws_cloudtrail_deletevirtualmfadevice.yml
  data_sources/aws_cloudtrail_deletewebacl.yml
  data_sources/aws_cloudtrail_describeeventaggregates.yml
  data_sources/aws_cloudtrail_describeimagescanfindings.yml
  data_sources/aws_cloudtrail_getaccountpasswordpolicy.yml
  data_sources/aws_cloudtrail_getobject.yml
  data_sources/aws_cloudtrail_getpassworddata.yml
  data_sources/aws_cloudtrail_jobcreated.yml
  data_sources/aws_cloudtrail_modifydbinstance.yml
  data_sources/aws_cloudtrail_modifyimageattribute.yml
  data_sources/aws_cloudtrail_modifysnapshotattribute.yml
  data_sources/aws_cloudtrail_putbucketacl.yml
  data_sources/aws_cloudtrail_putbucketlifecycle.yml
  data_sources/aws_cloudtrail_putbucketreplication.yml
  data_sources/aws_cloudtrail_putbucketversioning.yml
  data_sources/aws_cloudtrail_putimage.yml
  data_sources/aws_cloudtrail_putkeypolicy.yml
  data_sources/aws_cloudtrail_replacenetworkaclentry.yml
  data_sources/aws_cloudtrail_setdefaultpolicyversion.yml
  data_sources/aws_cloudtrail_stoplogging.yml
  data_sources/aws_cloudtrail_updateaccountpasswordpolicy.yml
  data_sources/aws_cloudtrail_updateloginprofile.yml
  data_sources/aws_cloudtrail_updatesamlprovider.yml
  data_sources/aws_cloudtrail_updatetrail.yml
  data_sources/aws_cloudwatchlogs_vpcflow.yml
  data_sources/aws_security_hub.yml
Labels: Datasource

#3349 0xC0FFEEEE - Improve Linux Proxy Socks Curl Detection
  detections/endpoint/linux_proxy_socks_curl.yml
Labels: Detections

#3355 Updating search output!
  contentctl.yml
  data_sources/splunk_cim.yml
  detections/endpoint/windows_installutil_remote_network_connection.yml
Labels: Detections, Datasource

#3367 Automated Splunk TA Update 189
  data_sources/aws_cloudtrail_deleteloggingconfiguration.yml
  data_sources/aws_cloudtrail_deleterulegroup.yml
  data_sources/aws_cloudtrail_describesnapshotattribute.yml
  data_sources/azure_active_directory_microsoftgraphactivitylogs.yml
  data_sources/azure_active_directory_noninteractiveusersigninlogs.yml
  data_sources/office_365_universal_audit_log.yml
Labels: Datasource

#3369 Updating dcsync detection due to false positive
  detections/endpoint/windows_ad_replication_request_initiated_by_user_account.yml
  detections/endpoint/windows_ad_replication_request_initiated_from_unsanctioned_location.yml
Labels: Detections

#3370 Automated Splunk TA Update 190
  contentctl.yml
  data_sources/cisco_ai_defense_alerts.yml
Labels: Datasource

#3292 Nterl0k - T1114 Suspect 0365 Email Actions
  data_sources/office_365_reporting_message_trace.yml
  detections/cloud/o365_email_hard_delete_excessive_volume.yml
  detections/cloud/o365_email_new_inbox_rule_created.yml
  detections/cloud/o365_email_password_and_payroll_compromise_behavior.yml
  detections/cloud/o365_email_receive_and_hard_delete_takeover_behavior.yml
  detections/cloud/o365_email_send_and_hard_delete_exfiltration_behavior.yml
  detections/cloud/o365_email_send_and_hard_delete_suspicious_behavior.yml
  detections/cloud/o365_email_send_attachments_excessive_volume.yml
  macros/o365_messagetrace.yml
Labels: Detections, Macros, Datasource
