Repository splunk/security_content, pull requests merged in 2025-05, with the labels that each got.

#3377 Analytic Updates & Tunings
  detections/deprecated/certutil_download_with_urlcache_and_split_arguments.yml
  detections/deprecated/certutil_download_with_verifyctl_and_split_arguments.yml
  detections/deprecated/windows_certutil_download_with_url_argument.yml
  detections/endpoint/chcp_command_execution.yml
  detections/endpoint/check_elevated_cmd_using_whoami.yml
  detections/endpoint/detection_of_tools_built_by_nirsoft.yml
  detections/endpoint/system_processes_run_from_unexpected_locations.yml
  detections/endpoint/windows_file_download_via_certutil.yml
  detections/endpoint/windows_process_with_namedpipe_commandline.yml
  detections/endpoint/windows_query_registry_browser_list_application.yml
  detections/endpoint/windows_user_execution_malicious_url_shortcut_file.yml
  detections/network/protocols_passing_authentication_in_cleartext.yml
  lookups/is_nirsoft_software.csv
  lookups/is_nirsoft_software.yml
  removed/deprecation_mapping.YML
Labels: Detections, Lookups, Deprecated

#3502 Sebastian Wurl Feedback - Update RMM searches
  detections/deprecated/windows_remote_access_software_hunt.yml
  detections/endpoint/detect_remote_access_software_usage_process.yml
  removed/deprecation_mapping.YML
Labels: Detections

#3492 Add AMOS Stealer Analytic
  detections/endpoint/macos___re_opened_applications.yml
  detections/endpoint/macos_amos_stealer___virtual_machine_check_activity.yml
  detections/endpoint/macos_lolbin.yml
  stories/amos_stealer.yml
Labels: Detections, Stories

#3500 Automated Splunk TA Update 250
  contentctl.yml
  data_sources/linux_auditd_add_user.yml
  data_sources/linux_auditd_execve.yml
  data_sources/linux_auditd_path.yml
  data_sources/linux_auditd_proctitle.yml
  data_sources/linux_auditd_service_stop.yml
  data_sources/linux_auditd_syscall.yml
  data_sources/linux_secure.yml
Labels: Datasource

#3511 Automated Splunk TA Update 258
  contentctl.yml
  data_sources/ms365_defender_incident_alerts.yml
  data_sources/ms_defender_atp_alerts.yml
Labels: Datasource

#3514 Add missing Processes.process="*setzerodata*"
  .github/workflows/appinspect.yml
  .github/workflows/build.yml
  .github/workflows/unit-testing.yml
  contentctl.yml
  detections/endpoint/fsutil_zeroing_file.yml
  removed/detections/detect_large_outbound_icmp_packets.yml
  removed/detections/windows_service_created_within_public_path.yml
  requirements.txt
Labels: Detections

#3522 Removing duplicate creation of user
  detections/endpoint/first_time_seen_child_process_of_zoom.yml
Labels: Detections

#3498 Cisco Secure Firewall Detections - Intrusion Correlation and Activity
  detections/network/cisco_secure_firewall___high_priority_intrusion_classification.yml
  detections/network/cisco_secure_firewall___lumma_stealer_activity.yml
  detections/network/cisco_secure_firewall___lumma_stealer_download_attempt.yml
  detections/network/cisco_secure_firewall___lumma_stealer_outbound_connection_attempt.yml
  detections/network/cisco_secure_firewall___veeam_cve_2023_27532_exploitation_activity.yml
Labels: Detections

#3527 remove duplicate analytic story in tags
  detections/endpoint/winevent_windows_task_scheduler_event_action_started.yml
Labels: Detections

#3529 Fix Reported Issues
  detections/endpoint/ping_sleep_batch_command.yml
  detections/endpoint/schtasks_scheduling_job_on_remote_system.yml
  detections/endpoint/windows_msiexec_dllregisterserver.yml
  detections/endpoint/windows_process_commandline_discovery.yml
Labels: Detections

#3530 Automated Splunk TA Update 271
  contentctl.yml
  data_sources/bro_conn.yml
  data_sources/bro_dns.yml
  data_sources/bro_files.yml
  data_sources/bro_http.yml
  data_sources/bro_loaded_scripts.yml
  data_sources/bro_ntp.yml
  data_sources/bro_ocsp.yml
  data_sources/bro_ssl.yml
  data_sources/bro_weird.yml
  data_sources/bro_x509.yml
  data_sources/zeek_conn.yml
Labels: Datasource

#3526 CAPTCHA if you Can
  detections/endpoint/detect_mshta_url_in_command_line.yml
  detections/endpoint/lolbas_with_network_traffic.yml
  detections/endpoint/powershell_4104_hunting.yml
  detections/endpoint/windows_powershell_fakecaptcha_clipboard_execution.yml
  detections/endpoint/windows_runmru_command_execution.yml
  stories/fake_captcha_campaigns.yml
Labels: Detections, Stories

#3534 Automated Splunk TA Update 273
  contentctl.yml
  data_sources/cisco_ai_defense_alerts.yml
  data_sources/cisco_secure_firewall_threat_defense_connection_event.yml
  data_sources/cisco_secure_firewall_threat_defense_file_event.yml
  data_sources/cisco_secure_firewall_threat_defense_intrusion_event.yml
Labels: Datasource

#3538 Automated Splunk TA Update 279
  contentctl.yml
  data_sources/o365.yml
  data_sources/o365_add_app_role_assignment_grant_to_user_.yml
  data_sources/o365_add_app_role_assignment_to_service_principal_.yml
  data_sources/o365_add_mailboxpermission.yml
  data_sources/o365_add_member_to_role_.yml
  data_sources/o365_add_owner_to_application_.yml
  data_sources/o365_add_service_principal_.yml
  data_sources/o365_change_user_license_.yml
  data_sources/o365_consent_to_application_.yml
  data_sources/o365_disable_strong_authentication_.yml
  data_sources/o365_mailitemsaccessed.yml
  data_sources/o365_modifyfolderpermissions.yml
  data_sources/o365_set_company_information_.yml
  data_sources/o365_set_mailbox.yml
  data_sources/o365_update_application_.yml
  data_sources/o365_update_authorization_policy_.yml
  data_sources/o365_update_user_.yml
  data_sources/o365_userloggedin.yml
  data_sources/o365_userloginfailed.yml
  data_sources/office_365_reporting_message_trace.yml
  data_sources/office_365_universal_audit_log.yml
Labels: Datasource

#3539 Automated Splunk TA Update 281
  contentctl.yml
  data_sources/cisco_secure_application_appdynamics_alerts.yml
Labels: Datasource
