Repository splunk/security_content, pull requests merged in 2025-08, with the labels that each got.

#3621 interlock_ransomware
  detections/endpoint/common_ransomware_extensions.yml
  detections/endpoint/common_ransomware_notes.yml
  detections/endpoint/detect_remote_access_software_usage_file.yml
  detections/endpoint/detect_remote_access_software_usage_fileinfo.yml
  detections/endpoint/detect_remote_access_software_usage_process.yml
  detections/endpoint/disabled_kerberos_pre_authentication_discovery_with_get_aduser.yml
  detections/endpoint/disabled_kerberos_pre_authentication_discovery_with_powerview.yml
  detections/endpoint/domain_account_discovery_with_wmic.yml
  detections/endpoint/enable_rdp_in_other_port_number.yml
  detections/endpoint/executables_or_script_creation_in_suspicious_path.yml
  detections/endpoint/high_process_termination_frequency.yml
  detections/endpoint/network_connection_discovery_with_arp.yml
  detections/endpoint/powershell_4104_hunting.yml
  detections/endpoint/powershell_domain_enumeration.yml
  detections/endpoint/ransomware_notes_bulk_creation.yml
  detections/endpoint/registry_keys_used_for_persistence.yml
  detections/endpoint/system_information_discovery_detection.yml
  detections/endpoint/windows_ad_serviceprincipalname_added_to_domain_account.yml
  detections/endpoint/windows_ad_short_lived_domain_account_serviceprincipalname.yml
  detections/endpoint/windows_boot_or_logon_autostart_execution_in_startup_folder.yml
  detections/endpoint/windows_high_file_deletion_frequency.yml
  detections/endpoint/windows_powershell_fakecaptcha_clipboard_execution.yml
  detections/endpoint/windows_powerview_spn_discovery.yml
  detections/endpoint/windows_rdp_connection_successful.yml
  detections/endpoint/windows_rdp_file_execution.yml
  detections/endpoint/windows_rdpclient_connection_sequence_events.yml
  detections/endpoint/windows_rundll32_load_dll_in_temp_dir.yml
  detections/endpoint/windows_suspicious_driver_loaded_path.yml
  detections/endpoint/windows_suspicious_process_file_path.yml
  detections/endpoint/windows_unsigned_dll_side_loading_in_same_process_path.yml
  detections/network/cisco_secure_firewall___remote_access_software_usage_traffic.yml
  detections/network/detect_remote_access_software_usage_dns.yml
  detections/network/detect_remote_access_software_usage_traffic.yml
  detections/network/remote_desktop_network_traffic.yml
  detections/network/tor_traffic.yml
  detections/network/windows_multi_hop_proxy_tor_website_query.yml
  detections/web/detect_remote_access_software_usage_url.yml
  lookups/ransomware_extensions_lookup.csv
  lookups/ransomware_extensions_lookup.yml
  lookups/ransomware_notes_lookup.csv
  lookups/ransomware_notes_lookup.yml
  stories/interlock_ransomware.yml
  stories/interlock_rat.yml
  stories/nailaolocker_ransomware.yml
Labels: Detections, Lookups, Stories

#3626 Scattered Spider Ashes: The Great Haagscape
  detections/deprecated/any_powershell_downloadstring.yml
  detections/endpoint/attacker_tools_on_endpoint.yml
  detections/endpoint/bitsadmin_download_file.yml
  detections/endpoint/clear_unallocated_sector_using_cipher_app.yml
  detections/endpoint/detect_mimikatz_with_powershell_script_block_logging.yml
  detections/endpoint/detect_remote_access_software_usage_file.yml
  detections/endpoint/detect_remote_access_software_usage_fileinfo.yml
  detections/endpoint/detect_remote_access_software_usage_process.yml
  detections/endpoint/detect_remote_access_software_usage_registry.yml
  detections/endpoint/exchange_powershell_module_usage.yml
  detections/endpoint/malicious_powershell_process___encoded_command.yml
  detections/endpoint/powershell_4104_hunting.yml
  detections/endpoint/recon_using_wmi_class.yml
  detections/endpoint/sc_exe_manipulating_windows_services.yml
  detections/endpoint/scheduled_task_deleted_or_created_via_cmd.yml
  detections/endpoint/script_execution_via_wmi.yml
  detections/endpoint/sdelete_application_execution.yml
  detections/endpoint/suspicious_scheduled_task_from_public_directory.yml
  detections/endpoint/suspicious_wevtutil_usage.yml
  detections/endpoint/windows_credential_access_from_browser_password_store.yml
  detections/endpoint/windows_mimikatz_binary_execution.yml
  detections/endpoint/windows_msexchange_management_mailbox_cmdlet_usage.yml
  detections/endpoint/windows_password_managers_discovery.yml
  detections/endpoint/windows_powershell_scheduletask.yml
  detections/network/cisco_secure_firewall___remote_access_software_usage_traffic.yml
  detections/network/detect_remote_access_software_usage_dns.yml
  detections/network/detect_remote_access_software_usage_traffic.yml
  stories/scattered_spider.yml
Labels: Detections, Stories

#3629 fix for : issue_3625
  detections/endpoint/cobalt_strike_named_pipes.yml
Labels: Detections

#3630 Update detection name - Splunk AppDynamics Secure Application Alerts
  data_sources/splunk_appdynamics_secure_application_alert.yml
  detections/application/splunk_appdynamics_secure_application_alerts.yml
  detections/deprecated/cisco_secure_application_alerts.yml
  macros/secureapp_es_field_mappings.yml
  removed/deprecation_mapping.YML
Labels: Detections, Macros, Datasource

#3639 Automated Splunk TA Update 354
  contentctl.yml
  data_sources/azure_active_directory.yml
  data_sources/azure_active_directory_add_app_role_assignment_to_service_principal.yml
  data_sources/azure_active_directory_add_member_to_role.yml
  data_sources/azure_active_directory_add_owner_to_application.yml
  data_sources/azure_active_directory_add_service_principal.yml
  data_sources/azure_active_directory_add_unverified_domain.yml
  data_sources/azure_active_directory_consent_to_application.yml
  data_sources/azure_active_directory_disable_strong_authentication.yml
  data_sources/azure_active_directory_enable_account.yml
  data_sources/azure_active_directory_invite_external_user.yml
  data_sources/azure_active_directory_microsoftgraphactivitylogs.yml
  data_sources/azure_active_directory_noninteractiveusersigninlogs.yml
  data_sources/azure_active_directory_reset_password_(by_admin).yml
  data_sources/azure_active_directory_set_domain_authentication.yml
  data_sources/azure_active_directory_sign_in_activity.yml
  data_sources/azure_active_directory_update_application.yml
  data_sources/azure_active_directory_update_authorization_policy.yml
  data_sources/azure_active_directory_update_user.yml
  data_sources/azure_active_directory_user_registered_security_info.yml
  data_sources/azure_audit_create_or_update_an_azure_automation_account.yml
  data_sources/azure_audit_create_or_update_an_azure_automation_runbook.yml
  data_sources/azure_audit_create_or_update_an_azure_automation_webhook.yml
  data_sources/azure_monitor_activity.yml
  data_sources/g_suite_drive.yml
  data_sources/g_suite_gmail.yml
  data_sources/google_workspace.yml
  data_sources/google_workspace_login_failure.yml
  data_sources/google_workspace_login_success.yml
  data_sources/vmware_esxi_syslog.yml
Labels: Datasource

#3636 more_interlock_rat
  detections/endpoint/chcp_command_execution.yml
  detections/endpoint/cmd_carry_out_string_command_parameter.yml
  detections/endpoint/executables_or_script_creation_in_temp_path.yml
  detections/endpoint/windows_anonymous_pipe_activity.yml
Labels: Detections

#3641 updating SPL with deans feedback
  detections/endpoint/windows_ad_replication_request_initiated_by_user_account.yml
  detections/endpoint/windows_ad_replication_request_initiated_from_unsanctioned_location.yml
Labels: Detections

#3633 Detections for 3886
  detections/application/esxi_firewall_disabled.yml
  detections/application/esxi_malicious_vib_forced_install.yml
  detections/application/esxi_sensitive_files_accessed.yml
  detections/application/esxi_vib_acceptance_level_tampering.yml
  detections/application/esxi_vm_discovery.yml
  detections/endpoint/linux_gdrive_binary_activity.yml
  detections/endpoint/linux_medusa_rootkit.yml
  detections/endpoint/linux_service_file_created_in_systemd_directory.yml
  detections/endpoint/windows_gdrive_binary_activity.yml
  detections/endpoint/windows_suspicious_vmware_tools_child_process.yml
  stories/medusa_rootkit.yml
Labels: Detections, Stories

#3650 disable_lsa
  detections/endpoint/disabling_windows_local_security_authority_defences_via_registry.yml
Labels: Detections

#3651 Update windows_wmi_process_and_service_list.yml
  detections/endpoint/windows_wmi_process_and_service_list.yml
Labels: Detections

#3662 fix for issue 3652
  detections/cloud/aws_defense_evasion_impair_security_services.yml
Labels: Detections
