Repository splunk/security_content, pull requests merged in 2025-01, with the labels that each got.

#3247 Remove index from macro
  macros/f5_bigip_rogue.yml
  macros/zeek_rpc.yml
  macros/zeek_ssl.yml
Labels: Macros

#3262 Automated Splunk TA Update 133
  contentctl.yml
  data_sources/crowdstrike_processrollup2.yml
Labels: Datasource

#3249 Update - Detect Exchange Web Shell
  detections/endpoint/detect_exchange_web_shell.yml
Labels: Detections

#3255 Nterl0k - T1550 - NetExec Usage Detection
  detections/endpoint/windows_process_with_netexec_command_line_parameters.yml
Labels: Detections

#3257 Nterl0k - T1219 - RMM Detection for Registry locations.
  detections/endpoint/detect_remote_access_software_usage_registry.yml
Labels: Detections

#3266 Dlux 5 - AAD detection
  data_sources/azure_monitor_activity.yml
  detections/cloud/azure_ad_azurehound_useragent_detected.yml
  detections/cloud/azure_ad_service_principal_enumeration.yml
  detections/cloud/azure_ad_service_principal_privilege_escalation.yml
  detections/cloud/microsoft_intune_device_health_scripts.yml
  detections/cloud/microsoft_intune_devicemanagementconfigurationpolicies.yml
  detections/cloud/microsoft_intune_manual_device_management.yml
  detections/cloud/microsoft_intune_mobile_apps.yml
  detections/cloud/o365_service_principal_privilege_escalation.yml
  macros/azure_monitor_activity.yml
Labels: Detections, Macros, Datasource

#3289 Removed Observables section from last two stragglers
  detections/endpoint/windows_bitlockertogo_process_execution.yml
  detections/endpoint/windows_bitlockertogo_with_network_activity.yml
Labels: Detections

#3290 Integration fixes for 5.0 alpha2
  detections/application/okta_mismatch_between_source_and_response_for_verify_push_request.yml
  detections/cloud/asl_aws_defense_evasion_stop_logging_cloudtrail.yml
  detections/cloud/asl_aws_defense_evasion_update_cloudtrail.yml
  detections/cloud/asl_aws_network_access_control_list_created_with_all_open_ports.yml
  detections/cloud/azure_ad_service_principal_enumeration.yml
  detections/endpoint/kerberos_pre_authentication_flag_disabled_in_useraccountcontrol.yml
  detections/endpoint/windows_ad_short_lived_server_object.yml
  detections/endpoint/windows_file_share_discovery_with_powerview.yml
  detections/endpoint/windows_new_custom_security_descriptor_set_on_eventlog_channel.yml
  detections/endpoint/windows_new_eventlog_channelaccess_registry_value_set.yml
Labels: Detections, 5.0

#3240 crypto_campaign
  detections/endpoint/add_or_set_windows_defender_exclusion.yml
  detections/endpoint/any_powershell_downloadfile.yml
  detections/endpoint/chcp_command_execution.yml
  detections/endpoint/cmd_carry_out_string_command_parameter.yml
  detections/endpoint/detect_password_spray_attack_behavior_on_user.yml
  detections/endpoint/detect_rare_executables.yml
  detections/endpoint/download_files_using_telegram.yml
  detections/endpoint/excessive_service_stop_attempt.yml
  detections/endpoint/excessive_usage_of_cacls_app.yml
  detections/endpoint/excessive_usage_of_sc_service_utility.yml
  detections/endpoint/excessive_usage_of_taskkill.yml
  detections/endpoint/executables_or_script_creation_in_suspicious_path.yml
  detections/endpoint/hiding_files_and_directories_with_attrib_exe.yml
  detections/endpoint/high_process_termination_frequency.yml
  detections/endpoint/icacls_deny_command.yml
  detections/endpoint/icacls_grant_command.yml
  detections/endpoint/malicious_powershell_process___encoded_command.yml
  detections/endpoint/modify_acl_permission_to_files_or_folder.yml
  detections/endpoint/permission_modification_using_takeown_app.yml
  detections/endpoint/sc_exe_manipulating_windows_services.yml
  detections/endpoint/suspicious_process_file_path.yml
  detections/endpoint/suspicious_scheduled_task_from_public_directory.yml
  detections/endpoint/windows_account_access_removal_via_logoff_exec.yml
  detections/endpoint/windows_autoit3_execution.yml
  detections/endpoint/windows_boot_or_logon_autostart_execution_in_startup_folder.yml
  detections/endpoint/windows_disable_or_modify_tools_via_taskkill.yml
  detections/endpoint/windows_dns_query_request_by_telegram_bot_api.yml
  detections/endpoint/windows_file_and_directory_enable_readonly_permissions.yml
  detections/endpoint/windows_file_and_directory_permissions_enable_inheritance.yml
  detections/endpoint/windows_file_and_directory_permissions_remove_inheritance.yml
  detections/endpoint/windows_obfuscated_files_or_information_via_rar_sfx.yml
  detections/endpoint/windows_powershell_logoff_user_via_quser.yml
  detections/endpoint/windows_remote_management_execute_shell.yml
  detections/endpoint/windows_screen_capture_in_temp_folder.yml
  detections/endpoint/windows_service_created_with_suspicious_service_path.yml
  detections/endpoint/windows_service_creation_using_registry_entry.yml
  detections/endpoint/windows_service_deletion_in_registry.yml
  detections/endpoint/windows_service_stop_by_deletion.yml
  detections/endpoint/windows_service_stop_via_net__and_sc_application.yml
  detections/endpoint/windows_system_file_on_disk.yml
  detections/endpoint/windows_system_user_discovery_via_quser.yml
  detections/endpoint/xmrig_driver_loaded.yml
  stories/crypto_stealer.yml
Labels: Detections, Stories, 5.0

#3296 updated_nexus_activity
  detections/endpoint/any_powershell_downloadfile.yml
  detections/endpoint/detect_renamed_psexec.yml
  detections/endpoint/detect_renamed_winrar.yml
  detections/endpoint/executables_or_script_creation_in_suspicious_path.yml
  detections/endpoint/linux_auditd_file_permission_modification_via_chmod.yml
  detections/endpoint/linux_auditd_nopasswd_entry_in_sudoers_file.yml
  detections/endpoint/linux_auditd_possible_access_to_credential_files.yml
  detections/endpoint/linux_auditd_possible_access_to_sudoers_file.yml
  detections/endpoint/linux_auditd_preload_hijack_library_calls.yml
  detections/endpoint/linux_common_process_for_elevation_control.yml
  detections/endpoint/linux_file_creation_in_init_boot_directory.yml
  detections/endpoint/linux_iptables_firewall_modification.yml
  detections/endpoint/linux_nopasswd_entry_in_sudoers_file.yml
  detections/endpoint/linux_possible_access_to_credential_files.yml
  detections/endpoint/linux_possible_access_to_sudoers_file.yml
  detections/endpoint/linux_preload_hijack_library_calls.yml
  detections/endpoint/linux_sudoers_tmp_file_creation.yml
  detections/endpoint/malicious_powershell_process___execution_policy_bypass.yml
  detections/endpoint/non_chrome_process_accessing_chrome_default_dir.yml
  detections/endpoint/powershell_4104_hunting.yml
  detections/endpoint/registry_keys_used_for_persistence.yml
  detections/endpoint/remote_process_instantiation_via_wmi.yml
  detections/endpoint/scheduled_task_deleted_or_created_via_cmd.yml
  detections/endpoint/suspicious_regsvr32_register_suspicious_path.yml
  detections/endpoint/suspicious_scheduled_task_from_public_directory.yml
  detections/endpoint/windows_access_token_manipulation_sedebugprivilege.yml
  detections/endpoint/windows_archive_collected_data_via_rar.yml
  detections/endpoint/windows_credentials_from_password_stores_chrome_localstate_access.yml
  detections/endpoint/windows_credentials_from_password_stores_chrome_login_data_access.yml
  detections/endpoint/windows_curl_download_to_suspicious_path.yml
  detections/endpoint/windows_replication_through_removable_media.yml
  detections/endpoint/windows_service_created_with_suspicious_service_path.yml
  detections/endpoint/windows_service_creation_using_registry_entry.yml
  detections/endpoint/windows_unsigned_dll_side_loading.yml
  detections/endpoint/windows_unsigned_dll_side_loading_in_same_process_path.yml
  detections/endpoint/windows_unsigned_ms_dll_side_loading.yml
  detections/endpoint/winevent_scheduled_task_created_to_spawn_shell.yml
  detections/endpoint/winevent_scheduled_task_created_within_public_path.yml
  detections/network/detect_large_outbound_icmp_packets.yml
  stories/backdoor_pingpong.yml
  stories/derusbi.yml
  stories/earth_estries.yml
  stories/nexus_apt_threat_activity.yml
  stories/windealer_rat.yml
Labels: Detections, Stories, 5.0

#3284 Talos - Community Playbook
  playbooks/Cisco_Talos_Intelligence_Identifier_Reputation_Analysis.json
  playbooks/Cisco_Talos_Intelligence_Identifier_Reputation_Analysis.png
  playbooks/Cisco_Talos_Intelligence_Identifier_Reputation_Analysis.py
  playbooks/Cisco_Talos_Intelligence_Identifier_Reputation_Analysis.yml
Labels: Playbooks

#3304 Automated Splunk TA Update 162
  contentctl.yml
  data_sources/azure_active_directory.yml
  data_sources/azure_active_directory_add_app_role_assignment_to_service_principal.yml
  data_sources/azure_active_directory_add_member_to_role.yml
  data_sources/azure_active_directory_add_owner_to_application.yml
  data_sources/azure_active_directory_add_service_principal.yml
  data_sources/azure_active_directory_add_unverified_domain.yml
  data_sources/azure_active_directory_consent_to_application.yml
  data_sources/azure_active_directory_disable_strong_authentication.yml
  data_sources/azure_active_directory_enable_account.yml
  data_sources/azure_active_directory_invite_external_user.yml
  data_sources/azure_active_directory_reset_password_(by_admin).yml
  data_sources/azure_active_directory_set_domain_authentication.yml
  data_sources/azure_active_directory_sign_in_activity.yml
  data_sources/azure_active_directory_update_application.yml
  data_sources/azure_active_directory_update_authorization_policy.yml
  data_sources/azure_active_directory_update_user.yml
  data_sources/azure_active_directory_user_registered_security_info.yml
  data_sources/azure_audit_create_or_update_an_azure_automation_account.yml
  data_sources/azure_audit_create_or_update_an_azure_automation_runbook.yml
  data_sources/azure_audit_create_or_update_an_azure_automation_webhook.yml
  data_sources/azure_monitor_activity.yml
Labels: Datasource
