Repository splunk/security_content, pull requests merged in 2025-09, with the labels that each got.

#3667 Updates to SQL Content
  detections/endpoint/windows_sql_server_configuration_option_hunt.yml
  detections/endpoint/windows_sql_server_critical_procedures_enabled.yml
  detections/endpoint/windows_sql_server_xp_cmdshell_config_change.yml
Labels: Detections

#3644 secret_blizzard
  detections/endpoint/windows_certutil_root_certificate_addition.yml
  detections/endpoint/windows_set_private_network_profile_via_registry.yml
  stories/secret_blizzard.yml
Labels: Detections, Stories

#3685 fix_auditd_service_Start
  detections/endpoint/linux_auditd_service_started.yml
Labels: Detections

#3695 move ASA to public - post release
  data_sources/cisco_asa_logs.yml
  detections/application/cisco_asa___core_syslog_message_volume_drop.yml
  detections/application/cisco_asa___logging_disabled_via_cli.yml
  macros/cisco_asa.yml
  stories/arcanedoor.yml
Labels: Detections, Stories, Macros, Datasource

#3696 Suspicious Cisco Adaptive Security Appliance Activity - story file
  detections/application/cisco_asa___logging_disabled_via_cli.yml
  stories/suspicious_cisco_adaptive_security_appliance_activity.yml
Labels: needs-more-info, Detections, Stories

#3691 Fix #3690
  detections/endpoint/windows_driver_load_non_standard_path.yml
Labels: Detections
