Repository splunk/security_content, pull requests merged in 2025-03, with the labels that each got.

#3378 Updating lookup 5.1.1
  contentctl.yml
  lookups/malicious_powershell_strings.csv
  lookups/malicious_powershell_strings.yml
Labels: Lookups

#3383 Manual TA Update 197
  contentctl.yml
  data_sources/cisco_secure_application_appdynamics_alerts.yml
Labels: Datasource

#3376 Windows Detections - Don't trigger on linux os
  detections/endpoint/windows_command_and_scripting_interpreter_path_traversal_exec.yml
  detections/endpoint/windows_process_with_netexec_command_line_parameters.yml
Labels: Detections

#3336 0xC0FFEEEE - O365 Suspicious Mailbox Rule Created
  detections/cloud/o365_bec_email_hiding_rule_created.yml
Labels: Detections

#3316 Nterl0k - T1053 Windows Suspicious Sheduled Task + Lookup
  data_sources/windows_event_log_security_4700.yml
  data_sources/windows_event_log_security_4702.yml
  detections/endpoint/windows_scheduled_task_with_suspicious_command.yml
  detections/endpoint/windows_scheduled_task_with_suspicious_name.yml
  lookups/windows_suspicious_tasks.csv
  lookups/windows_suspicious_tasks.yml
Labels: Detections, Lookups, Datasource

#3396 Improve data source validation results
  data_sources/asl_aws_cloudtrail.yml
  data_sources/aws_cloudtrail.yml
  detections/cloud/asl_aws_multi_factor_authentication_disabled.yml
  detections/cloud/aws_unusual_number_of_failed_authentications_from_ip.yml
  detections/cloud/aws_updateloginprofile.yml
Labels: Detections, Datasource

#3399 Updating to manual test
  detections/endpoint/windows_sql_server_critical_procedures_enabled.yml
  detections/endpoint/windows_sql_server_startup_procedure.yml
  detections/endpoint/windows_sql_server_xp_cmdshell_config_change.yml
Labels: Detections

#3371 systembc
  detections/endpoint/bcdedit_command_back_to_normal_mode_boot.yml
  detections/endpoint/change_to_safe_mode_with_network_config.yml
  detections/endpoint/common_ransomware_extensions.yml
  detections/endpoint/common_ransomware_notes.yml
  detections/endpoint/deleting_shadow_copies.yml
  detections/endpoint/detect_rclone_command_line_usage.yml
  detections/endpoint/detect_renamed_rclone.yml
  detections/endpoint/disable_defender_antivirus_registry.yml
  detections/endpoint/disable_windows_behavior_monitoring.yml
  detections/endpoint/executables_or_script_creation_in_suspicious_path.yml
  detections/endpoint/modification_of_wallpaper.yml
  detections/endpoint/powershell_4104_hunting.yml
  detections/endpoint/print_spooler_adding_a_printer_driver.yml
  detections/endpoint/print_spooler_failed_to_load_a_plug_in.yml
  detections/endpoint/ransomware_notes_bulk_creation.yml
  detections/endpoint/registry_keys_used_for_persistence.yml
  detections/endpoint/set_default_powershell_execution_policy_to_unrestricted_or_bypass.yml
  detections/endpoint/spoolsv_spawning_rundll32.yml
  detections/endpoint/spoolsv_suspicious_loaded_modules.yml
  detections/endpoint/spoolsv_suspicious_process_access.yml
  detections/endpoint/spoolsv_writing_a_dll.yml
  detections/endpoint/spoolsv_writing_a_dll___sysmon.yml
  detections/endpoint/windows_curl_download_to_suspicious_path.yml
  detections/endpoint/windows_high_file_deletion_frequency.yml
  detections/endpoint/windows_suspicious_process_file_path.yml
  detections/endpoint/winevent_scheduled_task_created_to_spawn_shell.yml
  detections/endpoint/winevent_scheduled_task_created_within_public_path.yml
  detections/endpoint/winevent_windows_task_scheduler_event_action_started.yml
  detections/network/detect_zerologon_via_zeek.yml
  lookups/ransomware_extensions_lookup.csv
  lookups/ransomware_notes_lookup.yml
  stories/black_basta_ransomware.yml
  stories/systembc.yml
Labels: Detections, Lookups, Stories

#3391 Automated Splunk TA Update 204
  contentctl.yml
  data_sources/cisco_secure_application_appdynamics_alerts.yml
Labels: Datasource

#3363 Proposed format update for deprecation file
  deprecated/deprecated_detection_mapping.yml
  lookups/deprecation_info.csv
  lookups/deprecation_info.yml
Labels: needs-more-info, WIP, Lookups

#3368 Nterl0k - T1552 Suspect o365 Searches
  detections/cloud/o365_email_suspicious_search_behavior.yml
  detections/cloud/o365_sharepoint_suspicious_search_behavior.yml
  macros/o365_suspect_search_terms_regex.yml
Labels: Detections, Macros

#3401 integration fixes for 5.2.0
  detections/cloud/aws_credential_access_getpassworddata.yml
  detections/cloud/aws_ec2_snapshot_shared_externally.yml
  detections/cloud/aws_network_access_control_list_deleted.yml
  detections/cloud/aws_saml_update_identity_provider.yml
  detections/cloud/aws_updateloginprofile.yml
  detections/endpoint/registry_keys_used_for_persistence.yml
Labels: Detections

#3420 Automated Splunk TA Update 215
  contentctl.yml
  data_sources/splunk_cim.yml
Labels: Datasource

#3408 0xC0FFEEEE - process injection into commonly abused processes
  detections/endpoint/windows_process_injection_into_commonly_abused_processes.yml
Labels: Detections

#3412 Cisco AI defense - Move to prod
  detections/application/cisco_ai_defense_security_alerts_by_application_name.yml
Labels: Detections

#3428 Update living_off_the_land_detection.yml attack_data
  detections/endpoint/living_off_the_land_detection.yml
Labels: Detections

#3426 Update CIM app title
  contentctl.yml
  data_sources/splunk_common_information_model_(cim).yml
Labels: Datasource

#3424 Removing default match from lookups
  lookups/3cx_ioc_domains.yml
  lookups/__mlspl_unusual_commandline_detection.yml
  lookups/advanced_audit_policy_guids.yml
  lookups/applockereventcodes.yml
  lookups/asr_rules.yml
  lookups/attacker_tools.yml
  lookups/brandmonitoring_lookup.yml
  lookups/browser_app_list.yml
  lookups/char_conversion_matrix.yml
  lookups/cloud_instances_enough_data.yml
  lookups/decommissioned_buckets.yml
  lookups/deprecation_info.yml
  lookups/discovered_dns_records.yml
  lookups/hijacklibs.yml
  lookups/is_net_windows_file.yml
  lookups/is_nirsoft_software.yml
  lookups/is_windows_system_file.yml
  lookups/linux_tool_discovery_process.yml
  lookups/local_file_inclusion_paths.yml
  lookups/loldrivers.yml
  lookups/lookup_rare_process_allow_list_default.yml
  lookups/lookup_rare_process_allow_list_local.yml
  lookups/privileged_azure_ad_roles.yml
  lookups/ransomware_extensions_lookup.yml
  lookups/ransomware_notes_lookup.yml
  lookups/remote_access_software.yml
  lookups/security_services_lookup.yml
  lookups/suspicious_writes_lookup.yml
  lookups/windows_protocol_handlers.yml
  lookups/windows_suspicious_services.yml
  lookups/windows_suspicious_tasks.yml
Labels: Lookups

#3432 Automated Splunk TA Update 218
  data_sources/splunk_stream_http.yml
  data_sources/splunk_stream_ip.yml
  data_sources/splunk_stream_tcp.yml
Labels: Datasource

#3425 SPL update - Detect Large Outbound ICMP Packets
  detections/deprecated/detect_large_outbound_icmp_packets.yml
  detections/network/detect_large_icmp_traffic.yml
Labels: Detections

#3423 Windows Service Created with Suspicious Service Name fix
  detections/endpoint/windows_service_created_with_suspicious_service_name.yml
  lookups/windows_suspicious_services.yml
Labels: Detections, Lookups
